Repository web3/web3.js: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

test
  packages/web3-providers-ws/test/unit/__mocks__/isomorphic-ws.ts
  packages/web3-providers-ws/test/unit/web_socket_provider.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix
  packages/web3-providers-ws/test/unit/web_socket_provider.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

done
  packages/web3-providers-ws/test/unit/web_socket_provider.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Stop ignoring .npmrc
  .gitignore
Due: none

:white_check_mark: Update integration tests to fix for geth
  fixtures/integration_test_accounts.ts
  packages/web3-eth-contract/test/integration/conract_deploy.test.ts
  packages/web3-eth-contract/test/integration/contract_clone.test.ts
  packages/web3-eth-contract/test/integration/contract_events.test.ts
  packages/web3-eth-contract/test/integration/contract_methods.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

:art: Run integration tests in sequence
  package.json
  packages/web3-eth/package.json
  packages/web3-providers-ws/src/index.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Redelete unecessary tests
  packages/web3-eth/test/unit/web3_rpc_method_wrappers_no_parameters.test.ts
  packages/web3-eth/test/unit/web3_rpc_method_wrappers_with_parameters.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

:fire: Disable browser tests for web3-eth-contract
  karma.config.js
Due: prettier --write

:art: Improve the test structure
  .github/test.config.ts
  package.json
  packages/web3-eth/test/fixtures/system_test_utils.ts
  packages/web3-eth/test/integration/subscribe.test.ts
  packages/web3-eth/test/integration/unsubscribe.test.ts
  packages/web3-eth/test/integration/watch_transaction.test.ts
  packages/web3-providers-http/test/fixtures/system_test_utils.ts
  packages/web3-providers-http/test/fixtures/test_utils.ts
  packages/web3-providers-http/test/integration/request.test.ts
  scripts/env.sh
  scripts/ganache.sh
  scripts/geth.sh
  scripts/system_tests_uitls.ts
  scripts/test_uitls.ts
  yarn.lock
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

:art: Update github actions file to more flexible
  .github/workflows/build.yml
Due: none

:art: Update the port numbers for tests
  package.json
Due: prettier --write

:art: Update package json to avoid using source
  package.json
Due: prettier --write

:art: Update bash scripts to avoid using source
  scripts/env.sh
  scripts/ganache.sh
  scripts/geth.sh
Due: none

:art: Update env variable sourcing to more generic
  scripts/ganache.sh
  scripts/geth.sh
Due: none

:art: Update the shell to "bash" for github commands
  .github/workflows/build.yml
Due: none

:art: Update package json to remove all source
  package.json
Due: prettier --write

:art: Update geth stop command
  scripts/geth.sh
Due: none

:art: Update the github workflow to fix the lint job
  .github/workflows/build.yml
Due: none

:art: Export the provider variable
  package.json
Due: prettier --write

:art: Update the code as per feedback
  fixtures/sources/Basic.ts
  fixtures/sources/DeployRevert.ts
  fixtures/sources/Greeter.ts
  fixtures/utils.ts
  packages/web3-eth-contract/test/integration/conract_deploy.test.ts
  packages/web3-eth/src/utils/watch_transaction_for_confirmations.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

:page_facing_up: Add license headers to new files
  packages/web3-eth-contract/test/integration/contract_clone.test.ts
  packages/web3-eth-contract/test/integration/contract_events.test.ts
  packages/web3-eth-contract/test/integration/contract_methods.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Apply suggestions from code review
  packages/web3-eth-contract/test/integration/contract_clone.test.ts
  packages/web3-eth-contract/test/integration/contract_events.test.ts
  packages/web3-eth-contract/test/integration/contract_methods.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

adding personal testcases
  packages/web3-eth-personal/test/integration/personal.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Add some headers
  .github/Dockerfile
  packages/web3/test/fixtures/config.ts
  packages/web3/test/fixtures/erc20.ts
  packages/web3/test/integration/external-string-providers/web3_instance_http_string.test.ts
  packages/web3/test/integration/external-string-providers/web3_instance_ws_string.test.ts
  packages/web3/test/integration/module_instantiation.test.ts
  packages/web3/test/integration/string-providers/web3_instance_http_string.test.ts
  packages/web3/test/integration/string-providers/web3_instance_ws_string.test.ts
  packages/web3/test/integration/wallet_provider.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

:white_check_mark: Add integration tests for web3-eth-contract (#4945)
  fixtures/sources/Basic.sol
  fixtures/sources/Basic.ts
  fixtures/sources/DeployRevert.sol
  fixtures/sources/DeployRevert.ts
  fixtures/sources/Greeter.sol
  fixtures/sources/Greeter.ts
  fixtures/utils.ts
  karma.config.js
  package.json
  packages/web3-common/src/web3_event_emitter.ts
  packages/web3-eth-contract/package.json
  packages/web3-eth-contract/src/contract.ts
  packages/web3-eth-contract/src/encoding.ts
  packages/web3-eth-contract/src/log_subscription.ts
  packages/web3-eth-contract/src/types.ts
  packages/web3-eth-contract/src/utils.ts
  packages/web3-eth-contract/test/integration/conract_deploy.test.ts
  packages/web3-eth-contract/test/integration/contract_clone.test.ts
  packages/web3-eth-contract/test/integration/contract_events.test.ts
  packages/web3-eth-contract/test/integration/contract_methods.test.ts
  packages/web3-eth-contract/test/shared_fixtures
  packages/web3-eth/package.json
  packages/web3-eth/src/rpc_method_wrappers.ts
  packages/web3-eth/src/types.ts
  packages/web3-eth/src/utils/watch_transaction_for_confirmations.ts
  packages/web3-eth/test/fixtures/rpc_methods_wrappers.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/fixtures/send_transaction.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/send_transaction.test.ts
  packages/web3-providers-http/test/shared_fixtures
  packages/web3-providers-ws/src/index.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

test
  fixtures/sources/Basic.sol
  fixtures/sources/Basic.ts
  fixtures/utils.ts
  packages/web3-eth/test/integration/helper.ts
  packages/web3-eth/test/integration/subscription_heads.test.ts
  packages/web3-eth/test/integration/subscription_logs.test_ts
  packages/web3-eth/test/integration/subscription_new_pending_tx.test.ts
  packages/web3-eth/test/integration/subscription_syncing_ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

test
  packages/web3-eth/package.json
  packages/web3-eth/src/web3_eth.ts
  packages/web3-eth/src/web3_subscriptions.ts
  packages/web3-eth/test/integration/helper.ts
  packages/web3-eth/test/integration/subscription_heads.test.ts
  packages/web3-eth/test/integration/subscription_new_pending_tx.test.ts
  packages/web3-eth/test/integration/watch_transaction.test.ts
  packages/web3-eth/test/shared_fixures
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

test
  karma.config.js
  karma.setup.js
  package.json
  yarn.lock
Due: prettier --write

Ws refactor (#4977)
  karma.config.js
  packages/web3-providers-ws/src/index.ts
  packages/web3-providers-ws/test/unit/__mocks__/isomorphic-ws.ts
  packages/web3-providers-ws/test/unit/web_socket_provider.test.ts
  tools/isomorphic-ws.js
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

:art: Update testing engine for end-to-end tests
  karma.config.js
  karma.setup.js
  package.json
  packages/web3-eth/cypress
  packages/web3-eth/cypress.json
  packages/web3-eth/package.json
  packages/web3-providers-http/cypress
  packages/web3-providers-http/cypress.json
  packages/web3-providers-http/package.json
  scripts/env.sh
  scripts/ganache.sh
  scripts/geth.sh
  scripts/system_tests_uitls.ts
  scripts/test-runner.sh
  templates/cypress.json
  templates/cypress/plugins/index.js
  templates/cypress/support/commands.js
  templates/cypress/support/index.js
  templates/test/tsconfig.json.tmpl
  tools/isomorphic-ws.js
  yarn.lock
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

:green_heart: Update github actions
  .github/workflows/build.yml
Due: none

:art: Update sequence of github actions
  .github/workflows/build.yml
Due: none

:art: Update build step to cache dependencies
  .github/workflows/build.yml
Due: none

:art: Update code to fix linting errors
  .github/workflows/build.yml
  packages/web3-eth-contract/test/integration/conract_deploy.test.ts
  packages/web3-eth-contract/test/integration/contract_clone.test.ts
  packages/web3-eth-contract/test/integration/contract_events.test.ts
  packages/web3-eth-contract/test/integration/contract_methods.test.ts
  packages/web3-eth-iban/src/index.ts
  packages/web3-utils/src/string_manipulation.ts
  templates/.eslintignore.tmpl
  tsconfig.json
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Ran npm i
  package-lock.json
Due: prettier --write

Path conditions:
  prettier --write: ((any of: *.js) or (any of: *.ts)) or (any of: *.{json,md})
  eslint --rulesdir ./tools/eslint-config-web3-base/rules: any of: *.ts
