Repository web3/web3.js: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

.lintstagedrc.json:

{
	"*.js": ["prettier --write"],
	"*.ts": ["prettier --write", "eslint --rulesdir ./tools/eslint-config-web3-base/rules"],
	"*.{json,md}": ["prettier --write"]
}

@luu-alex suggestion
  docs/docs/guides/getting_started/introduction.md
Due: prettier --write

Update docs/docs/guides/getting_started/introduction.md
  docs/docs/guides/getting_started/introduction.md
Due: prettier --write

change web3-eth-abi package version
  packages/web3-eth-abi/CHANGELOG.md
  packages/web3-eth-abi/package.json
  packages/web3-eth-contract/package.json
  packages/web3-eth/package.json
  packages/web3/package.json
Due: prettier --write

release/v4.9.0 (#7057)
  CHANGELOG.md
  packages/web3-core/CHANGELOG.md
  packages/web3-core/package.json
  packages/web3-errors/CHANGELOG.md
  packages/web3-errors/package.json
  packages/web3-eth-abi/CHANGELOG.md
  packages/web3-eth-abi/package.json
  packages/web3-eth-contract/CHANGELOG.md
  packages/web3-eth-contract/package.json
  packages/web3-eth-ens/CHANGELOG.md
  packages/web3-eth-ens/package.json
  packages/web3-eth/CHANGELOG.md
  packages/web3-eth/package.json
  packages/web3-net/CHANGELOG.md
  packages/web3-net/package.json
  packages/web3-rpc-methods/CHANGELOG.md
  packages/web3-rpc-methods/package.json
  packages/web3-types/CHANGELOG.md
  packages/web3-utils/CHANGELOG.md
  packages/web3-utils/package.json
  packages/web3-validator/CHANGELOG.md
  packages/web3-validator/package.json
  packages/web3/CHANGELOG.md
  packages/web3/package.json
  packages/web3/src/version.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix(docs): intro (#7056)
  docs/docs/guides/getting_started/introduction.md
  docs/docs/guides/getting_started/quickstart.md
Due: prettier --write

fix: tools/eslint-config-base-web3/package.json to reduce vulnerabilities
  tools/eslint-config-base-web3/package.json
Due: prettier --write

add coverage to hash
  packages/web3-utils/src/hash.ts
  packages/web3-utils/test/fixtures/converters.ts
  packages/web3-utils/test/fixtures/hash.ts
  packages/web3-utils/test/unit/hash.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

cover json-rpc tests
  packages/web3-utils/src/json_rpc.ts
  packages/web3-utils/test/fixtures/json_rpc.ts
  packages/web3-utils/test/unit/json_rpc.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

cover socket provider file
  packages/web3-utils/test/fixtures/json_rpc.ts
  packages/web3-utils/test/unit/json_rpc.test.ts
  packages/web3-utils/test/unit/socket_provider.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

add coverage string manipulation
  packages/web3-utils/test/fixtures/string_manipulation.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

coverage increase (#7051)
  packages/web3-rpc-methods/test/unit/eth_rpc_methods/get_maxPriorityFeePerGas.test.ts
  packages/web3-rpc-methods/test/unit/eth_rpc_methods/get_uncle_by_block_number.test.ts
  packages/web3-rpc-methods/test/unit/personal_rpc_methods/eth_personal.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

lint fix
  packages/web3/test/integration/web3RPCProviders.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

empty provider
  packages/web3/test/integration/web3.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

empty provider test fix
  packages/web3/test/unit/web3.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

lint fix
  packages/web3/test/unit/web3.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

default provider tests update
  packages/web3/test/integration/web3.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

lint fix
  packages/web3/test/integration/web3.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

updated getname test
  packages/web3-eth-ens/test/unit/resolver.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

6992 getText update and getName fix (#7047)
  packages/web3-eth-ens/CHANGELOG.md
  packages/web3-eth-ens/src/ens.ts
  packages/web3-eth-ens/src/resolver.ts
  packages/web3-eth-ens/test/unit/resolver.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix(docs): quickstart
  docs/docs/guides/getting_started/quickstart.md
Due: prettier --write

web3 external provider - Quicknode (#7019)
  packages/web3-rpc-providers/.eslintignore
  packages/web3-rpc-providers/.eslintrc.js
  packages/web3-rpc-providers/.gitignore
  packages/web3-rpc-providers/.npmignore
  packages/web3-rpc-providers/.npmrc
  packages/web3-rpc-providers/.prettierignore
  packages/web3-rpc-providers/.prettierrc.json
  packages/web3-rpc-providers/CHANGELOG.md
  packages/web3-rpc-providers/README.md
  packages/web3-rpc-providers/assets/logo/web3js.ai
  packages/web3-rpc-providers/assets/logo/web3js.jpg
  packages/web3-rpc-providers/assets/logo/web3js.svg
  packages/web3-rpc-providers/package.json
  packages/web3-rpc-providers/src/index.ts
  packages/web3-rpc-providers/src/types.ts
  packages/web3-rpc-providers/src/web3_provider.ts
  packages/web3-rpc-providers/src/web3_provider_quicknode.ts
  packages/web3-rpc-providers/test/.eslintrc.js
  packages/web3-rpc-providers/test/config/jest.config.js
  packages/web3-rpc-providers/test/config/setup.js
  packages/web3-rpc-providers/test/integration/jest.config.js
  packages/web3-rpc-providers/test/integration/setup.js
  packages/web3-rpc-providers/test/tsconfig.json
  packages/web3-rpc-providers/test/unit/constructor.test.ts
  packages/web3-rpc-providers/test/unit/jest.config.js
  packages/web3-rpc-providers/test/unit/request.test.ts
  packages/web3-rpc-providers/tsconfig.cjs.json
  packages/web3-rpc-providers/tsconfig.esm.json
  packages/web3-rpc-providers/tsconfig.types.json
  packages/web3-rpc-providers/tsdoc.json
  packages/web3/package.json
  packages/web3/src/web3.ts
  packages/web3/test/integration/web3.test.ts
  packages/web3/test/integration/web3RPCProviders.test.ts
  packages/web3/test/unit/web3.test.ts
  templates/.eslintignore.tmpl
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

add .snyk file
  .snyk
Due: none

fix(docs): quickstart (#7062)
  docs/docs/guides/getting_started/quickstart.md
Due: prettier --write

Reorganize sidebar
  docs/docs/guides/advanced/_category_.yml
  docs/docs/guides/events_subscriptions/_category_.yml
  docs/docs/guides/feedback/index.md
  docs/docs/guides/hardhat_tutorial/_category_.yml
  docs/docs/guides/migration_from_other_libs/_category_.yml
  docs/docs/guides/resources_and_troubleshooting/index.md
  docs/docs/guides/smart_contracts/_category_.yml
  docs/docs/guides/wagmi_usage/_category_.yml
  docs/docs/guides/wallet/_category_.yml
  docs/docs/guides/wallet/node_wallet.md
  docs/docs/guides/wallet/signing.md
  docs/docs/guides/wallet/transactions.md
  docs/docs/guides/wallet/web3_modal_guide/_category_.yml
  docs/docs/guides/wallet/web3_modal_guide/index.mdx
  docs/docs/guides/wallet/web3_modal_guide/vue.md
  docs/docs/guides/web3_config/_category_.yml
  docs/docs/guides/web3_plugin_guide/_category_.yml
  docs/docs/guides/web3_providers_guide/_category_.yml
  docs/docs/guides/web3_upgrade_guide/_category_.yml
Due: prettier --write

Move MetaMask guide to Accounts section
  docs/docs/guides/wallet/metamask.md
  docs/docs/guides/wallet/node_wallet.md
  docs/docs/guides/wallet/signing.md
  docs/docs/guides/wallet/transactions.md
Due: prettier --write

Fix broken link
  docs/docs/guides/wallet/web3_modal_guide/index.mdx
Due: none

Improvements to Provider sections
  docs/docs/guides/getting_started/quickstart.md
  docs/docs/guides/web3_providers_guide/index.md
Due: prettier --write

add .snyk file (#7064)
  .snyk
Due: none

fix snyk scan for all projects
  docs/.snyk
  packages/web3/.snyk
  tools/eslint-config-base-web3/.snyk
Due: none

Delete .snyk
  .snyk
Due: none

Improvements to Mastering Providers section
  docs/docs/guides/getting_started/quickstart.md
  docs/docs/guides/web3_providers_guide/index.md
Due: prettier --write

Use .snyk file for all projects (#7071)
  docs/.snyk
  packages/web3/.snyk
  tools/eslint-config-base-web3/.snyk
Due: none

add coverage to formatters.ts
  packages/web3-utils/src/formatter.ts
  packages/web3-utils/src/web3_eip1193_provider.ts
  packages/web3-utils/test/fixtures/formatter.ts
  packages/web3-utils/test/unit/chunk_response_parser.test.ts
  packages/web3-utils/test/unit/converters.test.ts
  packages/web3-utils/test/unit/formatter.test.ts
  packages/web3-utils/test/unit/hash.test.ts
  packages/web3-utils/test/unit/socket_provider.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix failing tests
  packages/web3-utils/src/web3_eip1193_provider.ts
  packages/web3-utils/test/fixtures/formatter.ts
  packages/web3-utils/test/unit/hash.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix(docs): sidebar (#7063)
  docs/docs/guides/advanced/_category_.yml
  docs/docs/guides/events_subscriptions/_category_.yml
  docs/docs/guides/feedback/index.md
  docs/docs/guides/hardhat_tutorial/_category_.yml
  docs/docs/guides/migration_from_other_libs/_category_.yml
  docs/docs/guides/resources_and_troubleshooting/index.md
  docs/docs/guides/smart_contracts/_category_.yml
  docs/docs/guides/wagmi_usage/_category_.yml
  docs/docs/guides/wallet/_category_.yml
  docs/docs/guides/wallet/metamask.md
  docs/docs/guides/wallet/node_wallet.md
  docs/docs/guides/wallet/signing.md
  docs/docs/guides/wallet/transactions.md
  docs/docs/guides/wallet/web3_modal_guide/_category_.yml
  docs/docs/guides/wallet/web3_modal_guide/index.mdx
  docs/docs/guides/wallet/web3_modal_guide/vue.md
  docs/docs/guides/web3_config/_category_.yml
  docs/docs/guides/web3_plugin_guide/_category_.yml
  docs/docs/guides/web3_providers_guide/_category_.yml
  docs/docs/guides/web3_upgrade_guide/_category_.yml
Due: prettier --write

Consistent naming of injected providers
  docs/docs/guides/web3_providers_guide/index.md
Due: prettier --write

fix(docs): mastering providers (#7070)
  docs/docs/guides/getting_started/quickstart.md
  docs/docs/guides/web3_providers_guide/index.md
Due: prettier --write

update hash
  packages/web3-utils/src/hash.ts
  packages/web3-utils/test/unit/formatter.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Remove snyk files
  docs/.snyk
  packages/web3/.snyk
  tools/eslint-config-base-web3/.snyk
Due: none

remove .snyk files
  docs/.snyk
  packages/web3/.snyk
  tools/eslint-config-base-web3/.snyk
Due: none
