Repository web3/web3.js: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

.lintstagedrc.json:

{
	"*.js": ["prettier --write"],
	"*.ts": ["prettier --write", "eslint --rulesdir ./tools/eslint-config-web3-base/rules"],
	"*.{json,md}": ["prettier --write"]
}

:art: Update the code for small fixes
  packages/web3-common/src/formatters.ts
  packages/web3-common/src/index.ts
  packages/web3-common/src/web3_base_provider.ts
  packages/web3-common/src/web3_promi_event.ts
  packages/web3-common/test/unit/web3_promi_event.test.ts
  packages/web3-core/src/types.ts
  packages/web3-core/src/web3_context.ts
  packages/web3-core/src/web3_request_manager.ts
  packages/web3-errors/src/web3_error_base.ts
  packages/web3-eth-contract/src/contract.ts
  packages/web3-eth-contract/src/types.ts
  packages/web3-eth-contract/test/integration/contract_deploy.test.ts
  packages/web3-eth-ens/src/registry.ts
  packages/web3-eth-iban/src/index.ts
  packages/web3-eth-iban/src/web3_iban.ts
  packages/web3-eth-iban/test/unit/iban.test.ts
  packages/web3-eth-personal/src/eth_personal.ts
  packages/web3-eth-personal/src/index.ts
  packages/web3-eth/src/rpc_method_wrappers.ts
  packages/web3-eth/src/utils/watch_transaction_for_confirmations.ts
  packages/web3-eth/test/integration/helper.ts
  packages/web3-eth/test/integration/watch_transaction.test.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/send_signed_transaction.test.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/send_transaction.test.ts
  packages/web3-utils/package.json
  packages/web3/package.json
  packages/web3/src/web3.ts
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

dnt commit build
  .gitignore
Due: none

web3 min
  webpackprod.config.js
Due: prettier --write

:white_check_mark: Update failing tests
  .eslintrc.js
  packages/web3-common/test/unit/formatters.test.ts
  packages/web3-core/src/web3_context.ts
  packages/web3-core/src/web3_request_manager.ts
  packages/web3-eth-ens/src/ens.ts
  packages/web3-eth/src/web3_eth.ts
  packages/web3-utils/test/fixtures/converters.ts
  packages/web3-utils/test/fixtures/string_manipulation.ts
  packages/web3-utils/test/fixtures/validation.ts
  packages/web3-validator/test/fixtures/validation.ts
  tools/eslint-config-web3-base/ts.js
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

:white_check_mark: Fix failing tests
  packages/web3-eth-contract/src/contract.ts
  packages/web3-eth-contract/src/types.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

ipc test
  .github/workflows/build.yml
  .gitignore
  package.json
  packages/web3/test/integration/ipc.test.ts
  scripts/ipc.sh
  scripts/test-runner.sh
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

move ipc test to e2e
  .github/workflows/build.yml
  package.json
Due: prettier --write

updating bnWrapped object
  packages/web3-utils/src/utils.js
Due: prettier --write

Refactor doc
  packages/web3/src/index.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Fix note styling in setProvider
  packages/web3/src/index.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

artifacts
  .github/workflows/build.yml
  scripts/download_geth.sh
  scripts/ipc.sh
Due: none

single artifact
  .github/workflows/build.yml
  scripts/archive.sh
  scripts/download_geth.sh
Due: none

exclude .git folder
  scripts/archive.sh
Due: none

try upload to tmp
  .github/workflows/build.yml
  scripts/archive.sh
Due: none

:art: Add version attribute to 'Web3' class
  packages/web3/src/web3.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

:truck: Rename the misused promievent names
  packages/web3-eth-contract/test/integration/contract_deploy.test.ts
  packages/web3-eth-ens/src/registry.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/send_signed_transaction.test.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/send_transaction.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

try without node
  .github/workflows/build.yml
Due: none

specify path for download action
  .github/workflows/build.yml
  scripts/archive.sh
Due: none

Remove unecessary ignores for docs
  packages/web3-providers-http/src/index.ts
  packages/web3-providers-ws/src/index.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

unpack witout script
  .github/workflows/build.yml
Due: none

fix actions
  .github/workflows/build.yml
Due: none

fix e2e
  .github/workflows/build.yml
Due: none

:pencil2: Fix the typos in tests
  packages/web3-eth/test/unit/rpc_method_wrappers/send_signed_transaction.test.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/send_transaction.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Web3 Eth - 2 - 4.0.0 Alpha.1 System Tests (#5082)
  fixtures/build/Basic.json
  fixtures/build/Basic.ts
  fixtures/build/DeployRevert.json
  fixtures/build/DeployRevert.ts
  fixtures/build/ERC20Token.json
  fixtures/build/ERC20Token.ts
  fixtures/build/ERC721Token.json
  fixtures/build/ERC721Token.ts
  fixtures/build/Greeter.json
  fixtures/build/Greeter.ts
  fixtures/build/MsgSender.json
  fixtures/build/MsgSender.ts
  fixtures/contracts/MsgSender.sol
  fixtures/utils.ts
  packages/web3-eth/src/web3_eth.ts
  packages/web3-eth/src/web3_subscriptions.ts
  packages/web3-eth/test/integration/defaults.test.ts
  packages/web3-eth/test/integration/eth.test.ts
  packages/web3-eth/test/integration/rpc.test.ts
  packages/web3-eth/test/integration/subscribe.test.ts
  packages/web3-eth/test/integration/subscription_logs.test.ts
  packages/web3-eth/test/integration/unsubscribe.test.ts
  packages/web3-eth/test/unit/default_transaction_builder.test.ts
  packages/web3-eth/test/unit/detect_transction_type.test.ts
  packages/web3-eth/test/unit/format_transaction.test.ts
  packages/web3-eth/test/unit/rpc_methods/call.test.ts
  packages/web3-eth/test/unit/rpc_methods/estimate_gas.test.ts
  packages/web3-eth/test/unit/web3_eth_methods_no_parameters.test.ts
  packages/web3-eth/test/unit/web3_eth_methods_with_parameters.test.ts
  packages/web3-utils/src/hash.ts
  scripts/compile_contracts.js
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

try to use yarn cache
  .github/workflows/build.yml
Due: none

remove archive.sh. use .cache as artifact
  .github/workflows/build.yml
  scripts/archive.sh
Due: none

:pencil2: Fix some typo in tests files
  packages/web3-eth/test/integration/defaults.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

cache artifact only cyprus. only for e2e
  .github/workflows/build.yml
Due: none

fix cache artifact name
  .github/workflows/build.yml
Due: none

move download script to build
  .github/workflows/build.yml
  scripts/download_geth.sh
Due: none

check paths
  .github/workflows/build.yml
Due: none

no symlinks
  .github/workflows/build.yml
Due: none

install cypress
  .github/workflows/build.yml
Due: none

fix
  .github/workflows/build.yml
Due: none

ipc separate flow
  .github/workflows/build.yml
  package.json
Due: prettier --write

add similar library for swift language
  README.md
Due: prettier --write

Add version
  packages/web3/src/web3.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix cypress
  .github/workflows/build.yml
  package.json
  packages/web3-eth-contract/package.json
  packages/web3-eth/package.json
  packages/web3-providers-http/package.json
  yarn.lock
Due: prettier --write
