Repository web3/web3.js: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update result and add unit test
  packages/web3-utils/src/converters.ts
  packages/web3-utils/test/fixtures/converters.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Revert change in test
  packages/web3-eth-contract/test/integration/contract_estimateGas_without_0x.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update yarn.lock for docusaurus
  docs/yarn.lock
Due: none

Add a tutorial for smart contract basic interaction (#6089)
  docs/docs/tutorials/deploying_and_interacting_with_smart_contracts.md
  docs/docusaurus.config.js
  docs/package.json
  docs/sidebars.js
  docs/yarn.lock
Due: prettier --write

Try to fix test for cypress
  packages/web3-eth-contract/test/integration/contract_estimateGas_without_0x.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Use hex string to avoid bigint
  packages/web3-eth-contract/test/integration/contract_estimateGas_without_0x.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update docs so web is imported by default
  docs/docs/guides/sign_and_send_tx/local_wallet.md
  docs/docs/guides/sign_and_send_tx/raw.md
  docs/docs/guides/sign_and_send_tx/wallet_of_eth_node.md
  docs/docs/guides/web3_providers_guide/events_listening.md
  docs/docs/guides/web3_providers_guide/index.md
  docs/docs/tutorials/deploying_and_interacting_with_smart_contracts.md
  packages/web3-eth/src/index.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fixed acct tests
  packages/web3/test/integration/web3.accounts.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fixed gas estimation error before signing in tests
  scripts/system_tests_utils.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

updated test for type
  packages/web3-eth/test/integration/defaults.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

updated tx type in tests
  packages/web3-eth/test/integration/defaults.transactionBlockTimeout.test.ts
  packages/web3-eth/test/integration/nonce.test.ts
  packages/web3-eth/test/integration/web3_eth/send_transaction.test.ts
  scripts/system_tests_utils.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix estimateGas to accept hex data without 0x prefix (#6103)
  packages/web3-eth-contract/test/integration/contract_estimateGas_without_0x.test.ts
  packages/web3-utils/src/converters.ts
  packages/web3-utils/test/fixtures/converters.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

additional test with flag
  packages/web3-eth/test/unit/default_transaction_builder.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

reorganize the providers tutorial
  docs/docs/tutorials/providers.md
Due: prettier --write

edit Providers tutorial
  docs/docs/tutorials/providers.md
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

update docs so web is imported by default (#6112)
  docs/docs/guides/sign_and_send_tx/local_wallet.md
  docs/docs/guides/sign_and_send_tx/raw.md
  docs/docs/guides/sign_and_send_tx/wallet_of_eth_node.md
  docs/docs/guides/web3_providers_guide/events_listening.md
  docs/docs/guides/web3_providers_guide/index.md
  docs/docs/tutorials/deploying_and_interacting_with_smart_contracts.md
  packages/web3-eth/src/index.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

enhance the provider tutorial (also the review points has been addressed)
  docs/docs/tutorials/providers.md
Due: prettier --write

tiny edit at providers tutorial
  docs/docs/tutorials/providers.md
Due: prettier --write

updated prepareTransactionForSigning , defaultTransactionBuilder and tests
  packages/web3-core/src/web3_context.ts
  packages/web3-eth/src/utils/prepare_transaction_for_signing.ts
  packages/web3-eth/src/utils/transaction_builder.ts
  packages/web3-eth/test/unit/default_transaction_builder.test.ts
  packages/web3/test/integration/web3.eth.transaction.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

changelog update
  packages/web3-eth/CHANGELOG.md
Due: prettier --write

update change log
  packages/web3-eth/CHANGELOG.md
Due: prettier --write

added maxPriorityFeePerGas and maxFeePerGas in contract options
  packages/web3-eth-contract/src/types.ts
  packages/web3-eth-contract/src/utils.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

changelog update
  packages/web3-eth-contract/CHANGELOG.md
Due: prettier --write

First draft
  docs/docs/tutorials/eth.md
Due: prettier --write

remove doublicated line at tutorial
  docs/docs/tutorials/providers.md
Due: prettier --write

fix a code sample at the Provider tutorial
  docs/docs/tutorials/providers.md
Due: prettier --write

fix tests
  packages/web3-eth-ens/src/abi/ens/ENSRegistry.ts
  packages/web3-eth-ens/test/integration/ens.events.test.ts
  packages/web3-eth-ens/test/integration/resolver.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Contract options fix (#6118)
  packages/web3-eth-contract/CHANGELOG.md
  packages/web3-eth-contract/src/types.ts
  packages/web3-eth-contract/src/utils.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Fix typos and mistakes
  docs/docs/tutorials/eth.md
Due: prettier --write

Update conclusions
  docs/docs/tutorials/eth.md
Due: prettier --write

Move index.js to index.ts
  docs/docs/tutorials/eth.md
Due: prettier --write

fix tests
  packages/web3-eth-ens/src/abi/ens/ENSRegistry.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

transaction integration tests (#6071)
  packages/web3-core/src/web3_context.ts
  packages/web3-eth/CHANGELOG.md
  packages/web3-eth/src/utils/prepare_transaction_for_signing.ts
  packages/web3-eth/src/utils/transaction_builder.ts
  packages/web3-eth/test/unit/default_transaction_builder.test.ts
  packages/web3-eth/test/unit/prepare_transaction_for_signing.test.ts
  packages/web3/test/fixtures/transactions.json
  packages/web3/test/integration/web3.accounts.test.ts
  packages/web3/test/integration/web3.eth.transaction.test.ts
  scripts/system_tests_utils.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

remove unnecessary tests
  packages/web3-eth-ens/src/abi/ens/ENSRegistry.ts
  packages/web3-eth-ens/test/integration/ens.events.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

increase coverage
  packages/web3-eth-ens/test/unit/ens.test.ts
  packages/web3-eth-ens/test/unit/resolver.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix changelog
  CHANGELOG.md
  packages/web3-eth-ens/CHANGELOG.md
Due: prettier --write

skip internal provider test for now
  packages/web3/test/integration/external-providers/in3.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix nested
  packages/web3-validator/src/utils.ts
  packages/web3-validator/src/validator.ts
  packages/web3-validator/test/unit/web3_validator_tuples.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix tests
  packages/web3-validator/src/utils.ts
  packages/web3-validator/src/validator.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Path conditions:
  prettier --write: ((any of: *.js) or (any of: *.ts)) or (any of: *.{json,md})
  eslint --rulesdir ./tools/eslint-config-web3-base/rules: any of: *.ts
