Repository web3/web3.js: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

.lintstagedrc.json:

{
	"*.js": ["prettier --write"],
	"*.ts": ["prettier --write", "eslint --rulesdir ./tools/eslint-config-web3-base/rules"],
	"*.{json,md}": ["prettier --write"]
}

Add screen session name/fix command
  package.json
  packages/web3/package.json
Due: prettier --write

Update CHANGELOG.md
  CHANGELOG.md
Due: prettier --write

Fix static tuple encoding (#4673) (#4884)
  CHANGELOG.md
  packages/web3-eth-abi/src/index.js
  test/abi.encodeParameter.js
Due: prettier --write

fix types and callbacks
  packages/web3-core/src/web3_context.ts
  packages/web3-core/src/web3_subscription_manager.ts
  packages/web3-core/src/web3_subscriptions.ts
  packages/web3-eth/src/web3_eth.ts
  packages/web3-eth/src/web3_subscriptions.ts
  packages/web3-eth/test/integration/unsubscribe.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Fixes calling toHexString on undefined gasPrice (#4903)
  CHANGELOG.md
  packages/web3-core-method/src/index.js
Due: prettier --write

Fixes calling toHexString on undefined gasPrice (#4903) (#4940)
  CHANGELOG.md
  packages/web3-core-method/src/index.js
Due: prettier --write

Replace deprecated String.prototype.substr() (#4855)
  CHANGELOG.md
  packages/web3-core-helpers/src/formatters.js
  packages/web3-eth-iban/src/index.js
  packages/web3-utils/src/index.js
  packages/web3-utils/src/utils.js
  test/eth.ens.js
  test/utils.sha3.js
Due: prettier --write

Replace deprecated String.prototype.substr() (#4855) (#4941)
  CHANGELOG.md
  packages/web3-core-helpers/src/formatters.js
  packages/web3-eth-iban/src/index.js
  packages/web3-utils/src/index.js
  packages/web3-utils/src/utils.js
  test/eth.ens.js
  test/utils.sha3.js
Due: prettier --write

:white_check_mark: Add integration test for contract deployment
  fixtures/integration_test_accounts.ts
  fixtures/sources/DeployRevert.sol
  fixtures/sources/DeployRevert.ts
  fixtures/sources/Greeter.sol
  fixtures/sources/Greeter.ts
  packages/web3-eth-contract/src/contract.ts
  packages/web3-eth-contract/src/utils.ts
  packages/web3-eth-contract/test/integration/conract_deploy.test.ts
  packages/web3-eth-contract/test/shared_fixtures
  packages/web3-eth/src/rpc_method_wrappers.ts
  packages/web3-eth/src/types.ts
  packages/web3-eth/src/utils/watch_transaction_for_confirmations.ts
  packages/web3-providers-http/test/integration/request.test.ts
  packages/web3-providers-http/test/shared_fixtures
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

:art: Fix type for the contract send method
  packages/web3-eth-contract/src/types.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Test karma conf
  jest.config.js
  karma-setup.js
  karma.config.js
  package.json
  packages/web3/test/integration/batch_request.test.ts
  packages/web3/test/integration/module_instantiation.test.ts
  packages/web3/test/integration/string-providers/web3_instance_http_string.test.ts
  packages/web3/test/integration/string-providers/web3_instance_ipc_string.test.ts
  packages/web3/test/integration/string-providers/web3_instance_ws_string.test.ts
  packages/web3/test/integration/wallet_provider.test.ts
  tools/isomorphic-ws.js
  yarn.lock
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix unit test
  packages/web3-core/src/web3_context.ts
  packages/web3-eth/src/web3_eth.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update transactionInfoSchema
  packages/web3-eth/src/schemas.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

WIP rewritting rpc_method_wrappers tests
  packages/web3-eth/src/rpc_method_wrappers.ts
  packages/web3-eth/src/web3_eth.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/fixtures/get_balance.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/fixtures/get_block.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/fixtures/get_block_transaction_count.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/fixtures/get_block_uncle_count.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/fixtures/get_code.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/fixtures/get_pending_transactions.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/fixtures/get_storage_at.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/fixtures/get_transaction.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/fixtures/get_transaction_count.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/fixtures/get_transaction_from_block.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/fixtures/get_transaction_receipt.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/fixtures/get_uncle.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/fixtures/send_signed_transaction.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/fixtures/send_transaction.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/fixtures/sign.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/fixtures/sign_transaction.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/get_balance.test.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/get_block.test.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/get_block_number.test.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/get_block_transaction_count.test.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/get_block_uncle_count.test.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/get_code.test.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/get_gas_price.test.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/get_hash_rate.test.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/get_pending_transactions.test.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/get_storage_at.test.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/get_transaction.test.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/get_transaction_count.test.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/get_transaction_from_block.test.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/get_transaction_receipt.test.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/get_uncle.test.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/send_signed_transaction.test.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/send_transaction.test.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/sign.test.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/sign_transaction.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

remove unnecessary isomorphic-ws
  package.json
Due: prettier --write

Change tests to cover both jest and jasmine/workaround
  karma-setup.js
  karma.config.js
  package.json
  packages/web3/test/integration/batch_request.test.ts
  packages/web3/test/integration/module_instantiation.test.ts
  packages/web3/test/integration/wallet_provider.test.ts
  yarn.lock
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

lgtm fix
  package-lock.json
  packages/web3-ccip-read/src/index.js
Due: prettier --write

Clean package.json
  package.json
  yarn.lock
Due: prettier --write

Expose Web3BatchRequest directly
  packages/web3-core/src/web3_context.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

add subscription
  packages/web3-common/src/types.ts
  packages/web3-eth/src/utils/watch_transaction_for_confirmations.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Abi typings (#4946)
  packages/web3-eth-abi/types/index.d.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Re add ipc test
  karma-setup.js
  karma.config.js
  package.json
  packages/web3/package.json
  packages/web3/test/integration/string-providers/web3_instance_ipc_string.test.ts
  tools/filter-tests.js
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Abi typings (#4946) (#4947)
  packages/web3-eth-abi/types/index.d.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Refactor license eslint rule to use plugin instead of custom rule
  .lintstagedrc.json
  package.json
  packages/web3-common/package.json
  packages/web3-core/package.json
  packages/web3-eth-abi/package.json
  packages/web3-eth-accounts/package.json
  packages/web3-eth-contract/package.json
  packages/web3-eth-ens/package.json
  packages/web3-eth-iban/package.json
  packages/web3-eth-personal/package.json
  packages/web3-eth/package.json
  packages/web3-net/package.json
  packages/web3-providers-http/package.json
  packages/web3-providers-ipc/package.json
  packages/web3-providers-ws/package.json
  packages/web3-utils/package.json
  packages/web3-validator/package.json
  packages/web3/package.json
  packages/web3/src/test.ts
  tools/eslint-config-web3-base/package.json
  tools/eslint-config-web3-base/rules/check-header.js
  tools/eslint-config-web3-base/ts.js
  tools/web3-packagetemplate/package.json
  yarn.lock
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

add integration tests
  packages/web3-common/src/types.ts
  packages/web3-eth/src/utils/watch_transaction_for_confirmations.ts
  packages/web3-eth/src/web3_eth.ts
  packages/web3-eth/test/integration/watch_transaction.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

unlock first account
  .github/Dockerfile
  package.json
Due: prettier --write

:building_construction: Improve tests structure
  .github/Dockerfile
  .github/geth/data/geth/transactions.rlp
  .github/geth/data/geth/triecache/data.0.bin
  .github/geth/data/geth/triecache/metadata.bin
  .github/workflows/build.yml
  package.json
  scripts/env.sh
  scripts/ganache.sh
  scripts/geth.sh
  scripts/uitls.ts
  yarn.lock
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

:art: Update integration tests for http-provider package
  packages/web3-providers-http/test/fixtures/config.ts
  packages/web3-providers-http/test/fixtures/test_utils.ts
  packages/web3-providers-http/test/integration/request.test.ts
  scripts/test_uitls.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

:art: Update tests to skip ws for http provider
  packages/web3-providers-http/test/integration/request.test.ts
  scripts/test_uitls.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

:test_tube: Fix test command for github
  .github/workflows/build.yml
Due: none

Hardcoded license message
  package.json
  packages/web3-common/package.json
  packages/web3-core/package.json
  packages/web3-eth-abi/package.json
  packages/web3-eth-accounts/package.json
  packages/web3-eth-contract/package.json
  packages/web3-eth-ens/package.json
  packages/web3-eth-iban/package.json
  packages/web3-eth-personal/package.json
  packages/web3-eth/package.json
  packages/web3-net/package.json
  packages/web3-providers-http/package.json
  packages/web3-providers-ipc/package.json
  packages/web3-providers-ws/package.json
  packages/web3-utils/package.json
  packages/web3-validator/package.json
  packages/web3/package.json
  packages/web3/src/test.ts
  tools/eslint-config-web3-base/package.json
  tools/eslint-config-web3-base/ts.js
  tools/web3-packagetemplate/package.json
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update eslintignore
  packages/web3-core/.eslintignore
  packages/web3-eth-abi/.eslintignore
  packages/web3-eth-contract/.eslintignore
  packages/web3-eth-personal/.eslintignore
  packages/web3-net/.eslintignore
  packages/web3-providers-ipc/.eslintignore
  packages/web3-utils/.eslintignore
  packages/web3/.eslintignore
  templates/.eslintignore.tmpl
Due: none

:art: Fix the scripts to use exported variables
  package.json
  scripts/env.sh
  scripts/ganache.sh
  scripts/geth.sh
Due: prettier --write

Fix skipped tests
  packages/web3-eth/test/unit/web3_eth_methods_with_parameters.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Fix failing test(sendSignedTransaction)
  packages/web3-eth/test/fixtures/web3_eth_methods_with_parameters.ts
  packages/web3-eth/test/unit/web3_eth_methods_with_parameters.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

finish tests
  .github/test.config.ts
  karma.config.js
  packages/web3-eth/src/utils/watch_transaction_for_confirmations.ts
  packages/web3-eth/src/web3_eth.ts
  packages/web3-eth/test/integration/watch_transaction.test.ts
  packages/web3-providers-http/test/integration/request.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules
