Repository web3/web3.js: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update CHANGELOG.md
  CHANGELOG.md
  packages/web3-utils/CHANGELOG.md
Due: prettier --write

clean unnecessary keyword
  packages/web3-eth-contract/src/contract.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Change default hardfork in test
  test/e2e.method.signing.js
Due: prettier --write

Skip failing test
  test/e2e.contract.events.js
Due: prettier --write

use MR Ids instad of issues Ids in CHANGELOG.md files
  CHANGELOG.md
  packages/web3-eth-contract/CHANGELOG.md
Due: prettier --write

Disconnect webscoket
  test/websocket.ganache.js
Due: prettier --write

Remove faulty and unecessary export
  test/websocket.ganache.js
Due: prettier --write

adding webpack 5 (#5649)
  CHANGELOG.md
  README.md
  package.json
  packages/web3-eth-accounts/package.json
  packages/web3-eth-accounts/src/index.js
  webpack.config.js
Due: prettier --write

Update packages/web3-eth-contract/test/integration/contract_empty_string.test.ts
  packages/web3-eth-contract/test/integration/contract_empty_string.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update package-lock.json
  package-lock.json
Due: prettier --write

Update mocha
  package-lock.json
  package.json
Due: prettier --write

Revert "adding webpack 5 (#5649)"
  CHANGELOG.md
  README.md
  package.json
  packages/web3-eth-accounts/package.json
  packages/web3-eth-accounts/src/index.js
  webpack.config.js
Due: prettier --write

update bundlesize
  package.json
  scripts/ci.sh
Due: prettier --write

Test with injected external providers (#5652)
  .gitignore
  CHANGELOG.md
  packages/web3-core/src/utils.ts
  packages/web3-core/src/web3_request_manager.ts
  packages/web3-eth/src/utils/reject_if_block_timeout.ts
  packages/web3-eth/test/integration/eth.test.ts
  packages/web3-types/src/web3_base_provider.ts
  packages/web3-utils/CHANGELOG.md
  packages/web3-utils/src/json_rpc.ts
  packages/web3-utils/src/promise_helpers.ts
  packages/web3/.eslintignore
  packages/web3/hardhat.config.js
  packages/web3/package.json
  packages/web3/test/integration/external-providers/extremely_simple.test.ts
  packages/web3/test/integration/external-providers/ganache.test.ts
  packages/web3/test/integration/external-providers/hardhat.test.ts
  packages/web3/test/integration/external-providers/helper.ts
  packages/web3/test/integration/external-providers/in3.test.ts
  packages/web3/test/integration/external-providers/infura-rpc.test.ts
  packages/web3/test/integration/external-providers/truffle-hdwallet.test.ts
  packages/web3/test/integration/web3.test.ts
  yarn.lock
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

bunldlesize update
  package.json
Due: prettier --write

remove bundlesize
  package.json
  scripts/ci.sh
Due: prettier --write

Skip failing test
  test/e2e.method.send.js
  test/websocket.ganache.js
Due: prettier --write

move class to utils. fix types
  packages/web3-providers-ws/src/index.ts
  packages/web3-providers-ws/test/integration/eip1193.test.ts
  packages/web3-providers-ws/test/integration/web_socket_provider_integration.test.ts
  packages/web3-types/src/web3_api_types.ts
  packages/web3-types/src/web3_base_provider.ts
  packages/web3-utils/src/index.ts
  packages/web3-utils/src/web3_eip1193_provider.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Skip another failing test
  test/e2e.contract.events.js
Due: prettier --write

fix test cases for contract default configurations
  packages/web3-eth-contract/test/integration/contract_defaults_extra.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix tests
  packages/web3-providers-ws/src/index.ts
  packages/web3-providers-ws/test/integration/web_socket_provider_integration.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Skip another failing test
  test/e2e.method.signing.js
Due: prettier --write

Skip another failing test
  test/e2e.method.send.js
Due: prettier --write

Revert package version bump for web3-packagetemplate
  tools/web3-packagetemplate/CHANGELOG.md
  tools/web3-packagetemplate/package.json
Due: prettier --write

Release/4.0.1 alpha.2 changelog update 3 (#5689)
  CHANGELOG.md
  packages/web3-core/CHANGELOG.md
  packages/web3-errors/CHANGELOG.md
  packages/web3-eth-abi/CHANGELOG.md
  packages/web3-eth-accounts/CHANGELOG.md
  packages/web3-eth-contract/CHANGELOG.md
  packages/web3-eth-ens/CHANGELOG.md
  packages/web3-eth-iban/CHANGELOG.md
  packages/web3-eth-personal/CHANGELOG.md
  packages/web3-eth/CHANGELOG.md
  packages/web3-net/CHANGELOG.md
  packages/web3-providers-http/CHANGELOG.md
  packages/web3-providers-ipc/CHANGELOG.md
  packages/web3-providers-ws/CHANGELOG.md
  packages/web3-rpc-methods/CHANGELOG.md
  packages/web3-types/CHANGELOG.md
  packages/web3-utils/CHANGELOG.md
  packages/web3-validator/CHANGELOG.md
  tools/web3-packagetemplate/CHANGELOG.md
  tools/web3-packagetemplate/package.json
  tools/web3-plugin-example/CHANGELOG.md
Due: prettier --write

update packages for window test
  scripts/e2e.npm.publish.sh
Due: none

adding back bundlesize
  package.json
  scripts/ci.sh
Due: prettier --write

Change name of test
  packages/web3-eth-contract/test/integration/contract_empty_string.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

config ganache
  test/eth.subscribe.ganache.js
  test/websocket.ganache.js
Due: prettier --write

Unskip tests
  test/e2e.contract.events.js
  test/e2e.method.send.js
  test/e2e.method.signing.js
Due: prettier --write

change maxFeePerGas on contract deployment
  test/e2e.contract.events.js
Due: prettier --write

Reduce amount transfer to align with fees
  test/e2e.method.signing.js
  test/websocket.ganache.js
Due: prettier --write

test
  scripts/e2e.chrome.sh
  scripts/e2e.firefox.sh
  scripts/e2e.ganache.sh
  test/e2e.contract.events.js
  test/e2e.method.send.js
  test/e2e.method.signing.js
Due: prettier --write

chore: replace lerna with yarn workspaces
  .github/workflows/black_box_tests.yml
  .github/workflows/build.yml
  .gitignore
  .yarn/plugins/@yarnpkg/plugin-engines.cjs
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/plugins/@yarnpkg/plugin-typescript.cjs
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarnrc.yml
  README.md
  lerna.json
  package.json
  packages/web3-core/package.json
  packages/web3-errors/package.json
  packages/web3-eth-abi/package.json
  packages/web3-eth-accounts/package.json
  packages/web3-eth-contract/package.json
  packages/web3-eth-ens/package.json
  packages/web3-eth-iban/package.json
  packages/web3-eth-personal/package.json
  packages/web3-eth/package.json
  packages/web3-net/package.json
  packages/web3-providers-http/package.json
  packages/web3-providers-ipc/package.json
  packages/web3-providers-ws/package.json
  packages/web3-rpc-methods/package.json
  packages/web3-types/package.json
  packages/web3-utils/package.json
  packages/web3-validator/package.json
  packages/web3/package.json
  tools/eslint-config-web3-base/package.json
  tools/web3-packagetemplate/package.json
  tools/web3-plugin-example/package.json
  yarn.lock
Due: prettier --write

experiment
  test/e2e.contract.events.js
  test/e2e.method.send.js
Due: prettier --write

fix yarn cache
  package.json
  yarn.lock
Due: prettier --write

Remove console
  test/e2e.method.send.js
Due: prettier --write

Skip failing tests
  test/e2e.contract.events.js
Due: prettier --write

fix plugin example
  .github/workflows/build.yml
  package.json
  tools/web3-plugin-example/package.json
Due: prettier --write

update lockfile
  yarn.lock
Due: none

Path conditions:
  prettier --write: ((any of: *.js) or (any of: *.ts)) or (any of: *.{json,md})
  eslint --rulesdir ./tools/eslint-config-web3-base/rules: any of: *.ts
