Repository web3/web3.js: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

.lintstagedrc.json:

{
	"*.js": ["prettier --write"],
	"*.ts": ["prettier --write", "eslint --rulesdir ./tools/eslint-config-web3-base/rules"],
	"*.{json,md}": ["prettier --write"]
}

add filter for all events and tests
  packages/web3-eth-contract/src/index.js
  test/e2e.contract.events.js
Due: prettier --write

add changelog
  CHANGELOG.md
Due: prettier --write

update to cjs
  config/test/tsconfig.json
  templates/test/tsconfig.json.tmpl
Due: prettier --write

fix: remove Buffer from web3-validator
  packages/web3-utils/src/uint8array.ts
  packages/web3-validator/src/types.ts
  packages/web3-validator/src/utils.ts
  packages/web3-validator/src/validation/address.ts
  packages/web3-validator/src/validation/bloom.ts
  packages/web3-validator/src/validation/bytes.ts
  packages/web3-validator/test/fixtures/validation.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update imports
  packages/web3/test/e2e/sepolia/call.test.ts
  packages/web3/test/e2e/sepolia/get_code.test.ts
  packages/web3/test/e2e/sepolia/get_past_logs.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update imports
  packages/web3/test/e2e/mainnet/call.test.ts
  packages/web3/test/e2e/mainnet/get_past_logs.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Init e2e test block fixtures
  packages/web3/test/e2e/fixtures/mainnet.ts
  packages/web3/test/e2e/fixtures/mainnet_block_hydrated.ts
  packages/web3/test/e2e/fixtures/sepolia.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update tests to test for specific data for blockHash and blockNumber
  packages/web3/test/e2e/get_balance.test.ts
  packages/web3/test/e2e/get_block.test.ts
  packages/web3/test/e2e/get_block_transaction_count.test.ts
  packages/web3/test/e2e/get_block_uncle_count.test.ts
  packages/web3/test/e2e/get_id.test.ts
  packages/web3/test/e2e/get_proof.test.ts
  packages/web3/test/e2e/get_transaction_count.test.ts
  packages/web3/test/e2e/get_transaction_from_block.test.ts
  packages/web3/test/e2e/get_uncle.test.ts
  packages/web3/test/e2e/mainnet/get_code.test.ts
  packages/web3/test/e2e/mainnet/get_storage_at.test.ts
  packages/web3/test/e2e/sepolia/get_code.test.ts
  packages/web3/test/e2e/sepolia/get_storage_at.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Add E2E test fixtures
  packages/web3/test/e2e/fixtures/mainnet.ts
  packages/web3/test/e2e/fixtures/sepolia.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Init e2e_network_test Github workflow
  .github/workflows/e2e_network_tests.yml
Due: none

Create webpack.yml
  .github/workflows/webpack.yml
Due: none

Testing GH workflow
  .github/workflows/e2e_network_tests.yml
Due: none

GH workflow syntax fix
  .github/workflows/e2e_network_tests.yml
Due: none

Update sepolia block fixture
  packages/web3/test/e2e/fixtures/sepolia.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update address in GH workflow for mainnet
  .github/workflows/e2e_network_tests.yml
Due: none

Fix test values for mainnet
  packages/web3/test/e2e/estimate_gas.test.ts
  packages/web3/test/e2e/get_balance.test.ts
  packages/web3/test/e2e/get_block_transaction_count.test.ts
  packages/web3/test/e2e/get_transaction_count.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Add TEST_ACCOUNT_PRIVATE_KEY to GH workflow
  .github/workflows/e2e_network_tests.yml
Due: none

Change sepolia contract test to only load private key if allowed send transaction is true
  packages/web3/test/e2e/sepolia/contract.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Remove chainId from expected properties for getTransactionFromBlock tests
  packages/web3/test/e2e/get_transaction_from_block.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Testing GH workflow bool fix
  .github/workflows/e2e_network_tests.yml
  packages/web3/test/e2e/e2e_utils.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Replace hardcoded ALLOWED_SEND_TRANSACTION with secrets ENV. Revert test change so tests only run on release branch for 4.x
  .github/workflows/e2e_network_tests.yml
Due: none

Delete properties again after merge
  packages/web3-types/src/eth_contract_types.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update changelog
  packages/web3-types/CHANGELOG.md
Due: prettier --write

fix changelogs
  CHANGELOG.md
  packages/web3-eth-contract/CHANGELOG.md
  packages/web3-types/CHANGELOG.md
Due: prettier --write

Move any to unknown
  packages/web3-providers-ws/test/integration/ganache_fault_tolerance.test.ts
  packages/web3-providers-ws/test/integration/reconnection.test.ts
  packages/web3-providers-ws/test/integration/web_socket_provider_integration.test.ts
  packages/web3-utils/src/socket_provider.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update changelog
  packages/web3-utils/CHANGELOG.md
Due: prettier --write

don't allow generic string as type in events' functions
  packages/web3-utils/src/socket_provider.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update RELEASE.md to include info about E2E testing
  RELEASE.md
Due: prettier --write

Update default address for mainnet in secrets template
  templates/.secrets.json.tmpl
Due: none

Address feedback for types
  packages/web3-eth-contract/src/types.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Undo delete to property
  packages/web3-eth-contract/src/contract.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Allow input for contract deployment
  docs/docs/guides/sign_and_send_tx/local_wallet.md
  packages/web3-eth-contract/src/contract.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Nikos/5939/eip1193 provider callback types (#5971)
  packages/web3-eth-contract/test/integration/contract_deploy.test.ts
  packages/web3-providers-ipc/test/integration/eip1193.test.ts
  packages/web3-providers-ipc/test/integration/reconnection.test.ts
  packages/web3-providers-ws/test/integration/basic_auth.test.ts
  packages/web3-providers-ws/test/integration/eip1193.test.ts
  packages/web3-providers-ws/test/integration/ganache_fault_tolerance.test.ts
  packages/web3-providers-ws/test/integration/reconnection.test.ts
  packages/web3-providers-ws/test/integration/web_socket_provider_integration.test.ts
  packages/web3-types/src/web3_base_provider.ts
  packages/web3-utils/CHANGELOG.md
  packages/web3-utils/src/socket_provider.ts
  packages/web3-utils/src/web3_eip1193_provider.ts
  scripts/system_tests_utils.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules
