Repository web3/web3.js: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

.lintstagedrc.json:

{
	"*.js": ["prettier --write"],
	"*.ts": ["prettier --write", "eslint --rulesdir ./tools/eslint-config-web3-base/rules"],
	"*.{json,md}": ["prettier --write"]
}

fix
  packages/web3-eth/test/integration/unsubscribe.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Add returnFormat to getStorageAt and getCode methods
  packages/web3-eth/src/rpc_method_wrappers.ts
  packages/web3-eth/src/web3_eth.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Init tests and fixtures
  packages/web3-eth/test/unit/rpc_method_wrappers/fixtures/get_block.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/fixtures/get_block_transaction_count.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/fixtures/get_code.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/fixtures/get_storage_at.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/get_block.test.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/get_block_transaction_count.test.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/get_code.test.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/get_storage_at.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Remove web3_rpc_method_wrappers_no_parameters.test.ts
  packages/web3-eth/test/unit/web3_rpc_method_wrappers_no_parameters.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Add input formatting to `rpc_method_wrappers` (#4608) (#4909)
  packages/web3-eth/src/rpc_method_wrappers.ts
  packages/web3-eth/src/rpc_methods.ts
  packages/web3-eth/src/types.ts
  packages/web3-eth/src/web3_eth.ts
  packages/web3-eth/test/fixtures/rpc_methods_with_params.ts
  packages/web3-validator/src/types.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix
  packages/web3-eth/src/web3_eth.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

:white_check_mark: Disable failling tests
  packages/web3-eth/test/fixtures/rpc_methods_wrappers.ts
  packages/web3-eth/test/unit/web3_eth_methods_with_parameters.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

:art: Update some types
  packages/web3-common/src/web3_base_wallet.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Sign transaction with available wallet (#4904)
  packages/web3-common/src/web3_base_wallet.ts
  packages/web3-core/src/web3_context.ts
  packages/web3-core/test/unit/__snapshots__/web3_context.test.ts.snap
  packages/web3-eth-accounts/src/account.ts
  packages/web3-eth-accounts/src/types.ts
  packages/web3-eth-accounts/src/wallet.ts
  packages/web3-eth-accounts/test/unit/account.test.ts
  packages/web3-eth-accounts/test/unit/wallet.test.ts
  packages/web3-eth/src/errors.ts
  packages/web3-eth/src/rpc_method_wrappers.ts
  packages/web3-eth/src/schemas.ts
  packages/web3-eth/src/types.ts
  packages/web3-eth/src/web3_eth.ts
  packages/web3-eth/test/fixtures/rpc_methods_wrappers.ts
  packages/web3-eth/test/fixtures/web3_eth_methods_with_parameters.ts
  packages/web3-eth/test/unit/web3_eth_methods_with_parameters.test.ts
  packages/web3-eth/test/unit/web3_rpc_method_wrappers_with_parameters.test.ts
  packages/web3/src/index.ts
  packages/web3/src/web3.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

:art: Fix the class initialization
  packages/web3/src/web3.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

:sparkles: Add provider support to contract to set provider (#4915)
  packages/web3/src/index.ts
  packages/web3/src/web3.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

resolve conflicts
  packages/web3-eth/src/web3_eth.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Filter out ws
  packages/web3/package.json
  packages/web3/test/filter-tests.js
Due: prettier --write

Rename batch request test
  packages/web3/test/integration/batch_request.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Add more tests
  packages/web3/test/fixtures/config.ts
  packages/web3/test/fixtures/erc20.ts
  packages/web3/test/integration/external-string-providers/web3_instance_http_string.test.ts
  packages/web3/test/integration/external-string-providers/web3_instance_ws_string.test.ts
  packages/web3/test/integration/module_instantiation.test.ts
  packages/web3/test/integration/providers.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Geth config changes
  .github/Dockerfile
  .github/workflows/build.yml
  package.json
Due: prettier --write

Update CHANGELOG.md
  CHANGELOG.md
Due: prettier --write

Fix dead link in web3-eth.rst (#4916)
  CHANGELOG.md
  docs/web3-eth.rst
Due: prettier --write

Documentation - Updated the ABI link (#4905)
  docs/glossary.rst
Due: none

chore: fix eth abi typings
  packages/web3-eth-abi/types/index.d.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Change path
  packages/web3/package.json
  packages/web3/test/integration/module_instantiation.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Add undefined check for transaction properties for formatTransaction
  packages/web3-eth/src/utils/format_transaction.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

WIP rewritting rpc_method_wrappers tests
  packages/web3-eth/test/unit/rpc_method_wrappers/fixtures/get_block.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/fixtures/get_block_uncle_count.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/fixtures/get_code.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/fixtures/get_pending_transactions.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/fixtures/get_storage_at.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/fixtures/get_transaction.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/fixtures/get_transaction_count.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/fixtures/get_transaction_from_block.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/fixtures/get_transaction_receipt.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/fixtures/get_uncle.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/get_block_number.test.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/get_block_uncle_count.test.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/get_gas_price.test.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/get_hash_rate.test.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/get_pending_transactions.test.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/get_transaction.test.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/get_transaction_count.test.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/get_transaction_from_block.test.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/get_transaction_receipt.test.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/get_uncle.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

4811/investigate eslint errors in web3 eth (#4893)
  .github/geth/data/geth/transactions.rlp
  .github/geth/data/geth/triecache/data.0.bin
  .github/geth/data/geth/triecache/metadata.bin
  packages/web3-eth/src/rpc_method_wrappers.ts
  packages/web3-eth/src/utils/wait_for_transaction_receipt.ts
  packages/web3-eth/src/utils/watch_transaction_for_confirmations.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix: export/declare AbiCoder
  packages/web3-eth-abi/types/index.d.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

adding anonymous log test
  packages/web3-eth-abi/src/api/logs_api.ts
  packages/web3-eth-abi/src/api/parameters_api.ts
  packages/web3-eth-abi/test/fixtures/data.ts
  packages/web3-eth-contract/src/encoding.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

adding tests
  packages/web3-eth-contract/test/fixtures/encoding.ts
  packages/web3-eth-contract/test/unit/encoding.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

adding decodeEventAbi testcases for anonymous logs
  packages/web3-eth-abi/src/api/logs_api.ts
  packages/web3-eth-contract/src/encoding.ts
  packages/web3-eth-contract/test/fixtures/encoding.ts
  packages/web3-eth-contract/test/unit/encoding.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Alex/4591 anonymous event logs (#4929)
  packages/web3-eth-abi/src/api/logs_api.ts
  packages/web3-eth-abi/src/api/parameters_api.ts
  packages/web3-eth-abi/test/fixtures/data.ts
  packages/web3-eth-contract/src/encoding.ts
  packages/web3-eth-contract/test/fixtures/encoding.ts
  packages/web3-eth-contract/test/unit/encoding.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix: assignment to function.call (#4918)
  CHANGELOG.md
  packages/web3-core-method/src/index.js
Due: prettier --write

assignment to function.call (#4918) (#4938)
  CHANGELOG.md
  packages/web3-core-method/src/index.js
Due: prettier --write
