Repository web3/web3.js: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

updating type
  packages/web3-core/package-lock.json
  packages/web3-core/package.json
  packages/web3-eth-contract/package-lock.json
  packages/web3-eth-contract/package.json
Due: prettier --write

Update packages/web3-eth/test/integration/defaults.test.ts
  packages/web3-eth/test/integration/defaults.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

add tests
  fixtures/contracts/ERC20Token.sol
  packages/web3-eth/test/integration/defaults.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

updating bnwrapped
  packages/web3-utils/src/utils.js
Due: prettier --write

[Types] Fix typo in BlockHeader type
  packages/web3-eth/types/index.d.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

webpack required pckages and script
  package.json
Due: prettier --write

initial webpack build config
  webpackprod.config.js
Due: prettier --write

libs install changes yarnlock
  yarn.lock
Due: none

webpack clean dist
  package.json
  webpackprod.config.js
Due: prettier --write

webpack build
  package.json
Due: prettier --write

allow dist dir at root
  .gitignore
Due: none

Fix odd length hex string conversion (#5086)
  packages/web3-utils/src/converters.ts
  packages/web3-utils/test/fixtures/converters.ts
  packages/web3-utils/test/unit/converters.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

webpack build config
  webpackprod.config.js
Due: prettier --write

:art: Improve the tests to make sure transaction complete in each test case
  packages/web3-eth-contract/test/integration/contract_deploy.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

adding testcase
  test/eth.accounts.signTransaction.js
Due: prettier --write

refactori bnwrapped
  packages/web3-utils/src/utils.js
Due: prettier --write

updating changelog
  CHANGELOG.md
Due: prettier --write

5072 - updating bn 1.x (#5074)
  CHANGELOG.md
  package-lock.json
  package.json
  packages/web3-core-method/package-lock.json
  packages/web3-core-method/package.json
  packages/web3-core/package-lock.json
  packages/web3-core/package.json
  packages/web3-eth-abi/package-lock.json
  packages/web3-eth-abi/package.json
  packages/web3-eth-contract/package-lock.json
  packages/web3-eth-contract/package.json
  packages/web3-eth-iban/package-lock.json
  packages/web3-eth-iban/package.json
  packages/web3-utils/package-lock.json
  packages/web3-utils/package.json
  packages/web3-utils/src/utils.js
  test/eth.accounts.signTransaction.js
  test/utils.BN.js
Due: prettier --write

Updates on `README.md` Format
  README.md
Due: prettier --write

npm i
  package-lock.json
  packages/web3-core-method/package-lock.json
  packages/web3-core/package-lock.json
  packages/web3-eth-abi/package-lock.json
  packages/web3-eth-contract/package-lock.json
  packages/web3-eth-iban/package-lock.json
  packages/web3-utils/package-lock.json
Due: prettier --write

Fix typo
  docs/web3-eth.rst
Due: none

fix comments
  fixtures/build/Basic.json
  fixtures/build/Basic.ts
  fixtures/build/DeployRevert.json
  fixtures/build/DeployRevert.ts
  fixtures/build/ERC20Token.json
  fixtures/build/ERC20Token.ts
  fixtures/build/ERC721Token.json
  fixtures/build/ERC721Token.ts
  fixtures/build/Greeter.json
  fixtures/build/Greeter.ts
  fixtures/build/MsgSender.json
  fixtures/build/MsgSender.ts
  fixtures/contracts/ERC20Token.sol
  fixtures/contracts/MsgSender.sol
  packages/web3-eth/test/integration/defaults.test.ts
  scripts/compile_contracts.js
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix ws tests
  packages/web3-eth/test/integration/defaults.test.ts
  packages/web3-eth/test/integration/eth.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix tests
  packages/web3-eth/test/integration/defaults.test.ts
  packages/web3-eth/test/integration/eth.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Init detectRawTransactionType
  packages/web3-eth/src/utils/detect_transaction_type.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Init type transaction tests for sign_transaction e2e
  packages/web3-eth/test/integration/web3_eth/sign_transaction.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Ignore linter errors
  packages/web3-eth/src/utils/index.ts
  packages/web3-eth/src/utils/prepare_transaction_for_signing.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update signTransaction to return more consistent tx object
  packages/web3-eth/src/rpc_method_wrappers.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

`web3-eth` Integration Tests (#4880) (#5056)
  packages/web3-common/src/eth_execution_api.ts
  packages/web3-errors/src/error_codes.ts
  packages/web3-errors/src/web3_error_base.ts
  packages/web3-eth/package.json
  packages/web3-eth/src/errors.ts
  packages/web3-eth/src/rpc_method_wrappers.ts
  packages/web3-eth/src/schemas.ts
  packages/web3-eth/src/types.ts
  packages/web3-eth/src/utils/transaction_builder.ts
  packages/web3-eth/src/web3_eth.ts
  packages/web3-eth/test/integration/web3_eth/call.test.ts
  packages/web3-eth/test/integration/web3_eth/estimate_gas.test.ts
  packages/web3-eth/test/integration/web3_eth/send_signed_transaction.test.ts
  packages/web3-eth/test/integration/web3_eth/send_transaction.test.ts
  packages/web3-eth/test/integration/web3_eth/sign.test.ts
  packages/web3-eth/test/integration/web3_eth/sign_transaction.test.ts
  packages/web3-eth/test/integration/web3_eth/submit_work.test.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/fixtures/send_signed_transaction.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/send_signed_transaction.test.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/sign_transaction.test.ts
  scripts/system_tests_utils.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Add first draft
  packages/web3/src/index.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Export option types for HttpPriver and WebsocketProvider
  packages/web3-providers-http/src/index.ts
  packages/web3-providers-ws/src/index.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Fixed documentation for web3.eth.accounts.signTransaction
  docs/web3-eth-accounts.rst
Due: none

npm lib updated
  package-lock.json
  packages/web3-bzz/package-lock.json
  packages/web3-core-helpers/package-lock.json
  packages/web3-core-method/package-lock.json
  packages/web3-core-subscriptions/package-lock.json
  packages/web3-core/package-lock.json
  packages/web3-eth-abi/package-lock.json
  packages/web3-eth-accounts/package-lock.json
  packages/web3-eth-contract/package-lock.json
  packages/web3-eth-ens/package-lock.json
  packages/web3-eth-iban/package-lock.json
  packages/web3-eth-personal/package-lock.json
  packages/web3-eth/package-lock.json
  packages/web3-eth2-beaconchain/package-lock.json
  packages/web3-eth2-core/package-lock.json
  packages/web3-net/package-lock.json
  packages/web3-providers-http/package-lock.json
  packages/web3-providers-ipc/package-lock.json
  packages/web3-providers-ws/package-lock.json
  packages/web3-shh/package-lock.json
  packages/web3-utils/package-lock.json
  packages/web3/package-lock.json
Due: prettier --write

Path conditions:
  prettier --write: ((any of: *.js) or (any of: *.ts)) or (any of: *.{json,md})
  eslint --rulesdir ./tools/eslint-config-web3-base/rules: any of: *.ts
