Repository web3/web3.js: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

web3-packagetemplate version fix
  tools/web3-packagetemplate/package.json
Due: prettier --write

added node and npm recommended main versions to all package.config
  packages/web3-core/package.json
  packages/web3-errors/package.json
  packages/web3-eth-abi/package.json
  packages/web3-eth-accounts/package.json
  packages/web3-eth-contract/package.json
  packages/web3-eth-ens/package.json
  packages/web3-eth-iban/package.json
  packages/web3-eth-personal/package.json
  packages/web3-eth/package.json
  packages/web3-net/package.json
  packages/web3-providers-http/package.json
  packages/web3-providers-ipc/package.json
  packages/web3-providers-ws/package.json
  packages/web3-rpc-methods/package.json
  packages/web3-types/package.json
  packages/web3-utils/package.json
  packages/web3-validator/package.json
  packages/web3/package.json
  tools/web3-packagetemplate/package.json
  tools/web3-plugin-example/package.json
Due: prettier --write

revert back unneeded changes to eslint-config-web3-base package.config
  tools/eslint-config-web3-base/package.json
Due: prettier --write

Init script
  updateChangelogs.sh
Due: none

updated release process
  RELEASE.md
Due: prettier --write

Check point, need some formatting
  updateChangelogs.sh
Due: none

Fix formatting
  updateChangelogs.sh
Due: none

add error messages. add ganache to dev dep
  packages/web3-errors/src/errors/connection_errors.ts
  packages/web3-providers-ipc/src/index.ts
  packages/web3-providers-ipc/test/fixtures/helpers.ts
  packages/web3-providers-ipc/test/integration/reconnection.test.ts
  packages/web3-providers-ws/package.json
  packages/web3-providers-ws/src/index.ts
  packages/web3-providers-ws/src/types.ts
  yarn.lock
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

add ganache install to actions
  .github/workflows/build.yml
Due: none

remove array
  packages/web3/src/types.ts
  packages/web3/src/web3.ts
  packages/web3/test/integration/web3.setProvider.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

ws reconnection test with geth
  .github/workflows/build.yml
  packages/web3-providers-ipc/test/integration/reconnection.test.ts
  packages/web3-providers-ws/package.json
  packages/web3-providers-ws/test/fixtures/helpers.ts
  packages/web3-providers-ws/test/integration/reconnection.test.ts
  yarn.lock
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

run as a docker
  packages/web3-providers-ipc/test/fixtures/helpers.ts
  packages/web3-providers-ws/test/fixtures/helpers.ts
  packages/web3-providers-ws/test/integration/reconnection.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update execution api
  packages/web3-types/src/apis/eth_execution_api.ts
  packages/web3-types/src/eth_types.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Fix formatting in update header
  packages/web3-eth/CHANGELOG.md
  packages/web3-net/CHANGELOG.md
  updateChangelogs.sh
Due: prettier --write

Move script under scripts dir
  scripts/updateChangelogs.sh
Due: none

Update packages/web3-core/src/web3_subscription_manager.ts
  packages/web3-core/src/web3_subscription_manager.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update links json to yaml
  packages/web3-types/src/apis/eth_execution_api.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

export web3 sub-packages and their default exports from `web3` package
  packages/web3-providers-http/src/index.ts
  packages/web3-providers-ipc/src/index.ts
  packages/web3-providers-ws/src/index.ts
  packages/web3/package.json
  packages/web3/src/index.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

debug.trace
  packages/web3-providers-ipc/test/fixtures/helpers.ts
  packages/web3-providers-ipc/test/integration/reconnection.test.ts
  packages/web3-providers-ws/test/fixtures/helpers.ts
  packages/web3-providers-ws/test/integration/reconnection.test.ts
  packages/web3-providers-ws/test/integration/setup.js
  packages/web3-utils/src/socket_provider.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

test
  packages/web3-providers-ipc/test/fixtures/helpers.ts
  packages/web3-providers-ipc/test/integration/reconnection.test.ts
  packages/web3-providers-ws/test/integration/reconnection.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

skip tests
  .github/workflows/build.yml
Due: none

update generic transaction
  packages/web3-types/src/apis/eth_execution_api.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

test
  packages/web3-providers-ipc/test/fixtures/helpers.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update transactionsendapi to generictransaction
  packages/web3-eth-contract/src/utils.ts
  packages/web3-eth/src/rpc_method_wrappers.ts
  packages/web3-eth/src/validation.ts
  packages/web3-eth/test/fixtures/rpc_methods_wrappers.ts
  packages/web3-eth/test/fixtures/validation.ts
  packages/web3-eth/test/fixtures/web3_eth_methods_with_parameters.ts
  packages/web3-rpc-methods/src/eth_rpc_methods.ts
  packages/web3-rpc-methods/test/unit/eth_rpc_methods/fixtures/estimate_gas.ts
  packages/web3-rpc-methods/test/unit/eth_rpc_methods/fixtures/send_transaction.ts
  packages/web3-rpc-methods/test/unit/eth_rpc_methods/fixtures/sign_transaction.ts
  packages/web3-types/src/apis/eth_execution_api.ts
  packages/web3-types/src/eth_types.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

test
  packages/web3-providers-ipc/test/fixtures/helpers.ts
  packages/web3-providers-ws/test/fixtures/helpers.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

test
  packages/web3-providers-ipc/test/fixtures/helpers.ts
  packages/web3-providers-ipc/test/integration/reconnection.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Init changelog NPM script. Add @types/inquirer, inquirer, and yargs. Update format NPM script to format .ts files in scripts dir
  package.json
  yarn.lock
Due: prettier --write

Add cypress/.cert and *.lock to prettierignore
  templates/.prettierignore.tmpl
Due: none

Ran yarn format
  fixtures/contracts/Basic.sol
  fixtures/contracts/Greeter.sol
  packages/web3-errors/src/index.ts
  packages/web3-eth-contract/test/fixtures/contracts/SampleStorageContract.sol
  packages/web3-validator/src/utils.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Bug fix and ts-expect-error reported after updating packages
  packages/web3-core/src/web3_subscription_manager.ts
  packages/web3-eth/src/web3_eth.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Init changelog script
  scripts/changelog/changelog.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Add missing headers for 5525 addition
  CHANGELOG.md
Due: prettier --write

Add chalk dev dep
  package.json
  yarn.lock
Due: prettier --write

Add check-sync command
  scripts/changelog/changelog.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

web3-packagetemplate version fix (#5766)
  tools/web3-packagetemplate/package.json
Due: prettier --write

ipc fixes
  packages/web3-providers-ipc/test/fixtures/helpers.ts
  packages/web3-providers-ipc/test/integration/reconnection.test.ts
  packages/web3-providers-ipc/test/integration/setup.js
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Path conditions:
  prettier --write: ((any of: *.js) or (any of: *.ts)) or (any of: *.{json,md})
  eslint --rulesdir ./tools/eslint-config-web3-base/rules: any of: *.ts
