Repository web3/web3.js: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

revert fixture
  packages/web3-eth/test/fixtures/rpc_methods_wrappers.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

add changelog
  CHANGELOG.md
  packages/web3-eth/src/rpc_method_wrappers.ts
  packages/web3-types/CHANGELOG.md
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix unit tests
  packages/web3-eth/test/fixtures/validation.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Fix TransactionInfoAPI type (#6539)
  CHANGELOG.md
  packages/web3-eth/src/rpc_method_wrappers.ts
  packages/web3-eth/test/fixtures/validation.ts
  packages/web3-eth/test/integration/rpc.test.ts
  packages/web3-eth/test/unit/web3_eth_methods_with_parameters.test.ts
  packages/web3-types/CHANGELOG.md
  packages/web3-types/src/apis/eth_execution_api.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

add styles for javascript & typescript tabs
  docs/src/css/custom.css
Due: none

add taps snippet to README.md at docs
  docs/README.md
Due: prettier --write

update smart_contracts docs
  docs/docs/guides/smart_contracts/deploying_and_interacting_with_smart_contracts.md
  docs/docs/guides/smart_contracts/infer_contract_types_guide/index.md
Due: prettier --write

fix: e2e test errors
  packages/web3-eth-contract/test/integration/local_account/contract_deploy.test.ts
  packages/web3-eth/test/integration/subscription_logs.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix: typescript error
  packages/web3-eth-contract/test/integration/local_account/contract_deploy.test.ts
  packages/web3/test/integration/web3.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix: provider disconnect
  packages/web3/test/integration/web3.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix testcases and change emit for contracts
  packages/web3-eth-contract/src/contract.ts
  packages/web3/test/integration/web3.config.test.ts
  packages/web3/test/unit/web3.config.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix lint
  packages/web3/test/unit/web3.config.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

1x release process (#6550)
  RELEASE.md
Due: prettier --write

fix: remove unreachable code
  packages/web3-utils/src/hash.ts
  packages/web3-utils/test/fixtures/hash.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

remove unneccesary code
  packages/web3-eth-abi/CHANGELOG.md
  packages/web3-eth-contract/src/contract.ts
  packages/web3-eth/src/web3_eth.ts
  packages/web3/src/web3.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update tests
  packages/web3/test/integration/web3.config.test.ts
  packages/web3/test/unit/web3.config.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update
  RELEASE.md
Due: prettier --write

remove test
  packages/web3/test/unit/web3.config.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update changelog and format
  packages/web3-core/CHANGELOG.md
  packages/web3-eth-contract/CHANGELOG.md
  packages/web3-eth-contract/src/contract.ts
  packages/web3/test/unit/web3.config.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update changelog
  packages/web3-core/CHANGELOG.md
Due: prettier --write

release process update (#6549)
  RELEASE.md
Due: prettier --write

fix: e2e test errors (#6552)
  packages/web3-eth-contract/test/integration/local_account/contract_deploy.test.ts
  packages/web3-eth/test/integration/subscription_logs.test.ts
  packages/web3/test/integration/web3.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

add metamask logic to request manager
  packages/web3-core/src/web3_request_manager.ts
  packages/web3-eth-contract/src/contract.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

add payload batch request and lint
  packages/web3-core/src/web3_request_manager.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix deploy
  packages/web3-core/src/web3_request_manager.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update and fix some codes at docs
  docs/README.md
  docs/docs/guides/basics/eth.md
  docs/docs/guides/basics/sign_and_send_tx/local_wallet.md
  docs/docs/guides/basics/sign_and_send_tx/wallet_of_eth_node.md
  docs/docs/guides/smart_contracts/infer_contract_types_guide/index.md
  docs/docs/guides/web3_plugin_guide/plugin_users.md
  docs/docs/guides/web3_providers_guide/index.md
  packages/web3/src/index.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

add js/ts tabs at providers guide
  docs/docs/guides/web3_providers_guide/index.md
Due: prettier --write

add js/ts tabs at events listening and providers examples guides
  docs/README.md
  docs/docs/guides/web3_providers_guide/events_listening.md
  docs/docs/guides/web3_providers_guide/examples.md
Due: prettier --write

add js/ts tabs at basic interaction docs
  docs/docs/guides/basics/eth.md
  docs/docs/guides/basics/sign_and_send_tx/local_wallet.md
  docs/docs/guides/basics/sign_and_send_tx/wallet_of_eth_node.md
Due: prettier --write

add js/ts tabs at docs for advanced features
  docs/docs/guides/advanced/support_additional_rpc_methods/index.md
  docs/docs/guides/advanced/web3_tree_shaking_support_guide/index.md
Due: prettier --write

add js/ts tabs at docs for plugin users and migration guide
  docs/docs/guides/web3_plugin_guide/plugin_users.md
  docs/docs/guides/web3_upgrade_guide/1.x/index.md
Due: prettier --write

fix metamask sendtransaction (#6540)
  packages/web3-core/CHANGELOG.md
  packages/web3-core/src/utils.ts
  packages/web3-core/src/web3_request_manager.ts
  packages/web3-eth-contract/CHANGELOG.md
  packages/web3-eth-contract/src/contract.ts
  packages/web3-types/CHANGELOG.md
  packages/web3-types/src/web3_base_provider.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Fix grammar and spelling
  packages/web3-errors/src/errors/transaction_errors.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Fix grammar and spelling (#6559)
  packages/web3-errors/src/errors/transaction_errors.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Apply suggestions from code review
  docs/README.md
Due: prettier --write

changelog updates
  packages/web3-core/CHANGELOG.md
  packages/web3-errors/CHANGELOG.md
  packages/web3-eth-contract/CHANGELOG.md
  packages/web3-types/CHANGELOG.md
  packages/web3/CHANGELOG.md
Due: prettier --write

Root changelog update
  CHANGELOG.md
Due: prettier --write

version bumps
  packages/web3-core/package.json
  packages/web3-errors/package.json
  packages/web3-eth-contract/package.json
  packages/web3-types/package.json
  packages/web3/package.json
  packages/web3/src/version.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

main web3 package doc
  docs/docs/guides/getting_started.md
Due: prettier --write

main doc updates
  docs/docs/guides/getting_started.md
Due: prettier --write

Path conditions:
  prettier --write: ((any of: *.js) or (any of: *.ts)) or (any of: *.{json,md})
  eslint --rulesdir ./tools/eslint-config-web3-base/rules: any of: *.ts
