Repository web3/web3.js: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

.lintstagedrc.json:

{
	"*.js": ["prettier --write"],
	"*.ts": ["prettier --write", "eslint --rulesdir ./tools/eslint-config-web3-base/rules"],
	"*.{json,md}": ["prettier --write"]
}

Copy Web3Eth doc changes to rpc_method_wrappers
  packages/web3-eth/src/rpc_method_wrappers.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Add .then to Web3Eth code example
  packages/web3-eth/src/index.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

adding build script for docs
  package.json
Due: prettier --write

change build script
  package.json
Due: prettier --write

Web3Eth Docs (#5251)
  packages/web3-eth/src/index.ts
  packages/web3-eth/src/rpc_method_wrappers.ts
  packages/web3-eth/src/web3_eth.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Fix minor typo in README
  README.md
Due: prettier --write

update onbrokenlinks
  docs/docusaurus.config.js
Due: prettier --write

wrapper for keccak256 to allow hashing `string` and `bigint` + adding test cases
  packages/web3-utils/src/hash.ts
  packages/web3-utils/test/fixtures/hash.ts
  packages/web3-utils/test/unit/hash.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

:art: Update the request manager to support legacy providers
  packages/web3-core/src/utils.ts
  packages/web3-core/src/web3_request_manager.ts
  packages/web3-core/test/unit/web3_request_manager.test.ts
  packages/web3-types/src/web3_base_provider.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Fix minor typo in README (#5300)
  README.md
Due: prettier --write

revert firefox skip tests
  packages/web3-eth-accounts/test/integration/wallet.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

:art: Update request manager tests
  packages/web3-core/src/web3_request_manager.ts
  packages/web3-core/test/unit/web3_request_manager.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

lerna lifecycle
  package.json
Due: prettier --write

proposed release process
  RELEASE.md
Due: prettier --write

add ssl cypress
  templates/cypress.config.js
  templates/cypress/.cert/cert.pem
  templates/cypress/.cert/key.pem
Due: prettier --write

cypress random port
  templates/cypress.config.js
Due: prettier --write

:alien: Fix the response object
  packages/web3-core/src/web3_request_manager.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update: using provided gas options for eip-1559 tx
  packages/web3-eth-accounts/src/index.js
Due: prettier --write

Add test and CHANGELOG for eth.accounts.signTransaction eip-1559 tx
  CHANGELOG.md
  test/eth.accounts.signTransaction.js
Due: prettier --write

Update CHANGELOG.md
  CHANGELOG.md
Due: prettier --write

remove unnecessary comment
  packages/web3-eth-accounts/test/integration/wallet.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

adding workflow build
  .github/workflows/build.yml
Due: none

add cypress dev dep
  package.json
  templates/cypress.config.js
  yarn.lock
Due: prettier --write

remove cypress dev dep
  package.json
  yarn.lock
Due: prettier --write

try without ssl
  templates/cypress.config.js
Due: prettier --write

fixing broken links
  docs/docusaurus.config.js
  docs/src/pages/markdown-page.md
Due: prettier --write

editing homepage for web3js docs
  docs/docusaurus.config.js
  docs/src/components/HomepageFeatures/index.tsx
  docs/src/components/HomepageFeatures/styles.module.css
  docs/src/pages/index.tsx
Due: prettier --write

Update RELEASE.md
  RELEASE.md
Due: prettier --write

Apply suggestions from code review
  packages/web3-core/test/unit/web3_request_manager.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

:white_check_mark: Update tests to avoid mocks
  packages/web3-core/test/unit/web3_request_manager.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Web3RequestManager is not compatible with the Ganache provider (#5305)
  packages/web3-core/src/utils.ts
  packages/web3-core/src/web3_request_manager.ts
  packages/web3-core/test/unit/web3_request_manager.test.ts
  packages/web3-types/src/web3_base_provider.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

updating feedback
  .github/workflows/build.yml
  docs/sidebars.js
Due: prettier --write

addressing feedback
  docs/docusaurus.config.js
  docs/sidebars.js
Due: prettier --write

updating pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write
