Repository web3/web3.js: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

.lintstagedrc.json:

{
	"*.js": ["prettier --write"],
	"*.ts": ["prettier --write", "eslint --rulesdir ./tools/eslint-config-web3-base/rules"],
	"*.{json,md}": ["prettier --write"]
}

Remoe WEB#_SYSTEM_TEST_PROTOCOL env
  packages/web3/test/black_box/package.json
Due: prettier --write

Add start in background to verdaccio.sh
  scripts/verdaccio.sh
Due: none

WIP npm scripts
  package.json
Due: prettier --write

Comitting for black box publish
  templates/.npmrc.tmpl
Due: none

Comitting for black box publish
  package.json
  packages/web3/package.json
  packages/web3/scripts/black_box_test.sh
  packages/web3/scripts/env.sh
  scripts/verdaccio.sh
  templates/.npmrc.tmpl
Due: prettier --write

Comitting for black box publish
  packages/web3/scripts/black_box_test.sh
  templates/.npmrc.tmpl
Due: none

Comitting for black box publish
  packages/web3/test/black_box/yarn.lock
  templates/.npmrc.tmpl
Due: none

Comitting for black box publish
  package.json
  templates/.npmrc.tmpl
Due: prettier --write

Comitting for black box publish
  .github/workflows/build.yml
  package.json
  packages/web3/scripts/black_box_test.sh
  packages/web3/test/black_box/yarn.lock
  templates/.npmrc.tmpl
Due: prettier --write

Update black box test script
  packages/web3/scripts/black_box_test.sh
Due: none

update mosaic
  .github/workflows/build.yml
Due: none

small fixes for TransactionBlockTimeout
  packages/web3-eth/src/errors.ts
  packages/web3-eth/src/utils/wait_for_transaction_receipt.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

improve test for transactionBlockTimeout
  packages/web3-eth/test/integration/defaults.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

apply a fix at a test for transactionBlockTimeout
  packages/web3-eth/test/integration/defaults.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update a timeout at test for faster run
  packages/web3-eth/test/integration/defaults.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Apply suggestions from code review
  packages/web3-eth/src/errors.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update packages/web3-eth/src/errors.ts
  packages/web3-eth/src/errors.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

add a missing import
  packages/web3-eth/src/errors.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Interrupt waiting for node after timeout (when sending a transaction or getting its receipt) (#5359)
  CHANGELOG.md
  docs/docs/guides/web3_utils_migration_guide.md
  packages/web3-core/src/web3_config.ts
  packages/web3-core/test/unit/__snapshots__/web3_context.test.ts.snap
  packages/web3-core/test/unit/web3_config.test.ts
  packages/web3-errors/src/error_codes.ts
  packages/web3-eth-contract/src/contract.ts
  packages/web3-eth/src/errors.ts
  packages/web3-eth/src/rpc_method_wrappers.ts
  packages/web3-eth/src/utils/wait_for_transaction_receipt.ts
  packages/web3-eth/test/integration/defaults.test.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/send_signed_transaction.test.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/send_transaction.test.ts
  packages/web3-utils/src/index.ts
  packages/web3-utils/src/promise_helpers.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

improve a test case for `transactionBlockTimeout`
  packages/web3-eth/test/integration/defaults.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update changelog
  CHANGELOG.md
Due: prettier --write

update node versions (#5354)
  .github/workflows/build.yml
Due: none

handle an edge case at at test for transactionBlockTimeout
  packages/web3-eth/test/integration/defaults.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Fixing linter errors
  packages/web3-core/src/web3_promi_event.ts
  packages/web3-eth-contract/test/integration/contract_methods.test.ts
  packages/web3-utils/src/web3_deferred_promise.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

speedup a test case for transactionBlockTimeout + and extend timout for web3-eth integration test
  packages/web3-eth/test/integration/defaults.test.ts
  packages/web3-eth/test/integration/setup.js
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update `sha3` and `sha3Raw` type definitions to accept `Buffer` (#5357)
  CHANGELOG.md
  docs/web3-utils.rst
  packages/web3-utils/types/index.d.ts
  packages/web3-utils/types/tests/sha3-raw-test.ts
  packages/web3-utils/types/tests/sha3-test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

tolerate when checking an error message at web3-eth
  packages/web3-eth/test/integration/defaults.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Add oneOf to blockSchema.transactions
  packages/web3-eth/src/schemas.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update convert function to handle oneOf in schemas
  packages/web3-utils/src/formatter.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update test for block validation in rpc.block.test.ts
  packages/web3-eth/test/integration/rpc.block.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Remove no longer used black box test code
  blackbox_test/basic_usage.ts
  blackbox_test/index.html
  blackbox_test/package.json
  scripts/blackbox_test.sh
  scripts/blackbox_test_web.sh
  scripts/publish_verdaccio.sh
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Revert version number changes
  packages/web3-core/package.json
  packages/web3-errors/package.json
  packages/web3-eth-abi/package.json
  packages/web3-eth-accounts/package.json
  packages/web3-eth-contract/package.json
  packages/web3-eth-ens/package.json
  packages/web3-eth-iban/package.json
  packages/web3-eth-personal/package.json
  packages/web3-eth/package.json
  packages/web3-net/package.json
  packages/web3-providers-http/package.json
  packages/web3-providers-ipc/package.json
  packages/web3-providers-ws/package.json
  packages/web3-types/package.json
  packages/web3-utils/package.json
  packages/web3-validator/package.json
  packages/web3/package.json
  tools/web3-packagetemplate/package.json
Due: prettier --write

Change webpack configuration
  webpack.base.config.js
Due: prettier --write

Remove knownSchemaProp argument from convert method
  packages/web3-utils/src/formatter.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules
