Repository web3/web3.js: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

.lintstagedrc.json:

{
	"*.js": ["prettier --write"],
	"*.ts": ["prettier --write", "eslint --rulesdir ./tools/eslint-config-web3-base/rules"],
	"*.{json,md}": ["prettier --write"]
}

fix build error
  packages/web3-core/src/web3_subscription_manager.ts
  packages/web3-core/src/web3_subscriptions.ts
  packages/web3-eth-contract/src/log_subscription.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix lint
  packages/web3-core/src/web3_subscription_manager.ts
  packages/web3-eth/test/unit/web3_eth_subscription.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

ensure `r` and `s` having 64 character + and modify tests
  packages/web3-eth-accounts/src/account.ts
  packages/web3-eth-accounts/test/unit/account.test.ts
  packages/web3-eth/test/integration/web3_eth/sign_transaction.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update CHANGELOG.md
  packages/web3-eth-accounts/CHANGELOG.md
Due: prettier --write

Few touches on the Plugin Guid (#6182)
  docs/docs/guides/web3_plugin_guide/plugin_authors.md
  docs/docs/guides/web3_plugin_guide/plugin_users.md
Due: prettier --write

allow getpastlogs to accept bn and numbers
  packages/web3-eth/src/rpc_method_wrappers.ts
  packages/web3-eth/test/integration/rpc.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update rpc tests
  packages/web3-eth/test/integration/rpc.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Init contract NegativeNumbers tests
  fixtures/build/NegativeNumbers.json
  fixtures/build/NegativeNumbers.ts
  packages/web3-eth-contract/test/integration/contract_negative_numbers.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Add encodeFunctionCall test cases from #5890
  packages/web3-eth-abi/test/fixtures/data.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Init NegativeNumbers.sol
  fixtures/contracts/NegativeNumbers.sol
Due: none

Refactor test to work with cypress
  fixtures/contracts/NegativeNumbers.sol
  packages/web3-eth-contract/test/integration/contract_negative_numbers.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Fix tests to work with cypress
  packages/web3-eth-contract/test/integration/contract_negative_numbers.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Fix tests
  packages/web3-eth-contract/test/integration/contract_negative_numbers.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

add `removeListener` events to `EIP1193Provider` + update CHANGELOG + Fix some events types at `SocketProvider`
  packages/web3-types/CHANGELOG.md
  packages/web3-types/src/web3_base_provider.ts
  packages/web3-utils/src/socket_provider.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

add and fix old test cases for multiple subscriptions
  packages/web3-eth/test/integration/subscription_heads.test.ts
  packages/web3-eth/test/integration/subscription_on_2_events.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update numbertohex bigint conditional
  packages/web3-eth/src/rpc_method_wrappers.ts
  packages/web3-eth/test/unit/web3_eth_methods_with_parameters.test.ts
  packages/web3-utils/src/converters.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update conditional
  packages/web3-utils/src/converters.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update conditional
  packages/web3-eth/src/rpc_method_wrappers.ts
  packages/web3-eth/test/integration/rpc.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update changelog
  CHANGELOG.md
  packages/web3-utils/CHANGELOG.md
Due: prettier --write

getpastLogs accept blockhash as a parameter
  packages/web3-rpc-methods/CHANGELOG.md
  packages/web3-types/src/eth_types.ts
  packages/web3-validator/src/validation/filter.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

add coverage and update changelogs
  CHANGELOG.md
  packages/web3-eth/src/rpc_method_wrappers.ts
  packages/web3-eth/test/fixtures/web3_eth_methods_with_parameters.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update conditional
  packages/web3-eth/src/rpc_method_wrappers.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update gas error
  packages/web3-errors/src/errors/transaction_errors.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

address feedback
  packages/web3-eth/test/unit/web3_eth_methods_with_parameters.test.ts
  packages/web3-types/CHANGELOG.md
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update web3 eth methods
  packages/web3-eth/test/unit/web3_eth_methods_with_parameters.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Refactor subscription's logic (#6210)
  packages/web3-core/CHANGELOG.md
  packages/web3-core/src/utils.ts
  packages/web3-core/src/web3_context.ts
  packages/web3-core/src/web3_subscription_manager.ts
  packages/web3-core/src/web3_subscriptions.ts
  packages/web3-core/test/unit/__snapshots__/web3_context.test.ts.snap
  packages/web3-core/test/unit/web3_subscription.test.ts
  packages/web3-core/test/unit/web3_subscription_manager.test.ts
  packages/web3-core/test/unit/web3_subscription_old_providers.test.ts
  packages/web3-eth-accounts/test/config/setup.js
  packages/web3-eth-contract/src/contract.ts
  packages/web3-eth-contract/src/log_subscription.ts
  packages/web3-eth/src/web3_eth.ts
  packages/web3-eth/test/integration/setup.js
  packages/web3-eth/test/integration/subscription_heads.test.ts
  packages/web3-eth/test/integration/subscription_on_2_events.test.ts
  packages/web3-eth/test/unit/web3_eth_subscription.test.ts
  packages/web3-types/CHANGELOG.md
  packages/web3-types/src/web3_base_provider.ts
  packages/web3-utils/src/socket_provider.ts
  packages/web3/test/e2e/e2e_utils.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Ensure `r` and `s` returned by `signTransaction` to have 64 character (#6216)
  packages/web3-eth-accounts/CHANGELOG.md
  packages/web3-eth-accounts/src/account.ts
  packages/web3-eth-accounts/test/unit/account.test.ts
  packages/web3-eth/test/integration/web3_eth/sign_transaction.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

changelog updates
  CHANGELOG.md
  packages/web3-core/CHANGELOG.md
  packages/web3-errors/CHANGELOG.md
  packages/web3-eth-abi/CHANGELOG.md
  packages/web3-eth-accounts/CHANGELOG.md
  packages/web3-eth-contract/CHANGELOG.md
  packages/web3-eth-ens/CHANGELOG.md
  packages/web3-eth-iban/CHANGELOG.md
  packages/web3-eth-personal/CHANGELOG.md
  packages/web3-eth/CHANGELOG.md
  packages/web3-net/CHANGELOG.md
  packages/web3-providers-http/CHANGELOG.md
  packages/web3-providers-ipc/CHANGELOG.md
  packages/web3-providers-ws/CHANGELOG.md
  packages/web3-rpc-methods/CHANGELOG.md
  packages/web3-types/CHANGELOG.md
  packages/web3-utils/CHANGELOG.md
  packages/web3-validator/CHANGELOG.md
  packages/web3/CHANGELOG.md
Due: prettier --write

version bumps
  packages/web3-core/package.json
  packages/web3-errors/package.json
  packages/web3-eth-abi/package.json
  packages/web3-eth-accounts/package.json
  packages/web3-eth-contract/package.json
  packages/web3-eth-ens/package.json
  packages/web3-eth-iban/package.json
  packages/web3-eth-personal/package.json
  packages/web3-eth/package.json
  packages/web3-net/package.json
  packages/web3-providers-http/package.json
  packages/web3-providers-ipc/package.json
  packages/web3-providers-ws/package.json
  packages/web3-rpc-methods/package.json
  packages/web3-types/package.json
  packages/web3-utils/package.json
  packages/web3-validator/package.json
  packages/web3/package.json
  packages/web3/src/version.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update unit tests for getpastlogs
  packages/web3-eth/src/rpc_method_wrappers.ts
  packages/web3-eth/test/fixtures/web3_eth_methods_with_parameters.ts
  packages/web3-eth/test/unit/format_rpc_methods.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update submit work and contract send docs
  docs/web3-eth-contract.rst
  docs/web3-eth.rst
Due: none

Add `EIP1193ProviderRpcError` and use it when provider `_onDisconnect`
  packages/web3-errors/src/error_codes.ts
  packages/web3-errors/src/errors/rpc_error_messages.ts
  packages/web3-errors/src/errors/rpc_errors.ts
  packages/web3-errors/src/index.ts
  packages/web3-eth-iban/src/iban.ts
  packages/web3-providers-ipc/src/index.ts
  packages/web3-utils/src/socket_provider.ts
  packages/web3-utils/src/web3_eip1193_provider.ts
  packages/web3/test/integration/web3.accounts.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update CHANGELOG.md for web3-errors
  packages/web3-errors/CHANGELOG.md
Due: prettier --write

Add tests for using `int`s in contracts, and test case for `web3-eth-abi`'s `encodeFunctionCall` (#6221)
  fixtures/build/NegativeNumbers.json
  fixtures/build/NegativeNumbers.ts
  fixtures/contracts/NegativeNumbers.sol
  packages/web3-eth-abi/test/fixtures/data.ts
  packages/web3-eth-contract/test/integration/contract_negative_numbers.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Release/4.0.2 (#6226)
  CHANGELOG.md
  packages/web3-core/CHANGELOG.md
  packages/web3-core/package.json
  packages/web3-errors/CHANGELOG.md
  packages/web3-errors/package.json
  packages/web3-eth-abi/CHANGELOG.md
  packages/web3-eth-abi/package.json
  packages/web3-eth-accounts/CHANGELOG.md
  packages/web3-eth-accounts/package.json
  packages/web3-eth-contract/CHANGELOG.md
  packages/web3-eth-contract/package.json
  packages/web3-eth-ens/CHANGELOG.md
  packages/web3-eth-ens/package.json
  packages/web3-eth-iban/CHANGELOG.md
  packages/web3-eth-iban/package.json
  packages/web3-eth-personal/CHANGELOG.md
  packages/web3-eth-personal/package.json
  packages/web3-eth/CHANGELOG.md
  packages/web3-eth/package.json
  packages/web3-net/CHANGELOG.md
  packages/web3-net/package.json
  packages/web3-providers-http/CHANGELOG.md
  packages/web3-providers-http/package.json
  packages/web3-providers-ipc/CHANGELOG.md
  packages/web3-providers-ipc/package.json
  packages/web3-providers-ws/CHANGELOG.md
  packages/web3-providers-ws/package.json
  packages/web3-rpc-methods/CHANGELOG.md
  packages/web3-rpc-methods/package.json
  packages/web3-types/CHANGELOG.md
  packages/web3-types/package.json
  packages/web3-utils/CHANGELOG.md
  packages/web3-utils/package.json
  packages/web3-validator/CHANGELOG.md
  packages/web3-validator/package.json
  packages/web3/CHANGELOG.md
  packages/web3/package.json
  packages/web3/src/version.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update fixtures for getpastlogs
  packages/web3-eth/test/fixtures/web3_eth_methods_with_parameters.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

allow getpastlogs to accept bn and numbers (#6219)
  CHANGELOG.md
  packages/web3-eth/src/rpc_method_wrappers.ts
  packages/web3-eth/test/fixtures/web3_eth_methods_with_parameters.ts
  packages/web3-eth/test/integration/rpc.test.ts
  packages/web3-eth/test/unit/format_rpc_methods.test.ts
  packages/web3-eth/test/unit/web3_eth_methods_with_parameters.test.ts
  packages/web3-rpc-methods/CHANGELOG.md
  packages/web3-types/CHANGELOG.md
  packages/web3-types/src/eth_types.ts
  packages/web3-utils/CHANGELOG.md
  packages/web3-utils/src/converters.ts
  packages/web3-validator/src/validation/filter.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Bump typescript version to 4.9.5
  dist/web3.min.js.LICENSE.txt
  package-lock.json
  package.json
  packages/web3-bzz/package.json
  packages/web3-core-helpers/package.json
  packages/web3-core-method/package.json
  packages/web3-core-subscriptions/package.json
  packages/web3-core/package.json
  packages/web3-eth-abi/package.json
  packages/web3-eth-accounts/package.json
  packages/web3-eth-contract/package.json
  packages/web3-eth-ens/package.json
  packages/web3-eth-iban/package.json
  packages/web3-eth-personal/package.json
  packages/web3-eth/package.json
  packages/web3-eth2-beaconchain/package.json
  packages/web3-eth2-core/package.json
  packages/web3-net/package.json
  packages/web3-providers-http/package.json
  packages/web3-providers-ipc/package.json
  packages/web3-providers-ws/package.json
  packages/web3-shh/package.json
  packages/web3-utils/package.json
  packages/web3/package.json
Due: prettier --write

Update CHANGELOG
  CHANGELOG.md
Due: prettier --write

Bump ts-node to 10.9.1
  package-lock.json
  package.json
Due: prettier --write
