Repository web3/web3.js: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

.lintstagedrc.json:

{
	"*.js": ["prettier --write"],
	"*.ts": ["prettier --write", "eslint --rulesdir ./tools/eslint-config-web3-base/rules"],
	"*.{json,md}": ["prettier --write"]
}

Adds changelog
  packages/web3-core/CHANGELOG.md
Due: prettier --write

Update packages/web3-core/CHANGELOG.md
  packages/web3-core/CHANGELOG.md
Due: prettier --write

Remove version name
  packages/web3-core/package.json
Due: prettier --write

Fixup base fee type (#6456)
  packages/web3-core/CHANGELOG.md
  packages/web3-core/src/formatters.ts
  packages/web3-core/test/unit/formatters.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Fixed withdrawals property type bytes to address
  packages/web3-eth/src/schemas.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

v1/chore(web3-eth-accounts): bump @ethereumjs/common and @ethereumjs/tx (#6457)
  CHANGELOG.md
  packages/web3-eth-accounts/package.json
Due: prettier --write

update web3-providers-http CHANGELOG.md
  packages/web3-providers-http/CHANGELOG.md
Due: prettier --write

Update change log (#6470)
  CHANGELOG.md
Due: prettier --write

Bump cross-fetch to version 4 (#6463)
  packages/web3-providers-http/CHANGELOG.md
  packages/web3-providers-http/package.json
Due: prettier --write

add privateKeyToPublicKey function to accounts (#6466)
  packages/web3-eth-accounts/CHANGELOG.md
  packages/web3-eth-accounts/src/account.ts
  packages/web3-eth-accounts/test/fixtures/account.ts
  packages/web3-eth-accounts/test/unit/account.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

remove console logs
  packages/web3-eth-contract/src/contract.ts
  packages/web3-validator/src/validator.ts
  packages/web3-validator/src/web3_validator.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update testcase
  packages/web3-eth-contract/test/integration/local_account/contract_erc721.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update stale
  .github/workflows/stale.yml
Due: none

update stale.yml
  .github/workflows/stale.yml
Due: none

fix stale
  .github/workflows/stale.yml
Due: none

update tests
  packages/web3-eth-contract/test/integration/local_account/contract_erc721.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Fixed withdrawals property type bytes to address (#6471)
  CHANGELOG.md
  packages/web3-eth/src/schemas.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

export EventEmitter as a class
  packages/web3-utils/src/event_emitter.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

add unit tests for EventEmitter
  packages/web3-utils/test/unit/event_emitter.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

disable lint rule in a file and update yarn.lock
  packages/web3-utils/src/event_emitter.ts
  packages/web3-utils/test/unit/event_emitter.test.ts
  yarn.lock
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

apply fixes and add tests for EventEmitter
  packages/web3-utils/src/event_emitter.ts
  packages/web3-utils/test/unit/event_emitter_dom.test.ts
  packages/web3-utils/test/unit/event_emitter_node.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

configure `EventEmitter` test to run inside `jsdom`
  packages/web3-utils/package.json
  packages/web3-utils/test/unit/event_emitter_dom.test.ts
  yarn.lock
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix stale (#6473)
  .github/workflows/stale.yml
Due: none

add getPendingRequestQueueSize
  packages/web3-utils/CHANGELOG.md
  packages/web3-utils/src/socket_provider.ts
  packages/web3-utils/test/unit/socket_provider.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

waitWithTimeout
  packages/web3-utils/src/promise_helpers.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

unit test
  packages/web3-utils/test/unit/promise_helpers.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

formatting
  packages/web3-eth/src/utils/wait_for_transaction_receipt.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

lint fix
  packages/web3-utils/src/promise_helpers.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

waitForTransactionReceipt unit tests
  packages/web3-eth/test/unit/utils/wait_for_transaction_receipt.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

waitForTransactionReceipt fix (#6464)
  packages/web3-eth/src/utils/wait_for_transaction_receipt.ts
  packages/web3-eth/test/integration/defaults.transactionBlockTimeout.test.ts
  packages/web3-eth/test/unit/utils/wait_for_transaction_receipt.test.ts
  packages/web3-utils/src/promise_helpers.ts
  packages/web3-utils/test/unit/promise_helpers.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

more debugging
  packages/web3-eth-contract/src/contract.ts
  packages/web3-eth-contract/test/integration/local_account/contract_erc721.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

eslint
  packages/web3-eth-contract/test/integration/local_account/contract_erc721.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update
  packages/web3-eth-contract/src/contract.ts
  packages/web3-eth-contract/test/integration/local_account/contract_erc721.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update
  packages/web3-eth-contract/test/integration/local_account/contract_erc721.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix issue with detecting Uint8Array (fix: `value "..." at "/0" must pass "bytes" validation`)
  packages/web3-eth-accounts/src/account.ts
  packages/web3-eth-accounts/src/tx/transactionFactory.ts
  packages/web3-utils/src/converters.ts
  packages/web3-validator/src/validation/bytes.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

throw `InsecureContextError` if window.crypto.subtle is `undefined`
  packages/web3-errors/src/error_codes.ts
  packages/web3-errors/src/errors/generic_errors.ts
  packages/web3-eth-accounts/src/account.ts
  packages/web3-eth-accounts/test/unit/encrypt-jsdom.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

prevent throwing if value is null when checking value.constructor.name
  packages/web3-eth-accounts/src/account.ts
  packages/web3-eth-accounts/src/tx/transactionFactory.ts
  packages/web3-utils/src/converters.ts
  packages/web3-validator/src/validation/bytes.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

check `window` is defined before accessing it
  packages/web3-eth-accounts/src/account.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

add Cypress configuration to web3-utils
  packages/web3-utils/cypress
  packages/web3-utils/cypress.config.js
  packages/web3-utils/package.json
Due: prettier --write
