Repository web3/web3.js: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

.lintstagedrc.json:

{
	"*.js": ["prettier --write"],
	"*.ts": ["prettier --write", "eslint --rulesdir ./tools/eslint-config-web3-base/rules"],
	"*.{json,md}": ["prettier --write"]
}

comments
  scripts/docshelper/base.config.js
Due: prettier --write

corrected module
  packages/web3-eth-accounts/src/account.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

reverted
  packages/web3/test/e2e/web3_extend.test.ts
  packages/web3/test/unit/web3.extend.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

unnecessary change
  packages/web3/test/e2e/web3_extend.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

add script
  package.json
  packages/web3/test/manual/connection.js
Due: prettier --write

add eslint disable
  packages/web3/test/manual/connection.js
Due: prettier --write

Revert "add script"
  package.json
  packages/web3/test/manual/connection.js
Due: prettier --write

add try catch:
  packages/web3/test/integration/ws.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

remove afterall
  packages/web3/test/integration/ws.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

lint fix
  packages/web3/test/integration/ws.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

remove failing testcase
  packages/web3/test/integration/ws.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix up
  packages/web3-utils/CHANGELOG.md
  packages/web3/test/integration/ws.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

add eslint disable
  packages/web3/test/integration/ws.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

add details
  packages/web3/test/manual/connection.js
Due: prettier --write

Fix web3-types import
  packages/web3-rpc-methods/src/eth_rpc_methods.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

move to tests folder
  package.json
  tests/stressTests/data/index.js
  tests/stressTests/data/start.sh
  tests/stressTests/validation/index.js
Due: prettier --write

moved
  package.json
  packages/web3-validator/test/stress/index.js
  packages/web3/test/stress/index.js
  packages/web3/test/stress/start.sh
Due: prettier --write

fix
  packages/web3-validator/test/stress/index.js
  packages/web3/test/stress/index.js
Due: prettier --write

edit draft `Migration from ethers.js`
  docs/docs/guides/migration_from_other_libs/ethers/index.md
Due: prettier --write

Move import
  packages/web3-rpc-methods/src/eth_rpc_methods.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

trailing comma
  packages/web3-rpc-methods/src/eth_rpc_methods.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

add send tests
  package.json
  packages/web3/test/stress/data.js
  packages/web3/test/stress/requests.js
  packages/web3/test/stress/startData.sh
  packages/web3/test/stress/startRequests.sh
Due: prettier --write

add browser test
  packages/web3/test/manual/browser_test/connection.html
  packages/web3/test/manual/nodejs_test/connection.js
Due: prettier --write

add Utilities section to migrate from ethers guide
  docs/docs/guides/migration_from_other_libs/ethers/index.md
Due: prettier --write

Update packages/web3-core/src/web3_context.ts
  packages/web3-core/src/web3_context.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

add contracts section at ethers migration guide
  docs/docs/guides/basics/sign_and_send_tx/wallet_of_eth_node.md
  docs/docs/guides/migration_from_other_libs/ethers.md
Due: prettier --write

a title update at docs
  docs/docs/guides/migration_from_other_libs/_category_.yml
Due: none

faster hex to byte implementation
  packages/web3-validator/src/utils.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

remove unsupported test fixture
  packages/web3-utils/test/fixtures/hash.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix manual ws test cases
  package.json
  packages/web3/test/manual/browser_test/connection.html
  packages/web3/test/manual/nodejs_test/connection.js
Due: prettier --write

browser tests
  package.json
  packages/web3/test/stress/requests.html
  packages/web3/test/stress/startRequests.sh
Due: prettier --write

move validator test to web3 package
  package.json
  packages/web3/test/stress/validator.js
Due: prettier --write

fix
  package.json
Due: prettier --write

fix naming
  package.json
  packages/web3/test/stress/large_request_data/index.js
  packages/web3/test/stress/large_request_data/start.sh
  packages/web3/test/stress/large_validator_data/index.js
  packages/web3/test/stress/many_requests/index.html
  packages/web3/test/stress/many_requests/index.js
  packages/web3/test/stress/many_requests/start.sh
Due: prettier --write

add browser test
  packages/web3/test/stress/many_requests/index.html
Due: none

add clearqueues as public method
  packages/web3-utils/CHANGELOG.md
  packages/web3-utils/src/socket_provider.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

lint fix
  packages/web3-utils/src/socket_provider.ts
  packages/web3/test/integration/ws.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix
  packages/web3/test/stress/many_requests/index.html
Due: none
