Repository web3/web3.js: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

.lintstagedrc.json:

{
	"*.js": ["prettier --write"],
	"*.ts": ["prettier --write", "eslint --rulesdir ./tools/eslint-config-web3-base/rules"],
	"*.{json,md}": ["prettier --write"]
}

@types/node update
  package.json
  yarn.lock
Due: prettier --write

changelog update
  packages/web3-eth-ens/CHANGELOG.md
  packages/web3-types/CHANGELOG.md
  packages/web3/CHANGELOG.md
Due: prettier --write

update cypress file
  packages/web3-eth-accounts/cypress
  packages/web3-eth-accounts/cypress/.cert/cert.pem
  packages/web3-eth-accounts/cypress/.cert/key.pem
  packages/web3-eth-accounts/cypress/plugins/index.js
  packages/web3-eth-accounts/cypress/support/commands.js
  packages/web3-eth-accounts/cypress/support/e2e.js
  packages/web3-eth-accounts/cypress/webpack.config.js
  packages/web3-eth-contract/cypress
  packages/web3-eth-contract/cypress/.cert/cert.pem
  packages/web3-eth-contract/cypress/.cert/key.pem
  packages/web3-eth-contract/cypress/plugins/index.js
  packages/web3-eth-contract/cypress/support/commands.js
  packages/web3-eth-contract/cypress/support/e2e.js
  packages/web3-eth-contract/cypress/webpack.config.js
  packages/web3-eth/cypress
  packages/web3-eth/cypress/.cert/cert.pem
  packages/web3-eth/cypress/.cert/key.pem
  packages/web3-eth/cypress/plugins/index.js
  packages/web3-eth/cypress/support/commands.js
  packages/web3-eth/cypress/support/e2e.js
  packages/web3-eth/cypress/webpack.config.js
  scripts/generate_from_template.sh
Due: prettier --write

update jest.config
  packages/web3-eth/test/config/jest.config.js
  tools/web3-packagetemplate/test/config/jest.config.js
Due: prettier --write

update eslintignore template
  packages/web3-core/.eslintignore
  packages/web3-errors/.eslintignore
  packages/web3-eth-abi/.eslintignore
  packages/web3-eth-accounts/.eslintignore
  packages/web3-eth-contract/.eslintignore
  packages/web3-eth-ens/.eslintignore
  packages/web3-eth-iban/.eslintignore
  packages/web3-eth-personal/.eslintignore
  packages/web3-eth/.eslintignore
  packages/web3-net/.eslintignore
  packages/web3-providers-http/.eslintignore
  packages/web3-providers-ipc/.eslintignore
  packages/web3-providers-ws/.eslintignore
  packages/web3-rpc-methods/.eslintignore
  packages/web3-types/.eslintignore
  packages/web3-utils/.eslintignore
  packages/web3-validator/.eslintignore
  packages/web3/.eslintignore
  templates/packages/.eslintignore.tmpl
Due: none

update function call
  packages/web3-providers-ipc/test/unit/ipc_provider.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update types to fix broken tests
  packages/web3-utils/types/index.d.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update types
  packages/web3-utils/types/index.d.ts
  packages/web3-utils/types/tests/check-address-checksum-test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update packagetemplate symlinks
  scripts/generate_from_template.sh
  tools/web3-packagetemplate/.eslintignore
  tools/web3-packagetemplate/.npmignore
  tools/web3-packagetemplate/.npmrc
  tools/web3-packagetemplate/.prettierignore
  tools/web3-packagetemplate/.prettierrc.json
  tools/web3-packagetemplate/tsconfig.cjs.json
  tools/web3-packagetemplate/tsconfig.esm.json
  tools/web3-packagetemplate/tsconfig.types.json
Due: prettier --write

update packagetemplate
  scripts/generate_from_template.sh
  tools/web3-packagetemplate/.npmrc
Due: none

update symlinks
  .prettierignore
  .prettierrc.json
  packages/web3-eth-accounts/cypress/cypress/.cert/cert.pem
  packages/web3-eth-accounts/cypress/cypress/.cert/key.pem
  packages/web3-eth-accounts/cypress/cypress/plugins/index.js
  packages/web3-eth-accounts/cypress/cypress/support/commands.js
  packages/web3-eth-accounts/cypress/cypress/support/e2e.js
  packages/web3-eth-accounts/cypress/cypress/webpack.config.js
  packages/web3-eth-contract/cypress/cypress/.cert/cert.pem
  packages/web3-eth-contract/cypress/cypress/.cert/key.pem
  packages/web3-eth-contract/cypress/cypress/plugins/index.js
  packages/web3-eth-contract/cypress/cypress/support/commands.js
  packages/web3-eth-contract/cypress/cypress/support/e2e.js
  packages/web3-eth-contract/cypress/cypress/webpack.config.js
  packages/web3-eth/cypress/cypress/.cert/cert.pem
  packages/web3-eth/cypress/cypress/.cert/key.pem
  packages/web3-eth/cypress/cypress/plugins/index.js
  packages/web3-eth/cypress/cypress/support/commands.js
  packages/web3-eth/cypress/cypress/support/e2e.js
  packages/web3-eth/cypress/cypress/webpack.config.js
  scripts/generate_from_template.sh
Due: prettier --write

update cypress
  packages/web3-eth-contract/cypress/cypress/.cert/cert.pem
  packages/web3-eth-contract/cypress/cypress/.cert/key.pem
  packages/web3-eth-contract/cypress/cypress/plugins/index.js
  packages/web3-eth-contract/cypress/cypress/support/commands.js
  packages/web3-eth-contract/cypress/cypress/support/e2e.js
  packages/web3-eth-contract/cypress/cypress/webpack.config.js
  packages/web3-eth/cypress/cypress/.cert/cert.pem
  packages/web3-eth/cypress/cypress/.cert/key.pem
  packages/web3-eth/cypress/cypress/plugins/index.js
  packages/web3-eth/cypress/cypress/support/commands.js
  packages/web3-eth/cypress/cypress/support/e2e.js
  packages/web3-eth/cypress/cypress/webpack.config.js
  packages/web3-providers-http/cypress
  packages/web3-providers-http/cypress/.cert/cert.pem
  packages/web3-providers-http/cypress/.cert/key.pem
  packages/web3-providers-http/cypress/plugins/index.js
  packages/web3-providers-http/cypress/support/commands.js
  packages/web3-providers-http/cypress/support/e2e.js
  packages/web3-providers-http/cypress/webpack.config.js
  scripts/generate_from_template.sh
Due: prettier --write

update paths
  config/cypress.config.js
Due: prettier --write

add read me to templates
  templates/README.md
Due: prettier --write

fix: add 'receive' to FragmentTypes
  packages/web3-types/src/eth_abi_types.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

chore: update changelog
  CHANGELOG.md
Due: prettier --write

TS v5 support (#6195)
  package.json
  packages/web3-eth-ens/CHANGELOG.md
  packages/web3-types/CHANGELOG.md
  packages/web3-types/src/eth_abi_types.ts
  packages/web3/CHANGELOG.md
  yarn.lock
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

added ws types in dep
  packages/web3-providers-ws/package.json
Due: prettier --write

changelog updates
  packages/web3-providers-ws/CHANGELOG.md
  packages/web3/CHANGELOG.md
Due: prettier --write

add `SimpleProvider` the base of `EIP1193Provider`
  packages/web3-core/src/utils.ts
  packages/web3-types/src/web3_base_provider.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

ignore lint issue
  packages/web3/test/e2e/e2e_utils.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

revert a change to a method
  packages/web3-core/src/web3_subscriptions.ts
  packages/web3-eth/src/web3_eth.ts
  packages/web3-eth/src/web3_subscriptions.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

revert some MR changes
  packages/web3-core/src/web3_subscription_manager.ts
  packages/web3-core/src/web3_subscriptions.ts
  packages/web3-core/test/unit/web3_subscription_old_providers.test.ts
  packages/web3-eth-contract/src/log_subscription.ts
  packages/web3-eth/src/web3_eth.ts
  packages/web3-eth/src/web3_subscriptions.ts
  packages/web3-eth/test/unit/web3_eth_subscription.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix build error
  packages/web3-core/src/web3_subscription_manager.ts
  packages/web3-core/src/web3_subscriptions.ts
  packages/web3-eth-contract/src/log_subscription.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

revert some MR changes
  packages/web3-core/src/web3_subscription_manager.ts
  packages/web3-core/test/unit/web3_subscription_old_providers.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update CHANGELOG.md
  packages/web3-core/CHANGELOG.md
Due: prettier --write

update plugin_authors.md
  docs/docs/guides/web3_plugin_guide/plugin_authors.md
Due: prettier --write

temp commit
  packages/web3-errors/src/errors/utils_errors.ts
  packages/web3-eth-abi/package.json
  packages/web3-eth-abi/src/coders/base/address.ts
  packages/web3-eth-abi/src/coders/base/bool.ts
  packages/web3-eth-abi/src/coders/base/bytes.ts
  packages/web3-eth-abi/src/coders/base/index.ts
  packages/web3-eth-abi/src/coders/base/number.ts
  packages/web3-eth-abi/src/coders/base/string.ts
  packages/web3-eth-abi/src/coders/base/tuple.ts
  packages/web3-eth-abi/src/coders/index.ts
  packages/web3-eth-abi/src/coders/types.ts
  packages/web3-eth-abi/src/coders/utils.ts
  packages/web3-eth-abi/src/errors.ts
  packages/web3-eth-abi/test/fixtures/coders/base/address.ts
  packages/web3-eth-abi/test/fixtures/coders/base/bool.ts
  packages/web3-eth-abi/test/fixtures/coders/base/bytes.ts
  packages/web3-eth-abi/test/fixtures/coders/base/number.ts
  packages/web3-eth-abi/test/fixtures/coders/base/string.ts
  packages/web3-eth-abi/test/unit/coders/base/address.test.ts
  packages/web3-eth-abi/test/unit/coders/base/bool.test.ts
  packages/web3-eth-abi/test/unit/coders/base/bytes.test.ts
  packages/web3-eth-abi/test/unit/coders/base/number.test.ts
  packages/web3-eth-abi/test/unit/coders/base/string.test.ts
  packages/web3-providers-http/src/index.ts
  packages/web3-utils/src/converters.ts
  packages/web3-utils/test/fixtures/converters.ts
  packages/web3-utils/test/unit/converters.test.ts
  yarn.lock
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update lockfile
  yarn.lock
Due: none

added ws types in dep (#6205)
  packages/web3-providers-ws/CHANGELOG.md
  packages/web3-providers-ws/package.json
  packages/web3/CHANGELOG.md
Due: prettier --write

fix: add 'receive' to FragmentTypes (#6204)
  CHANGELOG.md
  packages/web3-types/src/eth_abi_types.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update packages/web3-eth-contract/test/integration/contract_methods_errors.test.ts
  packages/web3-eth-contract/test/integration/contract_methods_errors.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Rename error codes
  packages/web3-eth-contract/test/integration/contract_methods_errors.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

enable backward compatibility for subscriptions + mark the obsolete as deprecated
  packages/web3-core/src/web3_subscription_manager.ts
  packages/web3-core/src/web3_subscriptions.ts
  packages/web3-core/test/unit/__snapshots__/web3_context.test.ts.snap
  packages/web3-core/test/unit/web3_subscription.test.ts
  packages/web3-core/test/unit/web3_subscription_manager.test.ts
  packages/web3-core/test/unit/web3_subscription_old_providers.test.ts
  packages/web3-eth-contract/src/contract.ts
  packages/web3-eth-contract/src/log_subscription.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Add `.on('error')` test for reverted contract methods (#6194)
  packages/web3-eth-contract/test/integration/contract_methods_errors.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules
