Repository web3/web3.js: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

.lintstagedrc.json:

{
	"*.js": ["prettier --write"],
	"*.ts": ["prettier --write", "eslint --rulesdir ./tools/eslint-config-web3-base/rules"],
	"*.{json,md}": ["prettier --write"]
}

Registry: change variable name in setsubnodeowner and pass context object to contract
  packages/web3-eth-ens/src/ens.ts
  packages/web3-eth-ens/src/registry.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

add a warn if connection raises an error while closing
  scripts/system_tests_utils.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

tiny fix and improvements to tests at web-eth
  packages/web3-eth/test/integration/defaults.test.ts
  packages/web3-eth/test/integration/rpc.test.ts
  scripts/system_tests_utils.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

tiny fix for a test warning at web-eth
  packages/web3-eth/test/integration/watch_transaction_polling.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

revert un needed changes
  packages/web3-eth-personal/test/config/jest.config.js
Due: prettier --write

enhance a test case at web3-eth
  packages/web3-eth/test/integration/defaults.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Hot fixes comments from PR Accounts 4.x System E2E Tests (#5409)
  packages/web3-eth-contract/test/integration/contract_defaults.test.ts
  packages/web3-eth-contract/test/integration/contract_erc20.test.ts
  packages/web3-eth/test/integration/subscription_logs.test.ts
  packages/web3/test/integration/web3.accounts.test.ts
  templates/cypress.config.js
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

adding defaultcommon
  packages/web3-core/src/web3_config.ts
  packages/web3-core/test/unit/web3_context.test.ts
  packages/web3-eth/src/utils/prepare_transaction_for_signing.ts
  packages/web3-eth/src/utils/transaction_builder.ts
  packages/web3-eth/test/unit/default_transaction_builder.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

formatter with POS block tags support
  packages/web3-core-helpers/src/formatters.js
Due: prettier --write

doc update for POS blocktags
  docs/web3-eth-contract.rst
  docs/web3-eth.rst
Due: none

4.x message in readme
  README.md
  packages/web3/README.md
Due: prettier --write

4.x message in 1.x doc
  docs/index.rst
Due: none

4.x message in post install message
  packages/web3/package.json
Due: prettier --write

POS tags in types
  packages/web3-core/types/index.d.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

compareBlockNumbers with finalized tag support
  packages/web3-utils/src/index.js
Due: prettier --write

test cases for compareBlockNumbers
  test/utils.compareBlockNumbers.js
Due: prettier --write

change log update
  CHANGELOG.md
Due: prettier --write

Add contract artifacts
  packages/web3-eth-ens/test/fixtures/ens/DummyNameWrapper.ts
  packages/web3-eth-ens/test/fixtures/ens/ENSRegistry.ts
  packages/web3-eth-ens/test/fixtures/ens/FIFSRegistrar.ts
  packages/web3-eth-ens/test/fixtures/ens/PublicResolver.ts
  packages/web3-eth-ens/test/fixtures/ens/ReverseRegistrar.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Fix contracts setup
  packages/web3-eth-ens/test/integration/ens.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

eth call tests with new block tags
  test/eth.call.js
Due: prettier --write

balance tests with new block tags
  test/eth.getBalance.js
Due: prettier --write

get block tests with new block tags
  test/eth.getBlock.js
Due: prettier --write

tx count tests with new block tags
  test/eth.getBlockTransactionCount.js
Due: prettier --write

get code tests with new block tags
  test/eth.getCode.js
Due: prettier --write

get proof tests with new block tags
  test/eth.getProof.js
Due: prettier --write

get storage tests with new block tags
  test/eth.getStorageAt.js
Due: prettier --write

formatter tests with new block tags
  test/formatters.inputDefaultBlockFormatter.js
Due: prettier --write

log formatter tests with new block tags
  test/formatters.inputLogFormatter.js
Due: prettier --write

fix sync subscription
  packages/web3-eth/src/web3_subscriptions.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Adding Twitter button
  README.md
Due: prettier --write

Finish tests
  packages/web3-eth-ens/test/fixtures/ens/ENSRegistry.json
  packages/web3-eth-ens/test/integration/ens.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Remove unused registar and reverse registar
  packages/web3-eth-ens/test/integration/ens.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Delete setUpENS
  packages/web3-eth-ens/test/fixtures/setupENS.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

wait a bit to ensure a new block at a test case in web3-eth
  packages/web3-eth/test/integration/defaults.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Tests refactoring
  packages/web3-eth-ens/test/integration/ens.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

tiny enhancement at a test case in web3-eth
  packages/web3-eth/test/integration/defaults.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

try for an issue in the pipeline
  packages/web3-eth/test/integration/defaults.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Add accounts.json
  packages/web3-eth-ens/test/fixtures/accounts.json
Due: prettier --write
