Repository web3/web3.js: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

.lintstagedrc.json:

{
	"*.js": ["prettier --write"],
	"*.ts": ["prettier --write", "eslint --rulesdir ./tools/eslint-config-web3-base/rules"],
	"*.{json,md}": ["prettier --write"]
}

Update transactions.md (#6783)
  docs/docs/guides/wallet/transactions.md
Due: prettier --write

update ocnfig
  scripts/hardhat.config.js
Due: prettier --write

update build
  .github/workflows/build.yml
Due: none

add deploy script
  .github/workflows/deploy-docs.yaml
Due: none

update key
  .github/workflows/build.yml
Due: none

update
  .github/workflows/build.yml
Due: none

update const
  .github/workflows/build.yml
Due: none

remove config
  scripts/hardhat.config.js
Due: prettier --write

changed statement to install dependencies
  .github/CONTRIBUTING.md
Due: prettier --write

Add abiitem (#6778)
  packages/web3-eth-contract/test/fixtures/Abi.json
  packages/web3-eth-contract/test/unit/contract.test.ts
  packages/web3-types/CHANGELOG.md
  packages/web3-types/src/eth_abi_types.ts
  packages/web3-utils/CHANGELOG.md
  packages/web3-utils/src/index.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

resolve snapshot issue between node 18 vs 20 & 21
  packages/web3-core/test/unit/__snapshots__/web3_context.test.ts.snap
  packages/web3-core/test/unit/web3_context.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update a comment
  packages/web3-core/test/unit/web3_context.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

disable a ts error
  packages/web3-eth/src/web3_eth.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix linting issues
  packages/web3-eth/src/web3_eth.ts
  packages/web3-eth/test/unit/web3_eth_get_fee_data.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update test file name
  packages/web3-eth/test/unit/web3_eth_calculate_fee_data.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update a test snapshot
  packages/web3-core/test/unit/__snapshots__/web3_context.test.ts.snap
Due: none

revert changes that will be part of another PR
  packages/web3-core/test/unit/__snapshots__/web3_context.test.ts.snap
Due: none

fix cache on github ci (#6790)
  .github/workflows/build.yml
Due: none

update CHANGELOG.md
  packages/web3-types/CHANGELOG.md
Due: prettier --write

fix abi const
  packages/web3-eth-contract/test/fixtures/AbiItem.ts
  packages/web3-eth-contract/test/unit/contract.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

deleted old issue template
  .github/ISSUE_TEMPLATE.md
Due: prettier --write

fix abi const (#6797)
  packages/web3-eth-contract/test/fixtures/AbiItem.ts
  packages/web3-eth-contract/test/unit/contract.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Added contributing guideliness & code of conduct (#6787)
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
Due: prettier --write

Update issue templates
  .github/ISSUE_TEMPLATE/issue-template.md
Due: prettier --write

add deploy script (#6792)
  .github/workflows/deploy-docs.yaml
Due: none

update changelog and package.json for release
  packages/web3-types/CHANGELOG.md
  packages/web3-types/package.json
  packages/web3-utils/CHANGELOG.md
  packages/web3-utils/package.json
  packages/web3/CHANGELOG.md
  packages/web3/package.json
  packages/web3/src/version.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix yml
  .github/workflows/deploy-docs.yaml
Due: none

test
  .github/workflows/deploy-docs.yaml
Due: none

revert PR run
  .github/workflows/deploy-docs.yaml
Due: none

update script
  packages/web3/scripts/black_box_test.sh
Due: none

update changelog
  CHANGELOG.md
Due: prettier --write

update
  CHANGELOG.md
Due: prettier --write

Updated README.md
  packages/web3/README.md
Due: prettier --write

Put the features on top
  packages/web3/README.md
Due: prettier --write

fix yml (#6803)
  .github/workflows/deploy-docs.yaml
Due: none

Update packages/web3/README.md
  packages/web3/README.md
Due: prettier --write
