Repository web3/web3.js: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

.lintstagedrc.json:

{
	"*.js": ["prettier --write"],
	"*.ts": ["prettier --write", "eslint --rulesdir ./tools/eslint-config-web3-base/rules"],
	"*.{json,md}": ["prettier --write"]
}

WIP
  packages/web3-eth-contract/src/contract.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update packages/web3-eth-contract/CHANGELOG.md
  packages/web3-eth-contract/CHANGELOG.md
Due: prettier --write

Fix bug in createAccessList test
  packages/web3-eth/test/integration/web3_eth/createAccessList.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

add Web3 class unit test
  packages/web3/test/unit/web3.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Remove comment
  packages/web3-eth-contract/src/contract.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

finalized and safe tags
  packages/web3-types/src/eth_types.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Nikos/5603/some default properties cannot set from contract class (#5756)
  packages/web3-eth-contract/CHANGELOG.md
  packages/web3-eth-contract/src/contract.ts
  packages/web3-eth-contract/src/types.ts
  packages/web3-eth-contract/src/utils.ts
  packages/web3-eth-contract/test/integration/contract_defaults.test.ts
  packages/web3-eth-contract/test/integration/contract_defaults_extra.test.ts
  packages/web3/src/web3.ts
  packages/web3/test/integration/web3.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Try script in geth script
  scripts/geth_binary.sh
Due: none

fix a unit test
  packages/web3/test/unit/web3.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update encodeeventabi
  packages/web3-core/src/web3_request_manager.ts
  packages/web3-eth-contract/src/contract.ts
  packages/web3-eth-contract/src/encoding.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

add more getpastevent tests
  packages/web3-eth-contract/test/integration/contract_events.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix
  packages/web3-providers-ws/src/index.js
Due: prettier --write

Try script
  packages/web3-eth/test/integration/helper.ts
  packages/web3-eth/test/integration/watch_transaction.test.ts
  scripts/geth_binary.sh
  scripts/mineOnPendingTransactions.js
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Mine all transactions
  scripts/mineOnPendingTransactions.js
Due: prettier --write

Update web3-eth-accounts.rst (#5810)
  docs/web3-eth-accounts.rst
Due: none

Return help timeout
  packages/web3-eth/test/integration/helper.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

adding consolelogs
  packages/web3-eth-contract/test/integration/contract_deploy.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

doc updates
  packages/web3-core/src/web3_config.ts
  packages/web3-eth-contract/src/types.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

block tag tests
  packages/web3-eth/test/integration/block/rpc.getBlock.test.ts
  packages/web3-eth/test/integration/block/rpc.getBlockTransactionCount.test.ts
  packages/web3-eth/test/integration/block/rpc.getBlockUncleCount.test.ts
  packages/web3-eth/test/integration/block/rpc.getTransactionFromBlock.test.ts
  packages/web3-eth/test/integration/block/rpc.getUncle.test.ts
  packages/web3-eth/test/integration/defaults.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

test fixtures
  packages/web3-eth/test/fixtures/web3_eth_methods_with_parameters.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

types optimization
  packages/web3-types/src/eth_types.ts
  packages/web3-validator/src/validation/block.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Remove script
  scripts/geth_binary.sh
  scripts/mineOnPendingTransactions.js
Due: prettier --write

updated validation of blocks comp
  packages/web3-utils/src/validation.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Move period to 2
  scripts/geth_binary.sh
Due: none

Update packages/web3-core/src/web3_subscription_manager.ts
  packages/web3-core/src/web3_subscription_manager.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update to debug
  packages/web3-eth-contract/src/contract.ts
  packages/web3-eth-contract/test/integration/contract_deploy.test.ts
  packages/web3-eth-contract/test/integration/local_account/contract_deploy.test.ts
  packages/web3-eth/src/rpc_method_wrappers.ts
  scripts/geth.sh
  scripts/geth_binary.sh
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

remove debug logs
  packages/web3-eth-contract/src/contract.ts
  packages/web3-eth-contract/test/integration/contract_deploy.test.ts
  packages/web3-eth-contract/test/integration/local_account/contract_deploy.test.ts
  packages/web3-eth/src/rpc_method_wrappers.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

add accounts unit test
  packages/web3/test/unit/accounts.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

add a tiny test
  packages/web3/test/unit/index.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix a test case
  packages/web3/test/unit/accounts.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

add change log
  CHANGELOG.md
Due: prettier --write

fix issues mentioned at #5815
  packages/web3-errors/src/error_codes.ts
  packages/web3-errors/src/errors/generic_errors.ts
  packages/web3-eth/package.json
  packages/web3/src/types.ts
  packages/web3/src/web3.ts
  packages/web3/test/unit/web3.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

TransactionOutOfGasError check refactor
  packages/web3-eth/src/utils/get_revert_reason.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update CHANGELOGs
  CHANGELOG.md
  packages/web3-eth/CHANGELOG.md
Due: prettier --write

Fix failing web3-errors test snapshots
  packages/web3-errors/test/unit/__snapshots__/errors.test.ts.snap
Due: none

yarn lint:fix
  packages/web3-eth/src/types.ts
  packages/web3-eth/test/integration/web3_eth/send_transaction.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update web3 handle revert tests
  packages/web3/test/integration/handle_revert.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update web3socker provider to wrap errors in InvalidResponseError to match http provider
  packages/web3-utils/src/socket_provider.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules
