Repository web3/web3.js: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

.lintstagedrc.json:

{
	"*.js": ["prettier --write"],
	"*.ts": ["prettier --write", "eslint --rulesdir ./tools/eslint-config-web3-base/rules"],
	"*.{json,md}": ["prettier --write"]
}

adding anomymous log testcase
  packages/web3-eth-abi/src/api/logs_api.ts
  packages/web3-eth-abi/src/api/parameters_api.ts
  packages/web3-eth-abi/test/fixtures/data.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update CHANGELOG.md
  CHANGELOG.md
Due: prettier --write

Replace use of HexString32Bytes with Bytes for calls with block parameter
  packages/web3-eth/src/rpc_method_wrappers.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Remove unused imports
  packages/web3-eth/src/web3_eth.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Add ArrayBuffer to ValidInputTypes
  packages/web3-validator/src/types.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Remove unused imports
  packages/web3-eth/src/rpc_method_wrappers.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Correct test data to bytes32
  packages/web3-eth/test/fixtures/rpc_methods_with_params.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Add comments for clarification
  packages/web3-eth/src/rpc_method_wrappers.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

WIP rewritting rpc_method_wrappers tests
  packages/web3-eth/test/unit/rpc_method_wrappers/fixtures/get_balance.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/fixtures/return_formats.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/get_balance.test.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/get_block_number.test.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/get_coinbase.test.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/get_gas_price.test.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/get_hash_rate.test.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/get_protocol_version.test.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/is_mining.test.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/is_syncing.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Karma config for integration tests
  karma.config.js
  package.json
  yarn.lock
Due: prettier --write

integration tests
  packages/web3-eth/test/integration/subscribe.test.ts
  packages/web3-eth/test/integration/unsubscribe.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix integration geth test
  .github/Dockerfile
  .github/workflows/build.yml
  package.json
  packages/web3-eth/package.json
  packages/web3-eth/test/integration/subscribe.test.ts
  yarn.lock
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix geth background run
  package.json
Due: prettier --write

fix
  package.json
Due: prettier --write

eth package using web3error frm common
  packages/web3-common/src/errors.ts
  packages/web3-eth/src/errors.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

More (unsuccessfull) tests for karma
  karma.config.js
  package.json
  yarn.lock
Due: prettier --write

testing on lighthouse v2.1.5
  scripts/eth2.sh
Due: none

test
  karma.config.js
  package.json
  packages/web3-eth/package.json
  packages/web3-eth/test/integration/subscribe.test.ts
  packages/web3-eth/test/integration/unsubscribe.test._ts
  packages/web3-providers-http/test/integration/config.ts
  packages/web3-providers-http/test/integration/request.test.ts
  yarn.lock
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Batch request tests
  packages/web3-core/src/web3_context.ts
  packages/web3/test/integration/batchRequest.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Corrent ipc path argument in geth-local
  package.json
  packages/web3-core/src/index.ts
  packages/web3-core/src/web3_context.ts
  packages/web3/package.json
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Add wallet provider test
  packages/web3/test/integration/wallet_provider.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Change test file filtering function so it can work on array
  packages/web3/test/filter-tests.js
Due: prettier --write

test
  karma.config.js
  package.json
  packages/web3-eth/test/integration/subscribe.test.ts
  packages/web3-providers-ws/src/index.ts
  tools/isomorphic-ws.js
  yarn.lock
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

change log update
  CHANGELOG.md
Due: prettier --write

npm i changes in packagelock
  package-lock.json
Due: prettier --write

Update changelog
  CHANGELOG.md
Due: prettier --write

fix tests
  karma.config.js
  packages/web3-core/src/web3_subscription_manager.ts
  packages/web3-eth/test/integration/subscribe.test.ts
  packages/web3-eth/test/integration/unsubscribe.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix
  packages/web3-eth/test/integration/subscribe.test.ts
  packages/web3-eth/test/integration/unsubscribe.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

add from block for logs event
  packages/web3-core/src/web3_subscriptions.ts
  packages/web3-eth/src/web3_eth.ts
  packages/web3-eth/src/web3_subscriptions.ts
  packages/web3-eth/test/integration/unsubscribe.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules
