Repository web3/web3.js: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update jest and ts-jest version (#6706)
  package.json
  packages/web3-core/package.json
  packages/web3-core/test/unit/__snapshots__/web3_context.test.ts.snap
  packages/web3-errors/package.json
  packages/web3-errors/test/unit/__snapshots__/errors.test.ts.snap
  packages/web3-errors/test/unit/__snapshots__/rpc-errors.test.ts.snap
  packages/web3-eth-abi/package.json
  packages/web3-eth-accounts/package.json
  packages/web3-eth-accounts/test/unit/__snapshots__/wallet.test.ts.snap
  packages/web3-eth-contract/package.json
  packages/web3-eth-ens/package.json
  packages/web3-eth-iban/package.json
  packages/web3-eth-personal/package.json
  packages/web3-eth/package.json
  packages/web3-net/package.json
  packages/web3-providers-http/package.json
  packages/web3-providers-ipc/package.json
  packages/web3-providers-ws/package.json
  packages/web3-rpc-methods/package.json
  packages/web3-types/package.json
  packages/web3-utils/package.json
  packages/web3-validator/package.json
  packages/web3/package.json
  packages/web3/test/cjs_black_box/package.json
  packages/web3/test/esm_black_box/package.json
  tools/web3-packagetemplate/package.json
  tools/web3-plugin-example/package.json
  yarn.lock
Due: prettier --write

undo changes to estimageGas test
  packages/web3-eth/test/integration/web3_eth/estimate_gas.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix typo
  docs/docs/guides/web3_eth/eth.md
Due: prettier --write

fix typo
  RELEASE.md
Due: prettier --write

fix typo
  docs/docs/guides/web3_plugin_guide/plugin_authors.md
Due: prettier --write

fix typo
  packages/web3-eth-accounts/test/unit/tx/legacy.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix typo
  packages/web3-validator/README.md
Due: prettier --write

fix typo
  packages/web3/test/integration/contract.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

release process
  CHANGELOG.md
  packages/web3-eth-abi/CHANGELOG.md
  packages/web3-eth-abi/package.json
  packages/web3-eth-accounts/package.json
  packages/web3-eth-contract/CHANGELOG.md
  packages/web3-eth-contract/package.json
  packages/web3-eth/CHANGELOG.md
  packages/web3-eth/package.json
  packages/web3-utils/CHANGELOG.md
  packages/web3-utils/package.json
  packages/web3-validator/CHANGELOG.md
  packages/web3-validator/package.json
  packages/web3/CHANGELOG.md
  packages/web3/package.json
  packages/web3/src/version.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update changelog
  packages/web3-eth-accounts/CHANGELOG.md
Due: prettier --write

add hardhat
  hardhat.config.js
  package.json
  packages/web3/hardhat.config.js
  scripts/hardhat.sh
  scripts/system_tests_utils.ts
  yarn.lock
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

removing ganache pt 1
  .github/workflows/build.yml
  package.json
  packages/web3/package.json
  packages/web3/scripts/black_box_test.sh
  packages/web3/test/cjs_black_box/package.json
  packages/web3/test/cjs_black_box/test/web3-eth-contract/erc20.test.ts
  packages/web3/test/esm_black_box/package.json
  packages/web3/test/esm_black_box/test/web3-eth-contract/erc20.test.ts
  scripts/ganache.sh
  scripts/hardhat.sh
  scripts/test-runner.sh
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

use cache
  .github/workflows/build.yml
Due: none

test
  .github/workflows/build.yml
Due: none

tests
  .github/workflows/build.yml
Due: none

fix
  .github/workflows/build.yml
Due: none

update esm and types build file names
  .github/workflows/build.yml
  yarn.lock
Due: none

remove un needed steps for esm and types build
  .github/workflows/build.yml
Due: none

try restoring some config esm and types build at CI
  .github/workflows/build.yml
Due: none

fix build
  .github/workflows/build.yml
  yarn.lock
Due: none

fix build
  .github/workflows/build.yml
Due: none

add hardhat plugin
  packages/web3-eth-accounts/package.json
  packages/web3-eth-contract/package.json
  packages/web3-eth-ens/package.json
  packages/web3-eth-personal/package.json
  packages/web3-eth/package.json
  packages/web3-providers-http/package.json
  packages/web3-providers-ipc/package.json
  packages/web3-providers-ws/package.json
  packages/web3/package.json
Due: prettier --write

remove hardhat plugin from each package
  packages/web3-eth-accounts/package.json
  packages/web3-eth-contract/package.json
  packages/web3-eth-ens/package.json
  packages/web3-eth-personal/package.json
  packages/web3-eth/package.json
  packages/web3-providers-http/package.json
  packages/web3-providers-ipc/package.json
  packages/web3-providers-ws/package.json
  packages/web3/package.json
  scripts/system_tests_utils.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update flow
  .github/workflows/build.yml
Due: none

update hardhat command
  scripts/hardhat.sh
Due: none

added metadata and edited tagline
  docs/docusaurus.config.js
Due: prettier --write

added image
  docs/docusaurus.config.js
Due: prettier --write

added live code editor example
  docs/docs/guides/getting_started/getting_started.md
Due: prettier --write

add Maintenance notes
  README.md
  docs/index.rst
Due: prettier --write

added metadata, image and edited tagline
  docs/docusaurus.config.js
Due: prettier --write

added jsx live example (docusaurus theme-live-codeblock plugin)
  docs/docs/guides/getting_started/getting_started.md
Due: prettier --write

restore some configs for esm and types build on CI/CD
  .github/workflows/build.yml
Due: none

Reduce some CI/CD tests (#6698)
  .github/workflows/build.yml
  packages/web3/package.json
  yarn.lock
Due: prettier --write

added metadata, image and edited tagline (#6724)
  docs/docusaurus.config.js
Due: prettier --write

Check failing tests (estimate gas problem) (#6702)
  packages/web3-eth-ens/test/integration/ens.events.test.ts
  packages/web3-eth-ens/test/integration/ens.test.ts
  packages/web3-eth-ens/test/integration/resolver.test.ts
  packages/web3-eth/test/integration/web3_eth/estimate_gas.test.ts
  scripts/geth_binary.sh
  scripts/system_tests_utils.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

add links
  README.md
  docs/index.rst
Due: prettier --write

Add 1.x deprecation notice (#6723)
  README.md
  docs/index.rst
Due: prettier --write

fix benchmark
  .github/workflows/build.yml
Due: none

Path conditions:
  prettier --write: ((any of: *.js) or (any of: *.ts)) or (any of: *.{json,md})
  eslint --rulesdir ./tools/eslint-config-web3-base/rules: any of: *.ts
