Repository web3/web3.js: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Move period to 2
  scripts/geth_binary.sh
Due: none

Return devperiod to 0
  scripts/geth_binary.sh
Due: none

Remove double confirmation
  packages/web3-eth/test/integration/defaults.test.ts
  packages/web3-eth/test/integration/watch_transaction.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Send double transactions than awaiting confirmations
  packages/web3-eth/test/integration/watch_transaction.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Restore value
  packages/web3-eth/test/integration/defaults.test.ts
  packages/web3-eth/test/integration/subscription_heads.test.ts
  packages/web3-eth/test/integration/watch_transaction.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

sync test
  .github/workflows/build.yml
  package.json
  packages/web3/package.json
  packages/web3/test/integration/sync.test.ts
  scripts/env.sh
  scripts/genesis.json
  scripts/geth_binary.sh
  scripts/system_tests_utils.ts
  scripts/test-runner.sh
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix
  .github/workflows/build.yml
Due: none

updated same style
  packages/web3-types/src/eth_types.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fixes
  .github/workflows/build.yml
Due: none

revert script changes
  scripts/test-runner.sh
Due: none

Web3.eth.subscribe syncing test (#5828)
  .github/workflows/build.yml
  package.json
  packages/web3/package.json
  packages/web3/test/integration/sync.test.ts
  scripts/env.sh
  scripts/genesis.json
  scripts/geth_binary.sh
  scripts/system_tests_utils.ts
  scripts/test-runner.sh
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Add unit test for `web3` package (#5818)
  packages/web3/test/unit/accounts.test.ts
  packages/web3/test/unit/index.test.ts
  packages/web3/test/unit/version.test.ts
  packages/web3/test/unit/web3.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

removed genesis tag support and updated test data
  packages/web3-utils/src/validation.ts
  packages/web3-utils/test/fixtures/validation.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

updated changelog
  packages/web3-utils/CHANGELOG.md
Due: prettier --write

update changelog
  packages/web3-validator/CHANGELOG.md
Due: prettier --write

changelog update
  packages/web3-validator/CHANGELOG.md
Due: prettier --write

update CHANGELOG.md files and run `yarn changelog sync`
  CHANGELOG.md
  packages/web3-errors/CHANGELOG.md
  packages/web3/CHANGELOG.md
Due: prettier --write

updates
  packages/web3-utils/src/validation.ts
  packages/web3-utils/test/fixtures/validation.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

adding mine to echo
  scripts/geth.sh
  scripts/geth_binary.sh
Due: none

Fix few issues with new Web3().eth.contract (#5824)
  CHANGELOG.md
  packages/web3-errors/CHANGELOG.md
  packages/web3-errors/src/error_codes.ts
  packages/web3-errors/src/errors/generic_errors.ts
  packages/web3-eth-contract/src/contract.ts
  packages/web3-eth/package.json
  packages/web3/CHANGELOG.md
  packages/web3/src/types.ts
  packages/web3/src/web3.ts
  packages/web3/test/unit/web3.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Subscribe to context events if contractContext is instanceof Web3Context
  packages/web3-eth-contract/src/contract.ts
  packages/web3-eth-contract/test/integration/contract_defaults.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update CHANGELOGs
  CHANGELOG.md
  packages/web3-eth-contract/CHANGELOG.md
Due: prettier --write

Add additional expect to test
  packages/web3-eth-contract/test/integration/contract_defaults.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

latest vs safe test
  packages/web3-utils/src/validation.ts
  packages/web3-utils/test/fixtures/validation.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Add web3-core requestManager and subscriptionManager docs (#5764)
  packages/web3-core/src/web3_context.ts
  packages/web3-core/src/web3_request_manager.ts
  packages/web3-core/src/web3_subscription_manager.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Subscribe to context events if `contractContext instanceof Web3Context` (#5833)
  CHANGELOG.md
  packages/web3-eth-contract/CHANGELOG.md
  packages/web3-eth-contract/src/contract.ts
  packages/web3-eth-contract/test/integration/contract_defaults.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

updated compare blocks
  packages/web3-utils/src/validation.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

updated tests
  packages/web3-utils/test/fixtures/validation.ts
  packages/web3-validator/test/fixtures/validation.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

change log update
  packages/web3-utils/CHANGELOG.md
Due: prettier --write

migration guide update
  docs/docs/guides/web3_migration_guide/web3_utils_migration_guide.md
Due: prettier --write

Add docs for converters
  packages/web3-utils/src/converters.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

code cov integration for unit tests
  .github/workflows/build.yml
Due: none

removed cov threshold
  templates/jest.config.js.tmpl
Due: none

code cov token
  .github/workflows/build.yml
Due: none

by default collect coverage
  packages/web3-eth/test/unit/jest.config.js
Due: prettier --write

codecov with existing unittests
  .github/workflows/build.yml
Due: none

jest config
  packages/web3-core/test/unit/jest.config.js
  packages/web3-errors/test/unit/jest.config.js
  packages/web3-eth-abi/test/unit/jest.config.js
  packages/web3-eth-accounts/test/unit/jest.config.js
  packages/web3-eth-contract/test/unit/jest.config.js
  packages/web3-eth-ens/test/unit/jest.config.js
  packages/web3-eth-iban/test/unit/jest.config.js
  packages/web3-eth-personal/test/unit/jest.config.js
  packages/web3-net/test/unit/jest.config.js
  packages/web3-providers-http/test/unit/jest.config.js
  packages/web3-providers-ipc/test/unit/jest.config.js
  packages/web3-providers-ws/test/unit/jest.config.js
  packages/web3-rpc-methods/test/unit/jest.config.js
  packages/web3-utils/test/unit/jest.config.js
  packages/web3-validator/test/unit/jest.config.js
  packages/web3/test/unit/jest.config.js
Due: prettier --write

only analyze coverage for n v16 unit test runs
  .github/workflows/build.yml
Due: none

Path conditions:
  prettier --write: ((any of: *.js) or (any of: *.ts)) or (any of: *.{json,md})
  eslint --rulesdir ./tools/eslint-config-web3-base/rules: any of: *.ts
