Repository web3/web3.js: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

.lintstagedrc.json:

{
	"*.js": ["prettier --write"],
	"*.ts": ["prettier --write", "eslint --rulesdir ./tools/eslint-config-web3-base/rules"],
	"*.{json,md}": ["prettier --write"]
}

:art: Improve the code as per feedback
  packages/web3-common/src/formatters.ts
  packages/web3-common/src/web3_base_provider.ts
  packages/web3-common/test/unit/formatters.test.ts
  packages/web3-eth-iban/src/iban.ts
  packages/web3-eth-iban/src/index.ts
  packages/web3-eth-iban/test/unit/iban.test.ts
  packages/web3-eth-personal/src/index.ts
  packages/web3-eth-personal/src/personal.ts
  packages/web3-net/src/index.ts
  packages/web3-net/src/net.ts
  packages/web3-net/test/unit/rpc_method_wrappers.test.ts
  packages/web3-net/test/unit/web3_net_methods.test.ts
  packages/web3/src/web3.ts
  scripts/system_tests_utils.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

:art: Improve code with feedback
  packages/web3-eth-personal/test/unit/eth_personal.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

:art: Fix some typo in refactoring
  packages/web3-eth-personal/test/integration/personal.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

refactor static methods of bnwrapped
  packages/web3-utils/src/utils.js
Due: prettier --write

updating web3 utils BN (#5132)
  packages/web3-utils/src/utils.js
Due: prettier --write

Init web3_eth_migration_guide
  docs/docs/guides/web3_eth_migration_guide.md
Due: prettier --write

WIP migration guide
  docs/docs/guides/web3_eth_migration_guide.md
Due: prettier --write

move setProvider parameters before examples
  packages/web3/src/index.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

:building_construction: Update the default return format to bigint
  packages/web3-common/src/formatter.ts
  packages/web3-eth-ens/src/ens.ts
  packages/web3-eth-personal/test/unit/eth_personal.test.ts
  packages/web3-eth/src/constants.ts
  packages/web3-eth/src/rpc_method_wrappers.ts
  packages/web3-eth/src/utils/detect_transaction_type.ts
  packages/web3-eth/src/utils/get_transaction_gas_pricing.ts
  packages/web3-eth/src/utils/transaction_builder.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/send_transaction.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

:white_check_mark: Fix all tests for web3-eth
  packages/web3-common/src/formatter.ts
  packages/web3-common/src/formatters.ts
  packages/web3-eth-contract/src/contract.ts
  packages/web3-eth/src/constants.ts
  packages/web3-eth/src/rpc_method_wrappers.ts
  packages/web3-eth/src/types.ts
  packages/web3-eth/src/utils/detect_transaction_type.ts
  packages/web3-eth/src/utils/get_transaction_gas_pricing.ts
  packages/web3-eth/src/utils/transaction_builder.ts
  packages/web3-eth/src/web3_eth.ts
  packages/web3-eth/test/fixtures/detect_transaction_type.ts
  packages/web3-eth/test/fixtures/format_transaction.ts
  packages/web3-eth/test/integration/defaults.test.ts
  packages/web3-eth/test/integration/helper.ts
  packages/web3-eth/test/integration/rpc.test.ts
  packages/web3-eth/test/integration/watch_transaction.test.ts
  packages/web3-eth/test/integration/web3_eth/estimate_gas.test.ts
  packages/web3-eth/test/integration/web3_eth/send_signed_transaction.test.ts
  packages/web3-eth/test/integration/web3_eth/send_transaction.test.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/call.test.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/estimate_gas.test.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/get_balance.test.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/get_block.test.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/get_block_transaction_count.test.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/get_block_uncle_count.test.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/get_code.test.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/get_fee_history.test.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/get_proof.test.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/get_storage_at.test.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/get_transaction_count.test.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/get_transaction_from_block.test.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/get_uncle.test.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/send_transaction.test.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/sign_transaction.test.ts
  packages/web3-validator/src/validation/block.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

:test_tube: Fix few eth tests
  packages/web3-eth/test/unit/rpc_method_wrappers/send_transaction.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Remove 'not implemented' comments
  packages/web3/src/index.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

:art: Add more test cases for the validator
  packages/web3-validator/src/validation/numbers.ts
  packages/web3-validator/test/fixtures/validation.ts
  packages/web3-validator/test/unit/validation/block.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update packages/web3/src/index.ts
  packages/web3/src/index.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

:white_check_mark: Fix tests for eth-personal
  packages/web3-eth-personal/src/rpc_method_wrappers.ts
  packages/web3-eth-personal/test/unit/eth_personal.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

:white_check_mark: Fix contracts tests
  packages/web3-eth-contract/test/integration/contract_methods.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Change headers and add params & returns
  packages/web3/src/index.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix workflow
  .github/workflows/build.yml
  package.json
  packages/web3/package.json
  scripts/test-runner.sh
Due: prettier --write

rename command in script
  .github/workflows/build.yml
  package.json
  packages/web3/package.json
  packages/web3/test/integration/main_web3.test.ts
  scripts/test-runner.sh
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

:sparkles: Add optional provider support to web3
  packages/web3-core/src/utils.ts
  packages/web3-core/src/web3_context.ts
  packages/web3-core/src/web3_request_manager.ts
  packages/web3-core/src/web3_subscription_manager.ts
  packages/web3-eth-contract/src/contract.ts
  packages/web3-eth/src/web3_eth.ts
  packages/web3/src/web3.ts
  packages/web3/test/integration/main_web3.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

:art: Update the webpack to build per package
  package.json
  packages/web3-validator/package.json
  packages/web3-validator/webpack.config.js
  packages/web3/package.json
  packages/web3/webpack.config.js
  webpack.base.config.js
  webpackprod.config.js
  yarn.lock
Due: prettier --write

Fix failing test, due to new transaction builder
  packages/web3-eth/test/integration/defaults.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Change parameter type and format transaction to default type (#5034)
  packages/web3-eth/src/utils/transaction_builder.ts
  packages/web3-eth/test/integration/defaults.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Add initial web3 migration guide
  docs/docs/guides/web3_migration_guide.md
Due: prettier --write

test
  package.json
  packages/web3/test/integration/ipc.test.ts
  scripts/geth.sh
  scripts/test-runner.sh
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Add BatchRequest
  docs/docs/guides/web3_migration_guide.md
Due: prettier --write

changelog update and npm i
  CHANGELOG.md
  package-lock.json
Due: prettier --write

4x webpack build config (#5111)
  package.json
  webpackprod.config.js
  yarn.lock
Due: prettier --write

Change null to undefined
  packages/web3/src/index.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix Promise in Accounts.signTransaction() throwing errors that cannot be caught #4724
  CHANGELOG.md
  packages/web3-eth-accounts/src/index.js
  test/eth.accounts.signTransaction.js
Due: prettier --write

geth binary backend
  .github/workflows/build.yml
  .gitignore
  package.json
  packages/web3-core/src/web3_request_manager.ts
  packages/web3/package.json
  scripts/env.sh
  scripts/geth.sh
  scripts/ipc.sh
  scripts/test-runner.sh
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

merge with 4.x
  yarn.lock
Due: none

:see_no_evil: Ignore the webpack config from linting
  packages/web3/.eslintignore
Due: none
