Repository web3/web3.js: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

.lintstagedrc.json:

{
	"*.js": ["prettier --write"],
	"*.ts": ["prettier --write", "eslint --rulesdir ./tools/eslint-config-web3-base/rules"],
	"*.{json,md}": ["prettier --write"]
}

Formatting fixes for recently updated pages
  docs/docs/guides/getting_started/introduction.md
  docs/docs/guides/getting_started/quickstart.md
  docs/docs/guides/web3_providers_guide/index.md
Due: prettier --write

run prettier
  packages/web3-utils/src/converters.ts
  packages/web3-utils/src/formatter.ts
  packages/web3-utils/src/hash.ts
  packages/web3-utils/src/promise_helpers.ts
  packages/web3-utils/src/socket_provider.ts
  packages/web3-utils/src/web3_eip1193_provider.ts
  packages/web3-utils/test/fixtures/converters.ts
  packages/web3-utils/test/fixtures/formatter.ts
  packages/web3-utils/test/fixtures/hash.ts
  packages/web3-utils/test/fixtures/json_rpc.ts
  packages/web3-utils/test/fixtures/string_manipulation.ts
  packages/web3-utils/test/unit/chunk_response_parser.test.ts
  packages/web3-utils/test/unit/converters.test.ts
  packages/web3-utils/test/unit/formatter.test.ts
  packages/web3-utils/test/unit/hash.test.ts
  packages/web3-utils/test/unit/json_rpc.test.ts
  packages/web3-utils/test/unit/socket_provider.test.ts
  packages/web3-utils/test/unit/web3_deferred_promise.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update gas tests
  packages/web3/test/e2e/estimate_gas.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Contract Tutorial Fixes
  docs/docs/guides/getting_started/introduction.md
  docs/docs/guides/smart_contracts/mastering_smart_contracts.md
  docs/docs/guides/smart_contracts/smart_contracts_guide.md
Due: prettier --write

add numberToBytes, concat(Bytes[]) and contractFunctionId
  docs/docs/guides/web3_utils_module/mastering_web3-utils.md
  packages/web3-utils/src/converters.ts
  packages/web3-utils/src/string_manipulation.ts
  packages/web3-utils/test/fixtures/converters.ts
  packages/web3-utils/test/unit/converters.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Remove .snyk files (#7073)
  docs/.snyk
  packages/web3/.snyk
  tools/eslint-config-base-web3/.snyk
Due: none

remove unintended cases for formatter and convert
  packages/web3-utils/test/unit/formatter.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix: upgrade multiple dependencies with Snyk
  docs/package.json
  docs/yarn.lock
Due: prettier --write

100% Coverage web3-utills (#7042)
  .gitignore
  packages/web3-utils/src/converters.ts
  packages/web3-utils/src/formatter.ts
  packages/web3-utils/src/hash.ts
  packages/web3-utils/src/json_rpc.ts
  packages/web3-utils/src/promise_helpers.ts
  packages/web3-utils/src/socket_provider.ts
  packages/web3-utils/test/fixtures/converters.ts
  packages/web3-utils/test/fixtures/formatter.ts
  packages/web3-utils/test/fixtures/hash.ts
  packages/web3-utils/test/fixtures/json_rpc.ts
  packages/web3-utils/test/fixtures/string_manipulation.ts
  packages/web3-utils/test/unit/chunk_response_parser.test.ts
  packages/web3-utils/test/unit/converters.test.ts
  packages/web3-utils/test/unit/formatter.test.ts
  packages/web3-utils/test/unit/hash.test.ts
  packages/web3-utils/test/unit/index.test.ts
  packages/web3-utils/test/unit/json_rpc.test.ts
  packages/web3-utils/test/unit/objects.test.ts
  packages/web3-utils/test/unit/promise_helpers.test.ts
  packages/web3-utils/test/unit/socket_provider.test.ts
  packages/web3-utils/test/unit/web3_deferred_promise.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Hardhat node can use default automine behavior
  docs/docs/guides/smart_contracts/smart_contracts_guide.md
Due: prettier --write

fix: tools/eslint-config-base-web3/package.json to reduce vulnerabilities
  tools/eslint-config-base-web3/package.json
Due: prettier --write

Changes to Header Nav
  docs/docusaurus.config.js
Due: prettier --write

Formatting fixes for recently updated pages (#7072)
  docs/docs/guides/getting_started/introduction.md
  docs/docs/guides/getting_started/quickstart.md
  docs/docs/guides/web3_providers_guide/index.md
Due: prettier --write

Remove private keys
  docs/docs/guides/smart_contracts/smart_contracts_guide.md
Due: prettier --write

update gas tests (#7074)
  packages/web3/test/e2e/estimate_gas.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix(docs): contract-tutorial-hardhat-node (#7076)
  docs/docs/guides/getting_started/introduction.md
  docs/docs/guides/smart_contracts/mastering_smart_contracts.md
  docs/docs/guides/smart_contracts/smart_contracts_guide.md
Due: prettier --write

Changes to Header Nav (#7082)
  docs/docusaurus.config.js
Due: prettier --write

More Improvements to the Introduction Page
  docs/docs/guides/getting_started/introduction.md
  docs/docusaurus.config.js
Due: prettier --write

Move Features of Web3.js v4 Section Back to Original Location
  docs/docs/guides/getting_started/introduction.md
Due: prettier --write

Fix Broken Link
  docs/docs/guides/getting_started/introduction.md
Due: prettier --write

fix(docs): introduction (#7083)
  docs/docs/guides/getting_started/introduction.md
  docs/docusaurus.config.js
Due: prettier --write

Simplify Contracts Tutorial by Removing Use of Hardhat Plugin
  docs/docs/guides/smart_contracts/smart_contracts_guide.md
Due: prettier --write

Remove Provider Tutorials
  docs/docs/guides/web3_providers_guide/http.md
  docs/docs/guides/web3_providers_guide/injected_provider.md
  docs/docs/guides/web3_providers_guide/ipc.md
  docs/docs/guides/web3_providers_guide/truffle.md
  docs/docs/guides/web3_providers_guide/websocket.md
Due: prettier --write

Update index.md
  docs/docs/guides/web3_providers_guide/index.md
Due: prettier --write

add web3 packages references in context
  packages/web3-core/src/web3_context.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

call TXM in sendTx
  packages/web3-eth/src/rpc_method_wrappers.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Transaction Middleware
  packages/web3-eth/src/types.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

call txm
  packages/web3-eth/src/web3_eth.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

name fix
  tools/web3-plugin-example/src/custom_rpc_methods.ts
  tools/web3-plugin-example/src/middleware.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

name fix 2
  tools/web3-plugin-example/src/request_manager_middleware.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

txm example
  tools/web3-plugin-example/src/transaction_middleware.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

txm plugin
  tools/web3-plugin-example/src/transaction_middleware_plugin.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

unit tests
  tools/web3-plugin-example/test/unit/request_manager_middleware.test.ts
  tools/web3-plugin-example/test/unit/transaction_middleware.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

dependency
  tools/web3-plugin-example/package.json
Due: prettier --write

lint fix
  tools/web3-plugin-example/src/transaction_middleware.ts
  tools/web3-plugin-example/src/transaction_middleware_plugin.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

test data
  tools/web3-plugin-example/test/unit/fixtures/transactions_data.ts
  tools/web3-plugin-example/test/unit/transaction_middleware.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

lint fix
  tools/web3-plugin-example/src/transaction_middleware.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fixed lint and unit test
  tools/web3-plugin-example/src/transaction_middleware_plugin.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Updates to Mastering (Introduction to) Accounts & Wallets
  docs/docs/guides/wallet/image.jpeg
  docs/docs/guides/wallet/index.md
Due: prettier --write
