Repository web3/web3.js: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

test
  scripts/ganache.sh
Due: none

test
  packages/web3-eth-accounts/package.json
Due: prettier --write

remove accounts browsers tests
  packages/web3-eth-accounts/package.json
Due: prettier --write

try github actions for cypress
  .github/workflows/build.yml
Due: none

try cypress parallel
  .github/workflows/build.yml
Due: none

revert
  .github/workflows/build.yml
Due: none

remove comments
  scripts/system_tests_utils.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update `signTransaction` to Consistently Return `SignedTransactionInfoAPI` (#5312)
  packages/web3-eth/src/rpc_method_wrappers.ts
  packages/web3-eth/src/utils/decode_signed_transaction.ts
  packages/web3-eth/src/utils/detect_transaction_type.ts
  packages/web3-eth/test/integration/web3_eth/send_signed_transaction.test.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/fixtures/sign_transaction.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/sign_transaction.test.ts
  packages/web3-types/src/eth_execution_api.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Change message
  packages/web3/src/web3.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

docs: Fix example of tx usage
  docs/web3-eth.rst
Due: none

chore: update changelog
  CHANGELOG.md
Due: prettier --write

update lerna.json
  lerna.json
Due: prettier --write

update changelog
  CHANGELOG.md
Due: prettier --write

Update contract class to not mutate options object (#5394)
  CHANGELOG.md
  packages/web3-eth-contract/src/index.js
  test/contract.js
Due: prettier --write

Update packages/web3-eth-accounts/test/integration/account.test.ts
  packages/web3-eth-accounts/test/integration/account.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Add console warn for empty web3js construction (#5392)
  packages/web3/src/web3.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Remove unneeded npm scripts
  packages/web3-plugin-example/package.json
Due: prettier --write

Remove webpack config
  packages/web3-plugin-example/webpack.config.js
Due: prettier --write

Init ExistingPluginNamespaceError
  packages/web3-errors/src/error_codes.ts
  packages/web3-errors/src/errors/generic_errors.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

registerPluging - throw error is namespace not undefined
  packages/web3-core/src/web3_context.ts
  packages/web3-core/test/unit/web3_context.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

updating build ver
  .github/workflows/build.yml
Due: none

fix: web3 migration guide organisation
  docs/docs/guides/web3_migration_guide/abi_migration_guide.md
  docs/docs/guides/web3_migration_guide/accounts_migration_guide.md
  docs/docs/guides/web3_migration_guide/contracts_migration_guide.md
  docs/docs/guides/web3_migration_guide/index.md
  docs/docs/guides/web3_migration_guide/net_migration_guide.md
  docs/docs/guides/web3_migration_guide/personal_migration_guide.md
  docs/docs/guides/web3_migration_guide/providers_migration_guide.md
  docs/docs/guides/web3_migration_guide/subscribe_migration_guide.md
  docs/docs/guides/web3_migration_guide/web3_eth_migration_guide.md
  docs/docs/guides/web3_migration_guide/web3_utils_migration_guide.md
Due: prettier --write

chore: change title
  docs/docs/guides/web3_migration_guide/index.md
Due: prettier --write

Throw error on broken links in docs (#5385)
  docs/docusaurus.config.js
Due: prettier --write

fixes
  packages/web3-eth-accounts/src/wallet.ts
  scripts/ganache.sh
  scripts/system_tests_utils.ts
  scripts/test-runner.sh
  templates/cypress.config.js
  templates/cypress/plugins/index.js
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix
  scripts/system_tests_utils.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Add initial setup
  packages/web3-eth-ens/package.json
  packages/web3-eth-ens/test/fixtures/ens/ENSRegistry.json
  packages/web3-eth-ens/test/fixtures/setupENS.ts
  packages/web3-eth-ens/test/integration/ens.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Add system utils symlink
  packages/web3-eth-ens/test/fixtures/system_tests_utils.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update lerna.json (#5403)
  CHANGELOG.md
  lerna.json
Due: prettier --write

Update Web3 to use default and named exports
  packages/web3-plugin-example/src/index.ts
  packages/web3/src/index.ts
  packages/web3/src/web3.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

github actions update node version - changelog update (#5361)
  CHANGELOG.md
Due: prettier --write

fix a test case at web3-eth integration default.test.ts
  packages/web3-eth/test/integration/defaults.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fixes
  packages/web3-eth-contract/test/integration/contract_defaults.test.ts
  packages/web3-eth-contract/test/integration/contract_erc20.test.ts
  packages/web3-eth/test/integration/subscription_logs.test.ts
  packages/web3/package.json
  packages/web3/test/integration/web3.accounts.test.ts
  templates/cypress.config.js
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

add removeAllListeners after finish testing ''watch polling transaction''
  packages/web3-eth/test/integration/watch_transaction_polling.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix
  packages/web3/package.json
Due: prettier --write

Path conditions:
  prettier --write: ((any of: *.js) or (any of: *.ts)) or (any of: *.{json,md})
  eslint --rulesdir ./tools/eslint-config-web3-base/rules: any of: *.ts
