Repository web3/web3.js: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

test
  .github/workflows/build.yml
Due: none

debug
  packages/web3/test/e2e/sepolia/get_storage_at.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

add eslint
  packages/web3/test/e2e/sepolia/get_storage_at.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update tests
  .github/workflows/e2e_network_tests.yml
  packages/web3/test/e2e/sepolia/call.test.ts
  packages/web3/test/e2e/sepolia/get_storage_at.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update node ver
  .github/workflows/e2e_network_tests.yml
Due: none

test node 20
  .github/workflows/build.yml
Due: none

fix cache
  .github/workflows/build.yml
Due: none

run each package integration tests in parallel
  packages/web3-eth-contract/package.json
  packages/web3-eth-iban/package.json
  packages/web3-eth/package.json
  packages/web3-eth/test/integration/rpc.test.ts
  scripts/gen_accounts.js
  scripts/system_tests_utils.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix
  scripts/system_tests_utils.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

all package parallel test
  package.json
Due: prettier --write

removed jsx live (docusaurus) and added codesandbox
  docs/docs/guides/getting_started/getting_started.md
Due: prettier --write

fix
  package.json
Due: prettier --write

add stop script
  scripts/hardhat.sh
Due: none

Integrating Hardhat with Web3.js
  docs/docs/guides/hardhat-guide/_category_.yml
  docs/docs/guides/hardhat-guide/index.md
  docs/package.json
  docs/yarn.lock
Due: prettier --write

debug
  packages/web3-eth-abi/src/utils.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update balance
  packages/web3/test/e2e/get_balance.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update
  packages/web3/test/e2e/get_balance.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update address
  packages/web3/test/e2e/get_balance.test.ts
  packages/web3/test/e2e/get_transaction_count.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix lint
  packages/web3/test/e2e/get_balance.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix test error
  packages/web3/test/e2e/get_balance.test.ts
  packages/web3/test/e2e/get_transaction_count.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update addresses
  .github/workflows/e2e_network_tests.yml
  packages/web3-eth-abi/src/utils.ts
  packages/web3/test/e2e/get_balance.test.ts
  packages/web3/test/e2e/get_transaction_count.test.ts
  packages/web3/test/e2e/sepolia/get_storage_at.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update lint
  packages/web3/test/e2e/get_balance.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update estimate_gas values
  packages/web3/test/e2e/estimate_gas.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix error
  packages/web3/test/e2e/estimate_gas.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update address
  packages/web3/test/e2e/sepolia/call.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update build
  .github/workflows/build.yml
Due: none

update flow
  .github/workflows/build.yml
  scripts/hardhat.sh
Due: none

update buiild
  .github/workflows/build.yml
Due: none

update build
  scripts/test-runner.sh
Due: none

fix
  scripts/gen_accounts.js
  scripts/system_tests_utils.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

release 4.4.0 (#6709)
  .github/workflows/e2e_network_tests.yml
  CHANGELOG.md
  packages/web3-eth-abi/CHANGELOG.md
  packages/web3-eth-abi/package.json
  packages/web3-eth-accounts/CHANGELOG.md
  packages/web3-eth-accounts/package.json
  packages/web3-eth-contract/CHANGELOG.md
  packages/web3-eth-contract/package.json
  packages/web3-eth/CHANGELOG.md
  packages/web3-eth/package.json
  packages/web3-utils/CHANGELOG.md
  packages/web3-utils/package.json
  packages/web3-validator/CHANGELOG.md
  packages/web3-validator/package.json
  packages/web3/CHANGELOG.md
  packages/web3/package.json
  packages/web3/src/version.ts
  packages/web3/test/e2e/estimate_gas.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update tests
  packages/web3-net/test/integration/web3_net.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

return runInBand
  packages/web3-eth-contract/package.json
  packages/web3-eth/package.json
  scripts/gen_accounts.js
Due: prettier --write

remove type checking. run in parallel
  package.json
  packages/web3-eth-contract/test/config/jest.config.js
  packages/web3-eth-personal/test/config/jest.config.js
  packages/web3-net/test/config/jest.config.js
  packages/web3-providers-ipc/test/config/jest.config.js
  packages/web3-utils/test/config/jest.config.js
  packages/web3/test/config/jest.config.js
  templates/jest.config.js.tmpl
Due: prettier --write

remove clean
  .github/workflows/build.yml
Due: none

Revert "remove type checking. run in parallel"
  package.json
  packages/web3-eth-contract/test/config/jest.config.js
  packages/web3-eth-personal/test/config/jest.config.js
  packages/web3-net/test/config/jest.config.js
  packages/web3-providers-ipc/test/config/jest.config.js
  packages/web3-utils/test/config/jest.config.js
  packages/web3/test/config/jest.config.js
  templates/jest.config.js.tmpl
Due: prettier --write

fix deprecation warning
  packages/web3-core/test/config/jest.config.js
  packages/web3-eth-abi/test/config/jest.config.js
  packages/web3-eth-contract/test/config/jest.config.js
  packages/web3-eth-personal/test/config/jest.config.js
  packages/web3-net/test/config/jest.config.js
  packages/web3-providers-ipc/test/config/jest.config.js
  packages/web3-types/test/config/jest.config.js
  packages/web3-utils/test/config/jest.config.js
  packages/web3-validator/test/config/jest.config.js
  packages/web3/test/cjs_black_box/jest.config.js
  packages/web3/test/config/jest.config.js
  packages/web3/test/esm_black_box/jest.config.js
  templates/jest.config.js.tmpl
Due: prettier --write

fix
  .github/workflows/build.yml
Due: none

clean
  .github/workflows/build.yml
Due: none

revert
  package.json
  packages/web3-eth-contract/package.json
  scripts/jest.config.js
  tools/web3-plugin-example/test/config/jest.config.js
Due: prettier --write

Path conditions:
  prettier --write: ((any of: *.js) or (any of: *.ts)) or (any of: *.{json,md})
  eslint --rulesdir ./tools/eslint-config-web3-base/rules: any of: *.ts
