Repository web3/web3.js: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

adding eventlistener threshold warning
  packages/web3-core/src/web3_config.ts
  packages/web3-core/src/web3_event_emitter.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

try for an issue in the pipeline
  packages/web3-eth/test/integration/defaults.test.ts
  packages/web3-eth/test/integration/helper.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

try for an issue in the pipeline
  packages/web3-eth/test/integration/watch_transaction_polling.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

try for an issue in the pipeline
  packages/web3-eth/test/integration/defaults.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

tiny fix for a typing mismatch
  packages/web3-eth/test/integration/watch_transaction_polling.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

try for an issue in the pipeline
  packages/web3-eth/test/integration/helper.ts
  packages/web3-eth/test/integration/watch_transaction_polling.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

try for an issue in the pipeline
  packages/web3-eth/test/integration/helper.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Add ipc provider
  packages/web3-eth-ens/test/integration/ens.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update docs/index.rst
  docs/index.rst
Due: none

Update packages/web3/README.md
  packages/web3/README.md
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

4.x info messages in 1.x (#5412)
  README.md
  docs/index.rst
  packages/web3-bzz/README.md
  packages/web3-core-helpers/README.md
  packages/web3-core-method/README.md
  packages/web3-core-promievent/README.md
  packages/web3-core-requestmanager/README.md
  packages/web3-core-subscriptions/README.md
  packages/web3-core/README.md
  packages/web3-eth-abi/README.md
  packages/web3-eth-accounts/README.md
  packages/web3-eth-contract/README.md
  packages/web3-eth-ens/README.md
  packages/web3-eth-iban/README.md
  packages/web3-eth-personal/README.md
  packages/web3-eth/README.md
  packages/web3-net/README.md
  packages/web3-providers-http/README.md
  packages/web3-providers-ipc/README.md
  packages/web3-providers-ws/README.md
  packages/web3-shh/README.md
  packages/web3-utils/README.md
  packages/web3/README.md
  packages/web3/package.json
Due: prettier --write

return undefined for safe vs non zero number
  packages/web3-utils/src/index.js
Due: prettier --write

additional test cases
  test/utils.compareBlockNumbers.js
Due: prettier --write

try for an issue in the pipeline
  packages/web3-eth/test/integration/defaults.test.ts
  packages/web3-eth/test/integration/helper.ts
  packages/web3-eth/test/integration/watch_transaction_polling.test.ts
  packages/web3-eth/test/integration/web3_eth/send_signed_transaction.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Wait a bit before closing a connection That is to ensure the connection does not have a pending data that could cause an error if written after closing the connection.
  scripts/system_tests_utils.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

tiny touch for tests at web3-eth
  packages/web3-eth/test/integration/watch_transaction_polling.test.ts
  scripts/system_tests_utils.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Add example entry back
  CHANGELOG.md
Due: prettier --write

Create dedicated bytecode files for tests
  packages/web3-eth-ens/src/abi/ens/ENSRegistry.ts
  packages/web3-eth-ens/src/abi/ens/PublicResolver.ts
  packages/web3-eth-ens/test/fixtures/ens/bytecode/DummyNameWrapperBytecode.ts
  packages/web3-eth-ens/test/fixtures/ens/bytecode/ENSRegistryBytecode.ts
  packages/web3-eth-ens/test/fixtures/ens/bytecode/PublicResolverBytecode.ts
  packages/web3-eth-ens/test/integration/ens.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update packages/web3-utils/src/index.js
  packages/web3-utils/src/index.js
Due: prettier --write

Merge block tags support 5199 (#5410)
  CHANGELOG.md
  docs/web3-eth-contract.rst
  docs/web3-eth.rst
  packages/web3-core-helpers/src/formatters.js
  packages/web3-core/types/index.d.ts
  packages/web3-utils/src/index.js
  test/eth.call.js
  test/eth.getBalance.js
  test/eth.getBlock.js
  test/eth.getBlockTransactionCount.js
  test/eth.getCode.js
  test/eth.getProof.js
  test/eth.getStorageAt.js
  test/formatters.inputDefaultBlockFormatter.js
  test/formatters.inputLogFormatter.js
  test/utils.compareBlockNumbers.js
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Adding Twitter button (#5415)
  README.md
Due: prettier --write

docs: Fix example of tx usage (#5402)
  CHANGELOG.md
  docs/web3-eth.rst
Due: prettier --write

fixing tests
  packages/web3-core/src/web3_event_emitter.ts
  packages/web3-eth/test/integration/defaults.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update context
  packages/web3-core/test/unit/web3_context.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update config
  packages/web3-core/src/web3_config.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

defaultcommon now added
  packages/web3-eth/src/utils/transaction_builder.ts
  packages/web3-eth/test/unit/default_transaction_builder.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

removing testcases that break
  packages/web3-eth/test/integration/defaults.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

replace any with unknown at a suggested code for Web3Context
  packages/web3-core/src/web3_context.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

npm i and CHANGELOG update for 1.8.0 release
  CHANGELOG.md
  package-lock.json
Due: prettier --write

Add function comment
  packages/web3-eth/src/utils/try_send_transaction.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix
  packages/web3-eth/src/web3_subscriptions.ts
  packages/web3-eth/test/integration/web3_eth/send_signed_transaction.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update defaultcommon
  packages/web3-eth/test/integration/defaults.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Init web3-test-utils and realted errors
  packages/web3-errors/src/error_codes.ts
  packages/web3-errors/src/errors/test_utils_errors.ts
  packages/web3-test-utils/.eslintignore
  packages/web3-test-utils/.eslintrc.js
  packages/web3-test-utils/.gitignore
  packages/web3-test-utils/.npmignore
  packages/web3-test-utils/.npmrc
  packages/web3-test-utils/.prettierignore
  packages/web3-test-utils/.prettierrc.json
  packages/web3-test-utils/CHANGELOG.md
  packages/web3-test-utils/README.md
  packages/web3-test-utils/assets/logo/web3js.ai
  packages/web3-test-utils/assets/logo/web3js.jpg
  packages/web3-test-utils/assets/logo/web3js.svg
  packages/web3-test-utils/package.json
  packages/web3-test-utils/src/defaults.ts
  packages/web3-test-utils/src/get_env.ts
  packages/web3-test-utils/src/index.ts
  packages/web3-test-utils/src/is_engine.ts
  packages/web3-test-utils/src/is_provider.ts
  packages/web3-test-utils/src/jest_utils.ts
  packages/web3-test-utils/src/types.ts
  packages/web3-test-utils/src/websocket_utils.ts
  packages/web3-test-utils/test/.eslintrc.js
  packages/web3-test-utils/test/config/jest.config.js
  packages/web3-test-utils/test/config/setup.js
  packages/web3-test-utils/test/integration/jest.config.js
  packages/web3-test-utils/test/integration/setup.js
  packages/web3-test-utils/test/tsconfig.json
  packages/web3-test-utils/test/unit/constructor.test.ts
  packages/web3-test-utils/test/unit/jest.config.js
  packages/web3-test-utils/tsconfig.json
  packages/web3-test-utils/tsdoc.json
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Path conditions:
  prettier --write: ((any of: *.js) or (any of: *.ts)) or (any of: *.{json,md})
  eslint --rulesdir ./tools/eslint-config-web3-base/rules: any of: *.ts
