Repository web3/web3.js: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

add settimeout
  test/websocket.ganache.js
Due: prettier --write

fix types
  packages/web3/src/types.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

updating tests
  test/websocket.ganache.js
Due: prettier --write

update reconnect delay
  test/websocket.ganache.js
Due: prettier --write

add reconnect
  test/websocket.ganache.js
Due: prettier --write

add console
  test/websocket.ganache.js
Due: prettier --write

update deff
  test/websocket.ganache.js
Due: prettier --write

add try catch
  test/websocket.ganache.js
Due: prettier --write

update
  test/websocket.ganache.js
Due: prettier --write

fix ws test
  scripts/system_tests_utils.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix
  scripts/system_tests_utils.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix import `AbiEventFragment`
  packages/web3-eth-contract/test/fixtures/encoding.ts
  packages/web3-eth-contract/test/unit/encoding.ts
  packages/web3-eth/test/integration/helper.ts
  packages/web3-eth/test/integration/rpc.test.ts
  packages/web3-eth/test/integration/subscription_logs.test.ts
  packages/web3-eth/test/integration/subscription_logs_block.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

moved `TypedArray` to `web3-types`
  packages/web3-types/src/primitives_types.ts
  packages/web3-utils/src/objects.ts
  packages/web3-validator/src/validation/object.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update 2
  test/websocket.ganache.js
Due: prettier --write

update scripts
  scripts/e2e.ganache.core.sh
Due: none

remove try
  test/websocket.ganache.js
Due: prettier --write

run test
  test/websocket.ganache.js
Due: prettier --write

change eth to currentProvider
  test/websocket.ganache.js
Due: prettier --write

remove import
  test/websocket.ganache.js
Due: prettier --write

rename `Web3DeferredPromise` interface to `Web3DeferredPromiseInterface`
  packages/web3-types/src/web3_base_provider.ts
  packages/web3-types/src/web3_deferred_promise_type.ts
  packages/web3-utils/src/web3_deferred_promise.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

s
  test/websocket.ganache.js
Due: prettier --write

do a flat export for `web3-errors` and `web3-types` at `web3` package
  packages/web3/src/index.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

rename `Web3Error` to `BaseWeb3Error` and rename `Web3ErrorInterface` to `Web3Error`
  packages/web3-errors/src/errors/account_errors.ts
  packages/web3-errors/src/errors/connection_errors.ts
  packages/web3-errors/src/errors/contract_errors.ts
  packages/web3-errors/src/errors/core_errors.ts
  packages/web3-errors/src/errors/ens_errors.ts
  packages/web3-errors/src/errors/generic_errors.ts
  packages/web3-errors/src/errors/provider_errors.ts
  packages/web3-errors/src/errors/response_errors.ts
  packages/web3-errors/src/errors/rpc_errors.ts
  packages/web3-errors/src/errors/transaction_errors.ts
  packages/web3-errors/src/web3_error_base.ts
  packages/web3-errors/test/unit/errors.test.ts
  packages/web3-types/src/error_types.ts
  packages/web3-types/src/web3_base_provider.ts
  packages/web3-validator/src/errors.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Spelling Mistake Corrected (#5784)
  docs/web3.rst
Due: none

Fix: minor typos (#5734)
  docs/glossary.rst
  docs/web3-bzz.rst
  docs/web3-eth-abi.rst
Due: none

Revert mining period
  scripts/geth_binary.sh
Due: none

Revert "Remove setTimeouts from helper functions"
  packages/web3-eth/test/integration/helper.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

updated schema
  packages/web3-eth/src/rpc_method_wrappers.ts
  packages/web3-eth/src/schemas.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

changelog
  CHANGELOG.md
  packages/web3/CHANGELOG.md
Due: prettier --write

added log
  CHANGELOG.md
  packages/web3/CHANGELOG.md
Due: prettier --write

Try incresing geth gas limit
  scripts/geth_binary.sh
Due: none

Revert "updated current release process (#5767)"
  RELEASE.md
Due: prettier --write

Remove setTimeouts from helper functions
  packages/web3-eth/test/integration/helper.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

add pr number
  CHANGELOG.md
  packages/web3/CHANGELOG.md
Due: prettier --write

5704 memory leak in web3.eth.contract (#5792)
  CHANGELOG.md
  packages/web3-eth/src/web3_eth.ts
  packages/web3/CHANGELOG.md
  packages/web3/src/types.ts
  packages/web3/src/web3.ts
  packages/web3/test/integration/web3.setProvider.test.ts
  scripts/system_tests_utils.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Path conditions:
  prettier --write: ((any of: *.js) or (any of: *.ts)) or (any of: *.{json,md})
  eslint --rulesdir ./tools/eslint-config-web3-base/rules: any of: *.ts
