Repository web3/web3.js: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

add `Events Subscription` guide
  docs/docs/guides/events_subscriptions/custom_subscriptions.md
  docs/docs/guides/events_subscriptions/index.md
  docs/docs/guides/events_subscriptions/supported_subscriptions.md
Due: prettier --write

add json-schema
  packages/web3-validator/CHANGELOG.md
  packages/web3-validator/package.json
  packages/web3-validator/src/types.ts
  packages/web3-validator/src/utils.ts
  packages/web3-validator/src/validator.ts
  yarn.lock
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

add change log
  packages/web3-validator/CHANGELOG.md
Due: prettier --write

fix change log
  packages/web3-validator/CHANGELOG.md
Due: prettier --write

revert type changes
  packages/web3-eth/src/schemas.ts
  packages/web3-validator/package.json
  packages/web3-validator/src/types.ts
  packages/web3-validator/src/utils.ts
  packages/web3-validator/src/validator.ts
  packages/web3-validator/test/unit/load.test.ts
  yarn.lock
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

gas is now filled by default
  packages/web3-eth/src/utils/prepare_transaction_for_signing.ts
  packages/web3-eth/src/utils/transaction_builder.ts
  packages/web3-eth/test/integration/web3_eth/send_transaction.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Revert "rename `LogsSubscription` at `web3-eth-contract` to `ContractLogsSubscription`"
  packages/web3-eth-contract/src/contract.ts
  packages/web3-eth-contract/src/index.ts
  packages/web3-eth-contract/src/log_subscription.ts
  packages/web3-eth-contract/src/types.ts
  packages/web3-eth-contract/test/fixtures/erc20.ts
  packages/web3-eth-contract/test/fixtures/erc721.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

use ```ts at Custom Subscription guide
  docs/docs/guides/events_subscriptions/custom_subscriptions.md
Due: prettier --write

add additional test for Custom Subscriptions
  packages/web3/test/unit/web3-custom-subscriptions.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update CHANGELOG.md at web3-core
  packages/web3-core/CHANGELOG.md
Due: prettier --write

increase coverage
  packages/web3-validator/src/validation/boolean.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

changelog sync
  CHANGELOG.md
  packages/web3-eth/src/schemas.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix tests
  packages/web3-eth/CHANGELOG.md
  packages/web3-eth/src/utils/prepare_transaction_for_signing.ts
  packages/web3-eth/test/unit/prepare_transaction_for_signing.test.ts
  packages/web3/test/integration/web3.eth.transaction.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

remove 14 node from test
  .github/workflows/build.yml
Due: none

Update docs/docs/guides/web3_upgrade_guide/1.x/index.md
  docs/docs/guides/web3_upgrade_guide/1.x/index.md
Due: prettier --write

updated info
  docs/docs/guides/advanced/support_additional_rpc_methods/index.md
Due: prettier --write

fix eslint error
  packages/web3-eth/test/unit/prepare_transaction_for_signing.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Few edits to Custom Subscription guide
  docs/docs/guides/events_subscriptions/custom_subscriptions.md
Due: prettier --write

add timeout
  test/e2e.method.signing.js
Due: prettier --write

node 18
  .github/workflows/build.yml
Due: none

6156 find replacement for is my json valid (#6264)
  CHANGELOG.md
  packages/web3-errors/src/errors/transaction_errors.ts
  packages/web3-errors/test/unit/errors.test.ts
  packages/web3-eth-contract/test/fixtures/contracts/SimpleOverloaded.sol
  packages/web3-eth/test/integration/block/rpc.getBlock.test.ts
  packages/web3-utils/test/fixtures/converters.ts
  packages/web3-utils/test/fixtures/string_manipulation.ts
  packages/web3-validator/CHANGELOG.md
  packages/web3-validator/package.json
  packages/web3-validator/src/errors.ts
  packages/web3-validator/src/formats.ts
  packages/web3-validator/src/types.ts
  packages/web3-validator/src/utils.ts
  packages/web3-validator/src/validation/boolean.ts
  packages/web3-validator/src/validator.ts
  packages/web3-validator/src/web3_validator.ts
  packages/web3-validator/test/fixtures/errors.ts
  packages/web3-validator/test/unit/convert_to_zod.test.ts
  packages/web3-validator/test/unit/error.test.ts
  packages/web3-validator/test/unit/load.test.ts
  packages/web3-validator/test/unit/validator.test.ts
  packages/web3-validator/test/unit/web3_validator.test.ts
  yarn.lock
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update build.yml
  .github/workflows/build.yml
Due: none

update errors
  packages/web3-errors/src/errors/transaction_errors.ts
  packages/web3-eth/CHANGELOG.md
  packages/web3-eth/test/integration/web3_eth/sign_transaction.test.ts
  packages/web3-eth/test/unit/prepare_transaction_for_signing.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix formatting
  packages/web3-core/src/web3_config.ts
  packages/web3-core/test/unit/__snapshots__/web3_context.test.ts.snap
  packages/web3-core/test/unit/web3_config.test.ts
  packages/web3-eth/src/rpc_method_wrappers.ts
  packages/web3-eth/src/utils/get_transaction_gas_pricing.ts
  packages/web3-eth/test/integration/defaults.test.ts
  packages/web3-eth/test/integration/web3_eth/sign_transaction.test.ts
  packages/web3-eth/test/unit/default_transaction_builder.test.ts
  packages/web3/test/integration/web3.eth.transaction.test.ts
  tools/web3-plugin-example/test/unit/contract_method_wrappers.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Add additional test cases
  packages/web3-eth-abi/test/fixtures/get_encoded_eip712_message.ts
  packages/web3-eth-abi/test/unit/get_encoded_eip712_message.test.ts
  packages/web3-eth/test/integration/web3_eth/sign_typed_data.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update changelog
  packages/web3-eth/CHANGELOG.md
Due: prettier --write

Rename getEncodedEip712Message to getEncodedEip712Data
  packages/web3-eth-abi/src/index.ts
  packages/web3-eth-abi/test/fixtures/get_encoded_eip712_message.ts
  packages/web3-eth-abi/test/unit/get_encoded_eip712_message.test.ts
  packages/web3-eth/test/integration/web3_eth/sign_typed_data.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

revert
  .github/workflows/build.yml
  test/e2e.method.signing.js
Due: prettier --write

node 16
  .github/workflows/build.yml
Due: none

test
  .github/workflows/build.yml
Due: none

Update CHANGELOGs and renamed some files
  CHANGELOG.md
  packages/web3-eth-abi/CHANGELOG.md
  packages/web3-eth-abi/test/fixtures/get_encoded_eip712_data.ts
  packages/web3-eth-abi/test/unit/get_encoded_eip712_data.test.ts
  packages/web3-eth/CHANGELOG.md
  packages/web3-rpc-methods/CHANGELOG.md
  packages/web3-types/CHANGELOG.md
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update packages/web3-rpc-methods/test/unit/eth_rpc_methods/sign_typed_data.test.ts
  packages/web3-rpc-methods/test/unit/eth_rpc_methods/sign_typed_data.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Debug failing tests
  packages/web3-eth/test/integration/subscription_heads.test.ts
  packages/web3-types/src/eth_types.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

custom RPC methods guide (#6279)
  docs/docs/guides/advanced/support_additional_rpc_methods/index.md
  docs/docs/guides/web3_upgrade_guide/1.x/index.md
Due: prettier --write

Apply suggestions from code review
  docs/docs/guides/events_subscriptions/index.md
Due: prettier --write

addres feedback and fix broken test cases
  packages/web3-errors/CHANGELOG.md
  packages/web3-errors/src/error_codes.ts
  packages/web3-errors/src/errors/transaction_errors.ts
  packages/web3-eth/src/types.ts
  packages/web3-eth/src/utils/prepare_transaction_for_signing.ts
  packages/web3-eth/src/utils/transaction_builder.ts
  packages/web3-eth/test/integration/web3_eth/send_transaction.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

add a test case for Web3Subscription
  packages/web3-core/test/unit/web3_subscription.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update error
  packages/web3-errors/src/errors/transaction_errors.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Debugging failing tests for cypress
  packages/web3-eth/test/integration/subscription_heads.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Path conditions:
  prettier --write: ((any of: *.js) or (any of: *.ts)) or (any of: *.{json,md})
  eslint --rulesdir ./tools/eslint-config-web3-base/rules: any of: *.ts
