Repository web3/web3.js: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

.lintstagedrc.json:

{
	"*.js": ["prettier --write"],
	"*.ts": ["prettier --write", "eslint --rulesdir ./tools/eslint-config-web3-base/rules"],
	"*.{json,md}": ["prettier --write"]
}

organized pre-requisites for each section
  docs/docs/guides/web3_providers_guide/http.md
  docs/docs/guides/web3_providers_guide/ipc.md
  docs/docs/guides/web3_providers_guide/truffle.md
  docs/docs/guides/web3_providers_guide/websocket.md
Due: prettier --write

separated injected provider from truffle file
  docs/docs/guides/web3_providers_guide/injected_provider.md
Due: prettier --write

changed title from truffle to third party provider
  docs/docs/guides/web3_providers_guide/truffle.md
Due: prettier --write

replaced double quotes for single quotes
  docs/docs/guides/advanced/custom_RPC.md
  docs/docs/guides/advanced/tree_shaking.md
Due: prettier --write

Update docs/docs/guides/wallet/signing.md
  docs/docs/guides/wallet/signing.md
Due: prettier --write

Update docs/docs/guides/wallet/transactions.md
  docs/docs/guides/wallet/transactions.md
Due: prettier --write

changed main header in for `Truffle`
  docs/docs/guides/web3_providers_guide/truffle.md
Due: prettier --write

Fix an issue with detecting Uint8Array (#6486)
  CHANGELOG.md
  packages/web3-eth-abi/CHANGELOG.md
  packages/web3-eth-abi/src/utils.ts
  packages/web3-eth-accounts/CHANGELOG.md
  packages/web3-eth-accounts/src/account.ts
  packages/web3-eth-accounts/src/common/utils.ts
  packages/web3-eth-accounts/src/tx/transactionFactory.ts
  packages/web3-eth-accounts/test/unit/account_dom.test.ts
  packages/web3-utils/CHANGELOG.md
  packages/web3-utils/src/converters.ts
  packages/web3-utils/src/formatter.ts
  packages/web3-utils/src/hash.ts
  packages/web3-utils/src/uint8array.ts
  packages/web3-utils/test/integration/event_emitter.test.ts
  packages/web3-utils/test/unit/converters_dom.test.ts
  packages/web3-utils/test/unit/hash_dom.test.ts
  packages/web3-validator/CHANGELOG.md
  packages/web3-validator/src/utils.ts
  packages/web3-validator/src/validation/address.ts
  packages/web3-validator/src/validation/bytes.ts
  yarn.lock
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

reduce some CI/CD tests
  .github/workflows/build.yml
Due: none

Update docs/docs/guides/ens/index.md
  docs/docs/guides/ens/index.md
Due: prettier --write

add node 20 to Build CJS
  .github/workflows/build.yml
Due: none

ENS Package tutorial (#6687)
  docs/docs/guides/ens/index.md
Due: prettier --write

update hardhat version
  packages/web3/package.json
  yarn.lock
Due: prettier --write

ens menu change
  docs/docs/guides/ens/index.md
Due: prettier --write

update test expected result for estimateGas with geth
  packages/web3-eth/test/integration/web3_eth/estimate_gas.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

better solution + test
  packages/web3-eth-contract/src/contract.ts
  packages/web3-eth-contract/test/unit/contract_typing.test.ts
  packages/web3-types/src/eth_abi_types.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

improve test
  packages/web3-eth-contract/test/unit/contract_typing.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

added category.yml file to have the collapsible
  docs/docs/guides/ens/_category_.yml
  docs/docs/guides/ens/index.md
Due: prettier --write

reorganized order of the files (to have the packages next to each other
  docs/docs/guides/advanced/_category_.yml
  docs/docs/guides/glossary/index.md
  docs/docs/guides/migration_from_other_libs/_category_.yml
  docs/docs/guides/web3_config/_category_.yml
  docs/docs/guides/web3_plugin_guide/_category_.yml
  docs/docs/guides/web3_upgrade_guide/_category_.yml
Due: prettier --write

remove expect error directives
  packages/web3-eth-contract/test/integration/local_account/contract_overloaded_methods.test.ts
  packages/web3-eth-contract/test/unit/contract_typing.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix small bugs. increase coverage (#6679)
  packages/web3-eth-abi/src/utils.ts
  packages/web3-eth-abi/test/fixtures/data.ts
  packages/web3-eth-abi/test/unit/utils.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

remove extra line
  packages/web3-eth-contract/test/unit/contract_typing.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

test
  packages/web3-eth/test/integration/web3_eth/estimate_gas.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

check simple contract
  packages/web3-eth/test/integration/web3_eth/estimate_gas.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix gas estimation tests
  packages/web3-eth/test/integration/web3_eth/estimate_gas.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix ens tests
  packages/web3-eth-ens/test/integration/ens.events.test.ts
  packages/web3-eth-ens/test/integration/ens.test.ts
  packages/web3-eth-ens/test/integration/resolver.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix numbers
  packages/web3-eth/test/integration/web3_eth/estimate_gas.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Use the ethereum-blackhole (the 0x address) for the `from` address for tests on mainnet and testnet (#6689)
  .github/workflows/black_box_tests.yml
  .github/workflows/e2e_network_tests.yml
Due: none

docs: fix typos
  docs/docs/guides/smart_contracts/infer_contract_types.md
  docs/docs/guides/web3_providers_guide/websocket.md
  packages/web3/test/e2e/get_balance.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

ENS doc menu format (#6699)
  docs/docs/guides/ens/_category_.yml
  docs/docs/guides/ens/index.md
  docs/docs/guides/glossary/index.md
  docs/docs/guides/migration_from_other_libs/_category_.yml
  docs/docs/guides/web3_config/_category_.yml
  docs/docs/guides/web3_plugin_guide/_category_.yml
  docs/docs/guides/web3_upgrade_guide/_category_.yml
Due: prettier --write

update jest and ts-jest versions
  package.json
  packages/web3-core/package.json
  packages/web3-errors/package.json
  packages/web3-eth-abi/package.json
  packages/web3-eth-accounts/package.json
  packages/web3-eth-contract/package.json
  packages/web3-eth-ens/package.json
  packages/web3-eth-iban/package.json
  packages/web3-eth-personal/package.json
  packages/web3-eth/package.json
  packages/web3-net/package.json
  packages/web3-providers-http/package.json
  packages/web3-providers-ipc/package.json
  packages/web3-providers-ws/package.json
  packages/web3-rpc-methods/package.json
  packages/web3-types/package.json
  packages/web3-utils/package.json
  packages/web3-validator/package.json
  packages/web3/package.json
  packages/web3/test/cjs_black_box/package.json
  packages/web3/test/esm_black_box/package.json
  tools/web3-packagetemplate/package.json
  tools/web3-plugin-example/package.json
  yarn.lock
Due: prettier --write

update test snapshots
  packages/web3-core/test/unit/__snapshots__/web3_context.test.ts.snap
  packages/web3-errors/test/unit/__snapshots__/errors.test.ts.snap
  packages/web3-errors/test/unit/__snapshots__/rpc-errors.test.ts.snap
  packages/web3-eth-accounts/test/unit/__snapshots__/wallet.test.ts.snap
Due: none

fix: contract method types should allow any param if abi type not supplied (#6688)
  packages/web3-eth-contract/src/contract.ts
  packages/web3-eth-contract/test/integration/local_account/contract_overloaded_methods.test.ts
  packages/web3-eth-contract/test/unit/contract_typing.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix estimate gas test
  packages/web3-eth/test/integration/web3_eth/estimate_gas.test.ts
  scripts/geth_binary.sh
  scripts/system_tests_utils.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix lint
  packages/web3-eth/test/integration/web3_eth/estimate_gas.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

compare bigint
  packages/web3-eth/test/integration/web3_eth/estimate_gas.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix bsd link
  scripts/geth_binary.sh
Due: none
