Repository web3/web3.js: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

.lintstagedrc.json:

{
	"*.js": ["prettier --write"],
	"*.ts": ["prettier --write", "eslint --rulesdir ./tools/eslint-config-web3-base/rules"],
	"*.{json,md}": ["prettier --write"]
}

add recover support
  packages/web3-eth-accounts/src/account.ts
  packages/web3-eth-accounts/test/fixtures/account.ts
  packages/web3-eth-accounts/test/unit/account.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

moving accounts migration guide
  docs/docs/guides/accounts_migration_guide.md
  docs/docs/guides/web3_migration_guide.md
Due: prettier --write

Add condition to run only on geth
  packages/web3-eth/test/integration/web3_eth/getFeeHistory.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

add net to web3 eth interface (#5217)
  packages/web3/src/types.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Change contract events construct from Promise
  packages/web3-eth-contract/src/contract.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Change error to SubscriptionError
  packages/web3-eth-contract/src/contract.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Fix tests to use non promise construct
  packages/web3-eth-contract/test/integration/contract_erc20.test.ts
  packages/web3-eth-contract/test/integration/contract_erc721.test.ts
  packages/web3-eth-contract/test/integration/contract_events.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

web3-common/core defaults documentation (#5198)
  packages/web3-core/src/web3_config.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Apply suggestions from code review
  packages/web3/CHANGELOG.md
Due: prettier --write

:art: Fix dead code introduced in merge
  packages/web3/src/types.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

:rotating_light: Fix linter warnings
  packages/web3-eth/src/convertible_properties.ts
  packages/web3-eth/src/rpc_method_wrappers.ts
  packages/web3-eth/src/schemas.ts
  packages/web3-eth/src/utils/watch_transaction_for_confirmations.ts
  packages/web3-eth/test/fixtures/web3_eth_methods_with_parameters.ts
  packages/web3-eth/test/integration/defaults.test.ts
  packages/web3-eth/test/integration/helper.ts
  packages/web3-eth/test/integration/rpc.block.test.ts
  packages/web3-eth/test/integration/rpc.test.ts
  packages/web3-eth/test/integration/subscription_new_pending_tx.test.ts
  packages/web3-eth/test/integration/watch_transaction.test.ts
  packages/web3-eth/test/integration/watch_transaction_polling.test.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/fixtures/get_transaction_receipt.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/fixtures/send_signed_transaction.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/fixtures/send_transaction.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/get_transaction_receipt.test.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/send_signed_transaction.test.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/send_transaction.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

:test_tube: Fix integration tests for http provider
  packages/web3-providers-http/test/integration/request.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

:test_tube: Fix failing integration tests
  packages/web3-eth/test/integration/subscription_new_pending_tx.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Document string interface for encodeFunctionCall
  docs/web3-eth-abi.rst
Due: none

add migration guide. fix changes. fix tests
  CHANGELOG.md
  docs/docs/guides/personal_migration_guide.md
  packages/web3-core/src/web3_context.ts
  packages/web3-core/src/web3_request_manager.ts
  packages/web3-core/test/unit/web3_request_manager.test.ts
  packages/web3-eth-personal/src/rpc_method_wrappers.ts
  packages/web3-eth-personal/test/unit/eth_personal.test.ts
  packages/web3/src/web3.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

revert null changes
  packages/web3-core/src/web3_context.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Fix types for erc token interfaces
  packages/web3-eth-contract/test/fixtures/erc20.ts
  packages/web3-eth-contract/test/fixtures/erc721.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fixing testcase
  packages/web3-eth-accounts/test/unit/account.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

[README] Add GitPOAP Badge to Display Number of Minted GitPOAPs for Contributors
  README.md
Due: prettier --write

:label: Update few types
  packages/web3-eth-abi/src/types.ts
  packages/web3-eth-accounts/src/types.ts
  packages/web3-eth-accounts/src/wallet.ts
  packages/web3-eth-contract/src/contract.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

:art: Update some types
  packages/web3-eth-contract/src/contract.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Migration guide refactors
  docs/docs/guides/web3_eth_migration_guide.md
Due: prettier --write

fix decode function. migration guide. fix unit tests (#5210)
  CHANGELOG.md
  docs/docs/guides/abi_migration_guide.md
  packages/web3-eth-abi/src/api/logs_api.ts
  packages/web3-eth-abi/src/api/parameters_api.ts
  packages/web3-eth-abi/src/types.ts
  packages/web3-eth-abi/test/fixtures/data.ts
  packages/web3-eth-abi/test/unit/api/parameters_api.test.ts
  packages/web3-eth-contract/src/contract.ts
  packages/web3-eth-contract/src/encoding.ts
  packages/web3-eth-contract/test/integration/contract_methods.test.ts
  packages/web3-eth/test/integration/rpc.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Upgrade ethereum-cryptography to 1.0 (#5211)
  packages/web3-eth-accounts/package.json
  packages/web3-eth-accounts/src/account.ts
  packages/web3-eth-accounts/test/fixtures/account.ts
  packages/web3-eth-accounts/test/unit/account.test.ts
  packages/web3-utils/package.json
  packages/web3-validator/package.json
  yarn.lock
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Incompatible return types for 4.x implementations (#5205)
  packages/web3-errors/src/error_codes.ts
  packages/web3-errors/src/errors/transaction_errors.ts
  packages/web3-eth/src/web3_eth.ts
  packages/web3-eth/test/fixtures/web3_eth_methods_with_parameters.ts
  packages/web3-eth/test/unit/web3_eth_methods_with_parameters.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Init web3_eth_migration_guide (#5136)
  docs/docs/guides/web3_eth_migration_guide.md
  packages/web3-eth/src/web3_eth.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

:art: Fix some types for the ens module
  packages/web3-eth-ens/src/abi/resolver.ts
  packages/web3-eth-ens/src/resolver.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

:bug: Fix contract constructor args
  fixtures/build/Basic.ts
  packages/web3-eth-abi/src/types.ts
  packages/web3-eth-contract/src/contract.ts
  packages/web3-eth/test/integration/defaults.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Correct error message
  packages/web3-eth-contract/src/contract.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

move extend to global changes. add default value of provider
  CHANGELOG.md
  docs/docs/guides/personal_migration_guide.md
Due: prettier --write

Update abi.encodeParameter.js
  test/abi.encodeParameter.js
Due: prettier --write
