Repository web3/web3.js: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

updating getaccounts
  packages/web3-eth-personal/test/integration/personal.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

removing forceexit
  packages/web3-eth-personal/package.json
  packages/web3-eth-personal/test/integration/personal.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

modifying lock account testcase
  packages/web3-eth-personal/package.json
  packages/web3-eth-personal/test/integration/personal.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

changing ganache script
  packages/web3-eth-personal/test/integration/personal.test.ts
  scripts/ganache.sh
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

new script change
  packages/web3-eth-personal/test/integration/personal.test.ts
  scripts/ganache.sh
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

modifying tests
  packages/web3-eth-personal/test/integration/personal.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix: upgrade @ethersproject/abi from 5.0.7 to 5.6.1
  packages/web3-eth-abi/package-lock.json
  packages/web3-eth-abi/package.json
Due: prettier --write

Libs and CI updates (#5014)
  .github/workflows/build.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

updating testcases
  packages/web3-eth-personal/test/integration/personal.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Create ERC20 and ERC721 integration tests for web3-eth-contract (#5024)
  fixtures/build/Basic.json
  fixtures/build/Basic.ts
  fixtures/build/DeployRevert.json
  fixtures/build/DeployRevert.ts
  fixtures/build/ERC20Token.json
  fixtures/build/ERC20Token.ts
  fixtures/build/ERC721Token.json
  fixtures/build/ERC721Token.ts
  fixtures/build/Greeter.json
  fixtures/build/Greeter.ts
  fixtures/contracts/Basic.sol
  fixtures/contracts/DeployRevert.sol
  fixtures/contracts/ERC20Token.sol
  fixtures/contracts/ERC721Token.sol
  fixtures/contracts/Greeter.sol
  fixtures/sources/Basic.ts
  fixtures/sources/Greeter.ts
  fixtures/utils.ts
  package.json
  packages/web3-eth-abi/src/api/logs_api.ts
  packages/web3-eth-abi/test/fixtures/data.ts
  packages/web3-eth-abi/test/unit/api/logs_api.test.ts
  packages/web3-eth-contract/test/integration/conract_deploy.test.ts
  packages/web3-eth-contract/test/integration/contract_clone.test.ts
  packages/web3-eth-contract/test/integration/contract_erc20.test.ts
  packages/web3-eth-contract/test/integration/contract_erc721.test.ts
  packages/web3-eth-contract/test/integration/contract_events.test.ts
  packages/web3-eth-contract/test/integration/contract_methods.test.ts
  packages/web3-eth/test/integration/subscription_logs.test.ts
  scripts/compile_contracts.js
  yarn.lock
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix geth tests. fix getProof method and unit tests
  package.json
  packages/web3-eth/src/rpc_method_wrappers.ts
  packages/web3-eth/src/rpc_methods.ts
  packages/web3-eth/src/web3_eth.ts
  packages/web3-eth/src/web3_eth_execution_api.ts
  packages/web3-eth/test/fixtures/rpc_methods_with_params.ts
  packages/web3-eth/test/fixtures/web3_eth_methods_with_parameters.ts
  packages/web3-eth/test/integration/rpc.test.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/fixtures/get_proof.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/get_proof.test.ts
  packages/web3-validator/src/web3_validator.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix test
  packages/web3-eth-personal/test/integration/personal.test.ts
  scripts/ganache.sh
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix shared_fixtures
  packages/web3-eth/test/integration/eth.test.ts
  packages/web3-eth/test/integration/rpc.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix
  package.json
Due: prettier --write

updating tests
  scripts/ganache.sh
Due: none

fixed version of @types/prettier
  package.json
Due: prettier --write

update script removing forceexit
  packages/web3-eth-personal/package.json
Due: prettier --write

package lock update
  package-lock.json
  package.json
Due: prettier --write

updating tests
  packages/web3-eth-personal/package.json
  packages/web3-eth-personal/test/integration/personal.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Change parameter type and format transaction to default type
  packages/web3-eth/src/utils/transaction_builder.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Move helper function to each own file
  packages/web3-providers-ws/test/integration/helpers.ts
  packages/web3-providers-ws/test/integration/web_socket_provider_integration.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Move basic auth test to each own test file
  packages/web3-providers-ws/test/integration/basic_auth.test.ts
  packages/web3-providers-ws/test/integration/web_socket_provider_integration.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Smaller changes
  packages/web3-providers-ws/test/integration/web_socket_provider_integration.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fixed version of @types/prettier (#5033)
  package-lock.json
  package.json
Due: prettier --write

Remove outer describe
  packages/web3-providers-ws/test/integration/web_socket_provider_integration.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

npm i and CHANGELOG update for 1.7.4 release
  CHANGELOG.md
  packages/web3-bzz/package-lock.json
  packages/web3-core-helpers/package-lock.json
  packages/web3-core-method/package-lock.json
  packages/web3-core-subscriptions/package-lock.json
  packages/web3-core/package-lock.json
  packages/web3-eth-abi/package-lock.json
  packages/web3-eth-accounts/package-lock.json
  packages/web3-eth-contract/package-lock.json
  packages/web3-eth-ens/package-lock.json
  packages/web3-eth-iban/package-lock.json
  packages/web3-eth-personal/package-lock.json
  packages/web3-eth/package-lock.json
  packages/web3-eth2-beaconchain/package-lock.json
  packages/web3-eth2-core/package-lock.json
  packages/web3-net/package-lock.json
  packages/web3-providers-http/package-lock.json
  packages/web3-providers-ipc/package-lock.json
  packages/web3-providers-ws/package-lock.json
  packages/web3-shh/package-lock.json
  packages/web3-utils/package-lock.json
  packages/web3/package-lock.json
Due: prettier --write

Move callbacks to promises and move helper file
  packages/web3-providers-ws/test/fixtures/helpers.ts
  packages/web3-providers-ws/test/integration/basic_auth.test.ts
  packages/web3-providers-ws/test/integration/web_socket_provider_integration.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Make test infrastructure info logs more informative
  scripts/test-runner.sh
Due: none

fix e2e tests
  packages/web3-eth/test/integration/eth.test.ts
  packages/web3-eth/test/integration/rpc.test.ts
  templates/cypress/support/index.js
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix websocket
  packages/web3-eth-personal/test/integration/personal.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update packages/web3-eth-contract/test/integration/conract_deploy.test.ts
  packages/web3-eth-contract/test/integration/conract_deploy.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Init tests
  packages/web3-eth/test/integration/web3_eth/batch_request.test.ts
  packages/web3-eth/test/integration/web3_eth/call.test.ts
  packages/web3-eth/test/integration/web3_eth/estimate_gas.test.ts
  packages/web3-eth/test/integration/web3_eth/send_signed_transaction.test.ts
  packages/web3-eth/test/integration/web3_eth/send_transaction.test.ts
  packages/web3-eth/test/integration/web3_eth/sign.test.ts
  packages/web3-eth/test/integration/web3_eth/sign_transaction.test.ts
  packages/web3-eth/test/integration/web3_eth/submit_work.test.ts
  packages/web3-eth/test/integration/web3_eth/web3_config_options/block_header_timeout.test.ts
  packages/web3-eth/test/integration/web3_eth/web3_config_options/default_account.test.ts
  packages/web3-eth/test/integration/web3_eth/web3_config_options/default_block.test.ts
  packages/web3-eth/test/integration/web3_eth/web3_config_options/default_chain.test.ts
  packages/web3-eth/test/integration/web3_eth/web3_config_options/default_common.test.ts
  packages/web3-eth/test/integration/web3_eth/web3_config_options/default_hardfork.test.ts
  packages/web3-eth/test/integration/web3_eth/web3_config_options/default_max_priorirty_fee_per_gas.test.ts
  packages/web3-eth/test/integration/web3_eth/web3_config_options/default_network_id.test.ts
  packages/web3-eth/test/integration/web3_eth/web3_config_options/default_transaction_type.test.ts
  packages/web3-eth/test/integration/web3_eth/web3_config_options/handle_revert.test.ts
  packages/web3-eth/test/integration/web3_eth/web3_config_options/max_listeners_warning_threshold.test.ts
  packages/web3-eth/test/integration/web3_eth/web3_config_options/transaction_block_timeout.test.ts
  packages/web3-eth/test/integration/web3_eth/web3_config_options/transaction_builder.test.ts
  packages/web3-eth/test/integration/web3_eth/web3_config_options/transaction_confirmation_blocks.test.ts
  packages/web3-eth/test/integration/web3_eth/web3_config_options/transaction_polling_timeout.test.ts
  packages/web3-eth/test/integration/web3_eth/web3_config_options/transaction_receipt_polling_interval.test.ts
  packages/web3-eth/test/integration/web3_eth/web3_config_options/transaction_type_parser.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Remove --forceExit from web-eth/package.json
  packages/web3-eth/package.json
Due: prettier --write

Solve merge conflict
  package.json
Due: prettier --write

Add `prettier-plugin-solidity` dev dependency v2 (#5023)
  fixtures/contracts/Basic.sol
  fixtures/contracts/DeployRevert.sol
  fixtures/contracts/Greeter.sol
  package.json
  packages/web3-eth/test/unit/rpc_method_wrappers/fixtures/send_transaction.ts
  yarn.lock
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Path conditions:
  prettier --write: ((any of: *.js) or (any of: *.ts)) or (any of: *.{json,md})
  eslint --rulesdir ./tools/eslint-config-web3-base/rules: any of: *.ts
