Repository web3/web3.js: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

plugin doc update
  docs/docs/guides/web3_plugin_guide/index.md
Due: prettier --write

doc update
  docs/docs/guides/getting_started.md
Due: prettier --write

web3-eth methods
  docs/docs/guides/basics/eth.md
  docs/docs/guides/smart_contracts/deploying_and_interacting_with_smart_contracts.md
  docs/docs/guides/web3_providers_guide/examples.md
  packages/web3-eth/src/web3_eth.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix
  docs/docs/guides/basics/eth.md
Due: prettier --write

web3-eth import
  docs/docs/guides/basics/eth.md
Due: prettier --write

remove border around code blocks in tabs
  docs/src/css/custom.css
Due: none

default code tab to typescript except when there is a step by step guide with no steps to configure for typescript
  docs/README.md
  docs/docs/guides/basics/eth.md
  docs/docs/guides/basics/sign_and_send_tx/local_wallet.md
  docs/docs/guides/basics/sign_and_send_tx/wallet_of_eth_node.md
  docs/docs/guides/smart_contracts/deploying_and_interacting_with_smart_contracts.md
  docs/docs/guides/web3_plugin_guide/plugin_users.md
  docs/docs/guides/web3_providers_guide/examples.md
  docs/docs/guides/web3_providers_guide/index.md
  docs/docs/guides/web3_upgrade_guide/1.x/index.md
Due: prettier --write

fix javascript code samples at some docs
  docs/docs/guides/advanced/support_additional_rpc_methods/index.md
Due: prettier --write

tiny enhancements at some docs
  docs/docs/guides/basics/sign_and_send_tx/local_wallet.md
  docs/docs/guides/web3_plugin_guide/plugin_users.md
Due: prettier --write

add a line to a doc
  docs/docs/guides/web3_upgrade_guide/1.x/providers_migration_guide.md
Due: prettier --write

Release/4.2.2 (#6562)
  CHANGELOG.md
  packages/web3-core/CHANGELOG.md
  packages/web3-core/package.json
  packages/web3-errors/CHANGELOG.md
  packages/web3-errors/package.json
  packages/web3-eth-contract/CHANGELOG.md
  packages/web3-eth-contract/package.json
  packages/web3-types/CHANGELOG.md
  packages/web3-types/package.json
  packages/web3/CHANGELOG.md
  packages/web3/package.json
  packages/web3/src/version.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

npm i web3
  docs/docs/guides/basics/eth.md
  docs/docs/guides/smart_contracts/deploying_and_interacting_with_smart_contracts.md
  docs/docs/guides/web3_providers_guide/examples.md
Due: prettier --write

fix contracts creation in web3 package
  packages/web3-eth-contract/src/contract.ts
  packages/web3-eth-contract/src/utils.ts
  packages/web3-utils/src/validation.ts
  packages/web3/src/web3.ts
  packages/web3/test/unit/web3.config.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix linter
  packages/web3-utils/src/validation.ts
  packages/web3/src/web3.ts
  packages/web3/test/unit/web3.config.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

format
  packages/web3-core/src/web3_context.ts
  packages/web3-eth-contract/src/contract.ts
  packages/web3-eth/src/utils/prepare_transaction_for_signing.ts
  packages/web3-eth/src/web3_eth.ts
  packages/web3/src/web3.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix
  docs/docs/guides/basics/eth.md
  packages/web3-eth/src/utils/send_tx_helper.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix titles
  docs/docs/guides/basics/eth.md
Due: prettier --write

format
  packages/web3/test/integration/web3.config.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

add validation
  packages/web3/src/web3.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

add test and address feedback
  packages/web3-utils/test/fixtures/validation.ts
  packages/web3-utils/test/unit/validation.test.ts
  packages/web3/test/unit/web3.config.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update changelog
  packages/web3-utils/CHANGELOG.md
Due: prettier --write

update tests
  packages/web3/test/unit/web3.config.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update
  packages/web3/test/unit/web3.config.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix tests
  packages/web3/test/unit/web3.config.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

address pr comments
  packages/web3/test/integration/web3-plugin-add-tx.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

feat: easier discoverability of plugin capabilities
  packages/web3-core/package.json
  packages/web3-core/src/web3_context.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix lint
  packages/web3-core/src/web3_context.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

chore: address PR comment
  packages/web3/test/integration/web3-plugin-add-tx.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update test
  packages/web3-validator/test/unit/load.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update time
  packages/web3-validator/test/unit/load.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

add promises to fix parallel tests
  packages/web3-validator/test/unit/load.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

revert
  packages/web3-validator/test/unit/load.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

web3 conf doc
  docs/docs/guides/web3_config/index.md
Due: prettier --write

fix web3config setconfig (#6555)
  packages/web3-core/CHANGELOG.md
  packages/web3-core/src/web3_config.ts
  packages/web3-core/src/web3_context.ts
  packages/web3-eth-contract/src/contract.ts
  packages/web3-eth-contract/src/utils.ts
  packages/web3-eth/src/rpc_method_wrappers.ts
  packages/web3-eth/src/utils/prepare_transaction_for_signing.ts
  packages/web3-eth/src/web3_eth.ts
  packages/web3-utils/CHANGELOG.md
  packages/web3-utils/src/validation.ts
  packages/web3-utils/test/fixtures/validation.ts
  packages/web3-utils/test/unit/validation.test.ts
  packages/web3/src/web3.ts
  packages/web3/test/integration/web3.config.test.ts
  packages/web3/test/unit/web3.config.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Web3 doc Updates (#6568)
  docs/docs/guides/getting_started.md
  docs/docs/guides/web3_plugin_guide/index.md
Due: prettier --write

fixes
  docs/docs/guides/basics/eth.md
Due: prettier --write

Provide TypeScript code for every JavaScript code in the documentation (#6558)
  docs/README.md
  docs/docs/guides/advanced/support_additional_rpc_methods/index.md
  docs/docs/guides/advanced/web3_tree_shaking_support_guide/index.md
  docs/docs/guides/basics/eth.md
  docs/docs/guides/basics/sign_and_send_tx/local_wallet.md
  docs/docs/guides/basics/sign_and_send_tx/wallet_of_eth_node.md
  docs/docs/guides/smart_contracts/deploying_and_interacting_with_smart_contracts.md
  docs/docs/guides/smart_contracts/infer_contract_types_guide/index.md
  docs/docs/guides/web3_plugin_guide/plugin_users.md
  docs/docs/guides/web3_providers_guide/events_listening.md
  docs/docs/guides/web3_providers_guide/examples.md
  docs/docs/guides/web3_providers_guide/index.md
  docs/docs/guides/web3_upgrade_guide/1.x/index.md
  docs/docs/guides/web3_upgrade_guide/1.x/providers_migration_guide.md
  docs/package.json
  docs/src/css/custom.css
  docs/yarn.lock
  packages/web3/src/index.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

more details
  docs/docs/guides/web3_config/index.md
Due: prettier --write

accessList tx example
  docs/docs/guides/basics/eth.md
Due: prettier --write

Path conditions:
  prettier --write: ((any of: *.js) or (any of: *.ts)) or (any of: *.{json,md})
  eslint --rulesdir ./tools/eslint-config-web3-base/rules: any of: *.ts
