Repository web3/web3.js: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Decode contract errors test
  packages/web3-eth-abi/test/fixtures/data.ts
  packages/web3-eth-abi/test/unit/decodeContractErrorData.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Delete unused function
  packages/web3-eth-abi/src/api/parameters_api.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Add invalid data for decode contract erros
  packages/web3-eth-abi/test/fixtures/data.ts
  packages/web3-eth-abi/test/unit/decodeContractErrorData.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update docs and changelog
  docs/docs/guides/web3_migration_guide/providers_migration_guide.md
  packages/web3-providers-ipc/CHANGELOG.md
  packages/web3-providers-ws/CHANGELOG.md
Due: prettier --write

Update Contract to allow for use of input in place of data
  packages/web3-core/src/formatters.ts
  packages/web3-core/test/unit/formatters.test.ts
  packages/web3-eth-contract/src/contract.ts
  packages/web3-eth-contract/src/types.ts
  packages/web3-eth-contract/src/utils.ts
  packages/web3-eth-contract/test/integration/contract_methods.test.ts
  packages/web3-eth-contract/test/unit/contract.test.ts
  packages/web3-eth/src/validation.ts
  packages/web3-types/src/eth_types.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Fix test for cypress
  packages/web3-eth/test/integration/web3_eth/sign_transaction.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Nikos/5883/4x integration fail test (#5926)
  packages/web3-eth-contract/test/integration/contract_defaults_extra.test.ts
  packages/web3-eth/test/integration/defaults.transactionBlockTimeout.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update packages/web3-eth/src/web3_eth.ts
  packages/web3-eth/src/web3_eth.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Add newHeads in migration guide
  docs/docs/guides/web3_migration_guide/subscribe_migration_guide.md
Due: prettier --write

Add relevance to newBlockHeaders
  packages/web3-eth/src/web3_subscriptions.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

test few Web3Eth methods
  packages/web3-eth/test/fixtures/web3_eth_methods_with_parameters.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/createAccessList.test.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/fixtures/createAccessList.ts
  packages/web3-eth/test/unit/web3_eth_methods_with_parameters.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Add syncing
  packages/web3-eth/src/web3_subscriptions.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Add tuple in data
  packages/web3-eth-abi/test/fixtures/data.ts
  packages/web3/test/shared_fixtures/data.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

isAbiCostructor
  packages/web3-eth-abi/test/fixtures/data.ts
  packages/web3-eth-abi/test/unit/utils.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Add empty job to unstuck actions in 1.x (#5932)
  .github/workflows/build.yml
Due: none

Build for 1.9.0
  dist/web3.min.js
  dist/web3.min.js.map
Due: prettier --write

address feedback
  docs/docs/guides/web3_migration_guide/providers_migration_guide.md
Due: prettier --write

update provider tests
  packages/web3-utils/src/socket_provider.ts
  packages/web3-utils/test/unit/socket_provider.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

add conditional
  packages/web3-providers-ws/test/integration/ganache_fault_tolerance.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

add promi event page
  docs/docs/guides/sign_and_send_tx/local_wallet.md
  docs/docs/guides/sign_and_send_tx/promi_event.md
  docs/docs/guides/sign_and_send_tx/raw.md
  docs/docs/guides/sign_and_send_tx/wallet_of_eth_node.md
Due: prettier --write

change urls from absolute to root
  docs/docs/guides/sign_and_send_tx/index.md
  docs/docs/guides/sign_and_send_tx/local_wallet.md
  docs/docs/guides/sign_and_send_tx/promi_event.md
  docs/docs/guides/sign_and_send_tx/raw.md
  docs/docs/guides/sign_and_send_tx/wallet_of_eth_node.md
Due: prettier --write

references
  docs/docs/guides/sign_and_send_tx/local_wallet.md
  docs/docs/guides/sign_and_send_tx/promi_event.md
  docs/docs/guides/sign_and_send_tx/raw.md
  docs/docs/guides/sign_and_send_tx/wallet_of_eth_node.md
Due: prettier --write

test
  .github/workflows/build.yml
Due: none

Update CHANGELOGs
  CHANGELOG.md
  packages/web3-core/CHANGELOG.md
  packages/web3-errors/CHANGELOG.md
  packages/web3-eth-contract/CHANGELOG.md
  packages/web3-eth/CHANGELOG.md
  packages/web3-types/CHANGELOG.md
Due: prettier --write

Add input to isContractInitOptions check
  packages/web3-eth-contract/src/utils.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

CHANGELOG formatting
  packages/web3-errors/CHANGELOG.md
Due: prettier --write

Add default_transaction_builder test for input prefix
  packages/web3-eth/test/unit/default_transaction_builder.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Fix subscribe documentation
  packages/web3-eth/src/web3_subscriptions.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

address feedback
  packages/web3-providers-ws/test/integration/ganache_fault_tolerance.test.ts
  packages/web3-providers-ws/test/integration/reconnection.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

address feedback
  packages/web3-providers-ws/test/integration/ganache_fault_tolerance.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Fix subscribe documentation
  packages/web3-eth/src/index.ts
  packages/web3-eth/src/web3_eth.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update changelog
  packages/web3-eth-abi/CHANGELOG.md
Due: prettier --write

tsconf update
  tsconfig.base.json
Due: prettier --write

fix ethereumjs/tx import issue for pure ESM
  packages/web3-eth-accounts/src/account.ts
  packages/web3-eth-accounts/test/integration/account.test.ts
  packages/web3-eth-accounts/test/unit/account.test.ts
  packages/web3-eth/src/rpc_method_wrappers.ts
  packages/web3-eth/src/utils/decode_signed_transaction.ts
  packages/web3-eth/src/utils/prepare_transaction_for_signing.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Path conditions:
  prettier --write: ((any of: *.js) or (any of: *.ts)) or (any of: *.{json,md})
  eslint --rulesdir ./tools/eslint-config-web3-base/rules: any of: *.ts
