Repository web3/web3.js: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Manual build commit for 1.8.2-rc.0
  dist/web3.min.js
  dist/web3.min.js.map
Due: prettier --write

using latest lighthouse docker image in tests
  scripts/eth2.sh
Due: none

add change logs
  CHANGELOG.md
  packages/web3-providers-ipc/CHANGELOG.md
  packages/web3-providers-ws/CHANGELOG.md
Due: prettier --write

add changelogs to types and utils
  CHANGELOG.md
  packages/web3-types/CHANGELOG.md
  packages/web3-utils/CHANGELOG.md
Due: prettier --write

change text in changelog
  CHANGELOG.md
  packages/web3-types/CHANGELOG.md
Due: prettier --write

Update build:check to use lib instead of dist
  packages/web3-core/package.json
  packages/web3-errors/package.json
  packages/web3-eth-abi/package.json
  packages/web3-eth-accounts/package.json
  packages/web3-eth-contract/package.json
  packages/web3-eth-ens/package.json
  packages/web3-eth-iban/package.json
  packages/web3-eth-personal/package.json
  packages/web3-eth/package.json
  packages/web3-net/package.json
  packages/web3-providers-http/package.json
  packages/web3-providers-ipc/package.json
  packages/web3-providers-ws/package.json
  packages/web3-rpc-methods/package.json
  packages/web3-types/package.json
  packages/web3-utils/package.json
  packages/web3-validator/package.json
  packages/web3/package.json
  tools/web3-packagetemplate/package.json
  tools/web3-plugin-example/package.json
Due: prettier --write

Solve merge conflicts
  packages/web3-types/src/web3_api_types.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

using latest lighthouse docker image in tests (#5741)
  scripts/eth2.sh
Due: none

Build for 4.0.1-alpha.4
  CHANGELOG.md
  packages/web3-core/CHANGELOG.md
  packages/web3-core/package.json
  packages/web3-errors/CHANGELOG.md
  packages/web3-errors/package.json
  packages/web3-eth-abi/CHANGELOG.md
  packages/web3-eth-abi/package.json
  packages/web3-eth-accounts/CHANGELOG.md
  packages/web3-eth-accounts/package.json
  packages/web3-eth-contract/CHANGELOG.md
  packages/web3-eth-contract/package.json
  packages/web3-eth-ens/CHANGELOG.md
  packages/web3-eth-ens/package.json
  packages/web3-eth-iban/CHANGELOG.md
  packages/web3-eth-iban/package.json
  packages/web3-eth-personal/CHANGELOG.md
  packages/web3-eth-personal/package.json
  packages/web3-eth/CHANGELOG.md
  packages/web3-eth/package.json
  packages/web3-net/CHANGELOG.md
  packages/web3-net/package.json
  packages/web3-providers-http/CHANGELOG.md
  packages/web3-providers-http/package.json
  packages/web3-providers-ipc/CHANGELOG.md
  packages/web3-providers-ipc/package.json
  packages/web3-providers-ws/CHANGELOG.md
  packages/web3-providers-ws/package.json
  packages/web3-rpc-methods/CHANGELOG.md
  packages/web3-rpc-methods/package.json
  packages/web3-types/CHANGELOG.md
  packages/web3-types/package.json
  packages/web3-utils/CHANGELOG.md
  packages/web3-utils/package.json
  packages/web3-validator/CHANGELOG.md
  packages/web3-validator/package.json
  packages/web3/CHANGELOG.md
  packages/web3/package.json
  packages/web3/src/version.ts
  tools/web3-packagetemplate/package.json
  tools/web3-plugin-example/package.json
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Init TransactionWithFromLocalWalletIndex, TransactionWithToLocalWalletIndex, TransactionWithToAndFromLocalWalletIndex types
  packages/web3-eth/src/rpc_method_wrappers.ts
  packages/web3-eth/src/utils/transaction_builder.ts
  packages/web3-eth/src/web3_eth.ts
  packages/web3-eth/test/integration/web3_eth/send_transaction.test.ts
  packages/web3-types/src/eth_types.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Add null to Transaction.to
  packages/web3-types/src/eth_types.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Rename TransactionWithToAndFromLocalWalletIndex to TransactionWithFromAndToLocalWalletIndex
  packages/web3-eth/src/rpc_method_wrappers.ts
  packages/web3-eth/src/utils/transaction_builder.ts
  packages/web3-eth/src/web3_eth.ts
  packages/web3-eth/test/integration/web3_eth/send_transaction.test.ts
  packages/web3-types/src/eth_types.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

adding rpc error flag
  packages/web3-core/src/web3_config.ts
  packages/web3-core/src/web3_context.ts
  packages/web3-core/src/web3_request_manager.ts
  packages/web3-core/test/unit/__snapshots__/web3_context.test.ts.snap
  packages/web3-core/test/unit/web3_config.test.ts
  packages/web3-core/test/unit/web3_request_manager.test.ts
  packages/web3-errors/src/errors/rpc_errors.ts
  packages/web3-eth/test/integration/defaults.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

seperate tests
  packages/web3-core/test/unit/web3_request_manager.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

remove silent flag
  packages/web3-eth-contract/package.json
Due: prettier --write

update failing test
  packages/web3-eth/test/integration/defaults.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

rpc error code behind a flag
  packages/web3-core/src/web3_request_manager.ts
  packages/web3-rpc-methods/src/eth_rpc_methods.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

remove test
  packages/web3-rpc-methods/src/eth_rpc_methods.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update testcase
  packages/web3-core/test/unit/web3_request_manager.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Build for 4.0.1-alpha.4 (#5750)
  CHANGELOG.md
  packages/web3-core/CHANGELOG.md
  packages/web3-core/package.json
  packages/web3-errors/CHANGELOG.md
  packages/web3-errors/package.json
  packages/web3-eth-abi/CHANGELOG.md
  packages/web3-eth-abi/package.json
  packages/web3-eth-accounts/CHANGELOG.md
  packages/web3-eth-accounts/package.json
  packages/web3-eth-contract/CHANGELOG.md
  packages/web3-eth-contract/package.json
  packages/web3-eth-ens/CHANGELOG.md
  packages/web3-eth-ens/package.json
  packages/web3-eth-iban/CHANGELOG.md
  packages/web3-eth-iban/package.json
  packages/web3-eth-personal/CHANGELOG.md
  packages/web3-eth-personal/package.json
  packages/web3-eth/CHANGELOG.md
  packages/web3-eth/package.json
  packages/web3-net/CHANGELOG.md
  packages/web3-net/package.json
  packages/web3-providers-http/CHANGELOG.md
  packages/web3-providers-http/package.json
  packages/web3-providers-ipc/CHANGELOG.md
  packages/web3-providers-ipc/package.json
  packages/web3-providers-ws/CHANGELOG.md
  packages/web3-providers-ws/package.json
  packages/web3-rpc-methods/CHANGELOG.md
  packages/web3-rpc-methods/package.json
  packages/web3-types/CHANGELOG.md
  packages/web3-types/package.json
  packages/web3-utils/CHANGELOG.md
  packages/web3-utils/package.json
  packages/web3-validator/CHANGELOG.md
  packages/web3-validator/package.json
  packages/web3/CHANGELOG.md
  packages/web3/package.json
  packages/web3/src/version.ts
  tools/web3-packagetemplate/package.json
  tools/web3-plugin-example/package.json
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Remove web build
  packages/web3-validator/package.json
  packages/web3-validator/webpack.config.js
Due: prettier --write

Update CHANGELOG
  packages/web3-validator/CHANGELOG.md
Due: prettier --write

update changelog
  CHANGELOG.md
  packages/web3-core/CHANGELOG.md
Due: prettier --write

Add additional packages to blackbox package.json for browser testing
  packages/web3/test/black_box/package.json
Due: prettier --write

Add startBackgroundAndPrePublish command
  scripts/verdaccio.sh
Due: none

Add prePublish command
  scripts/verdaccio.sh
Due: none

Add build:web to lernaBuildAndCommit
  scripts/verdaccio.sh
Due: none

Init cypress, tsconfig, and cypress test NPM scripts for blackbox tests
  packages/web3/test/black_box/cypress.config.js
  packages/web3/test/black_box/cypress/plugins/index.js
  packages/web3/test/black_box/cypress/support/e2e.js
  packages/web3/test/black_box/cypress/tsconfig.json
  packages/web3/test/black_box/cypress/webpack.config.js
  packages/web3/test/black_box/package.json
  packages/web3/test/black_box/test/config/jest.config.js
  packages/web3/test/black_box/test/config/setup.js
  packages/web3/test/black_box/test/tsconfig.json
  packages/web3/test/black_box/tsconfig.json
Due: prettier --write

Add typescript dev dependency
  packages/web3/test/black_box/package.json
  packages/web3/test/black_box/yarn.lock
Due: prettier --write

Init test:e2e:PROVIDER:BROWSER NPM scripts
  packages/web3/test/black_box/package.json
Due: prettier --write

Init test:blackbox:e2e:PROVIDER:PROTOCOL:BROWSER NPM scripts
  package.json
Due: prettier --write

Update black box script to allow TEST_TYPE and BROWSER variables
  packages/web3/scripts/black_box_test.sh
Due: none

Update and init blackbox e2e test NPM scripts
  package.json
  packages/web3/package.json
  packages/web3/test/black_box/package.json
Due: prettier --write

black box script refactors
  packages/web3/scripts/black_box_test.sh
Due: none

NPM script refactors
  package.json
  packages/web3/package.json
  packages/web3/test/black_box/package.json
Due: prettier --write

Remove unused PROVIDER_URL variable
  packages/web3/scripts/black_box_test.sh
Due: none

Path conditions:
  prettier --write: ((any of: *.js) or (any of: *.ts)) or (any of: *.{json,md})
  eslint --rulesdir ./tools/eslint-config-web3-base/rules: any of: *.ts
