Repository web3/web3.js: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

.lintstagedrc.json:

{
	"*.js": ["prettier --write"],
	"*.ts": ["prettier --write", "eslint --rulesdir ./tools/eslint-config-web3-base/rules"],
	"*.{json,md}": ["prettier --write"]
}

fix types
  packages/web3-providers-ws/test/unit/web_socket_provider.test.ts
  packages/web3-types/src/web3_base_provider.ts
  packages/web3-utils/src/socket_provider.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Add internalType prop to the AbiParameter type.
  packages/web3-types/CHANGELOG.md
  packages/web3-types/src/eth_abi_types.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

applied suggested changed as removed github doc link
  README.md
Due: prettier --write

updated the file (#6073)
  README.md
Due: prettier --write

a tutorial for smart contract basic interaction
  docs/docs/tutorals/smart_contract/deploying_and_interacting_with_smart_contracts.md
Due: prettier --write

relocate the file of the smart contract guide
  docs/docs/tutorials/deploying_and_interacting_with_smart_contracts.md
Due: prettier --write

add tutorials section to the docs sidebar
  docs/docusaurus.config.js
  docs/sidebars.js
Due: prettier --write

fix integration tests
  packages/web3-eth-ens/test/integration/ens.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix!: remove non read-only ens methods
  CHANGELOG.md
  packages/web3-eth-ens/src/abi/ens/ENSRegistry.ts
  packages/web3-eth-ens/src/abi/reverse_registrar.ts
  packages/web3-eth-ens/src/abi/test_registrar.ts
  packages/web3-eth-ens/src/ens.ts
  packages/web3-eth-ens/src/index.ts
  packages/web3-eth-ens/src/registry.ts
  packages/web3-eth-ens/src/resolver.ts
  packages/web3-eth-ens/test/fixtures/ens/abi/ENSRegistry.ts
  packages/web3-eth-ens/test/fixtures/ens/abi/PublicResolver.ts
  packages/web3-eth-ens/test/integration/ens.events.test.ts
  packages/web3-eth-ens/test/integration/ens.test.ts
  packages/web3-eth-ens/test/integration/resolver.test.ts
  packages/web3-eth-ens/test/unit/abi.test.ts
  packages/web3-eth-ens/test/unit/constructor.test.ts
  packages/web3-eth-ens/test/unit/ens.test.ts
  packages/web3-eth-ens/test/unit/registry.test.ts
  packages/web3-eth-ens/test/unit/resolver.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Add internalType prop to the AbiParameter type. (#6052)
  packages/web3-types/CHANGELOG.md
  packages/web3-types/src/eth_abi_types.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fillGasPrice option param and test fixes
  packages/web3-core/src/web3_context.ts
  packages/web3-eth/src/utils/prepare_transaction_for_signing.ts
  packages/web3-eth/src/utils/transaction_builder.ts
  packages/web3-eth/test/integration/defaults.test.ts
  packages/web3-eth/test/integration/defaults.transactionBlockTimeout.test.ts
  packages/web3-eth/test/integration/nonce.test.ts
  packages/web3-eth/test/integration/web3_eth/send_transaction.test.ts
  packages/web3-eth/test/unit/default_transaction_builder.test.ts
  packages/web3-eth/test/unit/prepare_transaction_for_signing.test.ts
  scripts/system_tests_utils.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

tx tests fix
  packages/web3/test/fixtures/transactions.json
  packages/web3/test/integration/web3.eth.transaction.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

format signed message
  packages/web3-eth-accounts/src/account.ts
  packages/web3-eth/src/rpc_method_wrappers.ts
  packages/web3-eth/src/schemas.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

few corrects at Web3 Providers guide
  docs/docs/guides/web3_providers_guide/index.md
Due: prettier --write

add web3 providers tutorial
  docs/docs/tutorials/providers.md
Due: prettier --write

update entry at docusaurus config for tutorials
  docs/docusaurus.config.js
Due: prettier --write

add support for old providers
  packages/web3-core/src/web3_subscriptions.ts
  packages/web3-types/src/web3_base_provider.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

add rpc tests
  packages/web3-eth/src/rpc_method_wrappers.ts
  packages/web3-eth/src/schemas.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/fixtures/sign.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/sign.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Add unit tests for coverage
  packages/web3-eth/test/unit/default_transaction_builder.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Add test for coverage
  packages/web3-eth/test/unit/default_transaction_builder.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Add plugin
  docs/docusaurus.config.js
  docs/package.json
  docs/yarn.lock
Due: prettier --write

6075 - update return format (#6083)
  packages/web3-eth-accounts/src/account.ts
  packages/web3-eth/src/rpc_method_wrappers.ts
  packages/web3-eth/src/schemas.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/fixtures/sign.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/sign.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update docusaurus to version 2.4.1
  docs/package.json
  docs/yarn.lock
Due: prettier --write

few edits to Smart Contracts tutorial
  docs/docs/tutorials/deploying_and_interacting_with_smart_contracts.md
Due: prettier --write

Update packages/web3-core/src/web3_subscriptions.ts
  packages/web3-core/src/web3_subscriptions.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

init
  .husky/pre-commit
  packages/web3/test/integration/web3.eth.transaction.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

tiny text update in docs
  docs/docs/tutorials/deploying_and_interacting_with_smart_contracts.md
Due: prettier --write

add changelogs
  packages/web3-core/CHANGELOG.md
  packages/web3-types/CHANGELOG.md
Due: prettier --write

init
  .github/workflows/build.yml
  package.json
Due: prettier --write

Update `formatTransaction` to not delete `data` property (#6080)
  packages/web3-eth/src/utils/format_transaction.ts
  packages/web3-eth/src/utils/transaction_builder.ts
  packages/web3-eth/test/integration/web3_eth/send_transaction.test.ts
  packages/web3-eth/test/unit/default_transaction_builder.test.ts
  tools/web3-plugin-example/test/unit/contract_method_wrappers.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

move build types
  .github/workflows/build.yml
Due: none

combine lint and esm build
  .github/workflows/build.yml
Due: none

update IpcProvider imports
  docs/docs/guides/web3_migration_guide/providers_migration_guide.md
  docs/docs/tutorials/providers.md
  packages/web3-eth-ens/test/integration/ens.events.test.ts
  packages/web3-eth-ens/test/integration/ens.test.ts
  packages/web3-eth-ens/test/integration/resolver.test.ts
  packages/web3-eth/test/integration/eth.test.ts
  packages/web3-eth/test/integration/subscribe.test.ts
  packages/web3-eth/test/integration/subscription_logs.test.ts
  packages/web3-eth/test/integration/subscription_logs_block.test.ts
  packages/web3-eth/test/integration/unsubscribe.test.ts
  packages/web3-providers-ipc/test/integration/eip1193.test.ts
  packages/web3-providers-ipc/test/integration/reconnection.test.ts
  packages/web3-providers-ipc/test/unit/check_implementation.test.ts
  packages/web3-providers-ipc/test/unit/ipc_provider.test.ts
  packages/web3/test/integration/ipc.test.ts
  packages/web3/test/integration/web3.test.ts
  scripts/system_tests_utils.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix eip providers. add extra tests
  packages/web3-core/src/web3_subscriptions.ts
  packages/web3-core/test/unit/web3_subscription_old_providers.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix lint tests
  .github/workflows/build.yml
Due: none

fix unit tests
  packages/web3-core/test/unit/web3_subscription.test.ts
  packages/web3-core/test/unit/web3_subscription_old_providers.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

separate lint
  .github/workflows/build.yml
Due: none

independ lint
  .github/workflows/build.yml
Due: none

Listening events on v4 is not working (#6082)
  packages/web3-core/CHANGELOG.md
  packages/web3-core/src/web3_subscriptions.ts
  packages/web3-core/test/unit/web3_subscription.test.ts
  packages/web3-core/test/unit/web3_subscription_old_providers.test.ts
  packages/web3-providers-ws/test/integration/web_socket_provider_integration.test.ts
  packages/web3-providers-ws/test/unit/web_socket_provider.test.ts
  packages/web3-types/CHANGELOG.md
  packages/web3-types/src/json_rpc_types.ts
  packages/web3-types/src/web3_base_provider.ts
  packages/web3-utils/src/socket_provider.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules
