Repository web3/web3.js: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Refactor test runner fix
  scripts/test-runner.sh
Due: none

Increase web3.utils package Unit Testing coverage to > 80% (#6061)
  packages/web3-utils/src/promise_helpers.ts
  packages/web3-utils/test/unit/promise_helpers.test.ts
  packages/web3-utils/test/unit/socket_provider.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Test
  packages/web3-eth/test/integration/subscription_logs.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Test fix for sub heads test
  packages/web3-eth/test/integration/subscription_heads.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Test fix for sub logs test
  packages/web3-eth/test/integration/subscription_logs.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Add --rpc.enabledeprecatedpersonal for geth-binary docker command
  scripts/geth_binary.sh
Due: none

Test fix for contract deploy test
  packages/web3-eth-contract/test/integration/local_account/contract_deploy.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Revert testing changes
  .github/workflows/build.yml
Due: none

Formatting
  .github/workflows/build.yml
Due: none

update convertscalar method
  packages/web3-utils/src/formatter.ts
  packages/web3-utils/test/fixtures/formatter.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

add more Contract unit tests
  packages/web3-eth-contract/test/unit/contract.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Wyatt/4.x/5996 failing ipc tests (#6069)
  packages/web3-eth-contract/test/integration/local_account/contract_deploy.test.ts
  packages/web3-eth/test/integration/subscription_heads.test.ts
  packages/web3-eth/test/integration/subscription_logs.test.ts
  scripts/geth_binary.sh
  scripts/test-runner.sh
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

transactions test data
  packages/web3/test/fixtures/transactions.json
Due: prettier --write

transactions integration test
  packages/web3/test/integration/web3.eth.transaction.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

bug fix 6063
  packages/web3-eth/src/utils/transaction_builder.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

changelog update
  packages/web3-eth/CHANGELOG.md
Due: prettier --write

update schema
  packages/web3-eth/src/schemas.ts
  packages/web3-utils/test/fixtures/formatter.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update schema
  packages/web3-eth/src/schemas.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

updated the file
  README.md
Due: prettier --write

update padding format and tests
  packages/web3-eth/src/rpc_method_wrappers.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/get_block.test.ts
  packages/web3-utils/src/formatter.ts
  packages/web3-utils/test/fixtures/formatter.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

remove arraybuffer from byte types
  packages/web3-types/src/primitives_types.ts
  packages/web3-utils/src/hash.ts
  packages/web3-validator/src/types.ts
  packages/web3-validator/test/fixtures/validation.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

remove else conditional
  packages/web3-utils/src/formatter.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update formatter unit tests
  packages/web3-utils/test/fixtures/formatter.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update formatter (#6068)
  packages/web3-eth/src/rpc_method_wrappers.ts
  packages/web3-eth/src/schemas.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/get_block.test.ts
  packages/web3-types/src/primitives_types.ts
  packages/web3-utils/src/formatter.ts
  packages/web3-utils/src/hash.ts
  packages/web3-utils/test/fixtures/formatter.ts
  packages/web3-validator/src/types.ts
  packages/web3-validator/test/fixtures/validation.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Remove deletion of data property in formatTransaction
  packages/web3-eth/src/utils/format_transaction.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Add input property to transaction sent in send_transaction integration tests
  packages/web3-eth/test/integration/web3_eth/send_transaction.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update formatTransaction to add data property if only provided input and vice verse
  packages/web3-eth/src/utils/format_transaction.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Fix plugin unit tests
  tools/web3-plugin-example/test/unit/contract_method_wrappers.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update input/data logic in transaction builder
  packages/web3-eth/src/utils/transaction_builder.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Build commit for 1.10.0
  dist/web3.min.js
  dist/web3.min.js.map
Due: prettier --write

fix for metamask
  packages/web3-core/src/web3_subscriptions.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

simplify `_createContractMethod`
  packages/web3-eth-contract/src/contract.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

add tests
  packages/web3-core/test/unit/web3_subscription_old_providers.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

remove comments
  packages/web3-core/test/unit/web3_subscription_old_providers.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update return format
  packages/web3-eth/src/rpc_method_wrappers.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix web3 providers
  packages/web3-core/src/web3_subscriptions.ts
  packages/web3-providers-ws/test/integration/web_socket_provider_integration.test.ts
  packages/web3-types/src/json_rpc_types.ts
  packages/web3-types/src/web3_base_provider.ts
  packages/web3-utils/src/socket_provider.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Path conditions:
  prettier --write: ((any of: *.js) or (any of: *.ts)) or (any of: *.{json,md})
  eslint --rulesdir ./tools/eslint-config-web3-base/rules: any of: *.ts
