Repository web3/web3.js: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

.lintstagedrc.json:

{
	"*.js": ["prettier --write"],
	"*.ts": ["prettier --write", "eslint --rulesdir ./tools/eslint-config-web3-base/rules"],
	"*.{json,md}": ["prettier --write"]
}

test with timeout
  packages/web3-eth/src/rpc_method_wrappers.ts
  packages/web3-eth/test/integration/helper.ts
  packages/web3-eth/test/integration/subscription_heads.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

without nonce test
  packages/web3-eth/test/integration/defaults.transactionBlockTimeout.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

increase tx count for ipc
  packages/web3-eth/test/integration/subscription_heads.test.ts
  packages/web3-eth/test/integration/subscription_new_pending_tx.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

test
  packages/web3-eth/test/integration/defaults.transactionBlockTimeout.test.ts
  packages/web3-eth/test/integration/subscription_new_pending_tx.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix
  packages/web3-eth/test/integration/defaults.transactionBlockTimeout.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

refactor: Remove the unnecessary chainId parameter
  packages/web3-utils/types/index.d.ts
  packages/web3-utils/types/tests/to-check-sum-address-test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Add error code for invalid receiver and update next error codes
  packages/web3-errors/src/error_codes.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Fix error code number
  packages/web3-errors/src/error_codes.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Allow 'to' property in 'TransactionWithLocalWalletIndex' to be number
  packages/web3-types/src/eth_types.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Create web3 error for invalid receiver
  packages/web3-errors/src/errors/transaction_errors.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Allow function to extract desired attribute and create two high level functions for to and from
  packages/web3-eth/src/utils/transaction_builder.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Extract in sendTransaction the 'to' property
  packages/web3-eth/src/rpc_method_wrappers.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

send txes without wait for receipt
  packages/web3-eth/test/integration/defaults.test.ts
  packages/web3-eth/test/integration/defaults.transactionBlockTimeout.test.ts
  packages/web3-eth/test/integration/helper.ts
  packages/web3-eth/test/integration/subscription_heads.test.ts
  packages/web3-eth/test/integration/watch_transaction.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

add cloudflare deploy (#5728)
  .github/workflows/deploy-docs.yaml
Due: none

update1xdependencies (#5727)
  CHANGELOG.md
  package-lock.json
Due: prettier --write

Fix: minor typo
  docs/glossary.rst
Due: none

Fix: minor typo
  docs/web3-bzz.rst
Due: none

Fix: minor typo
  docs/web3-eth-abi.rst
Due: none

add eip 1747 error codes
  packages/web3-core/src/web3_request_manager.ts
  packages/web3-core/test/unit/web3_request_manager.test.ts
  packages/web3-errors/src/error_codes.ts
  packages/web3-errors/src/errors/rpc_errors.ts
  packages/web3-errors/src/index.ts
  packages/web3-eth/src/rpc_method_wrappers.ts
  packages/web3-rpc-methods/src/eth_rpc_methods.ts
  packages/web3-utils/src/json_rpc.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fixing up error codes
  packages/web3-core/test/unit/web3_request_manager.test.ts
  packages/web3-errors/src/errors/rpc_errors.ts
  packages/web3-utils/src/json_rpc.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Revert "Add error code for invalid receiver and update next error codes" and add receiver error code as 437
  packages/web3-errors/src/error_codes.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Add tests
  packages/web3-eth/test/integration/web3_eth/send_transaction.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update CHANGELOGs
  CHANGELOG.md
  packages/web3-eth/CHANGELOG.md
Due: prettier --write

Update web3-eth-accounts.rst
  docs/web3-eth-accounts.rst
Due: none

addressing feedback
  packages/web3-core/src/web3_request_manager.ts
  packages/web3-errors/src/errors/rpc_errors.ts
  packages/web3-rpc-methods/src/eth_rpc_methods.ts
  packages/web3-utils/src/json_rpc.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

removing comment
  packages/web3-eth/src/rpc_method_wrappers.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

debug
  packages/web3-core/src/web3_request_manager.ts
  packages/web3-eth-contract/package.json
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fixing errors
  packages/web3-core/src/web3_request_manager.ts
  packages/web3-errors/src/errors/rpc_errors.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix testcases
  packages/web3-core/src/web3_request_manager.ts
  packages/web3-core/test/unit/web3_request_manager.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update tsconfigs and package.jsons to use lib for build instead of dist
  packages/web3-core/package.json
  packages/web3-core/tsconfig.json
  packages/web3-errors/package.json
  packages/web3-eth-abi/package.json
  packages/web3-eth-abi/tsconfig.json
  packages/web3-eth-accounts/package.json
  packages/web3-eth-accounts/tsconfig.json
  packages/web3-eth-contract/package.json
  packages/web3-eth-contract/src/encoding.ts
  packages/web3-eth-contract/tsconfig.json
  packages/web3-eth-ens/package.json
  packages/web3-eth-iban/package.json
  packages/web3-eth-personal/package.json
  packages/web3-eth-personal/tsconfig.json
  packages/web3-eth/package.json
  packages/web3-eth/tsconfig.json
  packages/web3-net/package.json
  packages/web3-net/tsconfig.json
  packages/web3-providers-http/package.json
  packages/web3-providers-ipc/package.json
  packages/web3-providers-ipc/tsconfig.json
  packages/web3-providers-ws/package.json
  packages/web3-rpc-methods/package.json
  packages/web3-types/package.json
  packages/web3-types/tsconfig.json
  packages/web3-utils/package.json
  packages/web3-utils/tsconfig.json
  packages/web3-validator/package.json
  packages/web3-validator/tsconfig.json
  packages/web3/package.json
  packages/web3/tsconfig.json
  templates/tsconfig.json.tmpl
  tools/web3-packagetemplate/package.json
  tools/web3-plugin-example/tsconfig.json
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update files entry in package.jsons to use lib instead of dist
  packages/web3-core/package.json
  packages/web3-errors/package.json
  packages/web3-eth-abi/package.json
  packages/web3-eth-accounts/package.json
  packages/web3-eth-contract/package.json
  packages/web3-eth-ens/package.json
  packages/web3-eth-iban/package.json
  packages/web3-eth-personal/package.json
  packages/web3-eth/package.json
  packages/web3-net/package.json
  packages/web3-providers-http/package.json
  packages/web3-providers-ipc/package.json
  packages/web3-providers-ws/package.json
  packages/web3-rpc-methods/package.json
  packages/web3-types/package.json
  packages/web3-utils/package.json
  packages/web3-validator/package.json
  packages/web3/package.json
  tools/web3-packagetemplate/package.json
  tools/web3-plugin-example/package.json
Due: prettier --write

Update CHANGELOGs
  CHANGELOG.md
  packages/web3-core/CHANGELOG.md
  packages/web3-errors/CHANGELOG.md
  packages/web3-eth-abi/CHANGELOG.md
  packages/web3-eth-accounts/CHANGELOG.md
  packages/web3-eth-contract/CHANGELOG.md
  packages/web3-eth-ens/CHANGELOG.md
  packages/web3-eth-iban/CHANGELOG.md
  packages/web3-eth-personal/CHANGELOG.md
  packages/web3-eth/CHANGELOG.md
  packages/web3-net/CHANGELOG.md
  packages/web3-providers-http/CHANGELOG.md
  packages/web3-providers-ipc/CHANGELOG.md
  packages/web3-providers-ws/CHANGELOG.md
  packages/web3-rpc-methods/CHANGELOG.md
  packages/web3-types/CHANGELOG.md
  packages/web3-utils/CHANGELOG.md
  packages/web3-validator/CHANGELOG.md
  packages/web3/CHANGELOG.md
Due: prettier --write

Add lib to .eslintignore
  packages/web3-core/.eslintignore
  packages/web3-eth-abi/.eslintignore
  packages/web3-eth-personal/.eslintignore
  packages/web3-net/.eslintignore
  packages/web3-providers-ipc/.eslintignore
  packages/web3-types/.eslintignore
  packages/web3-types/src/web3_api_types.ts
  packages/web3-utils/.eslintignore
  packages/web3-validator/.eslintignore
  packages/web3/.eslintignore
  templates/.eslintignore.tmpl
  templates/.prettierignore.tmpl
  tools/web3-plugin-example/.eslintignore
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Remove dist from file paths
  packages/web3-eth/test/integration/defaults.test.ts
  packages/web3-eth/test/integration/unsubscribe.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Upadte clean and prebuild npm scripts to include lib
  packages/web3-core/package.json
  packages/web3-errors/package.json
  packages/web3-eth-abi/package.json
  packages/web3-eth-accounts/package.json
  packages/web3-eth-contract/package.json
  packages/web3-eth-ens/package.json
  packages/web3-eth-iban/package.json
  packages/web3-eth-personal/package.json
  packages/web3-eth/package.json
  packages/web3-net/package.json
  packages/web3-providers-http/package.json
  packages/web3-providers-ipc/package.json
  packages/web3-providers-ws/package.json
  packages/web3-rpc-methods/package.json
  packages/web3-types/package.json
  packages/web3-utils/package.json
  packages/web3-validator/package.json
  packages/web3/package.json
  tools/web3-packagetemplate/package.json
  tools/web3-plugin-example/package.json
Due: prettier --write

Add changelogs for web3-error
  CHANGELOG.md
Due: prettier --write

npm i for 1.8.2
  packages/web3-bzz/package-lock.json
  packages/web3-core-helpers/package-lock.json
  packages/web3-core/package-lock.json
  packages/web3-eth-personal/package-lock.json
  packages/web3-eth2-beaconchain/package-lock.json
  packages/web3-providers-ipc/package-lock.json
  packages/web3-shh/package-lock.json
  packages/web3-utils/package-lock.json
  packages/web3/package-lock.json
Due: prettier --write

changelog update for 1.8.2
  CHANGELOG.md
Due: prettier --write
