Repository web3/web3.js: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Remove formatting error
  packages/web3-eth-contract/src/contract.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

move syncWithContext in contract init options
  packages/web3-eth-contract/src/contract.ts
  packages/web3/src/web3.ts
  packages/web3/test/integration/web3.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

move syncWithContext in contract init options
  packages/web3-eth-contract/src/contract.ts
  packages/web3-eth-contract/src/types.ts
  packages/web3-eth-contract/src/utils.ts
  packages/web3/src/web3.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Fix and test
  packages/web3-eth-contract/src/contract.ts
  packages/web3-eth-contract/src/utils.ts
  packages/web3-eth-contract/test/integration/contract_defaults.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update changelog
  packages/web3-eth-contract/CHANGELOG.md
Due: prettier --write

add e2e coverage tests
  .github/workflows/build.yml
  package.json
  packages/web3-eth/coverage/coverage-final.json
  packages/web3-eth/coverage/coverage-summary.json
  packages/web3-eth/package.json
  templates/jest.config.js.tmpl
Due: prettier --write

add coverage for integration tests
  .github/workflows/build.yml
  package.json
  packages/web3-core/package.json
  packages/web3-errors/package.json
  packages/web3-eth-abi/package.json
  packages/web3-eth-accounts/package.json
  packages/web3-eth-contract/package.json
  packages/web3-eth-ens/package.json
  packages/web3-eth-iban/package.json
  packages/web3-eth-personal/package.json
  packages/web3-eth/package.json
  packages/web3-net/package.json
  packages/web3-providers-http/package.json
  packages/web3-providers-ipc/package.json
  packages/web3-providers-ws/package.json
  packages/web3-rpc-methods/package.json
  packages/web3-types/package.json
  packages/web3-utils/package.json
  packages/web3-validator/package.json
  packages/web3/package.json
  scripts/test-runner.sh
  tools/web3-packagetemplate/package.json
  tools/web3-plugin-example/package.json
Due: prettier --write

update build.yml
  .github/workflows/build.yml
Due: none

web3-providers-ws Test Coverage (#5796)
  packages/web3-providers-ws/test/unit/check_implementation.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix
  packages/web3-providers-ipc/test/unit/check_implementation.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update command
  package.json
  scripts/test-runner.sh
Due: prettier --write

mock parser
  packages/web3-providers-ipc/test/unit/check_implementation.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

test
  .github/workflows/build.yml
  packages/web3-providers-ipc/test/unit/check_implementation.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

test
  packages/web3-providers-ipc/test/unit/check_implementation.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

WIP
  packages/web3-errors/src/errors/transaction_errors.ts
  packages/web3-eth/src/rpc_method_wrappers.ts
  packages/web3-eth/src/types.ts
  packages/web3-eth/src/utils/get_revert_reason.ts
  packages/web3-eth/test/integration/web3_eth/send_transaction.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

revert actions
  .github/workflows/build.yml
  packages/web3-providers-ipc/test/unit/check_implementation.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

change log updates
  packages/web3-eth-contract/CHANGELOG.md
  packages/web3-eth/CHANGELOG.md
  packages/web3-rpc-methods/CHANGELOG.md
Due: prettier --write

5488 create access list (#5780)
  packages/web3-eth-contract/CHANGELOG.md
  packages/web3-eth-contract/src/contract.ts
  packages/web3-eth-contract/src/types.ts
  packages/web3-eth-contract/src/utils.ts
  packages/web3-eth-contract/test/integration/contract_accesslist.test.ts
  packages/web3-eth-contract/test/unit/contract.test.ts
  packages/web3-eth/CHANGELOG.md
  packages/web3-eth/src/rpc_method_wrappers.ts
  packages/web3-eth/src/schemas.ts
  packages/web3-eth/src/web3_eth.ts
  packages/web3-eth/test/integration/web3_eth/createAccessList.test.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/createAccessList.test.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/fixtures/createAccessList.ts
  packages/web3-rpc-methods/CHANGELOG.md
  packages/web3-rpc-methods/src/eth_rpc_methods.ts
  packages/web3-rpc-methods/src/types.ts
  packages/web3-rpc-methods/test/unit/eth_rpc_methods/createAccessList.test.ts
  packages/web3-rpc-methods/test/unit/eth_rpc_methods/fixtures/createAccessList.ts
  packages/web3-types/src/eth_types.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

web3-providers-ipc Test Coverage (#5803)
  packages/web3-providers-ipc/test/unit/check_implementation.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

add colon
  scripts/test-runner.sh
Due: none

update command
  scripts/test-runner.sh
Due: none

Update web3-eth-accounts.rst
  docs/web3-eth-accounts.rst
Due: none

update integration test script
  scripts/test-runner.sh
Due: none

update test:coverage:integration command
  packages/web3-eth/package.json
Due: prettier --write

update test coverage command
  scripts/test-runner.sh
Due: none

remove coverage
  packages/web3-eth/coverage/coverage-final.json
  packages/web3-eth/coverage/coverage-summary.json
Due: prettier --write

Update values for confirmation transactions
  packages/web3-eth/test/integration/defaults.test.ts
  packages/web3-eth/test/integration/subscription_heads.test.ts
  packages/web3-eth/test/integration/watch_transaction.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Try script for mining
  scripts/geth_binary.sh
  scripts/mineOnPendingTransactions.js
Due: prettier --write

Fix typo
  scripts/geth_binary.sh
Due: none

Add relative path
  scripts/geth_binary.sh
Due: none

Fix relative path
  scripts/geth_binary.sh
Due: none

update gas example from number to string number
  docs/web3-eth-accounts.rst
Due: none

only check lines per feedback
  templates/jest.config.js.tmpl
Due: none

Reenable setTimeout
  packages/web3-eth/test/integration/helper.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Revert release.md
  RELEASE.md
Due: prettier --write

Fireup console with geth
  scripts/geth_binary.sh
  scripts/mineOnPendingTransactions.js
Due: prettier --write

add unit test for version and index
  packages/web3/test/unit/index.test.ts
  packages/web3/test/unit/version.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Path conditions:
  prettier --write: ((any of: *.js) or (any of: *.ts)) or (any of: *.{json,md})
  eslint --rulesdir ./tools/eslint-config-web3-base/rules: any of: *.ts
