Repository web3/web3.js: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

.lintstagedrc.json:

{
	"*.js": ["prettier --write"],
	"*.ts": ["prettier --write", "eslint --rulesdir ./tools/eslint-config-web3-base/rules"],
	"*.{json,md}": ["prettier --write"]
}

draft
  .husky/pre-commit
  packages/web3-common/src/types.ts
  packages/web3-core/src/web3_subscription_manager.ts
  packages/web3-core/src/web3_subscriptions.ts
  packages/web3-eth-contract/src/log_subscription.ts
  packages/web3-eth-contract/src/types.ts
  packages/web3-eth/src/schemas.ts
  packages/web3-eth/src/web3_eth.ts
  packages/web3-eth/src/web3_subscriptions.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

merge
  packages/web3-eth/src/web3_subscriptions.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix unit:tests
  packages/web3-common/src/types.ts
  packages/web3-core/test/unit/web3_subscription_manager.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

adding then methods
  packages/web3-net/src/index.ts
  packages/web3-net/src/net.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Apply suggestions from code review
  packages/web3-eth-contract/types/index.d.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

await instead of then
  packages/web3-net/src/index.ts
  packages/web3-net/src/net.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

4975/net documentation (#5258)
  docs/docs/guides/accounts_migration_guide.md
  docs/docs/guides/net_migration_guide.md
  packages/web3-net/src/index.ts
  packages/web3-net/src/net.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

:recycle: Update the types for web3-eth
  packages/web3-eth/src/errors.ts
  packages/web3-eth/src/rpc_method_wrappers.ts
  packages/web3-eth/src/rpc_methods.ts
  packages/web3-eth/src/types.ts
  packages/web3-eth/src/utils/detect_transaction_type.ts
  packages/web3-eth/src/utils/format_transaction.ts
  packages/web3-eth/src/utils/get_transaction_gas_pricing.ts
  packages/web3-eth/src/utils/prepare_transaction_for_signing.ts
  packages/web3-eth/src/utils/transaction_builder.ts
  packages/web3-eth/src/utils/wait_for_transaction_receipt.ts
  packages/web3-eth/src/utils/watch_transaction_for_confirmations.ts
  packages/web3-eth/src/validation.ts
  packages/web3-eth/src/web3_eth.ts
  packages/web3-eth/test/fixtures/validation.ts
  packages/web3-eth/test/integration/helper.ts
  packages/web3-eth/test/integration/rpc.block.test.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/fixtures/get_logs.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/fixtures/get_pending_transactions.ts
  packages/web3-types/src/eth_execution_api.ts
  packages/web3-types/src/eth_types.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

:art: Update eth types accross the packages
  packages/web3-eth-contract/src/contract.ts
  packages/web3-eth-contract/src/types.ts
  packages/web3-eth-contract/src/utils.ts
  packages/web3-eth-ens/src/ens.ts
  packages/web3-eth-personal/src/eth_personal_api.ts
  packages/web3-eth-personal/src/personal.ts
  packages/web3-eth-personal/src/rcp_methods.ts
  packages/web3-eth-personal/src/rpc_method_wrappers.ts
  packages/web3/src/accounts.ts
  packages/web3/src/types.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

:white_check_mark: Fix failing unit tests
  packages/web3-core/test/unit/formatters.test.ts
  packages/web3-errors/test/unit/__snapshots__/errors.test.ts.snap
  packages/web3-eth-abi/test/unit/types.test.ts
  packages/web3-eth-accounts/test/unit/account.test.ts
  packages/web3-eth-contract/src/contract.ts
  packages/web3-eth-contract/test/fixtures/erc20.ts
  packages/web3-eth-contract/test/fixtures/erc721.ts
  packages/web3-eth/test/fixtures/detect_transaction_type.ts
  packages/web3-eth/test/fixtures/format_transaction.ts
  packages/web3-eth/test/fixtures/prepare_transaction_for_signing.ts
  packages/web3-eth/test/fixtures/rpc_methods_wrappers.ts
  packages/web3-eth/test/fixtures/validate_transaction_for_signing.ts
  packages/web3-eth/test/fixtures/web3_eth_methods_with_parameters.ts
  packages/web3-eth/test/unit/default_transaction_builder.test.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/fixtures/call.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/fixtures/estimate_gas.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/fixtures/get_fee_history.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/fixtures/get_transaction.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/fixtures/get_transaction_from_block.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/fixtures/send_signed_transaction.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/fixtures/send_transaction.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/fixtures/sign_transaction.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/get_transaction_from_block.test.ts
  packages/web3-eth/test/unit/rpc_methods/fixtures/call.ts
  packages/web3-eth/test/unit/rpc_methods/fixtures/estimate_gas.ts
  packages/web3-eth/test/unit/rpc_methods/fixtures/get_uncle_count_by_block_hash.ts
  packages/web3-eth/test/unit/rpc_methods/fixtures/send_transaction.ts
  packages/web3-eth/test/unit/rpc_methods/fixtures/sign_transaction.ts
  packages/web3-providers-ws/test/unit/web_socket_provider.test.ts
  packages/web3-types/package.json
  packages/web3-validator/test/fixtures/validation.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

:art: Fix an issue with integration test utility
  scripts/system_tests_utils.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

WIP Web3Eth docs
  packages/web3-eth/src/web3_eth.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

:memo: Updat docs references
  CHANGELOG.md
  README.md
  docs/docs/guides/setting_provider.md
  docs/docusaurus.config.js
  packages/web3-errors/src/types.ts
  packages/web3-types/README.md
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

:white_check_mark: Fix integration tests for web3-eth
  packages/web3-eth/test/integration/defaults.test.ts
  packages/web3-eth/test/integration/eth.test.ts
  packages/web3-eth/test/integration/rpc.test.ts
  packages/web3-eth/test/integration/watch_transaction.test.ts
  packages/web3-eth/test/integration/watch_transaction_polling.test.ts
  packages/web3-eth/test/integration/web3_eth/call.test.ts
  packages/web3-eth/test/integration/web3_eth/estimate_gas.test.ts
  packages/web3-eth/test/integration/web3_eth/send_signed_transaction.test.ts
  packages/web3-eth/test/integration/web3_eth/send_transaction.test.ts
  packages/web3-eth/test/integration/web3_eth/sign.test.ts
  packages/web3-eth/test/integration/web3_eth/sign_transaction.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

:white_check_mark: Fix integration tests for web3 package
  packages/web3/test/integration/web3.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

:pencil2: Fix an unused type
  packages/web3-errors/src/types.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

:label: Fix few types
  packages/web3-errors/src/errors/connection_errors.ts
  packages/web3-errors/src/types.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

:label: Updated the types for errors package
  packages/web3-errors/src/errors/transaction_errors.ts
  packages/web3-errors/src/index.ts
  packages/web3-errors/src/types.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update CHANGELOG.md
  CHANGELOG.md
Due: prettier --write

update package-lock
  package-lock.json
Due: prettier --write

:arrow_up: Update the package versions and dependencies
  packages/web3-core/package.json
  packages/web3-errors/package.json
  packages/web3-eth-abi/package.json
  packages/web3-eth-accounts/package.json
  packages/web3-eth-contract/package.json
  packages/web3-eth-ens/package.json
  packages/web3-eth-iban/package.json
  packages/web3-eth-personal/package.json
  packages/web3-eth/package.json
  packages/web3-net/package.json
  packages/web3-providers-http/package.json
  packages/web3-providers-ipc/package.json
  packages/web3-providers-ws/package.json
  packages/web3-types/package.json
  packages/web3-utils/package.json
  packages/web3-validator/package.json
  packages/web3/package.json
  tools/web3-packagetemplate/package.json
Due: prettier --write

deprecate formatters
  .husky/pre-commit
  packages/web3-common/src/formatters.ts
  packages/web3-eth-contract/src/encoding.ts
  packages/web3-eth-ens/src/registry.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

:arrow_up: Update the package versions and dependencies (#5275)
  packages/web3-core/package.json
  packages/web3-errors/package.json
  packages/web3-eth-abi/package.json
  packages/web3-eth-accounts/package.json
  packages/web3-eth-contract/package.json
  packages/web3-eth-ens/package.json
  packages/web3-eth-iban/package.json
  packages/web3-eth-personal/package.json
  packages/web3-eth/package.json
  packages/web3-net/package.json
  packages/web3-providers-http/package.json
  packages/web3-providers-ipc/package.json
  packages/web3-providers-ws/package.json
  packages/web3-types/package.json
  packages/web3-utils/package.json
  packages/web3-validator/package.json
  packages/web3/package.json
  tools/web3-packagetemplate/package.json
Due: prettier --write

:arrow_up: Update package dependencies
  package.json
  packages/web3-core/package.json
  packages/web3-core/src/web3_promi_event.ts
  packages/web3-errors/package.json
  packages/web3-eth-abi/package.json
  packages/web3-eth-accounts/package.json
  packages/web3-eth-contract/package.json
  packages/web3-eth-contract/src/contract.ts
  packages/web3-eth-ens/package.json
  packages/web3-eth-iban/package.json
  packages/web3-eth-personal/package.json
  packages/web3-eth/package.json
  packages/web3-net/package.json
  packages/web3-providers-http/package.json
  packages/web3-providers-ipc/package.json
  packages/web3-providers-ws/package.json
  packages/web3-types/package.json
  packages/web3-utils/package.json
  packages/web3-utils/src/hash.ts
  packages/web3-utils/src/web3_deferred_promise.ts
  packages/web3-validator/package.json
  packages/web3/package.json
  packages/web3/src/web3.ts
  tools/eslint-config-web3-base/package.json
  tools/web3-packagetemplate/package.json
  yarn.lock
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

merge
  packages/web3-core/src/formatters.ts
  packages/web3-core/src/web3_subscription_manager.ts
  packages/web3-core/src/web3_subscriptions.ts
  packages/web3-core/test/unit/web3_subscription_manager.test.ts
  packages/web3-eth-contract/src/encoding.ts
  packages/web3-eth-ens/src/registry.ts
  packages/web3-eth/src/web3_subscriptions.ts
  packages/web3-net/src/net.ts
  packages/web3-types/src/eth_types.ts
  scripts/system_tests_utils.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

:arrow_down: Downgrade "idna-uts46-hx" for node 14 requirement
  packages/web3-eth-ens/package.json
  yarn.lock
Due: prettier --write

merge
  .husky/pre-commit
Due: none

:rotating_light: Fix lint errors
  packages/web3-core/test/unit/formatters.test.ts
  packages/web3-net/src/net.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

:white_check_mark: Fix type errors in web3-core
  packages/web3-core/test/unit/web3_config.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

deprecated
  packages/web3-core/src/formatters.ts
  packages/web3-core/test/unit/formatters.test.ts
  packages/web3-eth-contract/src/contract.ts
  packages/web3-eth-contract/src/encoding.ts
  packages/web3-eth-ens/src/registry.ts
  packages/web3-eth-ens/src/resolver.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix tests
  scripts/system_tests_utils.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

:white_check_mark: Fix integration tests for web3-eth
  packages/web3-eth/test/integration/defaults.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

adding changelog
  CHANGELOG.md
Due: prettier --write
