Repository web3/web3.js: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

add reconnect manually
  test/websocket.ganache.js
Due: prettier --write

AccessListResult in types
  packages/web3-eth/src/rpc_method_wrappers.ts
  packages/web3-types/src/eth_types.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

createAccessList defined for contract
  packages/web3-eth-contract/src/types.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

createAccessList e2e test
  packages/web3-eth-contract/test/integration/contract_accesslist.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

remove ganache
  scripts/e2e.ganache.core.sh
Due: none

adding manual reconnect
  test/websocket.ganache.js
Due: prettier --write

format and indent
  CHANGELOG.md
  test/websocket.ganache.js
Due: prettier --write

updating ganache failing test (#5779)
  CHANGELOG.md
  test/websocket.ganache.js
Due: prettier --write

Increase value to mine
  packages/web3-eth/test/integration/defaults.test.ts
  packages/web3-eth/test/integration/helper.ts
  packages/web3-eth/test/integration/subscription_heads.test.ts
  packages/web3-eth/test/integration/watch_transaction.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Subscribe for global config changes in contract class
  packages/web3-eth-contract/src/contract.ts
  packages/web3/src/web3.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Remove static contract defaults
  packages/web3-eth-contract/src/contract.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Remove tests using static contract defaults
  packages/web3-eth-contract/src/contract.ts
  packages/web3-eth-contract/test/integration/contract_defaults.test.ts
  packages/web3-eth-contract/test/integration/contract_defaults_extra.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Fix failing test
  packages/web3-eth-contract/test/integration/contract_defaults_extra.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

add version comment
  packages/web3-types/src/apis/eth_execution_api.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Improve the types interfaces for web3-types packages (#5770)
  packages/web3-eth/test/unit/rpc_method_wrappers/fixtures/get_fee_history.ts
  packages/web3-types/src/apis/eth_execution_api.ts
  packages/web3-types/src/eth_types.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

chore: add bundle size check in ci (#5787)
  .github/workflows/build.yml
  package.json
  packages/web3/.eslintignore
  packages/web3/package.json
  packages/web3/webpack.analyze.js
  yarn.lock
Due: prettier --write

revert naming change for signWithPrivateKey and signTransactionWithPrivateKey
  packages/web3-eth-accounts/src/account.ts
  packages/web3-eth-accounts/test/fixtures/account.ts
  packages/web3-eth-accounts/test/integration/account.test.ts
  packages/web3-eth-accounts/test/unit/account.test.ts
  packages/web3/src/accounts.ts
  packages/web3/src/types.ts
  scripts/system_tests_utils.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update CHANGELOG.md for #5771
  CHANGELOG.md
  packages/web3-errors/CHANGELOG.md
  packages/web3-eth-abi/CHANGELOG.md
  packages/web3-eth-accounts/src/account.ts
  packages/web3-eth-contract/CHANGELOG.md
  packages/web3-eth/CHANGELOG.md
  packages/web3-providers-http/CHANGELOG.md
  packages/web3-providers-ipc/CHANGELOG.md
  packages/web3-providers-ws/CHANGELOG.md
  packages/web3-types/CHANGELOG.md
  packages/web3-utils/CHANGELOG.md
  packages/web3-validator/CHANGELOG.md
  packages/web3/CHANGELOG.md
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

export types defined at the `web3` package
  CHANGELOG.md
  packages/web3/CHANGELOG.md
  packages/web3/src/index.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

updates for the breaking change of using `require('web3')`
  CHANGELOG.md
  docs/docs/guides/web3_migration_guide/index.md
  packages/web3/CHANGELOG.md
Due: prettier --write

Init Changelog Sync Script (#5776)
  CHANGELOG.md
  fixtures/contracts/Basic.sol
  fixtures/contracts/Greeter.sol
  package.json
  packages/web3-core/src/web3_subscription_manager.ts
  packages/web3-errors/src/index.ts
  packages/web3-validator/src/utils.ts
  scripts/changelog/src/add_changelog_entry.ts
  scripts/changelog/src/helpers.ts
  scripts/changelog/src/index.ts
  scripts/changelog/src/sync.ts
  scripts/changelog/src/types.ts
  scripts/changelog/test/fixtures/mock_packages_directory/mock-package-1/CHANGELOG.md
  scripts/changelog/test/fixtures/mock_packages_directory/mock-package-1/expected_modified_CHANGELOG.json
  scripts/changelog/test/fixtures/mock_packages_directory/mock-package-1/expected_modified_CHANGELOG_2.json
  scripts/changelog/test/fixtures/mock_packages_directory/mock-package-2/CHANGELOG.md
  scripts/changelog/test/fixtures/mock_packages_directory/mock-package-3/CHANGELOG.md
  scripts/changelog/test/fixtures/package_parsed_changelog.ts
  scripts/changelog/test/fixtures/root_parsed_changelog.ts
  scripts/changelog/test/fixtures/root_unsynced_CHANGELOG.tmpl
  scripts/changelog/test/unit/add_changelog_entry.test.ts
  scripts/changelog/test/unit/helpers.test.ts
  scripts/changelog/test/unit/sync.test.ts
  scripts/changelog/test/unit/test_changelog_config.json
  scripts/changelog/test/unit/test_changelog_config_for_add_changelog_entry_tests.json
  scripts/jest.config.js
  templates/.prettierignore.tmpl
  yarn.lock
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

init
  packages/web3-providers-ws/test/unit/check_implementation.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix a broken documentation link
  packages/web3/src/types.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Create deno.yml
  .github/workflows/deno.yml
Due: none

Fix global defaults on smart contracts
  packages/web3-eth-contract/src/contract.ts
  packages/web3/src/web3.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix: replace ens normalize dependency (#5785)
  packages/web3-eth-ens/package.json
  packages/web3-eth-ens/src/utils.ts
  packages/web3-eth-ens/test/fixtures/utils.ts
  yarn.lock
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

e2e test run on geth only
  packages/web3-eth-contract/test/integration/contract_accesslist.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

contract unit test
  packages/web3-eth-contract/test/unit/contract.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

integration test in eth
  packages/web3-eth/test/integration/web3_eth/createAccessList.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

doc comments
  packages/web3-eth-contract/src/types.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/fixtures/createAccessList.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update coverage
  templates/jest.config.js.tmpl
Due: none

Address feedback
  packages/web3-eth-contract/src/contract.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Remove unused import
  packages/web3-eth-contract/src/contract.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix
  packages/web3-eth-contract/src/contract.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

add coverage tests to pipeline
  .github/workflows/build.yml
  package.json
  packages/web3-types/package.json
Due: prettier --write

init
  packages/web3-providers-ipc/test/unit/check_implementation.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update indent
  .github/workflows/build.yml
Due: none

remove comment
  packages/web3-providers-ipc/test/unit/check_implementation.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

remove comment
  packages/web3-providers-ws/test/unit/check_implementation.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Path conditions:
  prettier --write: ((any of: *.js) or (any of: *.ts)) or (any of: *.{json,md})
  eslint --rulesdir ./tools/eslint-config-web3-base/rules: any of: *.ts
