Repository web3/web3.js: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Init BlockNumberOrTag type for web3-eth
  packages/web3-eth/src/types.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Add input formatting to rpc_method_wrappers
  packages/web3-eth/src/rpc_method_wrappers.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Add validator check to getProof rpc_method
  packages/web3-eth/src/rpc_methods.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Move methods to match order of declaration in web3_eth.ts
  packages/web3-eth/src/rpc_method_wrappers.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update parameter typings to match rpc_method_wrappers.ts
  packages/web3-eth/src/web3_eth.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Config docker, Ganache and Geth
  .github/Dockerfile
  package.json
  packages/web3/test/fixtures/config.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Add some initial tests
  packages/web3/test/integration/web3_instance.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Add bash script for permissions
  .github/setup.sh
Due: none

refactor
  packages/web3-core/src/web3_context.ts
  packages/web3-core/src/web3_subscriptions.ts
  packages/web3-eth/src/web3_eth.ts
  packages/web3-eth/src/web3_subscriptions.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix
  packages/web3-eth/src/web3_eth.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Use local geth for integration tests
  .github/geth/genesis.json
  .github/workflows/build.yml
  package.json
Due: prettier --write

add unit tests
  packages/web3-eth/src/web3_eth.ts
  packages/web3-eth/test/unit/subscribe.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

returnTransactionObjects val affects resolve type
  packages/web3-eth/types/index.d.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update changelog
  CHANGELOG.md
Due: prettier --write

Update CHANGELOG.md
  CHANGELOG.md
Due: prettier --write

Filter out ipc when testing ganache
  .github/workflows/build.yml
  packages/web3/package.json
  packages/web3/test/filter-tests.js
  packages/web3/test/integration/string-providers/web3_instance_http_string.test.ts
  packages/web3/test/integration/string-providers/web3_instance_ipc_string.test.ts
  packages/web3/test/integration/string-providers/web3_instance_ws_string.test.ts
  packages/web3/test/integration/web3_instance.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Fix ipc test
  package.json
  packages/web3/package.json
  packages/web3/test/fixtures/config.ts
  packages/web3/test/integration/string-providers/web3_instance_ipc_string.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

:white_check_mark: Fix failing tests
  packages/web3-eth/src/rpc_method_wrappers.ts
  packages/web3-eth/src/schemas.ts
  packages/web3-eth/test/fixtures/rpc_methods_wrappers.ts
  packages/web3-eth/test/fixtures/web3_eth_methods_with_parameters.ts
  packages/web3-eth/test/unit/web3_eth_methods_with_parameters.test.ts
  packages/web3-eth/test/unit/web3_rpc_method_wrappers_with_parameters.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

:art: Fix build error
  packages/web3-eth/src/rpc_method_wrappers.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

:white_check_mark: Fix tests
  packages/web3-eth/src/rpc_method_wrappers.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Test workflow
  .github/workflows/build.yml
  package.json
  packages/web3/package.json
  packages/web3/test/fixtures/config.ts
  packages/web3/test/integration/string-providers/web3_instance_ws_string.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

:sparkles: Add provider support to contract
  packages/web3/src/index.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Remove verbose from jest
  package.json
Due: prettier --write

Change when to init geth
  package.json
Due: prettier --write

Add nohup again
  package.json
Due: prettier --write

move stdout and stderr on geth-local command
  package.json
Due: prettier --write

Run geth in background with screen
  package.json
Due: prettier --write

Fix dead link in web3-eth.rst.
  docs/web3-eth.rst
Due: none

fix: assignment to call
  packages/web3-core-method/src/index.js
Due: prettier --write

docs: add changelog
  CHANGELOG.md
Due: prettier --write

Merge
  packages/web3/test/integration/string-providers/web3_instance_ws_string.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Add test using external wallet provider
  packages/web3/package.json
  packages/web3/test/integration/providers.test.ts
  yarn.lock
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Temp solution to stop jest from hanging
  packages/web3/package.json
Due: prettier --write

docs(other-languages): sync link for web3.php (#4901)
  README.md
Due: prettier --write

Update PULL_REQUEST_TEMPLATE.md (#4862)
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

Test browser tests
  karma.config.js
  packages/web3/test/integration/providers.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

add callback. fix types. add subscribe and unsubscribe tests
  packages/web3-core/src/web3_subscription_manager.ts
  packages/web3-core/src/web3_subscriptions.ts
  packages/web3-eth/package.json
  packages/web3-eth/src/web3_eth.ts
  packages/web3-eth/src/web3_subscriptions.ts
  packages/web3-eth/test/unit/subscribe.test.ts
  packages/web3-eth/test/unit/unsubscribe.test.ts
  yarn.lock
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Path conditions:
  prettier --write: ((any of: *.js) or (any of: *.ts)) or (any of: *.{json,md})
  eslint --rulesdir ./tools/eslint-config-web3-base/rules: any of: *.ts
