Repository web3/web3.js: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

try to send comment
  .github/workflows/build.yml
  packages/web3/test/benchmark/abi.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

save cache again
  .github/workflows/build.yml
  packages/web3/test/benchmark/abi.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

add cat
  .github/workflows/build.yml
Due: none

save cache
  .github/workflows/build.yml
Due: none

try to restore
  .github/workflows/build.yml
  packages/web3/test/benchmark/abi.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix issues in Common config and add a test to accounts
  packages/web3-eth-accounts/src/tx/baseTransaction.ts
  packages/web3-eth/src/utils/prepare_transaction_for_signing.ts
  packages/web3-eth/test/unit/prepare_transaction_for_signing.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

add test cases
  packages/web3-eth/test/unit/prepare_transaction_for_signing.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

add a test case
  packages/web3-eth/test/unit/utils/wait_for_transaction_receipt.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

test
  .github/workflows/build.yml
  packages/web3/test/benchmark/benchmark.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

test
  .github/workflows/build.yml
Due: none

+
  .github/workflows/build.yml
Due: none

++
  .github/workflows/build.yml
Due: none

test
  .github/workflows/build.yml
  benchmark-restore.json
Due: prettier --write

+
  .github/workflows/build.yml
  .husky/pre-push
Due: none

no docs
  .github/workflows/deploy-docs.yaml
Due: none

corrected ESM import statement (#6658)
  docs/docs/guides/web3_upgrade_guide/1.x/index.md
Due: prettier --write

t
  .github/workflows/build.yml
Due: none

fix: docs/package.json & docs/yarn.lock to reduce vulnerabilities
  docs/package.json
  docs/yarn.lock
Due: prettier --write

test fork
  .github/workflows/build.yml
Due: none

added note on web3-eth-contract import for better app performance
  docs/docs/guides/smart_contracts/index.md
Due: prettier --write

Path conditions:
  prettier --write: ((any of: *.js) or (any of: *.ts)) or (any of: *.{json,md})
  eslint --rulesdir ./tools/eslint-config-web3-base/rules: any of: *.ts
