Repository web3/web3.js: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

.lintstagedrc.json:

{
	"*.js": ["prettier --write"],
	"*.ts": ["prettier --write", "eslint --rulesdir ./tools/eslint-config-web3-base/rules"],
	"*.{json,md}": ["prettier --write"]
}

updating npmrc
  blackbox_test/.npmrc
Due: none

add command back
  scripts/blackbox_test.sh
Due: none

moving ts file
  blackbox_test/basic_usage.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

remove npmrc
  blackbox_test/.npmrc
Due: none

upadting script
  scripts/blackbox_test.sh
Due: none

updating html blackbox test
  blackbox_test/index.html
  blackbox_test/package.json
  scripts/blackbox_test_web.sh
Due: prettier --write

updating html test
  scripts/blackbox_test_web.sh
Due: none

fiixng web script
  scripts/blackbox_test_web.sh
Due: none

update web command
  scripts/blackbox_test_web.sh
Due: none

removing extra files`
  scripts/html/index.html
  scripts/js/basic_usage.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

:sparkles: Add utility function to convert json data to abi
  packages/web3-eth-contract/src/contract.ts
  packages/web3-validator/src/utils.ts
  packages/web3-validator/test/fixtures/abi_to_json_schema.ts
  packages/web3-validator/test/unit/utils.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

:bug: Fix transaciton pooling timeout
  packages/web3-core/src/web3_config.ts
  packages/web3-core/test/unit/__snapshots__/web3_context.test.ts.snap
  packages/web3-core/test/unit/web3_config.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

:bug: Fix the null response handling
  packages/web3-core/src/web3_request_manager.ts
  packages/web3-core/test/unit/web3_request_manager.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix signed tx tests
  packages/web3-eth/test/integration/web3_eth/send_signed_transaction.test.ts
  packages/web3-eth/test/integration/web3_eth/send_transaction.test.ts
  scripts/system_tests_utils.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

check version 10
  packages/web3-eth-accounts/package.json
  packages/web3-eth-contract/package.json
  packages/web3-eth-personal/test/integration/personal.test.ts
  packages/web3-eth/package.json
  packages/web3-providers-http/package.json
  scripts/system_tests_utils.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

4x alpha release process (#5306)
  RELEASE.md
  package.json
Due: prettier --write

run integration tests in parallel
  packages/web3-core/package.json
  packages/web3-errors/package.json
  packages/web3-eth-abi/package.json
  packages/web3-eth-accounts/package.json
  packages/web3-eth-contract/test/integration/contract_clone.test.ts
  packages/web3-eth-contract/test/integration/contract_defaults.test.ts
  packages/web3-eth-contract/test/integration/contract_deploy.test.ts
  packages/web3-eth-contract/test/integration/contract_erc20.test.ts
  packages/web3-eth-contract/test/integration/contract_erc721.test.ts
  packages/web3-eth-contract/test/integration/contract_events.test.ts
  packages/web3-eth-contract/test/integration/contract_methods.test.ts
  packages/web3-eth-ens/package.json
  packages/web3-eth-iban/package.json
  packages/web3-eth-personal/package.json
  packages/web3-eth-personal/test/integration/personal.test.ts
  packages/web3-eth/test/integration/web3_eth/send_transaction.test.ts
  packages/web3-net/package.json
  packages/web3-providers-http/package.json
  packages/web3-providers-http/test/integration/request.test.ts
  packages/web3-providers-ipc/package.json
  packages/web3-providers-ws/package.json
  packages/web3-providers-ws/test/integration/web_socket_provider_integration.test.ts
  packages/web3-types/package.json
  packages/web3-utils/package.json
  packages/web3-validator/package.json
  packages/web3/package.json
  packages/web3/test/integration/web3.accounts.test.ts
  packages/web3/test/integration/web3.test.ts
  scripts/system_tests_utils.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

:sparkles: Add utility function to convert json data to abi (#5322)
  packages/web3-eth-contract/src/contract.ts
  packages/web3-validator/src/utils.ts
  packages/web3-validator/test/fixtures/abi_to_json_schema.ts
  packages/web3-validator/test/unit/utils.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

:bug: Fix the null response handling (#5324)
  packages/web3-core/src/web3_request_manager.ts
  packages/web3-core/test/unit/web3_request_manager.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

:white_check_mark: Fix integration tests
  packages/web3-eth/test/integration/defaults.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

corrections
  CHANGELOG.md
Due: prettier --write

:memo: Add migration docs
  docs/docs/guides/web3_migration_guide.md
  docs/docs/guides/web3_utils_migration_guide.md
Due: prettier --write

fix
  .github/workflows/build.yml
  packages/web3-eth-personal/test/integration/personal.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix geth test
  packages/web3-eth-personal/test/integration/personal.test.ts
  scripts/system_tests_utils.ts
  scripts/test-runner.sh
  templates/cypress.config.js
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

firefox fix
  scripts/test-runner.sh
Due: none

revert cypress version
  packages/web3-eth-accounts/package.json
  packages/web3-eth-contract/package.json
  packages/web3-eth/package.json
  packages/web3-providers-http/package.json
Due: prettier --write

Invalid `transactionPollingTimeout` compared to `transactionPollingInterval` (#5323)
  packages/web3-core/src/web3_config.ts
  packages/web3-core/test/unit/__snapshots__/web3_context.test.ts.snap
  packages/web3-core/test/unit/web3_config.test.ts
  packages/web3-eth/test/integration/defaults.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

4xalphachangelog (#5317)
  CHANGELOG.md
Due: prettier --write

updating per feedback
  blackbox_test/basic_usage.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

web3 url
  docs/docusaurus.config.js
Due: prettier --write

title cap
  docs/docs/guides/net_migration_guide.md
Due: prettier --write

file rename for consistent url
  docs/docs/guides/providers_migration_guide.md
Due: prettier --write

colors and other changes
  docs/src/css/custom.css
  docs/src/pages/index.tsx
Due: none

web3 net position after eth sub
  docs/docs/guides/net_migration_guide.md
Due: prettier --write

Apply suggestions from code review
  docs/docs/guides/web3_utils_migration_guide.md
Due: prettier --write
