Repository web3/web3.js: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

.lintstagedrc.json:

{
	"*.js": ["prettier --write"],
	"*.ts": ["prettier --write", "eslint --rulesdir ./tools/eslint-config-web3-base/rules"],
	"*.{json,md}": ["prettier --write"]
}

add template script
  scripts/generate_from_template.sh
Due: none

allow batch size of 1
  packages/web3-utils/src/json_rpc.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

add batch test and update changelog
  packages/web3-core/CHANGELOG.md
  packages/web3-eth/test/integration/batch.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Add MultiValueIndexedEventWithStringIndexed event and firesMultiValueIndexedEventWithStringIndexed function to Basic.sol
  fixtures/build/Basic.json
  fixtures/build/Basic.ts
  fixtures/contracts/Basic.sol
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Refactor event filtering, add support for indexed strings, fix bug for filter using string values
  packages/web3-eth-abi/src/api/logs_api.ts
  packages/web3-eth-contract/src/contract.ts
  packages/web3-eth-contract/src/encoding.ts
  packages/web3-eth-contract/test/integration/contract_filter_events.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Init simple overload contract test (#6140)
  packages/web3-eth-contract/test/fixtures/SimpleOverloaded.ts
  packages/web3-eth-contract/test/fixtures/contracts/SimpleOverloaded.sol
  packages/web3-eth-contract/test/integration/contract_simple_overloaded.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update packages/web3-eth-contract/src/contract.ts
  packages/web3-eth-contract/src/contract.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update CHANGELOGs
  CHANGELOG.md
  packages/web3-eth-abi/CHANGELOG.md
  packages/web3-eth-contract/CHANGELOG.md
Due: prettier --write

edit plugin developer and plugin user guides
  docs/docs/guides/web3_plugin_guide/plugin_authors.md
  docs/docs/guides/web3_plugin_guide/plugin_users.md
Due: prettier --write

Update the Plugin documentation (#6165)
  docs/docs/guides/web3_plugin_guide/plugin_authors.md
  docs/docs/guides/web3_plugin_guide/plugin_users.md
  packages/web3/CHANGELOG.md
  packages/web3/src/index.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

add `from-package` to `learna publish` for canary
  package.json
Due: prettier --write

Init encode_event_abi tests
  packages/web3-eth-contract/test/unit/encode_event_abi.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Event filtering using non/indexed string arguments (#6167)
  CHANGELOG.md
  fixtures/build/Basic.json
  fixtures/build/Basic.ts
  fixtures/contracts/Basic.sol
  packages/web3-eth-abi/CHANGELOG.md
  packages/web3-eth-abi/src/api/logs_api.ts
  packages/web3-eth-contract/CHANGELOG.md
  packages/web3-eth-contract/src/contract.ts
  packages/web3-eth-contract/src/encoding.ts
  packages/web3-eth-contract/test/integration/contract_filter_events.test.ts
  packages/web3-eth-contract/test/unit/encode_event_abi.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Fix broken link to migration for 1.X
  README.md
Due: prettier --write

Fix broken link to migration for 1.X (#6174)
  README.md
Due: prettier --write

add `from-package` to `learna publish` for canary (#6172)
  package.json
Due: prettier --write

Revert "add `from-package` to `learna publish` for canary (#6172)"
  package.json
Due: prettier --write

add bump-versions step after publish at RELEASE.md
  RELEASE.md
Due: prettier --write

bump `patch` versions
  packages/web3-core/package.json
  packages/web3-errors/package.json
  packages/web3-eth-abi/package.json
  packages/web3-eth-accounts/package.json
  packages/web3-eth-contract/package.json
  packages/web3-eth-ens/package.json
  packages/web3-eth-iban/package.json
  packages/web3-eth-personal/package.json
  packages/web3-eth/package.json
  packages/web3-net/package.json
  packages/web3-providers-http/package.json
  packages/web3-providers-ipc/package.json
  packages/web3-providers-ws/package.json
  packages/web3-rpc-methods/package.json
  packages/web3-types/package.json
  packages/web3-utils/package.json
  packages/web3-validator/package.json
  packages/web3/package.json
  packages/web3/src/version.ts
  tools/web3-packagetemplate/package.json
  tools/web3-plugin-example/package.json
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

document `yarn changelog sync` at RELEASE.md
  RELEASE.md
Due: prettier --write

update RELEASE.md
  RELEASE.md
Due: prettier --write

Revert "add `from-package` to `learna publish` for canary (#6172)" (#6179)
  package.json
Due: prettier --write

change internal validation to jsonschema lib
  packages/web3-validator/package.json
  packages/web3-validator/src/types.ts
  packages/web3-validator/src/validator.ts
  packages/web3-validator/test/unit/validator.test.ts
  packages/web3-validator/test/unit/web3_validator.test.ts
  yarn.lock
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Create Desktop - Shortcut.lnk
  .husky/Desktop - Shortcut.lnk
Due: none

update plugin guides
  docs/docs/guides/web3_plugin_guide/plugin_authors.md
  docs/docs/guides/web3_plugin_guide/plugin_users.md
Due: prettier --write

fix a danger section not working at cloudflare
  docs/docs/guides/web3_plugin_guide/plugin_authors.md
Due: prettier --write

index on 4.x: 0b98f66dd // "
  docs/Untitled-1.txt
  docs/tsconfig.json
  packages/web3-rpc-methods/.dockerignore
  packages/web3-rpc-methods/Dockerfile
Due: prettier --write

Update docs/docs/guides/web3_plugin_guide/plugin_authors.md
  docs/docs/guides/web3_plugin_guide/plugin_authors.md
Due: prettier --write

6164 batch request fix (#6166)
  packages/web3-core/CHANGELOG.md
  packages/web3-eth/test/integration/batch.test.ts
  packages/web3-utils/src/json_rpc.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

to ts v5
  package.json
  packages/web3-core/package.json
  packages/web3-errors/package.json
  packages/web3-eth-abi/package.json
  packages/web3-eth-accounts/package.json
  packages/web3-eth-contract/package.json
  packages/web3-eth-ens/package.json
  packages/web3-eth-iban/package.json
  packages/web3-eth-personal/package.json
  packages/web3-eth/package.json
  packages/web3-net/package.json
  packages/web3-providers-http/package.json
  packages/web3-providers-ipc/package.json
  packages/web3-providers-ws/package.json
  packages/web3-rpc-methods/package.json
  packages/web3-types/package.json
  packages/web3-utils/package.json
  packages/web3-validator/package.json
  packages/web3/package.json
  tools/eslint-config-web3-base/package.json
  tools/web3-packagetemplate/package.json
  tools/web3-plugin-example/package.json
  yarn.lock
Due: prettier --write

ts v5 errors fix
  packages/web3-eth/src/utils/watch_transaction_for_confirmations.ts
  packages/web3-eth/src/web3_eth.ts
  packages/web3-types/src/eth_abi_types.ts
  packages/web3-utils/src/formatter.ts
  packages/web3-utils/src/validation.ts
  packages/web3-validator/test/unit/utils.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update test/jest.config
  config/jest.config.js
  packages/web3-core/test/config/jest.config.js
  packages/web3-errors/test/config/jest.config.js
  packages/web3-eth-abi/test/config/jest.config.js
  packages/web3-eth-accounts/test/config/jest.config.js
  packages/web3-eth-contract/test/config/jest.config.js
  packages/web3-eth-ens/test/config/jest.config.js
  packages/web3-eth-iban/test/config/jest.config.js
  packages/web3-eth-personal/test/config/jest.config.js
  packages/web3-net/test/config/jest.config.js
  packages/web3-providers-http/test/config/jest.config.js
  packages/web3-providers-ipc/test/config/jest.config.js
  packages/web3-providers-ws/test/config/jest.config.js
  packages/web3-rpc-methods/test/config/jest.config.js
  packages/web3-types/test/config/jest.config.js
  packages/web3-utils/test/config/jest.config.js
  packages/web3-validator/test/config/jest.config.js
  packages/web3/test/config/jest.config.js
  scripts/generate_from_template.sh
  templates/jest.config.js.tmpl
Due: prettier --write

Add a test for .on('error') for contract method error
  packages/web3-eth-contract/test/integration/contract_methods_errors.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

updated PrimitiveTupleType type to allow unknown
  packages/web3-types/src/eth_abi_types.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules
