Repository web3/web3.js: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

clare timeout at waitWithTimeout + tiny code cleaning
  packages/web3-eth-contract/test/integration/contract_clone.test.ts
  packages/web3-eth-contract/test/integration/contract_events.test.ts
  packages/web3-utils/src/promise_helpers.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

refactor the code for `waitForTransactionReceipt` + and increase `transactionPollingTimeout` to 2000
  packages/web3-core/src/web3_config.ts
  packages/web3-core/test/unit/__snapshots__/web3_context.test.ts.snap
  packages/web3-core/test/unit/web3_config.test.ts
  packages/web3-eth/src/rpc_method_wrappers.ts
  packages/web3-eth/src/utils/wait_for_transaction_receipt.ts
  packages/web3-eth/test/integration/defaults.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Migration Guide - Review breaking changes by installing Truffle (#5325)
  docs/docs/guides/web3_migration_guide.md
  docs/docs/guides/web3_utils_migration_guide.md
Due: prettier --write

decrease transactionPollingTimeout config at a test case
  packages/web3-eth/test/integration/defaults.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

increase `transactionSendTimeout` to 1 min + revert CHANGELOG.md white spaces change
  CHANGELOG.md
  packages/web3-core/src/web3_config.ts
  packages/web3-core/test/unit/__snapshots__/web3_context.test.ts.snap
  packages/web3-core/test/unit/web3_config.test.ts
  packages/web3-eth/test/integration/defaults.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

enable subscribing to errors at `WebSocketProvider` underlying connection
  packages/web3-providers-ws/src/index.ts
  packages/web3-providers-ws/test/integration/web_socket_provider_integration.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

usev reject to raise `TransactionPollingTimeoutError`
  packages/web3-core/src/web3_config.ts
  packages/web3-eth/src/utils/wait_for_transaction_receipt.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

inclease `transactionSendTimeout` to 750 seconds (12.5 min)
  packages/web3-core/src/web3_config.ts
  packages/web3-core/test/unit/__snapshots__/web3_context.test.ts.snap
  packages/web3-core/test/unit/web3_config.test.ts
  packages/web3-eth/src/utils/wait_for_transaction_receipt.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix a test case by updating a config comparison value
  packages/web3-eth/test/integration/defaults.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

updating comment and whitespaces
  packages/web3-core/src/web3_config.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update unit tests accoding to the latest refactor of `WaitForTransactionReceipt`
  packages/web3-eth/test/unit/rpc_method_wrappers/send_signed_transaction.test.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/send_transaction.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

4x doc updates 5326 (#5328)
  docs/docs/guides/net_migration_guide.md
  docs/docs/guides/providers_migration_guide.md
  docs/docusaurus.config.js
  docs/src/css/custom.css
  docs/src/pages/index.tsx
Due: prettier --write

refactor: eip1559 defaults
  packages/web3-core-method/src/index.js
Due: prettier --write

call `Error.captureStackTrace(...)` only if available
  packages/web3-errors/src/web3_error_base.ts
  packages/web3-validator/src/errors.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

enhace a test case for WebSocketProvider
  packages/web3-providers-ws/test/integration/web_socket_provider_integration.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

remove redundant code at InvalidValueError
  packages/web3-errors/src/web3_error_base.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

use reject to raise `TransactionPollingTimeoutError` (#5335)
  packages/web3-core/src/web3_config.ts
  packages/web3-eth/src/utils/wait_for_transaction_receipt.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix nonce problem
  package.json
  packages/web3-eth-contract/test/integration/contract_clone.test.ts
  packages/web3-eth-contract/test/integration/contract_defaults.test.ts
  packages/web3-eth-contract/test/integration/contract_deploy.test.ts
  packages/web3-eth-contract/test/integration/contract_erc20.test.ts
  packages/web3-eth-contract/test/integration/contract_erc721.test.ts
  packages/web3-eth-contract/test/integration/contract_events.test.ts
  packages/web3-eth-contract/test/integration/contract_methods.test.ts
  packages/web3-eth-ens/package.json
  packages/web3-eth-iban/package.json
  packages/web3-eth-personal/package.json
  packages/web3-eth/test/integration/batch.test.ts
  packages/web3-eth/test/integration/defaults.test.ts
  packages/web3-eth/test/integration/eth.test.ts
  packages/web3-eth/test/integration/rpc.block.test.ts
  packages/web3-eth/test/integration/rpc.test.ts
  packages/web3-eth/test/integration/subscribe.test.ts
  packages/web3-eth/test/integration/subscription_heads.test.ts
  packages/web3-eth/test/integration/subscription_logs.test.ts
  packages/web3-eth/test/integration/subscription_logs_block.test.ts
  packages/web3-eth/test/integration/subscription_logs_clear.test.ts
  packages/web3-eth/test/integration/subscription_new_pending_tx.test.ts
  packages/web3-eth/test/integration/unsubscribe.test.ts
  packages/web3-eth/test/integration/watch_transaction.test.ts
  packages/web3-eth/test/integration/watch_transaction_polling.test.ts
  packages/web3-eth/test/integration/web3_eth/call.test.ts
  packages/web3-eth/test/integration/web3_eth/estimate_gas.test.ts
  packages/web3-eth/test/integration/web3_eth/getFeeHistory.test.ts
  packages/web3-eth/test/integration/web3_eth/send_signed_transaction.test.ts
  packages/web3-eth/test/integration/web3_eth/send_transaction.test.ts
  packages/web3-eth/test/integration/web3_eth/sign.test.ts
  packages/web3-eth/test/integration/web3_eth/sign_transaction.test.ts
  packages/web3-eth/test/integration/web3_eth/submit_work.test.ts
  packages/web3/package.json
  scripts/accounts.json
  scripts/ganache.sh
  scripts/gen_accounts.js
  scripts/system_tests_utils.ts
  scripts/test-runner.sh
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix
  packages/web3-errors/test/fixtures/accounts.json
  packages/web3-eth-accounts/test/fixtures/accounts.json
  packages/web3-eth-contract/test/fixtures/accounts.json
  packages/web3-eth-personal/test/fixtures/accounts.json
  packages/web3-eth/test/fixtures/accounts.json
  packages/web3-eth/test/integration/defaults.test.ts
  packages/web3-net/test/fixtures/accounts.json
  packages/web3-providers-http/test/fixtures/accounts.json
  packages/web3-providers-ws/test/fixtures/accounts.json
  packages/web3-utils/test/fixtures/accounts.json
  packages/web3-validator/test/fixtures/accounts.json
  packages/web3/test/shared_fixtures/accounts.json
  scripts/system_tests_utils.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix symlinks
  packages/web3-errors/test/fixtures/accounts.json
  packages/web3-eth-accounts/test/fixtures/accounts.json
  packages/web3-eth-contract/test/fixtures/accounts.json
  packages/web3-eth-personal/test/fixtures/accounts.json
  packages/web3-eth/test/fixtures/accounts.json
  packages/web3-net/test/fixtures/accounts.json
  packages/web3-providers-http/test/fixtures/accounts.json
  packages/web3-utils/test/fixtures/accounts.json
  packages/web3-validator/test/fixtures/accounts.json
Due: prettier --write

fix ws accounts link
  packages/web3-providers-ws/test/fixtures/accounts.json
  scripts/gen_accounts.js
Due: prettier --write

just for test
  scripts/system_tests_utils.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix sym link web3
  packages/web3/test/shared_fixtures/accounts.json
  scripts/system_tests_utils.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

test e2e with yarn
  .github/workflows/build.yml
Due: none

Add npm-auth-to-token dev dependency
  package.json
  yarn.lock
Due: prettier --write

Create codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: none

fix: pass defaults correctly
  packages/web3-core-method/src/index.js
Due: prettier --write

fix eth test
  packages/web3-eth/test/integration/defaults.test.ts
  scripts/system_tests_utils.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

inherit `Web3ValidatorError` from `Web3Error`
  packages/web3-errors/src/error_codes.ts
  packages/web3-errors/src/web3_error_base.ts
  packages/web3-validator/package.json
  packages/web3-validator/src/errors.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix ipc provider bugs
  .github/workflows/build.yml
  package.json
  packages/web3-providers-ipc/src/index.ts
  scripts/env.sh
  scripts/geth_binary.sh
  scripts/test-runner.sh
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix actions
  .github/workflows/build.yml
Due: none

fix ipc stuck
  packages/web3-eth-personal/test/config/personal.config.ts
  packages/web3-eth-personal/test/integration/personal.test.ts
  packages/web3/test/integration/ipc.test.ts
  packages/web3/test/integration/web3.test.ts
  packages/web3/test/integration/web3_external_providers.test.ts
  scripts/geth_binary.sh
  scripts/system_tests_utils.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

call `Error.captureStackTrace(...)` only if available (#5338)
  packages/web3-errors/src/error_codes.ts
  packages/web3-errors/src/web3_error_base.ts
  packages/web3-validator/package.json
  packages/web3-validator/src/errors.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

updating a comment at an integration est
  packages/web3-eth/test/integration/defaults.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

web3 package version script
  packages/web3/package.json
Due: prettier --write

Path conditions:
  prettier --write: ((any of: *.js) or (any of: *.ts)) or (any of: *.{json,md})
  eslint --rulesdir ./tools/eslint-config-web3-base/rules: any of: *.ts
