Repository web3/web3.js: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Contract method estimateGas() Error (#5557)
  fixtures/build/Basic.json
  fixtures/build/Basic.ts
  fixtures/build/DeployRevert.json
  fixtures/build/DeployRevert.ts
  fixtures/build/ERC20Token.json
  fixtures/build/ERC20Token.ts
  fixtures/build/ERC721Token.json
  fixtures/build/ERC721Token.ts
  fixtures/build/Greeter.json
  fixtures/build/Greeter.ts
  fixtures/build/MsgSender.json
  fixtures/build/MsgSender.ts
  fixtures/contracts/Greeter.sol
  packages/web3-errors/src/error_codes.ts
  packages/web3-eth-contract/src/utils.ts
  packages/web3-eth-contract/test/integration/contract_deploy.test.ts
  packages/web3-eth-contract/test/integration/setup.js
  packages/web3-eth-contract/test/unit/contract.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Call method doesn't work from the contract if data is provided at initiation (#5561)
  packages/web3-eth-contract/src/utils.ts
  packages/web3-eth-contract/test/integration/contract_methods.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

overload functions mapping
  packages/web3-eth-contract/src/contract.ts
  packages/web3-eth-contract/test/integration/contract_erc721.test.ts
  packages/web3-eth-contract/test/integration/local_account/contract_erc721.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

add installation using NPM to readme files
  README.md
  packages/web3-core/README.md
  packages/web3-errors/README.md
  packages/web3-eth-abi/README.md
  packages/web3-eth-accounts/README.md
  packages/web3-eth-contract/README.md
  packages/web3-eth-ens/README.md
  packages/web3-eth-iban/README.md
  packages/web3-eth-personal/README.md
  packages/web3-eth-tx-utils/README.md
  packages/web3-eth/README.md
  packages/web3-net/README.md
  packages/web3-providers-http/README.md
  packages/web3-providers-ipc/README.md
  packages/web3-providers-ws/README.md
  packages/web3-rpc-methods/README.md
  packages/web3-types/README.md
  packages/web3-utils/README.md
  packages/web3-validator/README.md
  packages/web3/README.md
  tools/web3-packagetemplate/README.md
  tools/web3-plugin-example/README.md
Due: prettier --write

add installation using Yarn to README.md files
  README.md
  packages/web3-bzz/README.md
  packages/web3-core-helpers/README.md
  packages/web3-core-method/README.md
  packages/web3-core-promievent/README.md
  packages/web3-core-requestmanager/README.md
  packages/web3-core-subscriptions/README.md
  packages/web3-core/README.md
  packages/web3-eth-abi/README.md
  packages/web3-eth-accounts/README.md
  packages/web3-eth-contract/README.md
  packages/web3-eth-ens/README.md
  packages/web3-eth-iban/README.md
  packages/web3-eth-personal/README.md
  packages/web3-eth/README.md
  packages/web3-net/README.md
  packages/web3-providers-http/README.md
  packages/web3-providers-ipc/README.md
  packages/web3-providers-ws/README.md
  packages/web3-shh/README.md
  packages/web3-utils/README.md
  packages/web3/README.md
Due: prettier --write

fix a url at a README.md file
  packages/web3-providers-ws/README.md
Due: prettier --write

Refactor check
  packages/web3-utils/src/formatter.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Add check for transaction
  packages/web3-eth/test/integration/rpc.block.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

to Map
  packages/web3-eth-contract/src/contract.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

add overload functions tests
  packages/web3-eth-contract/src/contract.ts
  packages/web3-eth-contract/test/integration/local_account/contract_overloaded_methods.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix
  packages/web3-eth-contract/test/integration/local_account/contract_overloaded_methods.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

updating documentation for consitency
  docs/docs/glossary/json_interface.md
  docs/docs/guides/web3_migration_guide/abi_migration_guide.md
  docs/docs/guides/web3_migration_guide/accounts_migration_guide.md
  docs/docs/guides/web3_migration_guide/contracts_migration_guide.md
  docs/docs/guides/web3_migration_guide/index.md
  docs/docs/guides/web3_migration_guide/net_migration_guide.md
  docs/docs/guides/web3_migration_guide/personal_migration_guide.md
  docs/docs/guides/web3_migration_guide/providers_migration_guide.md
  docs/docs/guides/web3_migration_guide/subscribe_migration_guide.md
  docs/docs/guides/web3_migration_guide/web3_eth_migration_guide.md
  docs/docs/guides/web3_migration_guide/web3_utils_migration_guide.md
  docs/docs/guides/web3_tree_shaking_support_guide/index.md
  docs/docusaurus.config.js
  docs/src/pages/index.tsx
Due: prettier --write

fixing titles
  docs/docs/guides/web3_migration_guide/contracts_migration_guide.md
  docs/docs/guides/web3_migration_guide/index.md
  docs/docs/guides/web3_migration_guide/net_migration_guide.md
  docs/docs/guides/web3_migration_guide/providers_migration_guide.md
  docs/docs/guides/web3_migration_guide/subscribe_migration_guide.md
  docs/docs/guides/web3_migration_guide/web3_eth_migration_guide.md
  docs/docs/guides/web3_migration_guide/web3_utils_migration_guide.md
  docs/docs/guides/web3_tree_shaking_support_guide/index.md
  docs/docusaurus.config.js
  docs/src/pages/index.tsx
Due: prettier --write

fix: try to cache schemas to avoid recompilation and memory leak
  packages/web3-validator/src/web3_validator.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update CHANGELOG.md
  CHANGELOG.md
Due: prettier --write

Add `removed` property to `Log` type (#4877)
  CHANGELOG.md
  packages/web3-core/types/index.d.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Add `removed` property to `Log` type (#4877) (#5576)
  CHANGELOG.md
  packages/web3-core/types/index.d.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

npm i npm audit fix and changelog update
  CHANGELOG.md
  package-lock.json
  packages/web3-bzz/package-lock.json
  packages/web3-core-helpers/package-lock.json
  packages/web3-core-method/package-lock.json
  packages/web3-core-subscriptions/package-lock.json
  packages/web3-core/package-lock.json
  packages/web3-eth-abi/package-lock.json
  packages/web3-eth-accounts/package-lock.json
  packages/web3-eth-contract/package-lock.json
  packages/web3-eth-ens/package-lock.json
  packages/web3-eth-iban/package-lock.json
  packages/web3-eth-personal/package-lock.json
  packages/web3-eth/package-lock.json
  packages/web3-eth2-beaconchain/package-lock.json
  packages/web3-eth2-core/package-lock.json
  packages/web3-net/package-lock.json
  packages/web3-providers-http/package-lock.json
  packages/web3-providers-ipc/package-lock.json
  packages/web3-providers-ws/package-lock.json
  packages/web3-shh/package-lock.json
  packages/web3-utils/package-lock.json
  packages/web3/package-lock.json
Due: prettier --write

Tiny enhancements to the Installation section at README.md files (at 4.x) (#5571)
  README.md
  packages/web3-core/README.md
  packages/web3-errors/README.md
  packages/web3-eth-abi/README.md
  packages/web3-eth-accounts/README.md
  packages/web3-eth-contract/README.md
  packages/web3-eth-ens/README.md
  packages/web3-eth-iban/README.md
  packages/web3-eth-personal/README.md
  packages/web3-eth-tx-utils/README.md
  packages/web3-eth/README.md
  packages/web3-net/README.md
  packages/web3-providers-http/README.md
  packages/web3-providers-ipc/README.md
  packages/web3-providers-ws/README.md
  packages/web3-rpc-methods/README.md
  packages/web3-types/README.md
  packages/web3-utils/README.md
  packages/web3-validator/README.md
  packages/web3/README.md
  tools/web3-packagetemplate/README.md
  tools/web3-plugin-example/README.md
Due: prettier --write

Init Plugin Docs (#5558)
  docs/docs/guides/web3_plugin_guide/assets/custom_rpc_method.png
  docs/docs/guides/web3_plugin_guide/assets/custom_rpc_method_with_parameters.png
  docs/docs/guides/web3_plugin_guide/index.md
  docs/docs/guides/web3_plugin_guide/plugin_authors.md
  docs/docs/guides/web3_plugin_guide/plugin_users.md
  docs/docs/guides/web3_tree_shaking_support_guide/index.md
Due: prettier --write

revert unintended formatting at README.md files
  packages/web3-bzz/README.md
  packages/web3-core-promievent/README.md
  packages/web3-core-requestmanager/README.md
  packages/web3-eth-ens/README.md
  packages/web3-eth-iban/README.md
  packages/web3-eth-personal/README.md
  packages/web3-eth/README.md
  packages/web3-net/README.md
  packages/web3-providers-ipc/README.md
  packages/web3-providers-ws/README.md
  packages/web3-shh/README.md
Due: prettier --write

Revert "Init `web3-eth-tx-utils` Base (#5545)" (#5560)
  CHANGELOG.md
  packages/web3-eth-tx-utils/.eslintignore
  packages/web3-eth-tx-utils/.eslintrc.js
  packages/web3-eth-tx-utils/.gitignore
  packages/web3-eth-tx-utils/.npmignore
  packages/web3-eth-tx-utils/.npmrc
  packages/web3-eth-tx-utils/.prettierignore
  packages/web3-eth-tx-utils/.prettierrc.json
  packages/web3-eth-tx-utils/CHANGELOG.md
  packages/web3-eth-tx-utils/README.md
  packages/web3-eth-tx-utils/assets/logo/web3js.ai
  packages/web3-eth-tx-utils/assets/logo/web3js.jpg
  packages/web3-eth-tx-utils/assets/logo/web3js.svg
  packages/web3-eth-tx-utils/package.json
  packages/web3-eth-tx-utils/src/errors.ts
  packages/web3-eth-tx-utils/src/index.ts
  packages/web3-eth-tx-utils/src/types.ts
  packages/web3-eth-tx-utils/test/.eslintrc.js
  packages/web3-eth-tx-utils/test/config/jest.config.js
  packages/web3-eth-tx-utils/test/config/setup.js
  packages/web3-eth-tx-utils/test/integration/jest.config.js
  packages/web3-eth-tx-utils/test/integration/setup.js
  packages/web3-eth-tx-utils/test/tsconfig.json
  packages/web3-eth-tx-utils/test/unit/constructor.test.ts
  packages/web3-eth-tx-utils/test/unit/jest.config.js
  packages/web3-eth-tx-utils/tsconfig.json
  packages/web3-eth-tx-utils/tsdoc.json
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

eth.getBlock with hydrated = true returning empty transaction objects (#5556)
  CHANGELOG.md
  packages/web3-eth/CHANGELOG.md
  packages/web3-eth/test/integration/rpc.block.test.ts
  packages/web3-utils/src/formatter.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Init tests
  packages/web3-eth-contract/test/integration/contract_defaults_extra.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix
  .husky/pre-commit
  packages/web3-eth-accounts/src/account.ts
  packages/web3-eth-accounts/src/types.ts
  packages/web3-eth-accounts/src/wallet.ts
  packages/web3-eth-accounts/test/fixtures/account.ts
  packages/web3-eth-accounts/test/integration/wallet.test.ts
  packages/web3-eth-accounts/test/unit/wallet.test.ts
  packages/web3-types/src/web3_base_wallet.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

remove unnecessary comment
  packages/web3-eth-contract/src/contract.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

lerna version bumps
  packages/web3-core/package.json
  packages/web3-errors/package.json
  packages/web3-eth-abi/package.json
  packages/web3-eth-accounts/package.json
  packages/web3-eth-contract/package.json
  packages/web3-eth-ens/package.json
  packages/web3-eth-iban/package.json
  packages/web3-eth-personal/package.json
  packages/web3-eth/package.json
  packages/web3-net/package.json
  packages/web3-providers-http/package.json
  packages/web3-providers-ipc/package.json
  packages/web3-providers-ws/package.json
  packages/web3-rpc-methods/package.json
  packages/web3-types/package.json
  packages/web3-utils/package.json
  packages/web3-validator/package.json
  packages/web3/package.json
  packages/web3/src/version.ts
  tools/web3-plugin-example/package.json
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

dependency collison fix
  packages/web3-eth-ens/package.json
  packages/web3-eth/package.json
Due: prettier --write

changelog accounts ipc and validator
  packages/web3-eth-accounts/CHANGELOG.md
  packages/web3-providers-ipc/CHANGELOG.md
  packages/web3-validator/CHANGELOG.md
Due: prettier --write

Add more tests
  packages/web3-eth-contract/test/integration/contract_defaults_extra.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

changelog updates
  CHANGELOG.md
  packages/web3-core/CHANGELOG.md
  packages/web3-errors/CHANGELOG.md
  packages/web3-eth-abi/CHANGELOG.md
  packages/web3-eth-accounts/CHANGELOG.md
  packages/web3-eth-contract/CHANGELOG.md
  packages/web3-eth-ens/CHANGELOG.md
  packages/web3-eth-personal/CHANGELOG.md
  packages/web3-eth/CHANGELOG.md
  packages/web3-net/CHANGELOG.md
  packages/web3-providers-ipc/CHANGELOG.md
  packages/web3-types/CHANGELOG.md
  packages/web3-utils/CHANGELOG.md
  packages/web3-validator/CHANGELOG.md
Due: prettier --write

changelog update
  CHANGELOG.md
  packages/web3-eth/CHANGELOG.md
Due: prettier --write

fix unit tests
  packages/web3-eth-accounts/src/wallet.ts
  packages/web3-eth-accounts/test/unit/wallet.test.ts
  packages/web3-types/src/web3_base_wallet.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

lint fix
  .husky/pre-commit
Due: none

fix build
  packages/web3/src/accounts.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

change a whitespace to restart the hanged GitHub actions
  packages/web3/README.md
Due: prettier --write

change a whitespace to restart the hanged GitHub actions
  packages/web3/README.md
  packages/web3/src/index.js
Due: prettier --write

Tiny enhancements to the Installation section at README.md files (at 1.x) (#5572)
  README.md
  packages/web3-bzz/README.md
  packages/web3-core-helpers/README.md
  packages/web3-core-method/README.md
  packages/web3-core-promievent/README.md
  packages/web3-core-requestmanager/README.md
  packages/web3-core-subscriptions/README.md
  packages/web3-core/README.md
  packages/web3-eth-abi/README.md
  packages/web3-eth-accounts/README.md
  packages/web3-eth-contract/README.md
  packages/web3-eth-ens/README.md
  packages/web3-eth-iban/README.md
  packages/web3-eth-personal/README.md
  packages/web3-eth/README.md
  packages/web3-net/README.md
  packages/web3-providers-http/README.md
  packages/web3-providers-ipc/README.md
  packages/web3-providers-ws/README.md
  packages/web3-shh/README.md
  packages/web3-utils/README.md
  packages/web3/README.md
  packages/web3/src/index.js
Due: prettier --write

Path conditions:
  prettier --write: ((any of: *.js) or (any of: *.ts)) or (any of: *.{json,md})
  eslint --rulesdir ./tools/eslint-config-web3-base/rules: any of: *.ts
