Repository web3/web3.js: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

.lintstagedrc.json:

{
	"*.js": ["prettier --write"],
	"*.ts": ["prettier --write", "eslint --rulesdir ./tools/eslint-config-web3-base/rules"],
	"*.{json,md}": ["prettier --write"]
}

enhance a test case at web3-eth integration test
  packages/web3-eth/test/integration/defaults.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

try
  .github/workflows/build.yml
Due: none

add cypress install before run e2e
  .github/workflows/build.yml
  package.json
  yarn.lock
Due: prettier --write

add force install
  .github/workflows/build.yml
Due: none

fix ipc
  packages/web3-eth-contract/test/integration/contract_defaults.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update
  package.json
Due: prettier --write

fix
  packages/web3-eth-contract/test/integration/contract_events.test.ts
  scripts/ganache.sh
  scripts/system_tests_utils.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update
  packages/web3-eth/test/integration/web3_eth/send_transaction.test.ts
  scripts/system_tests_utils.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

test
  .github/workflows/build.yml
Due: none

remove accounts
  packages/web3-eth/test/integration/web3_eth/send_transaction.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

try
  .github/workflows/build.yml
  packages/web3-eth-contract/test/integration/contract_defaults.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update
  packages/web3-eth/test/integration/web3_eth/send_transaction.test.ts
  packages/web3/src/version.ts
  scripts/system_tests_utils.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update
  packages/web3/src/version.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

up
  packages/web3/src/version.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

check without action
  .github/workflows/build.yml
Due: none

fix ipc
  packages/web3-eth-contract/test/integration/contract_deploy.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

set display
  scripts/test-runner.sh
Due: none

set display
  .github/workflows/build.yml
  scripts/test-runner.sh
Due: none

test
  packages/web3/test/integration/handle_revert.test.ts
  scripts/test-runner.sh
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix ipc tests
  packages/web3/test/integration/handle_revert.test.ts
  packages/web3/test/integration/web3.accounts.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Init abstract Web3PluginBase class. Init registerPlugin method
  packages/web3-core/src/web3_context.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update web3.ts to have a named export instead of using default
  packages/web3/src/index.ts
  packages/web3/src/web3.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

return
  .github/workflows/build.yml
  scripts/test-runner.sh
Due: none

test
  .github/workflows/build.yml
  packages/web3-eth-accounts/package.json
Due: prettier --write

Init web3-plugin-example package
  packages/web3-plugin-example/.eslintignore
  packages/web3-plugin-example/.eslintrc.js
  packages/web3-plugin-example/.gitignore
  packages/web3-plugin-example/.npmignore
  packages/web3-plugin-example/.prettierignore
  packages/web3-plugin-example/.prettierrc.json
  packages/web3-plugin-example/CHANGELOG.md
  packages/web3-plugin-example/README.md
  packages/web3-plugin-example/assets/logo/web3js.ai
  packages/web3-plugin-example/assets/logo/web3js.jpg
  packages/web3-plugin-example/assets/logo/web3js.svg
  packages/web3-plugin-example/package.json
  packages/web3-plugin-example/src/aggregator_v3_interface_abi.ts
  packages/web3-plugin-example/src/index.ts
  packages/web3-plugin-example/test/.eslintrc.js
  packages/web3-plugin-example/test/config/jest.config.js
  packages/web3-plugin-example/test/config/setup.js
  packages/web3-plugin-example/test/tsconfig.json
  packages/web3-plugin-example/test/unit/jest.config.js
  packages/web3-plugin-example/test/unit/plugin.test.ts
  packages/web3-plugin-example/tsconfig.json
  packages/web3-plugin-example/tsdoc.json
  packages/web3-plugin-example/webpack.config.js
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update CHANGELOG and README
  packages/web3-plugin-example/CHANGELOG.md
  packages/web3-plugin-example/README.md
Due: prettier --write

return docker ganache
  .github/workflows/build.yml
  scripts/ganache.sh
Due: none

return all tests
  .github/workflows/build.yml
  packages/web3-eth-personal/package.json
  packages/web3/package.json
Due: prettier --write

revert
  packages/web3-eth-contract/test/integration/contract_clone.test.ts
  packages/web3-eth-contract/test/integration/contract_defaults.test.ts
  packages/web3-eth-contract/test/integration/contract_deploy.test.ts
  packages/web3-eth-contract/test/integration/contract_erc20.test.ts
  packages/web3-eth-contract/test/integration/contract_erc721.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

revert
  packages/web3-eth-contract/test/integration/contract_events.test.ts
  packages/web3-eth-contract/test/integration/contract_methods.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update packages/web3-plugin-example/test/unit/plugin.test.ts
  packages/web3-plugin-example/test/unit/plugin.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update contract class to not mutate options object
  packages/web3-eth-contract/src/index.js
  test/contract.js
Due: prettier --write

Add .send test for options mutation test
  test/contract.js
Due: prettier --write

Update CHANGELOG
  CHANGELOG.md
Due: prettier --write

Remove errounous import
  test/contract.js
Due: prettier --write

test
  scripts/ganache.sh
  scripts/system_tests_utils.ts
  templates/cypress.config.js
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules
