Repository web3/web3.js: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

.lintstagedrc.json:

{
	"*.js": ["prettier --write"],
	"*.ts": ["prettier --write", "eslint --rulesdir ./tools/eslint-config-web3-base/rules"],
	"*.{json,md}": ["prettier --write"]
}

Change endpoint vars
  .github/workflows/build.yml
Due: none

Check wss secret
  .github/workflows/build.yml
Due: none

Test with modular infura backend
  .github/workflows/build.yml
Due: none

log providers
  scripts/js/basic_usage.js
Due: prettier --write

Delete temp project and registry upon completion
  scripts/blackbox_test.sh
Due: none

More logging
  scripts/blackbox_test.sh
  scripts/js/basic_usage.js
Due: prettier --write

npm init as module
  scripts/blackbox_test.sh
Due: none

Change temp project structure
  scripts/blackbox_test.sh
  scripts/js/basic_usage.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix bug. add e2e tests. setup cypress. fix cypress each for arrays
  packages/web3-eth-accounts/cypress
  packages/web3-eth-accounts/cypress.config.js
  packages/web3-eth-accounts/package.json
  packages/web3-eth-accounts/src/wallet.ts
  packages/web3-eth-accounts/test/fixtures/system_test_utils.ts
  packages/web3-eth-accounts/test/integration/account.test.ts
  packages/web3-eth-accounts/test/integration/wallet.test.ts
  scripts/system_tests_utils.ts
  scripts/test-runner.sh
  templates/cypress/plugins/index.js
  templates/cypress/support/e2e.js
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Log to check variables
  scripts/js/basic_usage.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

check local storage for electron engine
  packages/web3-eth-accounts/test/integration/wallet.test.ts
  scripts/system_tests_utils.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Add env variable in build.yml
  .github/workflows/build.yml
  scripts/js/basic_usage.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

eliminate a floating promise in a test
  packages/web3-eth/test/integration/defaults.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Polling for new blocks after blockHeaderTimeout passes or if error happened (#5284)
  packages/web3-eth/src/utils/watch_transaction_for_confirmations.ts
  packages/web3-eth/test/integration/defaults.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Try to utilize system_test_utils
  scripts/blackbox_test.sh
  scripts/js/basic_usage.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

exclude firefox from encrypt/decrypt tests
  packages/web3-eth-accounts/test/integration/account.test.ts
  packages/web3-eth-accounts/test/integration/wallet.test.ts
  scripts/system_tests_utils.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Use WebsockerProvider type
  scripts/blackbox_test.sh
  scripts/js/basic_usage.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

verbose logging npm
  scripts/blackbox_test.sh
Due: none

change engine to client
  scripts/system_tests_utils.ts
  scripts/test-runner.sh
  templates/cypress/plugins/index.js
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Check if extra dependy creates problem
  scripts/blackbox_test.sh
  scripts/js/basic_usage.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Request 4.x explicitly
  scripts/blackbox_test.sh
Due: none

Don't update minor version
  scripts/blackbox_test.sh
  scripts/npm.publish.sh
Due: none

Fix incorrect merge
  packages/web3-eth/src/schemas.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Add example code to docs for single method imports
  packages/web3-eth/src/index.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Add SendTransactionOptions example
  packages/web3-eth/src/web3_eth.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Add wallet source for sign docs
  packages/web3-eth/src/web3_eth.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update call description
  packages/web3-eth/src/web3_eth.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update description for estimateGas
  packages/web3-eth/src/web3_eth.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Add batch request
  scripts/js/basic_usage.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Remove construction without provider
  scripts/js/basic_usage.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Call USDT
  scripts/blackbox_test.sh
  scripts/js/basic_usage.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

added docs build script
  package.json
Due: prettier --write

Change abi & more calls to USDT
  scripts/js/basic_usage.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

await promise as I should
  scripts/js/basic_usage.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Add web blackbox
  .github/workflows/build.yml
  package.json
  scripts/blackbox_test.sh
  scripts/blackbox_test_web.sh
  scripts/html/index.html
Due: prettier --write

Fix issues
  .github/workflows/build.yml
  scripts/js/basic_usage.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

stop waiting after `transactionBlockTimeout` (this is a draft code that needs to be finished after, or along with: https://github.com/ChainSafe/web3.js/issues/5293)
  packages/web3-errors/src/error_codes.ts
  packages/web3-eth/src/errors.ts
  packages/web3-eth/src/utils/wait_for_transaction_receipt.ts
  packages/web3-eth/test/integration/defaults.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Add desc to getBlock
  packages/web3-eth/src/rpc_method_wrappers.ts
  packages/web3-eth/src/web3_eth.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Revert prettierignore
  .prettierignore
Due: none
