Repository web3/web3.js: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

address feedback
  packages/web3-core/CHANGELOG.md
  packages/web3-eth/test/integration/defaults.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update changelog wording
  packages/web3-core/CHANGELOG.md
Due: prettier --write

make default transaction 0x2 (#6426)
  packages/web3-core/CHANGELOG.md
  packages/web3-core/src/types.ts
  packages/web3-core/src/web3_config.ts
  packages/web3-core/test/unit/__snapshots__/web3_context.test.ts.snap
  packages/web3-core/test/unit/web3_config.test.ts
  packages/web3-eth-contract/test/integration/contract_methods.test.ts
  packages/web3-eth/CHANGELOG.md
  packages/web3-eth/src/utils/detect_transaction_type.ts
  packages/web3-eth/src/utils/transaction_builder.ts
  packages/web3-eth/test/fixtures/detect_transaction_type.ts
  packages/web3-eth/test/integration/defaults.test.ts
  packages/web3-eth/test/integration/helper.ts
  packages/web3-eth/test/integration/web3_eth/send_transaction.test.ts
  packages/web3-eth/test/unit/default_transaction_builder.test.ts
  packages/web3-eth/test/unit/detect_transaction_type.test.ts
  packages/web3-eth/test/unit/detect_transction_type.test.ts
  packages/web3-eth/test/unit/utils/get_transaction_type.test.ts
  packages/web3/test/integration/external-providers/helper.ts
  tools/web3-plugin-example/src/contract_method_wrappers.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

prettify
  packages/web3-validator/src/validator.ts
  packages/web3-validator/test/config/jest.config.js
  packages/web3-validator/test/fixtures/abi_to_json_schema.ts
  packages/web3-validator/test/unit/web3_validator.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

make sure validators are defined for all valid sized of numeric types
  packages/web3-validator/src/formats.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

updated changelog
  packages/web3-validator/CHANGELOG.md
Due: prettier --write

include all newly generated single param test cases in validator test suite
  packages/web3-validator/test/unit/web3_validator.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fail-fast by throwing an error if during conversion of JSON shceme to Zod 'check' function is undefined (due to unsupported type)
  packages/web3-validator/src/validator.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

add ABI test cases with single numeric parameter that have a size that is not a power of 2
  packages/web3-validator/test/fixtures/abi_to_json_schema.ts
  packages/web3-validator/test/unit/web3_validator.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Fixup base fee type
  packages/web3-core/src/formatters.ts
  packages/web3-core/test/unit/formatters.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Removes any
  packages/web3-core/test/unit/formatters.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

v1/chore(web3-eth-accounts): bump @ethereumjs/common and @ethereumjs/tx
  CHANGELOG.md
  package-lock.json
  packages/web3-eth-accounts/package.json
Due: prettier --write

fix: infer Timer and Timeout types depending on context instead of forcing nodejs types
  packages/web3-core/test/unit/web3_batch_request.test.ts
  packages/web3-eth/src/utils/reject_if_block_timeout.ts
  packages/web3-eth/src/utils/wait_for_transaction_receipt.ts
  packages/web3-utils/src/chunk_response_parser.ts
  packages/web3-utils/src/promise_helpers.ts
  packages/web3-utils/src/web3_deferred_promise.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix: lint
  packages/web3-utils/src/chunk_response_parser.ts
  packages/web3-utils/src/web3_deferred_promise.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

revert package-lock.json
  package-lock.json
Due: prettier --write

recover function accepts both v < 27 and v>= 27
  packages/web3-eth-accounts/src/account.ts
  packages/web3-eth-accounts/test/fixtures/account.ts
  packages/web3-eth-accounts/test/unit/account.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update changelog
  packages/web3-eth-accounts/CHANGELOG.md
Due: prettier --write

update linter
  packages/web3-eth-accounts/src/account.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix: timer types to be context dependent (#6460)
  packages/web3-core/test/unit/web3_batch_request.test.ts
  packages/web3-eth/src/utils/reject_if_block_timeout.ts
  packages/web3-eth/src/utils/wait_for_transaction_receipt.ts
  packages/web3-utils/src/chunk_response_parser.ts
  packages/web3-utils/src/promise_helpers.ts
  packages/web3-utils/src/web3_deferred_promise.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Bump cross-fetch to version 4
  packages/web3-providers-http/package.json
Due: prettier --write

added pollTillDefinedAndReturnIntervalId
  packages/web3-utils/src/promise_helpers.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

waitForTransactionReceipt updated interval calls
  packages/web3-eth/src/utils/wait_for_transaction_receipt.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

tests pollTillDefinedAndReturnIntervalId
  packages/web3-utils/test/unit/promise_helpers.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

reusing func for lib size optmz
  packages/web3-utils/src/promise_helpers.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

lint
  packages/web3-utils/src/promise_helpers.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

debug validator
  packages/web3-validator/src/validator.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

test fix
  packages/web3-eth/test/integration/defaults.transactionBlockTimeout.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

add consolelog
  packages/web3-validator/src/validator.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

add privateKeyToPublicKey function to accounts
  packages/web3-eth-accounts/CHANGELOG.md
  packages/web3-eth-accounts/src/account.ts
  packages/web3-eth-accounts/test/fixtures/account.ts
  packages/web3-eth-accounts/test/unit/account.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

merge
  yarn.lock
Due: none

only node 18
  .github/workflows/build.yml
  .github/workflows/deploy-docs.yaml
Due: none

6344 - normalize v on recover (#6462)
  packages/web3-eth-accounts/CHANGELOG.md
  packages/web3-eth-accounts/src/account.ts
  packages/web3-eth-accounts/test/fixtures/account.ts
  packages/web3-eth-accounts/test/unit/account.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

debug
  packages/web3-eth-contract/src/contract.ts
  packages/web3-eth-contract/test/integration/local_account/contract_erc721.test.ts
  packages/web3-validator/src/web3_validator.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

debug
  packages/web3-eth-contract/src/contract.ts
  packages/web3-eth-contract/test/integration/local_account/contract_erc721.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

debug
  packages/web3-validator/src/web3_validator.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

v4.2.0-bigint
  packages/web3-core/package.json
Due: prettier --write

Path conditions:
  prettier --write: ((any of: *.js) or (any of: *.ts)) or (any of: *.{json,md})
  eslint --rulesdir ./tools/eslint-config-web3-base/rules: any of: *.ts
