Repository web3/web3.js: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Add handleRevert
  packages/web3-eth-contract/package.json
  packages/web3-eth-contract/test/integration/contract_defaults_extra.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Cleanup
  packages/web3-eth-contract/test/integration/contract_defaults_extra.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

address PR feeback
  packages/web3-validator/src/web3_validator.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Fix web3-eth-accounts package version
  packages/web3-eth-contract/package.json
Due: prettier --write

blackbox tests fix for 5583
  packages/web3/test/black_box/test/web3-eth-contract/erc20.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

switch to using blake2b for hashing
  packages/web3-validator/src/web3_validator.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Refactor test
  packages/web3-eth-contract/test/integration/contract_defaults_extra.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix lint
  packages/web3-eth-accounts/src/account.ts
  packages/web3-eth-accounts/src/wallet.ts
  packages/web3-eth-accounts/test/fixtures/account.ts
  packages/web3-eth-accounts/test/integration/wallet.test.ts
  packages/web3-eth-accounts/test/unit/wallet.test.ts
  packages/web3-types/src/web3_base_wallet.ts
  packages/web3/src/accounts.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix test utils
  scripts/system_tests_utils.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

addressing feedback
  docs/docs/guides/web3_migration_guide/accounts_migration_guide.md
  docs/docs/guides/web3_migration_guide/contracts_migration_guide.md
  docs/docs/guides/web3_migration_guide/personal_migration_guide.md
  docs/docs/guides/web3_tree_shaking_support_guide/index.md
Due: prettier --write

cypress check
  packages/web3-eth-contract/test/integration/contract_defaults_extra.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

blackbox tests fix 2 for 5583
  packages/web3/test/black_box/test/web3-eth-contract/erc20.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

block schema fix
  packages/web3-eth/src/schemas.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix: web3-validator ajv memory leak (#5574)
  packages/web3-validator/src/web3_validator.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

remove unnecessary set to map
  packages/web3-eth-contract/src/contract.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

small refactor
  packages/web3-eth-contract/src/contract.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

remove unnecessary comment
  packages/web3-eth-contract/src/contract.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix pure in IF
  packages/web3-eth-contract/src/contract.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Release/4.0.1 alpha.1 (#5580)
  CHANGELOG.md
  packages/web3-core/CHANGELOG.md
  packages/web3-core/package.json
  packages/web3-errors/CHANGELOG.md
  packages/web3-errors/package.json
  packages/web3-eth-abi/CHANGELOG.md
  packages/web3-eth-abi/package.json
  packages/web3-eth-accounts/CHANGELOG.md
  packages/web3-eth-accounts/package.json
  packages/web3-eth-contract/CHANGELOG.md
  packages/web3-eth-contract/package.json
  packages/web3-eth-ens/CHANGELOG.md
  packages/web3-eth-ens/package.json
  packages/web3-eth-iban/package.json
  packages/web3-eth-personal/CHANGELOG.md
  packages/web3-eth-personal/package.json
  packages/web3-eth/CHANGELOG.md
  packages/web3-eth/package.json
  packages/web3-eth/src/schemas.ts
  packages/web3-net/CHANGELOG.md
  packages/web3-net/package.json
  packages/web3-providers-http/package.json
  packages/web3-providers-ipc/CHANGELOG.md
  packages/web3-providers-ipc/package.json
  packages/web3-providers-ws/package.json
  packages/web3-rpc-methods/package.json
  packages/web3-types/CHANGELOG.md
  packages/web3-types/package.json
  packages/web3-utils/CHANGELOG.md
  packages/web3-utils/package.json
  packages/web3-validator/CHANGELOG.md
  packages/web3-validator/package.json
  packages/web3/package.json
  packages/web3/src/version.ts
  packages/web3/test/black_box/test/web3-eth-contract/erc20.test.ts
  tools/web3-plugin-example/package.json
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Add support for overloaded functions (#5570)
  packages/web3-eth-contract/src/contract.ts
  packages/web3-eth-contract/test/integration/contract_erc721.test.ts
  packages/web3-eth-contract/test/integration/local_account/contract_erc721.test.ts
  packages/web3-eth-contract/test/integration/local_account/contract_overloaded_methods.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix: sending tx with injected provider
  packages/web3-eth/src/utils/reject_if_block_timeout.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

5298 - Review and clean up 4.x Documentation (#5573)
  docs/docs/glossary/json_interface.md
  docs/docs/guides/web3_migration_guide/abi_migration_guide.md
  docs/docs/guides/web3_migration_guide/accounts_migration_guide.md
  docs/docs/guides/web3_migration_guide/contracts_migration_guide.md
  docs/docs/guides/web3_migration_guide/index.md
  docs/docs/guides/web3_migration_guide/net_migration_guide.md
  docs/docs/guides/web3_migration_guide/personal_migration_guide.md
  docs/docs/guides/web3_migration_guide/providers_migration_guide.md
  docs/docs/guides/web3_migration_guide/subscribe_migration_guide.md
  docs/docs/guides/web3_migration_guide/web3_eth_migration_guide.md
  docs/docs/guides/web3_migration_guide/web3_utils_migration_guide.md
  docs/docs/guides/web3_plugin_guide/index.md
  docs/docs/guides/web3_plugin_guide/plugin_authors.md
  docs/docs/guides/web3_plugin_guide/plugin_users.md
  docs/docs/guides/web3_tree_shaking_support_guide/index.md
  docs/docusaurus.config.js
  docs/src/pages/index.tsx
Due: prettier --write

integration test for fetching past events
  packages/web3-eth-contract/test/integration/contract_events.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

emit past contract events when fromBlock is defined
  packages/web3-eth-contract/src/contract.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update packages/web3-eth-contract/test/integration/contract_events.test.ts
  packages/web3-eth-contract/test/integration/contract_events.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

correct typings
  packages/web3-eth-contract/test/integration/contract_events.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update CHANGELOG.md files
  CHANGELOG.md
  packages/web3-eth-contract/CHANGELOG.md
Due: prettier --write

fix: correct bad rebase
  packages/web3-eth-contract/test/integration/contract_events.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Try exiting
  packages/web3-eth-contract/test/integration/contract_defaults_extra.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Fix wrong access
  packages/web3-eth-contract/test/integration/contract_defaults_extra.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Test
  packages/web3-eth-contract/test/integration/contract_defaults_extra.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

try catch
  packages/web3-eth-contract/test/integration/contract_defaults_extra.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

openssl legacy provider in tests for node >=17
  package.json
Due: prettier --write

openssl-legacy-provider var
  scripts/ci.sh
Due: none

ci.sh env var fix
  scripts/ci.sh
Due: none

package json change revert
  package.json
Due: prettier --write

Emit past contract events based on `fromBlock` (#5472)
  CHANGELOG.md
  packages/web3-eth-contract/CHANGELOG.md
  packages/web3-eth-contract/src/contract.ts
  packages/web3-eth-contract/test/integration/contract_events.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Try to skip
  packages/web3-eth-contract/package.json
  packages/web3-eth-contract/test/integration/contract_defaults_extra.test.ts
  yarn.lock
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

add change logs
  CHANGELOG.md
  packages/web3-eth-accounts/CHANGELOG.md
  packages/web3-types/CHANGELOG.md
Due: prettier --write

Path conditions:
  prettier --write: ((any of: *.js) or (any of: *.ts)) or (any of: *.{json,md})
  eslint --rulesdir ./tools/eslint-config-web3-base/rules: any of: *.ts
