Repository web3/web3.js: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Debugging
  .github/workflows/build.yml
Due: none

Debugging
  packages/web3/scripts/black_box_test.sh
Due: none

Replace npx ganache with docker
  scripts/ganache.sh
Due: none

Add passphrase to ganche docker command
  scripts/ganache.sh
Due: none

Uncomment yarn --update-checksums
  packages/web3/scripts/black_box_test.sh
Due: none

Debugging
  packages/web3/test/black_box/test/web3-eth-accounts/create.test.ts
  packages/web3/test/black_box/test/web3-eth-accounts/hashMessage.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Remove closeOpenConnection from black box tests
  packages/web3/test/black_box/test/web3-eth-accounts/create.test.ts
  packages/web3/test/black_box/test/web3-eth-accounts/hashMessage.test.ts
  scripts/ganache.sh
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Revert removal of closeOpenConnection
  packages/web3/test/black_box/test/web3-eth-accounts/create.test.ts
  packages/web3/test/black_box/test/web3-eth-accounts/hashMessage.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Add --forceExit to WS tests
  packages/web3/test/black_box/package.json
Due: prettier --write

Add test
  packages/web3/test/integration/handle_revert.test.ts
  packages/web3/test/shared_fixtures/build/Basic.json
  packages/web3/test/shared_fixtures/build/Basic.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

enhance calculating Jsonrpc message id
  packages/web3-core-requestmanager/src/jsonrpc.js
Due: prettier --write

Handle revert for eth tx
  packages/web3-errors/src/errors/transaction_errors.ts
  packages/web3-eth/src/rpc_method_wrappers.ts
  packages/web3/test/integration/handle_revert.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Remove IsRevertReasonString
  packages/web3-eth/src/rpc_method_wrappers.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Fix error code
  packages/web3-errors/src/errors/transaction_errors.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Change message
  packages/web3-errors/src/errors/transaction_errors.ts
  packages/web3-eth/src/rpc_method_wrappers.ts
  packages/web3/test/integration/handle_revert.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Change error
  packages/web3-errors/src/errors/transaction_errors.ts
  packages/web3-eth/src/rpc_method_wrappers.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Changes in tests
  packages/web3/test/integration/handle_revert.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Make folder symlink
  packages/web3/test/shared_fixtures/build
  packages/web3/test/shared_fixtures/build/Basic.json
  packages/web3/test/shared_fixtures/build/Basic.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Pass returnFormat to getRevertReason
  packages/web3-eth/src/rpc_method_wrappers.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update docs
  packages/web3-core/src/web3_config.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Block Schema Fix (#5363)
  packages/web3-eth/src/schemas.ts
  packages/web3-eth/test/integration/rpc.block.test.ts
  packages/web3-utils/src/formatter.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Implement PR feedback
  .github/workflows/build.yml
  packages/web3/src/version.ts
  packages/web3/test/black_box/package.json
  scripts/verdaccio.sh
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Correct Github action files
  .github/workflows/black_box_tests.yml
  .github/workflows/build.yml
Due: none

Black box tests (#5353)
  .github/workflows/black_box_tests.yml
  package.json
  packages/web3-core/package.json
  packages/web3-core/src/web3_promi_event.ts
  packages/web3-eth-abi/package.json
  packages/web3-eth-accounts/package.json
  packages/web3-eth-contract/package.json
  packages/web3-eth-contract/test/integration/contract_methods.test.ts
  packages/web3-eth-ens/package.json
  packages/web3-eth-iban/package.json
  packages/web3-eth-personal/package.json
  packages/web3-eth/package.json
  packages/web3-eth/src/index.ts
  packages/web3-net/package.json
  packages/web3-providers-http/package.json
  packages/web3-providers-ws/package.json
  packages/web3-types/package.json
  packages/web3-utils/package.json
  packages/web3-utils/src/web3_deferred_promise.ts
  packages/web3-validator/package.json
  packages/web3/package.json
  packages/web3/scripts/black_box_test.sh
  packages/web3/scripts/env.sh
  packages/web3/test/black_box/.yarnrc
  packages/web3/test/black_box/jest.config.js
  packages/web3/test/black_box/package.json
  packages/web3/test/black_box/test/batchRequest.test.ts
  packages/web3/test/black_box/test/fixtures/contracts/ERC20Token.ts
  packages/web3/test/black_box/test/fixtures/contracts/ERC721Token.ts
  packages/web3/test/black_box/test/web3-eth-accounts/create.test.ts
  packages/web3/test/black_box/test/web3-eth-accounts/hashMessage.test.ts
  packages/web3/test/black_box/test/web3-eth-contract/erc20.test.ts
  packages/web3/test/black_box/test/web3-eth/getBlock.test.ts
  packages/web3/test/black_box/test/web3-eth/getTransaction.test.ts
  packages/web3/test/black_box/yarn.lock
  scripts/ganache.sh
  scripts/geth.sh
  scripts/verdaccio.sh
  verdaccio.yml
  yarn.lock
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

web3 package version fix
  CHANGELOG.md
  packages/web3/package.json
  packages/web3/src/version.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

change log update
  CHANGELOG.md
Due: prettier --write

fix lint
  packages/web3-eth/test/integration/defaults.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Fix testcases
  test/eth.accounts.signTransaction.js
Due: prettier --write

Update tests to check for v,r,s
  test/eth.accounts.signTransaction.js
Due: prettier --write

Release/4.0.0 alpha.0 (#5375)
  CHANGELOG.md
  packages/web3/package.json
  packages/web3/src/version.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update black_box_tests.yml
  .github/workflows/black_box_tests.yml
Due: none

fix docker stop
  packages/web3-eth-accounts/test/integration/account.test.ts
  scripts/ganache.sh
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Start incrementing jsonrpc message id from random number (#5371)
  CHANGELOG.md
  packages/web3-core-requestmanager/src/jsonrpc.js
Due: prettier --write

try handling promise rejection in one test in a different way because it fails in the pipeline
  packages/web3-eth-contract/test/integration/contract_deploy.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

add a missed `return` after `reject` at `sendTransaction`
  packages/web3-eth/src/rpc_method_wrappers.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

tiny fix and tries for an issue in the pipeline
  packages/web3-eth-contract/test/integration/contract_deploy.test.ts
  packages/web3-eth-personal/test/config/jest.config.js
  packages/web3-eth/src/rpc_method_wrappers.ts
  packages/web3-eth/test/integration/helper.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix
  packages/web3-eth/test/integration/web3_eth/getFeeHistory.test.ts
  packages/web3-eth/test/integration/web3_eth/send_signed_transaction.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Path conditions:
  prettier --write: ((any of: *.js) or (any of: *.ts)) or (any of: *.{json,md})
  eslint --rulesdir ./tools/eslint-config-web3-base/rules: any of: *.ts
