Repository web3/web3.js: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

.lintstagedrc.json:

{
	"*.js": ["prettier --write"],
	"*.ts": ["prettier --write", "eslint --rulesdir ./tools/eslint-config-web3-base/rules"],
	"*.{json,md}": ["prettier --write"]
}

Add missing `blockHeaderSchema` properties (#6243)
  CHANGELOG.md
  packages/web3-eth/CHANGELOG.md
  packages/web3-eth/package.json
  packages/web3-eth/src/schemas.ts
  packages/web3-eth/test/e2e/accounts.json
  packages/web3-eth/test/e2e/e2e_utils.ts
  packages/web3-eth/test/e2e/jest.config.js
  packages/web3-eth/test/e2e/setup.js
  packages/web3-eth/test/e2e/subscription_new_heads.test.ts
  packages/web3-eth/test/integration/subscription_heads.test.ts
  packages/web3-types/src/eth_types.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

enhance a test at web3-eth
  packages/web3-eth/test/integration/subscription_logs.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Remove extra formatting check for input and data for transactionSchema
  packages/web3-eth/src/utils/format_transaction.ts
  packages/web3-eth/test/unit/format_transaction.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update transaciton builder to only use input or data provided by user, don't autofill unless both or nullish
  packages/web3-eth/src/utils/transaction_builder.ts
  packages/web3-eth/test/unit/default_transaction_builder.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Add check for transaction.data for getEthereumjsTxDataFromTransaction
  packages/web3-eth/src/utils/prepare_transaction_for_signing.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Implement EIP712 RPC Wrapper Methods and `getEncodedEip712Data` Util (#6286)
  CHANGELOG.md
  packages/web3-eth-abi/CHANGELOG.md
  packages/web3-eth-abi/src/eip_712.ts
  packages/web3-eth-abi/test/fixtures/get_encoded_eip712_data.ts
  packages/web3-eth-abi/test/unit/get_encoded_eip712_data.test.ts
  packages/web3-eth/CHANGELOG.md
  packages/web3-eth/src/rpc_method_wrappers.ts
  packages/web3-eth/src/web3_eth.ts
  packages/web3-eth/test/integration/web3_eth/sign_typed_data.test.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/fixtures/sign_typed_data.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/sign_typed_data.test.ts
  packages/web3-rpc-methods/CHANGELOG.md
  packages/web3-rpc-methods/src/eth_rpc_methods.ts
  packages/web3-rpc-methods/test/unit/eth_rpc_methods/fixtures/sign_typed_data.ts
  packages/web3-rpc-methods/test/unit/eth_rpc_methods/sign_typed_data.test.ts
  packages/web3-types/CHANGELOG.md
  packages/web3-types/src/apis/web3_eth_execution_api.ts
  packages/web3-types/src/eth_types.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update PopulatedUnsignedBaseTransaction to have optional input and data properties
  packages/web3-types/src/eth_types.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update sign_transaction test
  packages/web3-eth/test/integration/web3_eth/sign_transaction.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

trying clean up before run
  scripts/e2e.geth.instamine.sh
Due: none

16
  .github/workflows/build.yml
  scripts/e2e.geth.instamine.sh
Due: none

stop
  scripts/e2e.ganache.sh
Due: none

fix kill ganache
  scripts/e2e.chrome.sh
  scripts/e2e.firefox.sh
Due: none

firefox update
  package-lock.json
  package.json
Due: prettier --write

How to subscribe to custom events (#6285)
  docs/docs/guides/events_subscriptions/custom_subscriptions.md
  docs/docs/guides/events_subscriptions/index.md
  docs/docs/guides/events_subscriptions/supported_subscriptions.md
  packages/web3-core/CHANGELOG.md
  packages/web3-core/src/web3_subscriptions.ts
  packages/web3-core/test/unit/web3_subscription.test.ts
  packages/web3-eth/test/integration/subscription_logs.test.ts
  packages/web3/test/unit/web3-custom-subscriptions.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix mosaic
  scripts/e2e.mosaic.sh
Due: none

fix
  .github/workflows/build.yml
  scripts/e2e.mosaic.sh
Due: none

only mosaic
  .github/workflows/build.yml
  scripts/e2e.mosaic.sh
Due: none

Update CHANGELOGs
  CHANGELOG.md
  packages/web3-eth/CHANGELOG.md
  packages/web3-types/CHANGELOG.md
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

Update CHANGELOG.md
  CHANGELOG.md
Due: prettier --write

Updated broken "tree shaking guide" in the readme file. (#6299)
  README.md
Due: prettier --write

adding autofill gas option sendtransaction (#6265)
  packages/web3-errors/CHANGELOG.md
  packages/web3-errors/src/error_codes.ts
  packages/web3-errors/src/errors/transaction_errors.ts
  packages/web3-eth/CHANGELOG.md
  packages/web3-eth/src/types.ts
  packages/web3-eth/src/utils/prepare_transaction_for_signing.ts
  packages/web3-eth/src/utils/transaction_builder.ts
  packages/web3-eth/test/integration/eth.test.ts
  packages/web3-eth/test/integration/web3_eth/send_transaction.test.ts
  packages/web3-eth/test/unit/prepare_transaction_for_signing.test.ts
  tools/web3-plugin-example/test/unit/contract_method_wrappers.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

add links to 1.x version
  scripts/e2e.mosaic.sh
Due: none

win test
  .github/workflows/build.yml
Due: none

fix all
  .github/workflows/build.yml
Due: none

try win on ubuntu
  .github/workflows/build.yml
Due: none

add iltorb
  .github/workflows/build.yml
  scripts/e2e.windows.sh
Due: none

only windows
  .github/workflows/build.yml
  scripts/e2e.windows.sh
Due: none

off verdaccio_pid
  scripts/e2e.windows.sh
Due: none

all tests
  .github/workflows/build.yml
Due: none

adding type 2 transaction by default
  packages/web3-eth/src/utils/detect_transaction_type.ts
  packages/web3-eth/src/utils/get_transaction_gas_pricing.ts
  packages/web3-eth/src/utils/transaction_builder.ts
  packages/web3-eth/test/integration/defaults.test.ts
  packages/web3-eth/test/integration/defaults.transactionBlockTimeout.test.ts
  packages/web3-eth/test/integration/helper.ts
  packages/web3-eth/test/integration/rpc.test.ts
  packages/web3-eth/test/integration/web3_eth/send_transaction.test.ts
  packages/web3-eth/test/unit/default_transaction_builder.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

ensure a fixed version for `"@types/ws": "8.5.3"` and move it to devDependencies
  packages/web3-providers-ws/package.json
  yarn.lock
Due: prettier --write

win to ubuntu
  .github/workflows/build.yml
Due: none

only windows
  .github/workflows/build.yml
Due: none

all
  .github/workflows/build.yml
Due: none

needs e2e
  .github/workflows/build.yml
Due: none

without needs for win test
  .github/workflows/build.yml
Due: none
