Repository web3/web3.js: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

.lintstagedrc.json:

{
	"*.js": ["prettier --write"],
	"*.ts": ["prettier --write", "eslint --rulesdir ./tools/eslint-config-web3-base/rules"],
	"*.{json,md}": ["prettier --write"]
}

bump versions
  CHANGELOG.md
  packages/web3-errors/CHANGELOG.md
  packages/web3-errors/package.json
  packages/web3-eth/CHANGELOG.md
  packages/web3-eth/package.json
  packages/web3/CHANGELOG.md
  packages/web3/package.json
  packages/web3/src/version.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

updated glossary
  docs/docs/glossary/index.md
Due: prettier --write

chore: change import to ES import
  docs/docs/glossary/index.md
Due: prettier --write

DEFAULT_SYSTEM_PROVIDER revert
  scripts/system_tests_utils.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

cypress timout change
  templates/cypress.config.js
Due: prettier --write

reusing waitForCondition
  packages/web3-eth/test/integration/defaults.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

revert tests fix
  packages/web3-eth/test/integration/get_revert_reason.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

watch subscription transaction fix
  packages/web3-eth/test/integration/watch_transaction.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

waitForCondition
  scripts/system_tests_utils.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

change javascript to typescript
  docs/docs/glossary/index.md
Due: prettier --write

bump versions (#7166)
  CHANGELOG.md
  packages/web3-errors/CHANGELOG.md
  packages/web3-errors/package.json
  packages/web3-eth/CHANGELOG.md
  packages/web3-eth/package.json
  packages/web3/CHANGELOG.md
  packages/web3/package.json
  packages/web3/src/version.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update tests
  packages/web3-eth/test/unit/format_rpc_methods.test.ts
  packages/web3-net/test/fixtures/rpc_method_wrappers.ts
  packages/web3-net/test/unit/rpc_method_wrappers.test.ts
  packages/web3/test/e2e/estimate_gas.test.ts
  packages/web3/test/e2e/get_block_transaction_count.test.ts
  packages/web3/test/e2e/get_block_uncle_count.test.ts
  packages/web3/test/e2e/mainnet/get_code.test.ts
  packages/web3/test/e2e/mainnet/get_storage_at.test.ts
  packages/web3/test/e2e/sepolia/get_code.test.ts
  packages/web3/test/e2e/sepolia/get_storage_at.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update package.json
  packages/web3/package.json
  packages/web3/test/e2e/mainnet/get_code.test.ts
  packages/web3/test/e2e/sepolia/get_storage_at.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update
  packages/web3-eth/test/unit/format_rpc_methods.test.ts
  packages/web3-net/test/fixtures/rpc_method_wrappers.ts
  packages/web3/test/e2e/get_block_transaction_count.test.ts
  packages/web3/test/e2e/get_transaction_from_block.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update content based on feedback
  docs/docs/glossary/index.md
Due: prettier --write

TransactionBlockTimeoutError tests updates
  packages/web3-eth/test/integration/defaults.transactionBlockTimeout.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

updates
  packages/web3-eth/test/integration/defaults.test.ts
  packages/web3-eth/test/integration/defaults.transactionBlockTimeout.test.ts
  packages/web3-eth/test/integration/watch_transaction.test.ts
  scripts/system_tests_utils.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update
  packages/web3-core/src/web3_config.ts
  packages/web3-eth-contract/test/unit/contract.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

unit test fix
  packages/web3-eth-contract/test/unit/contract.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update account.ts
  packages/web3-eth-accounts/src/account.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update CHANGELOG.md
  packages/web3-eth-accounts/CHANGELOG.md
Due: prettier --write

changelog
  CHANGELOG.md
  packages/web3-eth-accounts/CHANGELOG.md
Due: prettier --write

updated yarn lock
  docs/yarn.lock
Due: none

update tests
  packages/web3/test/e2e/mainnet/get_storage_at.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update
  packages/web3/test/e2e/mainnet/get_storage_at.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update tests
  packages/web3/test/e2e/get_balance.test.ts
  packages/web3/test/e2e/get_block_transaction_count.test.ts
  packages/web3/test/e2e/get_block_uncle_count.test.ts
  packages/web3/test/e2e/get_fee_history.test.ts
  packages/web3/test/e2e/get_uncle.test.ts
  packages/web3/test/e2e/sepolia/get_past_logs.test.ts
  packages/web3/test/e2e/sepolia/get_storage_at.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update fee history
  packages/web3/test/e2e/get_fee_history.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update
  packages/web3/test/e2e/sepolia/get_storage_at.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix: upgrade @docusaurus/core from 3.0.1 to 3.4.0
  docs/package.json
  docs/yarn.lock
Due: prettier --write

Apply suggestions from code review
  docs/docs/guides/web3_config/index.md
Due: prettier --write

resolve review comments
  docs/docs/guides/web3_config/index.md
Due: prettier --write

format
  packages/web3/test/e2e/e2e_utils.ts
  packages/web3/test/e2e/estimate_gas.test.ts
  packages/web3/test/e2e/fixtures/sepolia.ts
  packages/web3/test/e2e/get_balance.test.ts
  packages/web3/test/e2e/get_block.test.ts
  packages/web3/test/e2e/get_block_transaction_count.test.ts
  packages/web3/test/e2e/get_block_uncle_count.test.ts
  packages/web3/test/e2e/get_chain_id.test.ts
  packages/web3/test/e2e/get_id.test.ts
  packages/web3/test/e2e/get_proof.test.ts
  packages/web3/test/e2e/get_transaction_count.test.ts
  packages/web3/test/e2e/get_transaction_from_block.test.ts
  packages/web3/test/e2e/get_uncle.test.ts
  packages/web3/test/e2e/mainnet/get_code.test.ts
  packages/web3/test/e2e/sepolia/get_code.test.ts
  packages/web3/test/e2e/sepolia/get_storage_at.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update blackbox tests
  .github/workflows/black_box_tests.yml
Due: none

update scripts
  packages/web3/scripts/black_box_test.sh
Due: none

revert tests
  packages/web3/test/e2e/get_block.test.ts
  packages/web3/test/e2e/get_fee_history.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update fixtures
  packages/web3/test/e2e/fixtures/sepolia.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update tests
  packages/web3/test/e2e/get_block.test.ts
  packages/web3/test/e2e/get_transaction_from_block.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

change back rules
  .github/workflows/black_box_tests.yml
  .github/workflows/e2e_network_tests.yml
Due: none

fixed broken link
  docs/docs/guides/web3_eth/methods.md
Due: prettier --write

update
  packages/web3-eth-accounts/CHANGELOG.md
  packages/web3-eth-accounts/src/account.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules
