Repository web3/web3.js: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Delete unwanted file
  package-lock.json~1.x
Due: none

Add investigation comment
  test/websocket.ganache.js
Due: prettier --write

Try blockTime 0
  scripts/e2e.firefox.sh
Due: none

Uncomment contract event tests
  test/e2e.contract.events.js
Due: prettier --write

Add blockTime=0 to ganache
  scripts/e2e.chrome.sh
  scripts/e2e.ganache.sh
Due: none

Remove instamine from ganache
  scripts/e2e.chrome.sh
  scripts/e2e.firefox.sh
  scripts/e2e.ganache.sh
Due: none

Fix contract event test
  test/e2e.contract.events.js
Due: prettier --write

ws tests for ipc
  packages/web3-eth/test/integration/defaults.test.ts
  packages/web3-eth/test/integration/eth.test.ts
  packages/web3-eth/test/integration/rpc.block.test.ts
  packages/web3-eth/test/integration/setup.js
  packages/web3-eth/test/integration/subscribe.test.ts
  packages/web3-eth/test/integration/subscription_heads.test.ts
  packages/web3-eth/test/integration/subscription_logs.test.ts
  packages/web3-eth/test/integration/subscription_logs_block.test.ts
  packages/web3-eth/test/integration/subscription_logs_clear.test.ts
  packages/web3-eth/test/integration/subscription_new_pending_tx.test.ts
  packages/web3-eth/test/integration/unsubscribe.test.ts
  packages/web3-eth/test/integration/watch_transaction.test.ts
  packages/web3-eth/test/integration/watch_transaction_polling.test.ts
  packages/web3-eth/test/integration/web3_eth/getFeeHistory.test.ts
  packages/web3-providers-ipc/src/index.ts
  packages/web3-utils/src/socket_provider.ts
  scripts/system_tests_utils.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Increase timeout
  test/e2e.contract.events.js
  test/e2e.method.signing.js
Due: prettier --write

Remove console
  test/e2e.contract.events.js
  test/e2e.method.signing.js
  test/eth.subscribe.ganache.js
Due: prettier --write

update geth binary
  packages/web3-eth-ens/test/integration/ens.test.ts
  packages/web3-eth-ens/test/integration/resolver.test.ts
  packages/web3-eth/test/integration/setup.js
  packages/web3-eth/test/integration/subscription_heads.test.ts
  scripts/geth_binary.sh
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

revert to only ws
  packages/web3-eth/test/integration/subscription_heads.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

revert ipc
  packages/web3-eth/test/integration/subscription_new_pending_tx.test.ts
  packages/web3-eth/test/integration/watch_transaction.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

timeout 30 for ipc
  packages/web3-eth/test/integration/setup.js
Due: prettier --write

add ipc tests
  packages/web3-eth/test/integration/defaults.test.ts
  packages/web3-eth/test/integration/subscription_heads.test.ts
  packages/web3-eth/test/integration/subscription_new_pending_tx.test.ts
  packages/web3-eth/test/integration/watch_transaction.test.ts
  scripts/system_tests_utils.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update Verdaccio script to use npx for JS commands
  scripts/verdaccio.sh
Due: none

Update filename for web3-validator webpack build
  packages/web3-validator/webpack.config.js
Due: prettier --write

Update filename for browser property
  packages/web3-validator/package.json
Due: prettier --write

Update CHANGELOGs
  CHANGELOG.md
  packages/web3-validator/CHANGELOG.md
Due: prettier --write

:label: Update the validator types
  packages/web3-validator/src/types.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

:memo: Update changelog
  CHANGELOG.md
Due: prettier --write

:bug: Fix the decoding parameters bug
  packages/web3-eth-abi/src/api/logs_api.ts
  packages/web3-eth-abi/src/api/parameters_api.ts
  packages/web3-eth-abi/src/types.ts
  packages/web3-eth-abi/test/fixtures/data.ts
  packages/web3-eth-abi/test/unit/api/parameters_api.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

:memo: Add changelog entry
  CHANGELOG.md
Due: prettier --write

:label: Update the validator types (#5713)
  CHANGELOG.md
  packages/web3-validator/src/types.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Parameters decoding error for nested components (#5715)
  CHANGELOG.md
  packages/web3-eth-abi/src/api/logs_api.ts
  packages/web3-eth-abi/src/api/parameters_api.ts
  packages/web3-eth-abi/src/types.ts
  packages/web3-eth-abi/test/fixtures/data.ts
  packages/web3-eth-abi/test/unit/api/parameters_api.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Fix Webpack Build for `web3-validator` (#5710)
  CHANGELOG.md
  packages/web3-validator/CHANGELOG.md
  packages/web3-validator/package.json
  packages/web3-validator/webpack.config.js
  scripts/verdaccio.sh
Due: prettier --write

Let gas value be a number string instead of a number, to store large number values like in BSC chain block number 24463105
  packages/web3-core-helpers/src/formatters.js
Due: prettier --write

Update 1.x tests infrastructure/libs (#5671)
  TESTING.md
  package-lock.json
  package.json
  scripts/e2e.chrome.sh
  scripts/e2e.firefox.sh
  scripts/e2e.ganache.sh
  test/3_givenProvider-ganache.js
  test/e2e.contract.events.js
  test/e2e.method.send.js
  test/e2e.method.signing.js
  test/eth.subscribe.ganache.js
  test/websocket.ganache.js
Due: prettier --write

Nikos/5482/implement tests for eip 838 errors with local contract deployment (#5659)
  fixtures/build/ErrorsContract.json
  fixtures/build/ErrorsContract.ts
  fixtures/contracts/ErrorsContract.sol
  packages/web3-core/src/web3_request_manager.ts
  packages/web3-eth-contract/src/contract.ts
  packages/web3-eth-contract/test/integration/contract_methods.test.ts
  packages/web3-eth-contract/test/integration/contract_methods_errors.test.ts
  packages/web3-eth-contract/test/unit/contract.test.ts
  packages/web3-eth/src/rpc_method_wrappers.ts
  packages/web3-eth/src/types.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

changelog update
  CHANGELOG.md
Due: prettier --write

version bumps
  packages/web3-core/package.json
  packages/web3-eth-abi/package.json
  packages/web3-eth-accounts/package.json
  packages/web3-eth-contract/package.json
  packages/web3-eth-ens/package.json
  packages/web3-eth-iban/package.json
  packages/web3-eth-personal/package.json
  packages/web3-eth/package.json
  packages/web3-net/package.json
  packages/web3-providers-http/package.json
  packages/web3-providers-ipc/package.json
  packages/web3-providers-ws/package.json
  packages/web3-rpc-methods/package.json
  packages/web3-utils/package.json
  packages/web3-validator/package.json
  packages/web3/package.json
  packages/web3/src/version.ts
  tools/web3-plugin-example/package.json
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

changelog updates
  packages/web3-core/CHANGELOG.md
  packages/web3-eth-abi/CHANGELOG.md
  packages/web3-eth-accounts/CHANGELOG.md
  packages/web3-eth-contract/CHANGELOG.md
  packages/web3-eth-ens/CHANGELOG.md
  packages/web3-eth-iban/CHANGELOG.md
  packages/web3-eth-personal/CHANGELOG.md
  packages/web3-eth/CHANGELOG.md
  packages/web3-net/CHANGELOG.md
  packages/web3-providers-http/CHANGELOG.md
  packages/web3-providers-ipc/CHANGELOG.md
  packages/web3-providers-ws/CHANGELOG.md
  packages/web3-rpc-methods/CHANGELOG.md
  packages/web3-utils/CHANGELOG.md
  packages/web3-validator/CHANGELOG.md
  tools/web3-plugin-example/CHANGELOG.md
Due: prettier --write

libs update
  package-lock.json
Due: prettier --write

add cloudflare deploy
  .github/workflows/deploy-docs.yaml
Due: none

fix trigger events
  .github/workflows/deploy-docs.yaml
Due: none

move nonce test to separate file
  packages/web3-eth/test/integration/defaults.test.ts
  packages/web3-eth/test/integration/nonce.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Release/4.0.1 alpha.3 (#5725)
  CHANGELOG.md
  packages/web3-core/CHANGELOG.md
  packages/web3-core/package.json
  packages/web3-eth-abi/CHANGELOG.md
  packages/web3-eth-abi/package.json
  packages/web3-eth-accounts/CHANGELOG.md
  packages/web3-eth-accounts/package.json
  packages/web3-eth-contract/CHANGELOG.md
  packages/web3-eth-contract/package.json
  packages/web3-eth-ens/CHANGELOG.md
  packages/web3-eth-ens/package.json
  packages/web3-eth-iban/CHANGELOG.md
  packages/web3-eth-iban/package.json
  packages/web3-eth-personal/CHANGELOG.md
  packages/web3-eth-personal/package.json
  packages/web3-eth/CHANGELOG.md
  packages/web3-eth/package.json
  packages/web3-net/CHANGELOG.md
  packages/web3-net/package.json
  packages/web3-providers-http/CHANGELOG.md
  packages/web3-providers-http/package.json
  packages/web3-providers-ipc/CHANGELOG.md
  packages/web3-providers-ipc/package.json
  packages/web3-providers-ws/CHANGELOG.md
  packages/web3-providers-ws/package.json
  packages/web3-rpc-methods/CHANGELOG.md
  packages/web3-rpc-methods/package.json
  packages/web3-utils/CHANGELOG.md
  packages/web3-utils/package.json
  packages/web3-validator/CHANGELOG.md
  packages/web3-validator/package.json
  packages/web3/package.json
  packages/web3/src/version.ts
  tools/web3-plugin-example/CHANGELOG.md
  tools/web3-plugin-example/package.json
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

split default tests
  packages/web3-eth/test/integration/block/rpc.getBlock.test.ts
  packages/web3-eth/test/integration/block/rpc.getBlockTransactionCount.test.ts
  packages/web3-eth/test/integration/block/rpc.getBlockUncleCount.test.ts
  packages/web3-eth/test/integration/block/rpc.getTransactionCount.test.ts
  packages/web3-eth/test/integration/block/rpc.getTransactionFromBlock.test.ts
  packages/web3-eth/test/integration/block/rpc.getUncle.test.ts
  packages/web3-eth/test/integration/defaults.test.ts
  packages/web3-eth/test/integration/defaults.transactionBlockTimeout.test.ts
  packages/web3-eth/test/integration/subscription_heads.test.ts
  packages/web3-eth/test/integration/watch_transaction.test.ts
  packages/web3-eth/test/integration/watch_transaction_polling.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

test with console.log
  packages/web3-eth/src/rpc_method_wrappers.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Path conditions:
  prettier --write: ((any of: *.js) or (any of: *.ts)) or (any of: *.{json,md})
  eslint --rulesdir ./tools/eslint-config-web3-base/rules: any of: *.ts
