Repository web3/web3.js: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

.lintstagedrc.json:

{
	"*.js": ["prettier --write"],
	"*.ts": ["prettier --write", "eslint --rulesdir ./tools/eslint-config-web3-base/rules"],
	"*.{json,md}": ["prettier --write"]
}

Fix expect in integraton test
  packages/web3-eth-contract/test/integration/contract_methods.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update CHANGELOG.md for #5373
  CHANGELOG.md
  packages/web3-validator/CHANGELOG.md
Due: prettier --write

updating crypto
  packages/web3-eth-accounts/package.json
  packages/web3-eth-accounts/src/index.js
Due: prettier --write

firefox test (#5657)
  .github/workflows/build.yml
Due: none

Add Extending Web3EthPluginBase section
  docs/docs/guides/web3_plugin_guide/plugin_authors.md
Due: prettier --write

Grammer fix
  docs/docs/guides/web3_plugin_guide/plugin_authors.md
Due: prettier --write

Plugin Doc and Example Refactors for #5596 (#5621)
  docs/docs/guides/web3_plugin_guide/assets/custom_rpc_method.png
  docs/docs/guides/web3_plugin_guide/assets/custom_rpc_method_with_parameters.png
  docs/docs/guides/web3_plugin_guide/assets/web3_context_augmentation.png
  docs/docs/guides/web3_plugin_guide/index.md
  docs/docs/guides/web3_plugin_guide/plugin_authors.md
  docs/docs/guides/web3_plugin_guide/plugin_users.md
  tools/web3-plugin-example/src/contract_method_wrappers.ts
  tools/web3-plugin-example/src/custom_rpc_methods.ts
  tools/web3-plugin-example/src/reexported_web3_context.ts
  tools/web3-plugin-example/test/unit/contract_method_wrappers.test.ts
  tools/web3-plugin-example/test/unit/custom_rpc_methods.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Change expected message in tes
  packages/web3-eth-contract/test/integration/contract_methods.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

test error with parameter
  packages/web3-eth-contract/test/integration/contract_methods_errors.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Use different types for jsonInterface setter and getter (#5645)
  CHANGELOG.md
  packages/web3-eth-contract/CHANGELOG.md
  packages/web3-eth-contract/src/types.ts
  packages/web3-eth-contract/test/unit/contract.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

console.log to debug test pipeline
  packages/web3-eth-contract/test/integration/contract_methods_errors.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

refactor external providers tests
  packages/web3-types/src/web3_base_provider.ts
  packages/web3/test/integration/external-providers.test.ts
  packages/web3/test/integration/external-providers/extremely_simple.test.ts
  packages/web3/test/integration/external-providers/ganache.test.ts
  packages/web3/test/integration/external-providers/hardhat.test.ts
  packages/web3/test/integration/external-providers/helper.ts
  packages/web3/test/integration/external-providers/in3.test.ts
  packages/web3/test/integration/external-providers/infura-rpc.test.ts
  packages/web3/test/integration/external-providers/truffle-hdwallet.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Add updated contract and artifacts
  fixtures/build/ErrorsContract.json
  fixtures/build/ErrorsContract.ts
  fixtures/contracts/ErrorsContract.sol
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Expect to contain error message
  packages/web3-eth-contract/test/integration/contract_methods.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Test
  packages/web3-eth-contract/test/integration/contract_methods.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Remove unecessary console
  packages/web3-eth-contract/test/integration/contract_methods_errors.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Run tests only for geth
  packages/web3-eth-contract/test/integration/contract_methods_errors.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

use Error ABI when sending a transaction
  packages/web3-eth-contract/src/contract.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update CHANGELOG.md for #5587
  CHANGELOG.md
  packages/web3-eth-contract/CHANGELOG.md
Due: prettier --write

Different tests for each backend
  packages/web3-eth-contract/test/integration/contract_methods.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

apply yarn lint:fix
  packages/web3-eth/test/integration/eth.test.ts
  packages/web3/test/integration/web3.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

remove unused import
  packages/web3-eth/test/integration/eth.test.ts
  packages/web3/test/integration/web3.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

disconnected
  packages/web3-providers-ws/src/index.ts
  packages/web3-types/src/web3_api_types.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Version bump and build for v4.0.1-alpha.2
  packages/web3-core/package.json
  packages/web3-errors/package.json
  packages/web3-eth-abi/package.json
  packages/web3-eth-accounts/package.json
  packages/web3-eth-contract/package.json
  packages/web3-eth-ens/package.json
  packages/web3-eth-iban/package.json
  packages/web3-eth-personal/package.json
  packages/web3-eth/package.json
  packages/web3-net/package.json
  packages/web3-providers-http/package.json
  packages/web3-providers-ipc/package.json
  packages/web3-providers-ws/package.json
  packages/web3-rpc-methods/package.json
  packages/web3-types/package.json
  packages/web3-utils/package.json
  packages/web3-validator/package.json
  packages/web3/package.json
  packages/web3/src/version.ts
  tools/web3-packagetemplate/package.json
  tools/web3-plugin-example/package.json
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update CHANGELOG version headers
  CHANGELOG.md
  packages/web3-core/CHANGELOG.md
  packages/web3-eth-accounts/CHANGELOG.md
  packages/web3-eth-contract/CHANGELOG.md
  packages/web3-types/CHANGELOG.md
  packages/web3-utils/CHANGELOG.md
  tools/web3-plugin-example/CHANGELOG.md
Due: prettier --write

update changelogs
  CHANGELOG.md
  packages/web3-eth-abi/CHANGELOG.md
  packages/web3-eth-contract/CHANGELOG.md
Due: prettier --write

Contract call with tuple is missing param names (#5613)
  CHANGELOG.md
  packages/web3-eth-abi/CHANGELOG.md
  packages/web3-eth-abi/src/types.ts
  packages/web3-eth-abi/test/unit/types.test.ts
  packages/web3-eth-contract/CHANGELOG.md
  packages/web3-eth-contract/src/contract.ts
  packages/web3-eth-contract/src/types.ts
  packages/web3-eth-ens/test/integration/resolver.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix firefox
  .github/workflows/build.yml
Due: none

Use listener for error
  packages/web3-eth-contract/src/contract.ts
  packages/web3-eth-contract/test/integration/contract_methods_errors.test.ts
  packages/web3-eth/src/rpc_method_wrappers.ts
  packages/web3-eth/src/types.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix firefox (#5666)
  .github/workflows/build.yml
Due: none

Remove if for listener
  packages/web3-eth-contract/src/contract.ts
  packages/web3-eth/src/types.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Change unit test
  packages/web3-eth-contract/src/contract.ts
  packages/web3-eth-contract/test/unit/contract.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

updatingwebpack config
  webpack.config.js
Due: prettier --write

Remove unused import
  packages/web3-eth-contract/test/unit/contract.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Remove erroneous set provider code for Contract constructor. Add Contract constructor provider set test
  packages/web3-eth-contract/src/contract.ts
  packages/web3-eth-contract/test/unit/contract.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update CHANGELOGs
  CHANGELOG.md
  packages/web3-eth-contract/CHANGELOG.md
Due: prettier --write

Debugging failing integration tests
  packages/web3-eth-contract/src/contract.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Apply suggestions from code review
  CHANGELOG.md
  packages/web3-eth-contract/CHANGELOG.md
Due: prettier --write

Migrate ganache-cli to ganache
  package-lock.json
  package.json
Due: prettier --write
