Repository web3/web3.js: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

.lintstagedrc.json:

{
	"*.js": ["prettier --write"],
	"*.ts": ["prettier --write", "eslint --rulesdir ./tools/eslint-config-web3-base/rules"],
	"*.{json,md}": ["prettier --write"]
}

fix
  packages/web3-eth-contract/cypress.config.js
  packages/web3-eth/cypress.config.js
  packages/web3-providers-http/cypress.config.js
Due: prettier --write

add checkout
  .github/workflows/build.yml
Due: none

test
  .github/workflows/build.yml
Due: none

5105/web3 migration guide (#5143)
  docs/docs/guides/web3_migration_guide.md
Due: prettier --write

fix remove wallet using an index when an account address and address lowercase are equal #5049
  CHANGELOG.md
  packages/web3-eth-accounts/src/index.js
  test/eth.accounts.wallet.js
Due: prettier --write

try build
  .github/workflows/build.yml
Due: none

try without build web
  .github/workflows/build.yml
Due: none

fix flow
  .github/workflows/build.yml
Due: none

fix lint
  templates/.eslintignore.tmpl
Due: none

Ok/test (#5177)
  .github/workflows/build.yml
  docs/docs/guides/web3_migration_guide.md
  packages/web3-eth-contract/.eslintignore
  packages/web3-eth-contract/cypress.config.js
  packages/web3-eth-contract/cypress.json
  packages/web3-eth/cypress.config.js
  packages/web3-eth/cypress.json
  packages/web3-providers-http/cypress.config.js
  packages/web3-providers-http/cypress.json
  templates/.eslintignore.tmpl
  templates/cypress/support/e2e.js
Due: prettier --write

fix cypress
  packages/web3-eth-contract/package.json
  packages/web3-eth/package.json
  packages/web3-providers-http/package.json
Due: prettier --write

fix
  packages/web3-eth/test/integration/setup.js
Due: prettier --write

separate tests
  packages/web3-eth/test/integration/eth.test.ts
  packages/web3-eth/test/integration/subscription_logs_block.test.ts
  packages/web3-eth/test/integration/subscription_logs_clear.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

add defaults/getter/setter
  packages/web3-providers-ipc/src/index.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

got lib updated
  packages/web3-bzz/package.json
Due: prettier --write

npm audit fix
  package-lock.json
Due: prettier --write

changelog update
  CHANGELOG.md
Due: prettier --write

Fixed documentation for web3.eth.accounts.signTransaction (#5121)
  CHANGELOG.md
  docs/web3-eth-accounts.rst
Due: prettier --write

Updates on `README.md` Format (#5115)
  CHANGELOG.md
  README.md
Due: prettier --write

web3-providers-http: Migrate from xhr2-cookies to cross-fetch (#5085)
  CHANGELOG.md
  packages/web3-providers-http/package.json
  packages/web3-providers-http/src/index.js
  packages/web3-providers-http/types/index.d.ts
  packages/web3-providers-http/types/tests/web3-provider-http-tests.ts
  test/httpprovider.js
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

:arrow_up: Update package-lock.json
  package-lock.json
Due: prettier --write

Contract API Documentation (#5162)
  docs/docs/glossary/json_interface.md
  docs/docs/guides/setting_provider.md
  docs/docusaurus.config.js
  docs/sidebars.js
  packages/web3-eth-contract/src/contract.ts
  packages/web3-eth-contract/src/encoding.ts
  packages/web3-eth-contract/src/index.ts
  packages/web3-eth-contract/src/log_subscription.ts
  packages/web3-eth-contract/src/types.ts
  packages/web3/src/index.ts
  packages/web3/src/types.ts
  packages/web3/src/web3.ts
  tools/eslint-config-web3-base/ts.js
  yarn.lock
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

updating docs
  packages/web3-eth-accounts/src/account.ts
  packages/web3-eth-accounts/src/index.ts
  packages/web3-eth-accounts/src/wallet.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

:sparkles: Add integer index support to wallet
  packages/web3-common/src/web3_base_wallet.ts
  packages/web3-eth-accounts/src/wallet.ts
  packages/web3-eth-accounts/test/unit/wallet.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

:art: Fix the build errors
  packages/web3-eth/src/rpc_method_wrappers.ts
  packages/web3-eth/src/utils/transaction_builder.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

:sparkles: Add event chaining suppor to PromiEvent
  packages/web3-common/src/web3_promi_event.ts
  packages/web3-common/test/unit/web3_promi_event.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

:white_check_mark: Add one extra test case for private key
  packages/web3-eth-accounts/test/unit/wallet.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

adding wallet docs
  packages/web3-eth-accounts/src/wallet.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update type
  packages/web3-eth-accounts/src/index.ts
  packages/web3/src/web3.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Export WebSocketProvider as default
  packages/web3-providers-ws/types/index.d.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

:rotating_light: Fix linter errors
  packages/web3-eth-contract/src/contract.ts
  packages/web3-eth-contract/test/integration/contract_defaults.test.ts
  packages/web3-eth-contract/test/integration/contract_deploy.test.ts
  packages/web3-eth/test/integration/defaults.test.ts
  packages/web3-eth/test/integration/helper.ts
  packages/web3-eth/test/integration/watch_transaction.test.ts
  packages/web3-eth/test/integration/web3_eth/send_signed_transaction.test.ts
  packages/web3-eth/test/integration/web3_eth/send_transaction.test.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/send_signed_transaction.test.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/send_transaction.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix linter error
  packages/web3/src/web3.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

add wallet example
  packages/web3-eth-accounts/src/wallet.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

change add function signature to match 1.x
  packages/web3-common/src/web3_base_wallet.ts
  packages/web3-eth-accounts/src/wallet.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules
