Repository web3/web3.js: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

.lintstagedrc.json:

{
	"*.js": ["prettier --write"],
	"*.ts": ["prettier --write", "eslint --rulesdir ./tools/eslint-config-web3-base/rules"],
	"*.{json,md}": ["prettier --write"]
}

remove lines
  scripts/test-runner.sh
Due: none

revert http provider changes
  packages/web3-providers-http/test/integration/request.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

test with 20 sec
  packages/web3-common/test/integration/setup.js
  packages/web3-core/test/integration/setup.js
  packages/web3-errors/test/integration/setup.js
  packages/web3-eth-accounts/test/integration/setup.js
  packages/web3-eth-contract/test/integration/setup.js
  packages/web3-eth-iban/test/integration/setup.js
  packages/web3-eth-personal/test/integration/setup.js
  packages/web3-eth/test/integration/setup.js
  packages/web3-net/test/integration/setup.js
  packages/web3-providers-http/test/integration/setup.js
  packages/web3-providers-ipc/test/integration/setup.js
  packages/web3-providers-ws/test/integration/setup.js
  packages/web3-utils/test/integration/setup.js
  packages/web3-validator/test/integration/setup.js
  packages/web3/test/integration/setup.js
Due: prettier --write

test with 20 sec
  packages/web3-eth-abi/test/integration/setup.js
  packages/web3-eth-ens/test/integration/setup.js
Due: prettier --write

decrease count of logs
  packages/web3-eth/test/integration/subscription_logs.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

revert http provider test
  packages/web3-providers-http/test/integration/request.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

adding wallet docs
  packages/web3-eth-accounts/src/index.ts
  packages/web3-eth-accounts/src/wallet.ts
  packages/web3/src/web3.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

updating wallet
  packages/web3-eth-accounts/src/index.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Fix: add missing function type "receive"
  packages/web3-utils/types/index.d.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Apply changes from reviews
  docs/docs/guides/web3_migration_guide.md
Due: prettier --write

Apply suggestions from code review
  docs/docs/glossary/json_interface.md
Due: prettier --write

Update docs/docs/glossary/json_interface.md
  docs/docs/glossary/json_interface.md
Due: prettier --write

:art: Update var with the const
  docs/docs/guides/setting_provider.md
Due: prettier --write

:art: Update the the usage 'var' with the 'const'
  docs/docs/guides/setting_provider.md
Due: prettier --write

Apply suggestions from code review
  packages/web3-eth-contract/src/contract.ts
  packages/web3-eth-contract/src/index.ts
  packages/web3/src/types.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Apply some changes from reviews
  docs/docs/guides/web3_eth_migration_guide.md
Due: prettier --write

Apply suggestions from code review
  packages/web3-eth-contract/src/contract.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update packages/web3-eth-contract/src/types.ts
  packages/web3-eth-contract/src/types.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Add getHashrate as deprecated
  packages/web3-eth/src/web3_eth.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Remove getAccounts, as it will be fixed
  docs/docs/guides/web3_eth_migration_guide.md
Due: prettier --write

Fix hex string to bigint in docs
  docs/docs/guides/web3_eth_migration_guide.md
Due: prettier --write

try amd64
  scripts/geth.sh
Due: none

test
  .github/workflows/build.yml
  packages/web3-common/test/unit/formatters.test.ts
  packages/web3-eth/test/integration/setup.js
  scripts/geth.sh
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

test aarch64
  .github/workflows/build.yml
Due: none

return amd64
  .github/workflows/build.yml
  scripts/geth.sh
Due: none

try docker
  .github/workflows/build.yml
  packages/web3-eth-abi/test/integration/setup.js
  packages/web3-eth-ens/test/integration/setup.js
  packages/web3-eth-iban/test/integration/setup.js
  packages/web3-eth/test/integration/subscription_logs.test.ts
  packages/web3-net/test/integration/setup.js
  packages/web3-providers-http/test/integration/setup.js
  packages/web3-providers-ipc/test/integration/setup.js
  packages/web3-validator/test/integration/setup.js
  packages/web3/test/integration/setup.js
  scripts/geth.sh
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

15sec
  packages/web3-common/test/integration/setup.js
  packages/web3-core/test/integration/setup.js
  packages/web3-errors/test/integration/setup.js
  packages/web3-eth-accounts/test/integration/setup.js
  packages/web3-eth-contract/test/integration/setup.js
  packages/web3-eth-personal/test/integration/setup.js
  packages/web3-eth/test/integration/setup.js
  packages/web3-providers-ws/test/integration/setup.js
  packages/web3-utils/test/integration/setup.js
Due: prettier --write

fix
  packages/web3-common/test/unit/formatters.test.ts
  packages/web3-core/src/web3_request_manager.ts
  packages/web3-eth/src/rpc_method_wrappers.ts
  packages/web3-eth/test/integration/subscription_logs.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

add setup node
  .github/workflows/build.yml
  scripts/geth.sh
Due: none

test
  packages/web3-core/src/web3_request_manager.ts
  packages/web3-core/test/unit/web3_request_manager.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

test
  scripts/geth2.sh
Due: none

remove geth2
  scripts/geth2.sh
Due: none

new flow
  .github/workflows/build.yml
  scripts/geth.sh
  scripts/test-runner.sh
Due: none

cypress fix
  packages/web3-eth-contract/package.json
  packages/web3-eth/package.json
  packages/web3-providers-http/package.json
Due: prettier --write

fix
  package.json
Due: prettier --write

cypress
  packages/web3-eth-contract/.eslintignore
  packages/web3-eth-contract/cypress.config.js
  packages/web3-eth-contract/cypress.json
  packages/web3-eth-contract/package.json
  packages/web3-eth/cypress.config.js
  packages/web3-eth/cypress.json
  packages/web3-eth/package.json
  packages/web3-providers-http/cypress.config.js
  packages/web3-providers-http/cypress.json
  packages/web3-providers-http/package.json
  templates/cypress/support/e2e.js
  yarn.lock
Due: prettier --write
