Repository web3/web3.js: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

revert recover
  packages/web3-eth-accounts/src/account.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

add geth tests
  packages/web3-providers-ws/package.json
  packages/web3-providers-ws/test/integration/ganache_fault_tolerance.test.ts
  packages/web3-providers-ws/test/integration/geth_fault_tolerance.test.ts
  scripts/geth.sh
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update tests
  packages/web3-providers-ws/test/integration/geth_fault_tolerance.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

release v4.10.0 (#7096)
  CHANGELOG.md
  packages/web3-core/CHANGELOG.md
  packages/web3-core/package.json
  packages/web3-eth-ens/CHANGELOG.md
  packages/web3-eth-ens/package.json
  packages/web3-eth/CHANGELOG.md
  packages/web3-eth/package.json
  packages/web3-rpc-providers/CHANGELOG.md
  packages/web3-rpc-providers/package.json
  packages/web3-types/CHANGELOG.md
  packages/web3-types/package.json
  packages/web3/CHANGELOG.md
  packages/web3/package.json
  packages/web3/src/version.ts
  tools/web3-plugin-example/CHANGELOG.md
  tools/web3-plugin-example/package.json
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix integration tests
  packages/web3/test/integration/web3.test.ts
  scripts/system_tests_utils.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix integration tests
  scripts/system_tests_utils.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

EIP 712 fixes (#7095)
  packages/web3-eth-abi/src/eip_712.ts
  packages/web3-eth-accounts/src/account.ts
  packages/web3-eth-accounts/src/tx/baseTransaction.ts
  packages/web3-utils/src/hash.ts
  packages/web3/test/integration/web3.test.ts
  scripts/system_tests_utils.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

remove comment
  packages/web3-eth/src/web3_eth.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update
  packages/web3-providers-ws/test/integration/ganache_fault_tolerance.test.ts
  packages/web3-providers-ws/test/integration/geth_fault_tolerance.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix: packages/web3-providers-ws/package.json to reduce vulnerabilities
  packages/web3-providers-ws/package.json
Due: prettier --write

update scripts
  scripts/geth.sh
Due: none

add geth fault tolerance tests (#7104)
  packages/web3-providers-ws/package.json
  packages/web3-providers-ws/test/integration/geth_fault_tolerance.test.ts
  scripts/geth.sh
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Updates to MetaMask Tutorial
  docs/docs/guides/wallet/metamask.md
Due: prettier --write

update tests
  packages/web3-rpc-providers/src/errors.ts
  packages/web3-rpc-providers/src/web3_provider.ts
  packages/web3-rpc-providers/test/unit/request.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

remove quicknode errors
  packages/web3-errors/src/error_codes.ts
  packages/web3-errors/src/errors/quicknode_errors.ts
  packages/web3-errors/src/index.ts
  packages/web3-errors/test/unit/errors.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

throw other errors
  packages/web3-eth/src/rpc_method_wrappers.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update changelog and text
  packages/web3-eth/CHANGELOG.md
  packages/web3-eth/src/rpc_method_wrappers.ts
  packages/web3-eth/src/web3_eth.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update linter
  packages/web3-eth/src/rpc_method_wrappers.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update imports
  packages/web3-errors/test/unit/errors.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

refactor(web3): web3
  packages/web3/src/web3.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

refactor: web3-core
  packages/web3-core/src/formatters.ts
  packages/web3-core/src/utils.ts
  packages/web3-core/src/web3_request_manager.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix(web3-errors): typo
  packages/web3-errors/src/errors/core_errors.ts
  packages/web3-errors/src/errors/rpc_error_messages.ts
  packages/web3-errors/src/errors/transaction_errors.ts
  packages/web3-errors/src/web3_error_base.ts
  packages/web3-errors/test/unit/__snapshots__/rpc-errors.test.ts.snap
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix(web3-eth-accounts): typo
  packages/web3-eth-accounts/src/tx/baseTransaction.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix react naming vue.md
  docs/docs/guides/wallet/web3_modal_guide/vue.md
Due: prettier --write

change return type of request
  packages/web3-rpc-providers/src/web3_provider.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update changelog
  packages/web3-rpc-providers/CHANGELOG.md
Due: prettier --write

watchTransactionByPolling fix
  packages/web3-eth/src/utils/watch_transaction_by_polling.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

watchTransactionBySubscription fallback test
  packages/web3-eth/test/unit/utils/watch_transaction_by_subscription.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update introduction.md
  docs/docs/guides/getting_started/introduction.md
Due: prettier --write

remove todo
  packages/web3-eth-contract/test/integration/contract_methods.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update codecov yml
  codecov.yml
Due: none

trigger codecov
  packages/web3-eth-accounts/src/wallet.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

remove test code
  packages/web3-eth-accounts/src/wallet.ts
  packages/web3-eth-contract/test/integration/contract_methods.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

remove console log
  packages/web3-eth-contract/test/integration/contract_methods.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Add populate tx method
  packages/web3-eth-contract/src/contract.ts
  packages/web3-eth-contract/src/types.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update types.ts
  packages/web3-eth-contract/src/types.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

watchTransactionBySubscription fallback fix (#7118)
  packages/web3-eth/src/utils/watch_transaction_by_polling.ts
  packages/web3-eth/test/unit/utils/watch_transaction_by_subscription.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix: packages/web3-providers-ws/package.json to reduce vulnerabilities (#7109)
  packages/web3-providers-ws/package.json
Due: prettier --write

Remove tables in codecov (#7123)
  codecov.yml
Due: none

Path conditions:
  prettier --write: ((any of: *.js) or (any of: *.ts)) or (any of: *.{json,md})
  eslint --rulesdir ./tools/eslint-config-web3-base/rules: any of: *.ts
