Repository web3/web3.js: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

remove changelogs
  CHANGELOG.md
  packages/web3-types/CHANGELOG.md
  packages/web3-validator/CHANGELOG.md
Due: prettier --write

fix
  CHANGELOG.md
  packages/web3-types/CHANGELOG.md
  packages/web3-validator/CHANGELOG.md
Due: prettier --write

Add default return format to the context (#6947)
  CHANGELOG.md
  docs/docs/guides/web3_config/index.md
  docs/docs/guides/web3_upgrade_guide/1.x/index.md
  packages/web3-core/CHANGELOG.md
  packages/web3-core/src/web3_config.ts
  packages/web3-core/test/unit/__snapshots__/web3_context.test.ts.snap
  packages/web3-core/test/unit/web3_config.test.ts
  packages/web3-eth-accounts/test/config/setup.js
  packages/web3-eth-contract/CHANGELOG.md
  packages/web3-eth-contract/src/contract.ts
  packages/web3-eth-contract/test/integration/contract_deploy.test.ts
  packages/web3-eth-ens/CHANGELOG.md
  packages/web3-eth-ens/src/ens.ts
  packages/web3-eth-ens/test/integration/ens.events.test.ts
  packages/web3-eth-ens/test/integration/ens.test.ts
  packages/web3-eth-ens/test/integration/resolver.test.ts
  packages/web3-eth-ens/test/integration/setup.js
  packages/web3-eth/CHANGELOG.md
  packages/web3-eth/src/rpc_method_wrappers.ts
  packages/web3-eth/src/utils/get_revert_reason.ts
  packages/web3-eth/src/utils/transaction_builder.ts
  packages/web3-eth/src/web3_eth.ts
  packages/web3-eth/test/integration/format.test.ts
  packages/web3-eth/test/integration/helper.ts
  packages/web3-eth/test/integration/rpc.test.ts
  packages/web3-net/CHANGELOG.md
  packages/web3-net/src/net.ts
  packages/web3-types/CHANGELOG.md
  packages/web3-types/src/data_format_types.ts
  packages/web3-utils/CHANGELOG.md
  packages/web3-utils/src/formatter.ts
  packages/web3/src/web3.ts
  packages/web3/test/integration/web3.format.test.ts
  scripts/system_tests_utils.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

changed js to ts and added unsubscribe function
  docs/docs/guides/events_subscriptions/index.md
Due: prettier --write

typos
  docs/docs/guides/events_subscriptions/index.md
Due: prettier --write

uses parsednumber
  packages/web3-utils/src/converters.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Events guide 6741 (#6983)
  docs/docs/guides/events_subscriptions/custom_subscriptions.md
  docs/docs/guides/events_subscriptions/index.md
  docs/docs/guides/events_subscriptions/supported_subscriptions.md
Due: prettier --write

update test case
  packages/web3-utils/test/fixtures/converters.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

refactor
  packages/web3-utils/src/converters.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update changelog
  packages/web3-utils/CHANGELOG.md
Due: prettier --write

Fix towei scientific notation (#6908)
  packages/web3-utils/CHANGELOG.md
  packages/web3-utils/src/converters.ts
  packages/web3-utils/test/fixtures/converters.ts
  packages/web3-utils/test/unit/converters.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix(validator): generate abi name if not provided (#6981)
  CHANGELOG.md
  packages/web3-validator/CHANGELOG.md
  packages/web3-validator/src/utils.ts
  packages/web3-validator/test/fixtures/abi_to_json_schema.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

removed initialize a provider
  docs/docs/guides/web3_plugin_guide/index.md
Due: prettier --write

Update introduction.md
  docs/docs/guides/getting_started/introduction.md
Due: prettier --write

Plugin guide 6840 draft (#6941)
  docs/docs/guides/web3_plugin_guide/_category_.yml
  docs/docs/guides/web3_plugin_guide/index.md
Due: prettier --write

removed image
  docs/docs/guides/getting_started/PackageSizeComparison.png
Due: none

Compare package size (wihtout image) (#6994)
  docs/docs/guides/getting_started/introduction.md
Due: prettier --write

chore: fix incorrect doesnt
  packages/web3-core/test/unit/web3_config.test.ts
  packages/web3-errors/src/errors/core_errors.ts
  packages/web3-errors/src/errors/transaction_errors.ts
  packages/web3-eth-contract/test/unit/contract.test.ts
  packages/web3-eth/test/unit/prepare_transaction_for_signing.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

added category and rewrote/format the guide
  docs/docs/guides/Web3_Utils_module/Mastering_web3-utils.md
  docs/docs/guides/Web3_Utils_module/_category_.yml
Due: prettier --write

changed position
  docs/docs/guides/web3_config/_category_.yml
Due: none

export utils
  packages/web3-eth/src/index.ts
  packages/web3-rpc-methods/src/eth_rpc_methods.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

add customJsonSchema
  packages/web3-eth/src/utils/send_tx_helper.ts
  packages/web3-eth/src/utils/wait_for_transaction_receipt.ts
  packages/web3-eth/src/utils/watch_transaction_by_polling.ts
  packages/web3-eth/src/utils/watch_transaction_by_subscription.ts
  packages/web3-eth/src/utils/watch_transaction_for_confirmations.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix tests
  packages/web3-eth/test/unit/rpc_method_wrappers/send_signed_transaction.test.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/send_transaction.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

add changelog
  CHANGELOG.md
  packages/web3-eth/CHANGELOG.md
  packages/web3-rpc-methods/CHANGELOG.md
Due: prettier --write

added videos to the guide
  docs/docs/guides/web3_plugin_guide/index.md
Due: prettier --write

added videos to the guide
  docs/docs/guides/web3_plugin_guide/index.mdx
Due: none

installed react-player
  docs/package.json
Due: prettier --write

fixed broken links
  docs/docs/guides/events_subscriptions/custom_subscriptions.md
  docs/docs/guides/events_subscriptions/index.md
Due: prettier --write

update links
  docs/docs/guides/web3_plugin_guide/index.mdx
Due: none

changed react player for youtube embed
  docs/docs/guides/web3_plugin_guide/index.mdx
Due: none

removed react-player and docusaurus
  docs/package.json
Due: prettier --write

fixed comma
  docs/package.json
Due: prettier --write

edited the raw transaction
  docs/docs/guides/wallet/transactions.md
Due: prettier --write

fixed broken links (#7005)
  docs/docs/guides/events_subscriptions/custom_subscriptions.md
  docs/docs/guides/events_subscriptions/index.md
Due: prettier --write

testing
  packages/web3-core/src/web3_request_manager.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

remove console logs
  packages/web3-core/src/web3_request_manager.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

added examples tx 0, 1 and 2
  docs/docs/guides/wallet/transactions.md
Due: prettier --write

renamed response for txReceipt
  docs/docs/guides/wallet/transactions.md
Due: prettier --write

Added plugin videos to guide (#7004)
  docs/docs/guides/web3_plugin_guide/index.mdx
Due: none

commited
  docs/package.json
  docs/yarn.lock
Due: prettier --write

Path conditions:
  prettier --write: ((any of: *.js) or (any of: *.ts)) or (any of: *.{json,md})
  eslint --rulesdir ./tools/eslint-config-web3-base/rules: any of: *.ts
