Repository web3/web3.js: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

.lintstagedrc.json:

{
	"*.js": ["prettier --write"],
	"*.ts": ["prettier --write", "eslint --rulesdir ./tools/eslint-config-web3-base/rules"],
	"*.{json,md}": ["prettier --write"]
}

testing lint ptoblem
  .github/workflows/build.yml
Due: none

test lint
  .github/workflows/build.yml
Due: none

fix lint
  .github/workflows/build.yml
Due: none

move to node 18. fix lint
  .github/workflows/build.yml
Due: none

16 to 18
  .github/workflows/build.yml
Due: none

add mainnet tests
  packages/web3/test/e2e/mainnet/get_past_logs.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update format logs
  packages/web3/test/e2e/sepolia/get_past_logs.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Move to docusaurus-lunr-search
  docs/docusaurus.config.js
  docs/package.json
  docs/src/theme/SearchBar/DocSearch.js
  docs/src/theme/SearchBar/algolia.css
  docs/src/theme/SearchBar/index.js
  docs/src/theme/SearchBar/lunar-search.js
  docs/src/theme/SearchBar/styles.css
  docs/src/theme/SearchBar/templates.js
  docs/src/theme/SearchBar/utils.js
  docs/yarn.lock
Due: prettier --write

fix .secrets
  .github/workflows/build.yml
Due: none

fix
  .github/workflows/build.yml
Due: none

14 to 18 for esm tests
  .github/workflows/black_box_tests.yml
  .github/workflows/e2e_network_tests.yml
Due: none

test black box
  .github/workflows/black_box_tests.yml
Due: none

fix node version in all tests
  .github/workflows/black_box_tests.yml
  .github/workflows/build.yml
  .github/workflows/e2e_network_tests.yml
Due: none

fix yml
  .github/workflows/black_box_tests.yml
  .github/workflows/build.yml
  .github/workflows/e2e_network_tests.yml
Due: none

update address
  packages/web3/test/e2e/mainnet/get_past_logs.test.ts
  packages/web3/test/e2e/sepolia/get_past_logs.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

try e2e_network tests
  .github/workflows/black_box_tests.yml
  .github/workflows/e2e_network_tests.yml
Due: none

test e2e fix
  .github/workflows/e2e_network_tests.yml
Due: none

remove test e2e and blackbox
  .github/workflows/black_box_tests.yml
  .github/workflows/e2e_network_tests.yml
Due: none

fix build web
  .github/workflows/build.yml
Due: none

update addresses
  packages/web3/test/e2e/fixtures/sepolia.ts
  packages/web3/test/e2e/sepolia/call.test.ts
  packages/web3/test/e2e/sepolia/get_code.test.ts
  packages/web3/test/e2e/sepolia/get_past_logs.test.ts
  packages/web3/test/e2e/sepolia/get_storage_at.test.ts
  packages/web3/test/e2e/sepolia/get_transaction_receipt.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix e2e tests
  .github/workflows/e2e_network_tests.yml
  packages/web3-eth-accounts/src/tx/constants.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix in all imports
  packages/web3-eth-accounts/src/account.ts
  packages/web3-eth-accounts/src/common/utils.ts
  packages/web3-eth-accounts/src/tx/address.ts
  packages/web3-eth-accounts/src/tx/baseTransaction.ts
  packages/web3-eth-accounts/test/unit/tx/base.test.ts
  packages/web3-eth-accounts/test/unit/tx/typedTxsAndEIP2930.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

black box test
  .github/workflows/black_box_tests.yml
  .github/workflows/e2e_network_tests.yml
Due: none

fix blockbox tests
  packages/web3-eth-accounts/package.json
Due: prettier --write

test
  packages/web3-eth-accounts/package.json
  packages/web3-eth-accounts/src/tx/constants.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

test
  packages/web3-eth-accounts/src/tx/constants.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix
  packages/web3-eth-accounts/src/tx/constants.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Add HardforksOrdered enum to web3-types
  packages/web3-types/src/eth_types.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Refactor defaultTransactionTypeParser
  packages/web3-eth/src/utils/detect_transaction_type.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Add unit test case for defaultTransactionTypeParser
  packages/web3-eth/test/fixtures/detect_transaction_type.ts
  packages/web3-eth/test/unit/detect_transction_type.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Uncomment code
  packages/web3-eth/test/unit/detect_transction_type.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update unit test fixture to match refactors
  packages/web3-eth/test/fixtures/detect_transaction_type.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix crypto
  packages/web3-eth-accounts/src/tx/constants.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

debug
  .github/workflows/black_box_tests.yml
  packages/web3/test/e2e/fixtures/mainnet.ts
  packages/web3/test/e2e/fixtures/sepolia.ts
  packages/web3/test/e2e/mainnet/call.test.ts
  packages/web3/test/e2e/mainnet/get_code.test.ts
  packages/web3/test/e2e/mainnet/get_past_logs.test.ts
  packages/web3/test/e2e/mainnet/get_storage_at.test.ts
  packages/web3/test/e2e/mainnet/get_transaction_receipt.test.ts
  packages/web3/test/e2e/sepolia/get_past_logs.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update integration tests to match refactors
  packages/web3-eth/test/integration/defaults.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update CHANGELOGs
  CHANGELOG.md
  packages/web3-eth/CHANGELOG.md
Due: prettier --write

Add validation to defaultTransactionTypeParser
  packages/web3-eth/src/utils/detect_transaction_type.ts
  packages/web3-eth/test/fixtures/detect_transaction_type.ts
  packages/web3-eth/test/unit/detect_transction_type.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Try solution
  packages/web3-utils/src/converters.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

debug network tests
  .github/workflows/black_box_tests.yml
  .github/workflows/e2e_network_tests.yml
Due: none

fix tests
  packages/web3/test/e2e/mainnet/get_past_logs.test.ts
  packages/web3/test/e2e/sepolia/get_past_logs.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules
