Repository web3/web3.js: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

version bumps RC
  packages/web3-core/package.json
  packages/web3-errors/package.json
  packages/web3-eth-abi/package.json
  packages/web3-eth-accounts/package.json
  packages/web3-eth-contract/package.json
  packages/web3-eth-ens/package.json
  packages/web3-eth-iban/package.json
  packages/web3-eth-personal/package.json
  packages/web3-eth/package.json
  packages/web3-net/package.json
  packages/web3-providers-http/package.json
  packages/web3-providers-ipc/package.json
  packages/web3-providers-ws/package.json
  packages/web3-rpc-methods/package.json
  packages/web3-types/package.json
  packages/web3-utils/package.json
  packages/web3-validator/package.json
  packages/web3/package.json
  packages/web3/src/version.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

changelog version updates
  CHANGELOG.md
  packages/web3-core/CHANGELOG.md
  packages/web3-errors/CHANGELOG.md
  packages/web3-eth-abi/CHANGELOG.md
  packages/web3-eth-accounts/CHANGELOG.md
  packages/web3-eth-contract/CHANGELOG.md
  packages/web3-eth-ens/CHANGELOG.md
  packages/web3-eth-iban/CHANGELOG.md
  packages/web3-eth-personal/CHANGELOG.md
  packages/web3-eth/CHANGELOG.md
  packages/web3-net/CHANGELOG.md
  packages/web3-providers-http/CHANGELOG.md
  packages/web3-providers-ipc/CHANGELOG.md
  packages/web3-providers-ws/CHANGELOG.md
  packages/web3-rpc-methods/CHANGELOG.md
  packages/web3-types/CHANGELOG.md
  packages/web3-utils/CHANGELOG.md
  packages/web3-validator/CHANGELOG.md
  packages/web3/CHANGELOG.md
Due: prettier --write

added the functionality to introduce different timeout value for Web3BatchRequest
  packages/web3-core/src/web3_batch_request.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

updated file in dist
  dist/web3.min.js.LICENSE.txt
Due: none

web3-plugin-example version bump
  tools/web3-plugin-example/package.json
Due: prettier --write

updated change log
  tools/web3-plugin-example/CHANGELOG.md
Due: prettier --write

chore: add links to example plugins and plugin registry
  docs/docs/guides/web3_plugin_guide/plugin_authors.md
  docs/docs/guides/web3_plugin_guide/plugin_users.md
Due: prettier --write

changelog sync
  CHANGELOG.md
  packages/web3-core/CHANGELOG.md
  packages/web3/CHANGELOG.md
Due: prettier --write

version bumps for rc
  packages/web3-core/package.json
  packages/web3-errors/package.json
  packages/web3-eth-abi/package.json
  packages/web3-eth-accounts/package.json
  packages/web3-eth-contract/package.json
  packages/web3-eth-ens/package.json
  packages/web3-eth-iban/package.json
  packages/web3-eth-personal/package.json
  packages/web3-eth/package.json
  packages/web3-net/package.json
  packages/web3-providers-http/package.json
  packages/web3-providers-ipc/package.json
  packages/web3-providers-ws/package.json
  packages/web3-rpc-methods/package.json
  packages/web3-types/package.json
  packages/web3-utils/package.json
  packages/web3-validator/package.json
  packages/web3/package.json
  packages/web3/src/version.ts
  tools/web3-plugin-example/package.json
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

changelog updates
  CHANGELOG.md
  packages/web3-core/CHANGELOG.md
  packages/web3-errors/CHANGELOG.md
  packages/web3-eth-abi/CHANGELOG.md
  packages/web3-eth-accounts/CHANGELOG.md
  packages/web3-eth-contract/CHANGELOG.md
  packages/web3-eth-ens/CHANGELOG.md
  packages/web3-eth-iban/CHANGELOG.md
  packages/web3-eth-personal/CHANGELOG.md
  packages/web3-eth/CHANGELOG.md
  packages/web3-net/CHANGELOG.md
  packages/web3-providers-http/CHANGELOG.md
  packages/web3-providers-ipc/CHANGELOG.md
  packages/web3-providers-ws/CHANGELOG.md
  packages/web3-rpc-methods/CHANGELOG.md
  packages/web3-types/CHANGELOG.md
  packages/web3-utils/CHANGELOG.md
  packages/web3-validator/CHANGELOG.md
  packages/web3/CHANGELOG.md
  tools/web3-plugin-example/CHANGELOG.md
Due: prettier --write

fix ALL_EVENTS bug and optimization
  packages/web3-eth-contract/src/contract.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

test and changelog
  packages/web3-eth-contract/CHANGELOG.md
  packages/web3-eth-contract/test/integration/contract_events.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

chore: improve building speed and corectness
  package.json
  packages/web3-core/package.json
  packages/web3-errors/package.json
  packages/web3-eth-abi/package.json
  packages/web3-eth-accounts/package.json
  packages/web3-eth-contract/package.json
  packages/web3-eth-ens/package.json
  packages/web3-eth-iban/package.json
  packages/web3-eth-personal/package.json
  packages/web3-eth/package.json
  packages/web3-net/package.json
  packages/web3-providers-http/package.json
  packages/web3-providers-ipc/package.json
  packages/web3-providers-ws/package.json
  packages/web3-rpc-methods/package.json
  packages/web3-types/package.json
  packages/web3-utils/package.json
  packages/web3-validator/package.json
  packages/web3/package.json
  tools/web3-packagetemplate/package.json
  tsconfig.base.json
  yarn.lock
Due: prettier --write

failed event reject with inner error and its test
  packages/web3-eth-contract/src/contract.ts
  packages/web3-eth-contract/test/unit/contract.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

changelog update
  packages/web3-eth-contract/CHANGELOG.md
Due: prettier --write

add inner error to errors on send
  packages/web3-core/CHANGELOG.md
  packages/web3-core/src/web3_request_manager.ts
  packages/web3-core/test/unit/web3_request_manager.test.ts
  packages/web3-errors/src/errors/response_errors.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update snapshot
  packages/web3-errors/test/unit/__snapshots__/errors.test.ts.snap
Due: none

build for 1.10.1
  dist/web3.min.js
  dist/web3.min.js.map
Due: prettier --write

version bumps for main release
  packages/web3-core/package.json
  packages/web3-errors/package.json
  packages/web3-eth-abi/package.json
  packages/web3-eth-accounts/package.json
  packages/web3-eth-contract/package.json
  packages/web3-eth-ens/package.json
  packages/web3-eth-iban/package.json
  packages/web3-eth-personal/package.json
  packages/web3-eth/package.json
  packages/web3-net/package.json
  packages/web3-providers-http/package.json
  packages/web3-providers-ipc/package.json
  packages/web3-providers-ws/package.json
  packages/web3-rpc-methods/package.json
  packages/web3-types/package.json
  packages/web3-utils/package.json
  packages/web3-validator/package.json
  packages/web3/package.json
  packages/web3/src/version.ts
  tools/web3-plugin-example/package.json
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

tests fix due to geth release changes
  packages/web3-eth/test/integration/block/rpc.getBlock.test.ts
  packages/web3-eth/test/integration/rpc.test.ts
  packages/web3-eth/test/integration/web3_eth/createAccessList.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

estimate gas test fix
  packages/web3-eth/test/integration/web3_eth/estimate_gas.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update the pr details to changelog
  packages/web3-core/CHANGELOG.md
  packages/web3/CHANGELOG.md
Due: prettier --write

removed unused import
  packages/web3-eth/test/integration/web3_eth/estimate_gas.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

test coverage
  packages/web3-errors/test/unit/__snapshots__/errors.test.ts.snap
  packages/web3-errors/test/unit/errors.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Release/4.1.0 (#6342)
  CHANGELOG.md
  packages/web3-core/CHANGELOG.md
  packages/web3-core/package.json
  packages/web3-errors/CHANGELOG.md
  packages/web3-errors/package.json
  packages/web3-eth-abi/CHANGELOG.md
  packages/web3-eth-abi/package.json
  packages/web3-eth-accounts/CHANGELOG.md
  packages/web3-eth-accounts/package.json
  packages/web3-eth-contract/CHANGELOG.md
  packages/web3-eth-contract/package.json
  packages/web3-eth-ens/CHANGELOG.md
  packages/web3-eth-ens/package.json
  packages/web3-eth-iban/CHANGELOG.md
  packages/web3-eth-iban/package.json
  packages/web3-eth-personal/CHANGELOG.md
  packages/web3-eth-personal/package.json
  packages/web3-eth/CHANGELOG.md
  packages/web3-eth/package.json
  packages/web3-net/CHANGELOG.md
  packages/web3-net/package.json
  packages/web3-providers-http/CHANGELOG.md
  packages/web3-providers-http/package.json
  packages/web3-providers-ipc/CHANGELOG.md
  packages/web3-providers-ipc/package.json
  packages/web3-providers-ws/CHANGELOG.md
  packages/web3-providers-ws/package.json
  packages/web3-rpc-methods/CHANGELOG.md
  packages/web3-rpc-methods/package.json
  packages/web3-types/CHANGELOG.md
  packages/web3-types/package.json
  packages/web3-utils/CHANGELOG.md
  packages/web3-utils/package.json
  packages/web3-validator/CHANGELOG.md
  packages/web3-validator/package.json
  packages/web3/CHANGELOG.md
  packages/web3/package.json
  packages/web3/src/version.ts
  tools/web3-plugin-example/CHANGELOG.md
  tools/web3-plugin-example/package.json
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

6306 allEvents bug fix (#6346)
  packages/web3-eth-contract/CHANGELOG.md
  packages/web3-eth-contract/src/contract.ts
  packages/web3-eth-contract/test/integration/contract_events.test.ts
  packages/web3-eth-contract/test/unit/contract.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

chore: add links to example plugins and plugin registry (#6341)
  docs/docs/guides/web3_plugin_guide/plugin_authors.md
  docs/docs/guides/web3_plugin_guide/plugin_users.md
Due: prettier --write

update changelog
  packages/web3-core/CHANGELOG.md
Due: prettier --write

add inner error to errors on send 6300 (#6350)
  packages/web3-core/CHANGELOG.md
  packages/web3-core/src/web3_request_manager.ts
  packages/web3-core/test/unit/web3_request_manager.test.ts
  packages/web3-errors/src/errors/response_errors.ts
  packages/web3-errors/test/unit/__snapshots__/errors.test.ts.snap
  packages/web3-errors/test/unit/errors.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

updated geth bin
  scripts/geth_binary.sh
Due: none

updated tests
  packages/web3-eth/test/integration/rpc.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

removed geth sync tests
  .github/workflows/build.yml
Due: none

removed geth sync tests
  package.json
  scripts/test-runner.sh
Due: prettier --write

linter fix
  packages/web3-eth/test/integration/rpc.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

import path fix ESM
  packages/web3-errors/src/errors/rpc_error_messages.ts
  packages/web3-eth-accounts/src/tx/types.ts
  packages/web3-validator/src/validation/abi.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

changelog updates
  packages/web3-errors/CHANGELOG.md
  packages/web3-eth-accounts/CHANGELOG.md
  packages/web3-validator/CHANGELOG.md
Due: prettier --write

removed invalid symlink
  packages/.prettierignore
Due: none

esm import helper script
  package.json
  scripts/fix_esm_import_paths.js
Due: prettier --write

Path conditions:
  prettier --write: ((any of: *.js) or (any of: *.ts)) or (any of: *.{json,md})
  eslint --rulesdir ./tools/eslint-config-web3-base/rules: any of: *.ts
