Repository web3/web3.js: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

.lintstagedrc.json:

{
	"*.js": ["prettier --write"],
	"*.ts": ["prettier --write", "eslint --rulesdir ./tools/eslint-config-web3-base/rules"],
	"*.{json,md}": ["prettier --write"]
}

Update packages/web3-core/src/web3_subscription_manager.ts
  packages/web3-core/src/web3_subscription_manager.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Address feedback
  packages/web3-core/src/web3_context.ts
  packages/web3-core/src/web3_request_manager.ts
  packages/web3-core/src/web3_subscription_manager.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Add example tag in examples
  packages/web3-core/src/web3_context.ts
  packages/web3-core/src/web3_subscription_manager.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Minor changes
  packages/web3-core/src/web3_subscription_manager.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Add reference for same functinality
  packages/web3-core/src/web3_context.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Send double transactions than awaiting confirmations
  packages/web3-eth/test/integration/watch_transaction.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Restore value
  packages/web3-eth/test/integration/defaults.test.ts
  packages/web3-eth/test/integration/subscription_heads.test.ts
  packages/web3-eth/test/integration/watch_transaction.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

modified tests and added tests data
  packages/web3-eth/test/integration/block/rpc.getBlock.test.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/fixtures/call.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/fixtures/createAccessList.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/fixtures/estimate_gas.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/fixtures/get_balance.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/fixtures/get_block.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/fixtures/get_block_transaction_count.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/fixtures/get_block_uncle_count.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/fixtures/get_code.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/fixtures/get_fee_history.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/fixtures/get_proof.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/fixtures/get_storage_at.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/fixtures/get_transaction_count.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/fixtures/get_transaction_from_block.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/fixtures/get_uncle.ts
  packages/web3-rpc-methods/test/unit/eth_rpc_methods/fixtures/call.ts
  packages/web3-rpc-methods/test/unit/eth_rpc_methods/fixtures/createAccessList.ts
  packages/web3-rpc-methods/test/unit/eth_rpc_methods/fixtures/estimate_gas.ts
  packages/web3-rpc-methods/test/unit/eth_rpc_methods/fixtures/get_balance.ts
  packages/web3-rpc-methods/test/unit/eth_rpc_methods/fixtures/get_block_by_number.ts
  packages/web3-rpc-methods/test/unit/eth_rpc_methods/fixtures/get_block_transaction_count_by_number.ts
  packages/web3-rpc-methods/test/unit/eth_rpc_methods/fixtures/get_code.ts
  packages/web3-rpc-methods/test/unit/eth_rpc_methods/fixtures/get_fee_history.ts
  packages/web3-rpc-methods/test/unit/eth_rpc_methods/fixtures/get_storage_at.ts
  packages/web3-rpc-methods/test/unit/eth_rpc_methods/fixtures/get_transaction_by_block_number_and_index.ts
  packages/web3-rpc-methods/test/unit/eth_rpc_methods/fixtures/get_transaction_count.ts
  packages/web3-rpc-methods/test/unit/eth_rpc_methods/fixtures/get_uncle_count_by_block_number.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

handled "provider started to reconnect error" (#5820)
  CHANGELOG.md
  packages/web3-providers-ws/src/index.js
Due: prettier --write

blocks validation updated
  packages/web3-utils/src/validation.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

updated compareBlockNumbers and added tests
  packages/web3-utils/src/validation.ts
  packages/web3-utils/test/fixtures/validation.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

change log updates
  packages/web3-core/CHANGELOG.md
  packages/web3-eth-contract/CHANGELOG.md
  packages/web3-eth/CHANGELOG.md
  packages/web3-rpc-methods/CHANGELOG.md
  packages/web3-types/CHANGELOG.md
  packages/web3-utils/CHANGELOG.md
  packages/web3-validator/CHANGELOG.md
Due: prettier --write

4.x Adding github CI ACTION coverage tests for Integration/Unit tests (#5799)
  .github/workflows/build.yml
  package.json
  packages/web3-core/package.json
  packages/web3-errors/package.json
  packages/web3-eth-abi/package.json
  packages/web3-eth-accounts/package.json
  packages/web3-eth-contract/package.json
  packages/web3-eth-ens/package.json
  packages/web3-eth-iban/package.json
  packages/web3-eth-personal/package.json
  packages/web3-eth/package.json
  packages/web3-net/package.json
  packages/web3-providers-http/package.json
  packages/web3-providers-ipc/package.json
  packages/web3-providers-ws/package.json
  packages/web3-rpc-methods/package.json
  packages/web3-types/package.json
  packages/web3-utils/package.json
  packages/web3-validator/package.json
  packages/web3/package.json
  scripts/test-runner.sh
  templates/jest.config.js.tmpl
  tools/web3-packagetemplate/package.json
  tools/web3-plugin-example/package.json
Due: prettier --write

update changelog
  packages/web3-eth-contract/CHANGELOG.md
Due: prettier --write

5788 - 4.x getPastEvents error (#5819)
  packages/web3-core/src/web3_request_manager.ts
  packages/web3-eth-contract/src/contract.ts
  packages/web3-eth-contract/src/encoding.ts
  packages/web3-eth-contract/test/integration/contract_events.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

format and spelling fixes
  packages/web3-eth-contract/CHANGELOG.md
  packages/web3-eth-contract/test/integration/contract_deploy.test.ts
  packages/web3-eth-contract/test/integration/local_account/contract_deploy.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

revert removing a dependency at web3-eth
  packages/web3-eth/package.json
Due: prettier --write

allow `undefined` for the `address` at the `Contract` constructor
  packages/web3-eth-contract/src/contract.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

arrange some tests at web3 package for Web3 object
  packages/web3/test/unit/web3.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

constant mining period to 1 sec for ipc tests
  scripts/geth_binary.sh
Due: none

Revert mining period
  scripts/geth_binary.sh
Due: none

Revert "Remove setTimeouts from helper functions"
  packages/web3-eth/test/integration/helper.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Remove setTimeouts from helper functions
  packages/web3-eth/test/integration/helper.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Revert "updated current release process (#5767)"
  RELEASE.md
Due: prettier --write

Try incresing geth gas limit
  scripts/geth_binary.sh
Due: none

Fix typo
  scripts/geth_binary.sh
Due: none

Add relative path
  scripts/geth_binary.sh
Due: none

Increase value to mine
  packages/web3-eth/test/integration/defaults.test.ts
  packages/web3-eth/test/integration/subscription_heads.test.ts
  packages/web3-eth/test/integration/watch_transaction.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update values for confirmation transactions
  packages/web3-eth/test/integration/defaults.test.ts
  packages/web3-eth/test/integration/subscription_heads.test.ts
  packages/web3-eth/test/integration/watch_transaction.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Reenable setTimeout
  packages/web3-eth/test/integration/helper.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Fix relative path
  scripts/geth_binary.sh
Due: none

Try script for mining
  scripts/geth_binary.sh
  scripts/mineOnPendingTransactions.js
Due: prettier --write

Mine all transactions
  scripts/mineOnPendingTransactions.js
Due: prettier --write

Try script in geth script
  scripts/geth_binary.sh
Due: none

Remove script
  scripts/geth_binary.sh
  scripts/mineOnPendingTransactions.js
Due: prettier --write

Return help timeout
  packages/web3-eth/test/integration/helper.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Revert release.md
  RELEASE.md
Due: prettier --write

Try script
  packages/web3-eth/test/integration/helper.ts
  packages/web3-eth/test/integration/watch_transaction.test.ts
  scripts/geth_binary.sh
  scripts/mineOnPendingTransactions.js
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Fireup console with geth
  scripts/geth_binary.sh
  scripts/mineOnPendingTransactions.js
Due: prettier --write
