Repository web3/web3.js: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix: docs/package.json & docs/yarn.lock to reduce vulnerabilities
  docs/package.json
  docs/yarn.lock
Due: prettier --write

update to node 18 at Docs CloudFlare Deploy
  .github/workflows/deploy-docs.yaml
Due: none

tiny fix at docs mark down
  docs/docs/guides/web3_plugin_guide/plugin_users.md
Due: prettier --write

update sp,e docs dependencies
  docs/docusaurus.config.js
  docs/package.json
  docs/yarn.lock
Due: prettier --write

update more docs dependencies
  docs/docusaurus.config.js
  docs/package.json
  docs/yarn.lock
  packages/web3-eth-contract/CHANGELOG.md
  packages/web3-validator/CHANGELOG.md
Due: prettier --write

add manual tests to stress folder
  package.json
  packages/web3/test/stress/manual/browser_test/connection.html
  packages/web3/test/stress/manual/nodejs_test/connection.js
Due: prettier --write

[Snyk] Fix for 2 vulnerabilities (#6598)
  .github/workflows/deploy-docs.yaml
  docs/docs/guides/web3_plugin_guide/plugin_users.md
  docs/docusaurus.config.js
  docs/package.json
  docs/yarn.lock
  packages/web3-eth-contract/CHANGELOG.md
  packages/web3-validator/CHANGELOG.md
Due: prettier --write

few edits to ethers migration guide
  docs/docs/guides/migration_from_other_libs/ethers.md
Due: prettier --write

update web3-rpc-methods CHANGELOG.md
  packages/web3-rpc-methods/CHANGELOG.md
Due: prettier --write

Fix web3-types import (#6590)
  packages/web3-rpc-methods/CHANGELOG.md
  packages/web3-rpc-methods/src/eth_rpc_methods.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

tiny edits
  docs/docs/guides/migration_from_other_libs/ethers.md
Due: prettier --write

Apply suggestions from code review
  packages/web3-validator/src/utils.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

tiny enhancement at ethers.md
  docs/docs/guides/migration_from_other_libs/ethers.md
Due: prettier --write

tiny edit at ethers.md
  docs/docs/guides/basics/sign_and_send_tx/wallet_of_eth_node.md
  docs/docs/guides/migration_from_other_libs/ethers.md
Due: prettier --write

tiny edit at ethers.md
  docs/docs/guides/migration_from_other_libs/ethers.md
Due: prettier --write

chore: reference hardhat plugin for typescript artifacts (#6586)
  docs/docs/guides/smart_contracts/infer_contract_types_guide/index.md
Due: prettier --write

removed readme as landing page
  docs/docusaurus.config.js
  scripts/docshelper/generatedoc.js
Due: prettier --write

fixed docusarus and markdown processing comp issue
  packages/web3-eth-contract/src/contract.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

yarn lock of docs
  docs/yarn.lock
Due: none

4x clean docs (#6582)
  docs/.gitignore
  docs/docs/libdocs/.nojekyll
  docs/docusaurus.config.js
  docs/sidebars.js
  docs/yarn.lock
  package.json
  packages/web3-eth-accounts/src/account.ts
  packages/web3-eth-contract/src/contract.ts
  packages/web3-eth-personal/src/personal.ts
  packages/web3-eth/src/web3_eth.ts
  packages/web3-net/src/net.ts
  packages/web3-utils/src/converters.ts
  packages/web3-utils/src/hash.ts
  scripts/docshelper/base.config.js
  scripts/docshelper/classesdoc.config.js
  scripts/docshelper/functionsdoc.config.js
  scripts/docshelper/generatedoc.js
  yarn.lock
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

tiny edits at ethers.md
  docs/docs/guides/migration_from_other_libs/ethers.md
Due: prettier --write

add a tip for bigint at ethers.md
  docs/docs/guides/migration_from_other_libs/ethers.md
Due: prettier --write

move to TS. remove time logs
  packages/web3/test/stress/index.ts
  packages/web3/test/stress/start.sh
  packages/web3/test/stress/validator.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

add template
  docs/docs/guides/wallet/index.md
Due: prettier --write

fix start.sh
  packages/web3/test/stress/index.ts
  packages/web3/test/stress/start.sh
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix validation test run script
  package.json
Due: prettier --write

address feedback
  packages/web3/test/integration/ws.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix lint
  packages/web3/test/integration/ws.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update changelog
  packages/web3-utils/CHANGELOG.md
Due: prettier --write

add websocket methods (#6479)
  packages/web3-utils/CHANGELOG.md
  packages/web3-utils/src/socket_provider.ts
  packages/web3-utils/test/unit/socket_provider.test.ts
  packages/web3/test/integration/ws.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Write a migration guide from ethers to web3.js (#6603)
  docs/docs/guides/migration_from_other_libs/_category_.yml
  docs/docs/guides/migration_from_other_libs/ethers.md
Due: prettier --write

fix name
  package.json
Due: prettier --write

fix tiny linting issue
  packages/web3-validator/src/utils.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

move to TS
  package.json
  packages/web3/test/stress/large_request_data/index.ts
  packages/web3/test/stress/large_validator_data/index.ts
  packages/web3/test/stress/many_requests/index.ts
  packages/web3/test/stress/many_requests/start.sh
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix: faster hex to byte implementation (#6596)
  packages/web3-validator/src/utils.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Stress Tests 2 - QA Tests (#6583)
  package.json
  packages/web3-validator/test/unit/load.test.ts
  packages/web3/test/stress/index.ts
  packages/web3/test/stress/start.sh
  packages/web3/test/stress/validator.ts
  scripts/geth_binary.sh
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update naming
  package.json
  packages/web3/test/stress/manual/nodejs_test/long_connection_ws.js
Due: prettier --write

add test:manual script
  README.md
Due: prettier --write

rename folder
  package.json
  packages/web3/test/manual/long_ws_tests/browser_test/connection.html
  packages/web3/test/manual/long_ws_tests/nodejs_test/long_connection_ws.js
Due: prettier --write

update script
  README.md
  package.json
Due: prettier --write

Path conditions:
  prettier --write: ((any of: *.js) or (any of: *.ts)) or (any of: *.{json,md})
  eslint --rulesdir ./tools/eslint-config-web3-base/rules: any of: *.ts
