Repository web3/web3.js: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

.lintstagedrc.json:

{
	"*.js": ["prettier --write"],
	"*.ts": ["prettier --write", "eslint --rulesdir ./tools/eslint-config-web3-base/rules"],
	"*.{json,md}": ["prettier --write"]
}

npm i
  package-lock.json
Due: prettier --write

:art: Update unit tests to use BigInt constructor
  packages/web3-common/test/unit/formatters.test.ts
  packages/web3-utils/test/fixtures/converters.ts
  packages/web3-utils/test/fixtures/string_manipulation.ts
  packages/web3-utils/test/fixtures/validation.ts
  packages/web3-validator/test/fixtures/validation.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Solve Merge Conflicts for #4939 (#4987)
  .github/PULL_REQUEST_TEMPLATE.md
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Test changes
  packages/web3-providers-ws/src/index.ts
  packages/web3-providers-ws/test/integration/web_socket_provider_integration.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

:art: Update scripts to fix integration tests
  packages/web3-eth-contract/cypress
  packages/web3-eth-contract/cypress.json
  packages/web3-eth-contract/test/fixtures/system_test_utils.ts
  packages/web3-eth-contract/test/integration/conract_deploy.test.ts
  packages/web3-eth-contract/test/integration/contract_clone.test.ts
  packages/web3-eth-contract/test/integration/contract_events.test.ts
  packages/web3-eth-contract/test/integration/contract_methods.test.ts
  packages/web3-eth/package.json
  packages/web3-providers-http/test/fixtures/system_test_utils.ts
  scripts/system_tests_utils.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

:rotating_light: Add linter warnings
  packages/web3-eth-contract/.eslintignore
Due: none

:art: Update the e2e script
  .github/workflows/build.yml
Due: none

:art: Update ganache script to stop gracefully
  scripts/ganache.sh
Due: none

:art: Update ganache script
  scripts/ganache.sh
Due: none

package structure
  packages/web3-errors/.eslintignore
  packages/web3-errors/.eslintrc.js
  packages/web3-errors/.gitignore
  packages/web3-errors/.npmignore
  packages/web3-errors/.npmrc
  packages/web3-errors/.prettierignore
  packages/web3-errors/.prettierrc.json
  packages/web3-errors/CHANGELOG.md
  packages/web3-errors/README.md
  packages/web3-errors/assets/logo/web3js.ai
  packages/web3-errors/assets/logo/web3js.jpg
  packages/web3-errors/assets/logo/web3js.svg
  packages/web3-errors/package.json
  packages/web3-errors/src/errors.ts
  packages/web3-errors/src/index.ts
  packages/web3-errors/src/types.ts
  packages/web3-errors/test/.eslintrc.js
  packages/web3-errors/test/config/jest.config.js
  packages/web3-errors/test/config/setup.js
  packages/web3-errors/test/integration/jest.config.js
  packages/web3-errors/test/integration/setup.js
  packages/web3-errors/test/tsconfig.json
  packages/web3-errors/test/unit/jest.config.js
  packages/web3-errors/tsconfig.json
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

:art: Update ganache script to return in case ganache didn't stop
  scripts/ganache.sh
Due: none

:art: Update the ganache script to not fail if process not found
  scripts/ganache.sh
Due: none

:art: Update ganache script to redirect error to null
  scripts/ganache.sh
Due: none

:art: Disable stopping ganache to test why process exit
  scripts/ganache.sh
Due: none

tests
  karma.config.js
  karma.setup.js
  packages/web3-eth/package.json
  packages/web3-eth/test/integration/helper.ts
  packages/web3-eth/test/integration/subscription_heads.test.ts
  packages/web3-eth/test/integration/subscription_logs.test.ts
  packages/web3-eth/test/integration/subscription_logs.test_ts
  packages/web3-eth/test/integration/subscription_new_pending_tx.test.ts
  packages/web3-eth/test/shared_fixtures
  packages/web3-utils/src/converters.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix build
  packages/web3-eth-contract/src/index.ts
  packages/web3-eth/package.json
  packages/web3-eth/test/integration/subscription_logs.test.ts
  packages/web3-utils/src/converters.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

error base class
  packages/web3-errors/src/web3_error_base.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

error codes
  packages/web3-errors/src/error_codes.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

types in error package
  packages/web3-errors/src/types.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

accounts errors
  packages/web3-errors/src/errors/account_errors.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

connection and contract errors
  packages/web3-errors/src/errors/connection_errors.ts
  packages/web3-errors/src/errors/contract_errors.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

ens errors
  packages/web3-errors/src/errors/ens_errors.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

generic errors
  packages/web3-errors/src/errors/generic_errors.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

signature errors
  packages/web3-errors/src/errors/signature_errors.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

provider errors
  packages/web3-errors/src/errors/provider_errors.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

tx errors
  packages/web3-errors/src/errors/transaction_errors.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

util errors
  packages/web3-errors/src/errors/utils_errors.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

main web3 package fix
  packages/web3/package.json
  packages/web3/src/errors.ts
  packages/web3/src/index.ts
  packages/web3/src/web3.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

errors export
  packages/web3-errors/src/index.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

removing error codes from common pkg
  packages/web3-common/src/constants.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

ResponseError InvalidResponseError for avoiding cyclic dep
  packages/web3-common/src/errors.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

removing tests from common
  packages/web3-common/test/unit/__snapshots__/errors.test.ts.snap
  packages/web3-common/test/unit/errors.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

unused file removal
  packages/web3-errors/src/errors.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

web3 utils errors import
  packages/web3-utils/package.json
Due: prettier --write

these are moved to errors pkg
  packages/web3-utils/test/fixtures/errors.ts
  packages/web3-utils/test/unit/errors.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

moved to errors pkg and fixed base class
  packages/web3-utils/src/errors.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

web3 common using errors
  packages/web3-common/package.json
  packages/web3-common/src/deferred_promise.ts
  packages/web3-common/src/formatter.ts
  packages/web3-common/src/formatters.ts
  packages/web3-common/src/index.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

core using errors pkg
  packages/web3-core/package.json
  packages/web3-core/src/web3_batch_request.ts
  packages/web3-core/src/web3_request_manager.ts
  packages/web3-core/src/web3_subscription_manager.ts
  packages/web3-core/test/unit/web3_batch_request.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fixing errors in web3 eth
  packages/web3-eth/package.json
  packages/web3-eth/src/errors.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

using errors in eth utils
  packages/web3-eth/src/utils/watch_transaction_for_confirmations.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules
