Repository web3/web3.js: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

requestEIP6963Providers function
  packages/web3/src/web3_eip6963.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

requestEIP6963Providers in web3 class
  packages/web3/src/web3.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

changelog update
  packages/web3/CHANGELOG.md
Due: prettier --write

replace web3 eventemitter for eventemitter3
  packages/web3-eth-contract/package.json
  packages/web3-eth-contract/test/unit/contract.test.ts
  packages/web3-utils/CHANGELOG.md
  packages/web3-utils/src/chunk_response_parser.ts
  packages/web3-utils/src/event_emitter.ts
  packages/web3-utils/src/web3_eip1193_provider.ts
  packages/web3-utils/test/unit/chunk_response_parser.test.ts
  yarn.lock
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fixes
  docs/docs/guides/wagmi_usage/wagmi.md
Due: prettier --write

unit test
  packages/web3/src/web3_eip6963.ts
  packages/web3/test/unit/web3eip6963.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

removed unused file
  packages/web3/test/unit/constructor.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

lint fix
  packages/web3/test/unit/web3eip6963.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update resources.md
  docs/docs/guides/resources/resources.md
Due: prettier --write

update tests
  packages/web3-core/test/unit/__snapshots__/web3_context.test.ts.snap
  packages/web3-providers-ws/test/integration/web_socket_provider_integration.test.ts
  packages/web3-providers-ws/test/unit/__mocks__/isomorphic-ws.ts
  packages/web3-providers-ws/test/unit/check_implementation.test.ts
  packages/web3-utils/src/socket_provider.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update snapshot
  packages/web3-core/test/unit/__snapshots__/web3_context.test.ts.snap
Due: none

remove connection error test
  packages/web3-providers-ipc/test/unit/check_implementation.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

add link to JSON interface spec docs
  packages/web3-eth-abi/src/api/functions_api.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

added doc
  docs/docs/guides/web3_providers_guide/eip6963.md
  docs/docs/guides/web3_providers_guide/events_listening.md
  docs/docs/guides/web3_providers_guide/http.md
  docs/docs/guides/web3_providers_guide/injected_provider.md
  docs/docs/guides/web3_providers_guide/ipc.md
  docs/docs/guides/web3_providers_guide/truffle.md
  docs/docs/guides/web3_providers_guide/websocket.md
Due: prettier --write

set address in resolver
  packages/web3-eth-ens/src/resolver.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

set addr in ens class
  packages/web3-eth-ens/src/ens.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

resolver abi update
  packages/web3-eth-ens/src/abi/ens/PublicResolver.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

tests
  packages/web3-eth-ens/test/unit/constructor.test.ts
  packages/web3-eth-ens/test/unit/ens.test.ts
  packages/web3-eth-ens/test/unit/resolver.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

updated setAddr without cointype
  packages/web3-eth-ens/src/abi/ens/PublicResolver.ts
  packages/web3-eth-ens/src/ens.ts
  packages/web3-eth-ens/src/resolver.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

removed unused import
  packages/web3-eth-ens/test/unit/ens.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

changelog updates
  packages/web3-eth-ens/CHANGELOG.md
Due: prettier --write

updated doc and changlog
  packages/web3-eth-ens/CHANGELOG.md
  packages/web3-eth-ens/src/ens.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix 2d array bug of abiSchemaToJsonSchema in web3-validator
  packages/web3-validator/src/utils.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix 2d array bug of abiSchemaToJsonSchema in web3-validator(add comments)
  packages/web3-validator/CHANGELOG.md
  packages/web3-validator/src/utils.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

add link to JSON interface spec docs (#6832)
  packages/web3-eth-abi/src/api/functions_api.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Web3.js Adapter for Wagmi: Documenation (#6813)
  docs/docs/guides/wagmi_usage/_category_.yml
  docs/docs/guides/wagmi_usage/wagmi.md
Due: prettier --write

linter fix
  packages/web3-eth-ens/src/resolver.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

docs: create resources page (#6824)
  docs/docs/guides/resources/resources.md
Due: prettier --write

6201 multi provider (#6825)
  docs/docs/guides/web3_providers_guide/eip6963.md
  docs/docs/guides/web3_providers_guide/events_listening.md
  docs/docs/guides/web3_providers_guide/http.md
  docs/docs/guides/web3_providers_guide/injected_provider.md
  docs/docs/guides/web3_providers_guide/ipc.md
  docs/docs/guides/web3_providers_guide/truffle.md
  docs/docs/guides/web3_providers_guide/websocket.md
  packages/web3/CHANGELOG.md
  packages/web3/src/web3.ts
  packages/web3/src/web3_eip6963.ts
  packages/web3/test/unit/constructor.test.ts
  packages/web3/test/unit/web3eip6963.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update CONTRIBUTING.md
  .github/CONTRIBUTING.md
Due: prettier --write

Expanded web3config Guide
  docs/docs/guides/web3_config/index.md
Due: prettier --write

ens setAddress support (#6834)
  packages/web3-eth-ens/CHANGELOG.md
  packages/web3-eth-ens/src/abi/ens/PublicResolver.ts
  packages/web3-eth-ens/src/ens.ts
  packages/web3-eth-ens/src/resolver.ts
  packages/web3-eth-ens/test/unit/constructor.test.ts
  packages/web3-eth-ens/test/unit/ens.test.ts
  packages/web3-eth-ens/test/unit/resolver.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

add nopp
  packages/web3-utils/package.json
  packages/web3-utils/src/index.ts
  yarn.lock
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix
  packages/web3-utils/src/index.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

custom fix
  packages/web3-utils/package.json
  packages/web3-utils/src/formatter.ts
  packages/web3-utils/src/index.ts
  packages/web3-utils/src/objects.ts
  yarn.lock
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

add space
  packages/web3-utils/src/index.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix
  .github/workflows/build.yml
Due: none

Update CONTRIBUTING.md (#6838)
  .github/CONTRIBUTING.md
Due: prettier --write

fix (#6842)
  .github/workflows/build.yml
Due: none

Path conditions:
  prettier --write: ((any of: *.js) or (any of: *.ts)) or (any of: *.{json,md})
  eslint --rulesdir ./tools/eslint-config-web3-base/rules: any of: *.ts
