Repository web3/web3.js: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

.lintstagedrc.json:

{
	"*.js": ["prettier --write"],
	"*.ts": ["prettier --write", "eslint --rulesdir ./tools/eslint-config-web3-base/rules"],
	"*.{json,md}": ["prettier --write"]
}

done
  .github/workflows/build.yml
Due: none

rewrote eip2930 text
  docs/docs/guides/wallet/transactions.md
Due: prettier --write

Add the missing types to the ”accounts“ (#7011)
  packages/web3/CHANGELOG.md
  packages/web3/src/types.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

added web3.eth.createAccessList to the example
  docs/docs/guides/wallet/transactions.md
Due: prettier --write

added data value
  docs/docs/guides/wallet/transactions.md
Due: prettier --write

providers package init
  packages/web3-providers/.eslintignore
  packages/web3-providers/.eslintrc.js
  packages/web3-providers/.gitignore
  packages/web3-providers/.npmignore
  packages/web3-providers/.npmrc
  packages/web3-providers/.prettierignore
  packages/web3-providers/.prettierrc.json
  packages/web3-providers/CHANGELOG.md
  packages/web3-providers/README.md
  packages/web3-providers/assets/logo/web3js.ai
  packages/web3-providers/assets/logo/web3js.jpg
  packages/web3-providers/assets/logo/web3js.svg
  packages/web3-providers/package.json
  packages/web3-providers/src/errors.ts
  packages/web3-providers/src/index.ts
  packages/web3-providers/src/types.ts
  packages/web3-providers/test/.eslintrc.js
  packages/web3-providers/test/config/jest.config.js
  packages/web3-providers/test/config/setup.js
  packages/web3-providers/test/integration/jest.config.js
  packages/web3-providers/test/integration/setup.js
  packages/web3-providers/test/tsconfig.json
  packages/web3-providers/test/unit/constructor.test.ts
  packages/web3-providers/test/unit/jest.config.js
  packages/web3-providers/tsconfig.cjs.json
  packages/web3-providers/tsconfig.esm.json
  packages/web3-providers/tsconfig.types.json
  packages/web3-providers/tsdoc.json
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix: web3-validator browser target removed
  packages/web3-validator/package.json
Due: prettier --write

types and quick nodes provider
  packages/web3-providers/CHANGELOG.md
  packages/web3-providers/package.json
  packages/web3-providers/src/errors.ts
  packages/web3-providers/src/index.ts
  packages/web3-providers/src/types.ts
  packages/web3-providers/src/web3_provider.ts
  packages/web3-providers/src/web3_provider_quicknode.ts
  templates/.eslintignore.tmpl
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

readme update
  packages/web3-providers/README.md
Due: prettier --write

adding data check for revert util method
  packages/web3-eth/src/rpc_method_wrappers.ts
  packages/web3-eth/src/utils/send_tx_helper.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix
  .github/workflows/build.yml
  packages/web3-core/package.json
  packages/web3-errors/package.json
  packages/web3-eth-abi/package.json
  packages/web3-eth-accounts/package.json
  packages/web3-eth-contract/package.json
  packages/web3-eth-ens/package.json
  packages/web3-eth-iban/package.json
  packages/web3-eth-personal/package.json
  packages/web3-eth/package.json
  packages/web3-net/package.json
  packages/web3-providers-http/package.json
  packages/web3-providers-ipc/package.json
  packages/web3-providers-ws/package.json
  packages/web3-rpc-methods/package.json
  packages/web3-types/package.json
  packages/web3-utils/package.json
  packages/web3-validator/package.json
  packages/web3/package.json
Due: prettier --write

Update build.yml
  .github/workflows/build.yml
Due: none

fix up tests
  packages/web3-eth/test/integration/web3_eth/send_transaction.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix lint
  packages/web3-eth/test/integration/web3_eth/send_transaction.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

add drips funding
  FUNDING.json
Due: prettier --write

Add extra changes to make possibility add eip4844 type as a plugin (#7000)
  CHANGELOG.md
  packages/web3-eth/CHANGELOG.md
  packages/web3-eth/src/index.ts
  packages/web3-eth/src/utils/send_tx_helper.ts
  packages/web3-eth/src/utils/wait_for_transaction_receipt.ts
  packages/web3-eth/src/utils/watch_transaction_by_polling.ts
  packages/web3-eth/src/utils/watch_transaction_by_subscription.ts
  packages/web3-eth/src/utils/watch_transaction_for_confirmations.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/send_signed_transaction.test.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/send_transaction.test.ts
  packages/web3-rpc-methods/CHANGELOG.md
  packages/web3-rpc-methods/src/eth_rpc_methods.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

add drips funding (#7023)
  FUNDING.json
Due: prettier --write

Tests & ESLint Improvements (#7012)
  .github/workflows/build.yml
  .gitignore
  packages/web3-core/package.json
  packages/web3-errors/package.json
  packages/web3-eth-abi/package.json
  packages/web3-eth-accounts/package.json
  packages/web3-eth-contract/package.json
  packages/web3-eth-ens/package.json
  packages/web3-eth-iban/package.json
  packages/web3-eth-personal/package.json
  packages/web3-eth/package.json
  packages/web3-net/package.json
  packages/web3-providers-http/package.json
  packages/web3-providers-ipc/package.json
  packages/web3-providers-ws/package.json
  packages/web3-rpc-methods/package.json
  packages/web3-types/package.json
  packages/web3-utils/package.json
  packages/web3-validator/package.json
  packages/web3/package.json
  templates/jest.config.js.tmpl
  tools/eslint-config-base-web3/package.json
  tools/web3-packagetemplate/package.json
  tools/web3-plugin-example/package.json
Due: prettier --write

Add type checking to unit tests
  templates/jest.config.js.tmpl
Due: none

move request middleware to _sendRequest
  packages/web3-core/src/types.ts
  packages/web3-core/src/web3_request_manager.ts
  packages/web3-core/test/unit/web3_context.test.ts
  packages/web3-core/test/unit/web3_middleware_request_manager.test.ts
  tools/web3-plugin-example/src/middleware.ts
  tools/web3-plugin-example/test/unit/middleware.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

lint
  packages/web3-core/src/web3_request_manager.ts
  tools/web3-plugin-example/src/middleware.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

change log
  CHANGELOG.md
  packages/web3-core/CHANGELOG.md
  packages/web3/CHANGELOG.md
Due: prettier --write

added tested code in sepolia network interacting with WETH
  docs/docs/guides/wallet/transactions.md
Due: prettier --write

Added troubleshooting example (#7009)
  docs/docs/guides/resources_and_troubleshooting/index.md
Due: prettier --write

Implement a way to know which response corresponds to which request in the middleware (#7028)
  CHANGELOG.md
  packages/web3-core/CHANGELOG.md
  packages/web3-core/src/types.ts
  packages/web3-core/src/web3_request_manager.ts
  packages/web3-core/test/unit/web3_context.test.ts
  packages/web3-core/test/unit/web3_middleware_request_manager.test.ts
  packages/web3/CHANGELOG.md
  tools/web3-plugin-example/src/middleware.ts
  tools/web3-plugin-example/test/unit/middleware.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Add type checking to unit tests (#7027)
  templates/jest.config.js.tmpl
Due: none

change legacy request
  packages/web3-core/src/web3_request_manager.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix(glossary): links
  docs/docs/glossary/index.md
  docs/docs/glossary/json_interface.md
  docs/docusaurus.config.js
Due: prettier --write

Fix broken links
  packages/web3-eth-contract/src/log_subscription.ts
  packages/web3-types/src/eth_contract_types.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

revert contract changes, add try catch
  packages/web3-core/src/web3_request_manager.ts
  packages/web3-eth/src/utils/send_tx_helper.ts
  packages/web3-eth/test/integration/web3_eth/send_transaction.test.ts
  packages/web3/test/integration/external-providers/hardhat.test.ts
  packages/web3/test/integration/external-providers/helper.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix lint
  packages/web3-core/src/web3_request_manager.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

add interactive code for tutorials
  docs/docs/guides/ens/index.md
  docs/docs/guides/events_subscriptions/index.md
  docs/docs/guides/getting_started/metamask.md
  docs/docs/guides/web3_eth/eth.md
  docs/docs/guides/web3_plugin_guide/index.mdx
  docs/docs/guides/web3_utils_module/mastering_web3-utils.md
Due: prettier --write

fix changes
  packages/web3-core/src/web3_request_manager.ts
  packages/web3-eth/src/rpc_method_wrappers.ts
  packages/web3-eth/src/utils/send_tx_helper.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update tests
  packages/web3-core/test/unit/web3_request_manager.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fixup! fix: web3-validator browser target removed
  packages/web3-validator/CHANGELOG.md
Due: prettier --write

lint and feedback
  packages/web3-core/src/web3_request_manager.ts
  packages/web3-core/test/unit/web3_request_manager.test.ts
  packages/web3-eth/src/rpc_method_wrappers.ts
  packages/web3/test/integration/external-providers/helper.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update test
  packages/web3-core/test/unit/web3_request_manager.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

format
  packages/web3-eth/test/integration/web3_eth/send_transaction.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix(glossary): links (#7034)
  docs/docs/glossary/index.md
  docs/docs/glossary/json_interface.md
  docs/docusaurus.config.js
  packages/web3-eth-contract/src/log_subscription.ts
  packages/web3-types/src/eth_contract_types.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules
