Repository web3/web3.js: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

changelog sync
  CHANGELOG.md
Due: prettier --write

skip '### Breaking Changes' section from unreleasedSection array
  scripts/changelog/src/sync.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Autotype for contract methods (#6137)
  CHANGELOG.md
  packages/web3-eth-contract/CHANGELOG.md
  packages/web3-eth-contract/src/contract.ts
  packages/web3-eth-contract/test/unit/contract.test.ts
  packages/web3-eth-contract/test/unit/contract_typing.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Init simple overload contract test
  packages/web3-eth-contract/test/fixtures/SimpleOverloaded.ts
  packages/web3-eth-contract/test/fixtures/contracts/SimpleOverloaded.sol
  packages/web3-eth-contract/test/integration/contract_simple_overloaded.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

rework docs
  docs/docs/guides/advanced/_category_.yml
  docs/docs/guides/advanced/web3_tree_shaking_support_guide/index.md
  docs/docs/guides/basics/_category_.yml
  docs/docs/guides/basics/eth.md
  docs/docs/guides/basics/sign_and_send_tx/index.md
  docs/docs/guides/basics/sign_and_send_tx/local_wallet.md
  docs/docs/guides/basics/sign_and_send_tx/promi_event.md
  docs/docs/guides/basics/sign_and_send_tx/raw.md
  docs/docs/guides/basics/sign_and_send_tx/wallet_of_eth_node.md
  docs/docs/guides/getting_started.md
  docs/docs/guides/sign_and_send_tx/index.md
  docs/docs/guides/sign_and_send_tx/raw.md
  docs/docs/guides/smart_contracts/deploying_and_interacting_with_smart_contracts.md
  docs/docs/guides/smart_contracts/index.md
  docs/docs/guides/smart_contracts/infer_contract_types_guide/index.md
  docs/docs/guides/web3_plugin_guide/index.md
  docs/docs/guides/web3_plugin_guide/plugin_authors.md
  docs/docs/guides/web3_plugin_guide/plugin_users.md
  docs/docs/guides/web3_providers_guide/events_listening.md
  docs/docs/guides/web3_providers_guide/examples.md
  docs/docs/guides/web3_providers_guide/index.md
  docs/docs/guides/web3_upgrade_guide/1.x/abi_migration_guide.md
  docs/docs/guides/web3_upgrade_guide/1.x/accounts_migration_guide.md
  docs/docs/guides/web3_upgrade_guide/1.x/contracts_migration_guide.md
  docs/docs/guides/web3_upgrade_guide/1.x/index.md
  docs/docs/guides/web3_upgrade_guide/1.x/net_migration_guide.md
  docs/docs/guides/web3_upgrade_guide/1.x/personal_migration_guide.md
  docs/docs/guides/web3_upgrade_guide/1.x/providers_migration_guide.md
  docs/docs/guides/web3_upgrade_guide/1.x/subscribe_migration_guide.md
  docs/docs/guides/web3_upgrade_guide/1.x/web3_eth_ens.md
  docs/docs/guides/web3_upgrade_guide/1.x/web3_eth_iban.md
  docs/docs/guides/web3_upgrade_guide/1.x/web3_eth_migration_guide.md
  docs/docs/guides/web3_upgrade_guide/1.x/web3_utils_migration_guide.md
  docs/docs/guides/web3_upgrade_guide/_category_.yml
  docs/docusaurus.config.js
  docs/src/pages/index.module.css
  docs/src/pages/index.tsx
Due: prettier --write

update lerna
  package.json
  yarn.lock
Due: prettier --write

edit a section at the migration guide
  docs/docs/guides/web3_migration_guide/index.md
Due: prettier --write

Update packages/web3-eth/src/web3_eth.ts
  packages/web3-eth/src/web3_eth.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix broken links
  docs/docs/guides/web3_plugin_guide/plugin_authors.md
  docs/package.json
  docs/sidebars.js
  docs/yarn.lock
  packages/web3/src/types.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix verdaccio lockfile
  docs/yarn.lock
Due: none

add canary release flow
  .github/workflows/canary_release.yml
  README.md
  package.json
Due: prettier --write

fix plugin name
  docs/docusaurus.config.js
Due: prettier --write

Correct and enhance documentation for subscribing to events (#6129)
  docs/docs/guides/web3_migration_guide/index.md
  docs/docs/guides/web3_migration_guide/subscribe_migration_guide.md
  packages/web3-core/src/web3_config.ts
  packages/web3-eth-contract/src/types.ts
  packages/web3-eth/src/web3_eth.ts
  packages/web3-eth/src/web3_subscriptions.ts
  packages/web3-types/src/eth_contract_types.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update scripts/changelog/src/sync.ts
  scripts/changelog/src/sync.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

add type building
  .github/workflows/canary_release.yml
Due: none

fix broken links after merge
  docs/docs/guides/web3_upgrade_guide/1.x/index.md
Due: prettier --write

Fix plugin example tests with `4.0.1-rc.1` (#6134)
  tools/web3-plugin-example/test/unit/contract_method_wrappers.test.ts
  tools/web3-plugin-example/test/unit/custom_rpc_methods.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

skip '### Breaking Changes' section from unreleasedSection array (#6138)
  scripts/changelog/src/sync.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

add force publish all
  package.json
Due: prettier --write

add missing publish
  package.json
Due: prettier --write

shorten ci commands
  .github/workflows/canary_release.yml
Due: none

add min build
  .github/workflows/canary_release.yml
Due: none

add util polyfill
  packages/web3-validator/package.json
  yarn.lock
Due: prettier --write

Canary releases (#6143)
  .github/workflows/canary_release.yml
  README.md
  package.json
  yarn.lock
Due: prettier --write

fix canary auth
  .github/workflows/canary_release.yml
  package.json
Due: prettier --write

version bump to RC 2
  packages/web3-core/package.json
  packages/web3-errors/package.json
  packages/web3-eth-abi/package.json
  packages/web3-eth-accounts/package.json
  packages/web3-eth-contract/package.json
  packages/web3-eth-ens/package.json
  packages/web3-eth-iban/package.json
  packages/web3-eth-personal/package.json
  packages/web3-eth/package.json
  packages/web3-net/package.json
  packages/web3-providers-http/package.json
  packages/web3-providers-ipc/package.json
  packages/web3-providers-ws/package.json
  packages/web3-rpc-methods/package.json
  packages/web3-types/package.json
  packages/web3-utils/package.json
  packages/web3-validator/package.json
  packages/web3/package.json
  packages/web3/src/version.ts
  tools/web3-plugin-example/package.json
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

changelog updates
  CHANGELOG.md
  packages/web3-core/CHANGELOG.md
  packages/web3-errors/CHANGELOG.md
  packages/web3-eth-abi/CHANGELOG.md
  packages/web3-eth-accounts/CHANGELOG.md
  packages/web3-eth-contract/CHANGELOG.md
  packages/web3-eth-ens/CHANGELOG.md
  packages/web3-eth-iban/CHANGELOG.md
  packages/web3-eth-personal/CHANGELOG.md
  packages/web3-eth/CHANGELOG.md
  packages/web3-net/CHANGELOG.md
  packages/web3-providers-http/CHANGELOG.md
  packages/web3-providers-ipc/CHANGELOG.md
  packages/web3-providers-ws/CHANGELOG.md
  packages/web3-rpc-methods/CHANGELOG.md
  packages/web3-types/CHANGELOG.md
  packages/web3-utils/CHANGELOG.md
  packages/web3-validator/CHANGELOG.md
  packages/web3/CHANGELOG.md
Due: prettier --write

add util polyfill (#6150)
  packages/web3-validator/package.json
  yarn.lock
Due: prettier --write

fix canary auth (#6151)
  .github/workflows/canary_release.yml
  package.json
Due: prettier --write

Release/4.0.1 rc.2 (#6152)
  CHANGELOG.md
  packages/web3-core/CHANGELOG.md
  packages/web3-core/package.json
  packages/web3-errors/CHANGELOG.md
  packages/web3-errors/package.json
  packages/web3-eth-abi/CHANGELOG.md
  packages/web3-eth-abi/package.json
  packages/web3-eth-accounts/CHANGELOG.md
  packages/web3-eth-accounts/package.json
  packages/web3-eth-contract/CHANGELOG.md
  packages/web3-eth-contract/package.json
  packages/web3-eth-ens/CHANGELOG.md
  packages/web3-eth-ens/package.json
  packages/web3-eth-iban/CHANGELOG.md
  packages/web3-eth-iban/package.json
  packages/web3-eth-personal/CHANGELOG.md
  packages/web3-eth-personal/package.json
  packages/web3-eth/CHANGELOG.md
  packages/web3-eth/package.json
  packages/web3-net/CHANGELOG.md
  packages/web3-net/package.json
  packages/web3-providers-http/CHANGELOG.md
  packages/web3-providers-http/package.json
  packages/web3-providers-ipc/CHANGELOG.md
  packages/web3-providers-ipc/package.json
  packages/web3-providers-ws/CHANGELOG.md
  packages/web3-providers-ws/package.json
  packages/web3-rpc-methods/CHANGELOG.md
  packages/web3-rpc-methods/package.json
  packages/web3-types/CHANGELOG.md
  packages/web3-types/package.json
  packages/web3-utils/CHANGELOG.md
  packages/web3-utils/package.json
  packages/web3-validator/CHANGELOG.md
  packages/web3-validator/package.json
  packages/web3/CHANGELOG.md
  packages/web3/package.json
  packages/web3/src/version.ts
  tools/web3-plugin-example/package.json
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

version update
  packages/web3-core/package.json
  packages/web3-errors/package.json
  packages/web3-eth-abi/package.json
  packages/web3-eth-accounts/package.json
  packages/web3-eth-contract/package.json
  packages/web3-eth-ens/package.json
  packages/web3-eth-iban/package.json
  packages/web3-eth-personal/package.json
  packages/web3-eth/package.json
  packages/web3-net/package.json
  packages/web3-providers-http/package.json
  packages/web3-providers-ipc/package.json
  packages/web3-providers-ws/package.json
  packages/web3-rpc-methods/package.json
  packages/web3-types/package.json
  packages/web3-utils/package.json
  packages/web3-validator/package.json
  packages/web3/package.json
  packages/web3/src/version.ts
  tools/web3-packagetemplate/package.json
  tools/web3-plugin-example/package.json
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

changelog updates
  CHANGELOG.md
  packages/web3-core/CHANGELOG.md
  packages/web3-errors/CHANGELOG.md
  packages/web3-eth-abi/CHANGELOG.md
  packages/web3-eth-accounts/CHANGELOG.md
  packages/web3-eth-contract/CHANGELOG.md
  packages/web3-eth-ens/CHANGELOG.md
  packages/web3-eth-iban/CHANGELOG.md
  packages/web3-eth-personal/CHANGELOG.md
  packages/web3-eth/CHANGELOG.md
  packages/web3-net/CHANGELOG.md
  packages/web3-providers-http/CHANGELOG.md
  packages/web3-providers-ipc/CHANGELOG.md
  packages/web3-providers-ws/CHANGELOG.md
  packages/web3-rpc-methods/CHANGELOG.md
  packages/web3-types/CHANGELOG.md
  packages/web3-utils/CHANGELOG.md
  packages/web3-validator/CHANGELOG.md
  packages/web3/CHANGELOG.md
  tools/web3-packagetemplate/CHANGELOG.md
  tools/web3-plugin-example/CHANGELOG.md
Due: prettier --write

fix canary #2
  package.json
Due: prettier --write

fix canary #2 (#6159)
  package.json
Due: prettier --write

exported few more basic classes from web3 package
  packages/web3/src/index.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update plugin developer guid
  docs/docs/guides/web3_plugin_guide/plugin_authors.md
Due: prettier --write

update plugin users guid
  docs/docs/guides/web3_plugin_guide/plugin_users.md
Due: prettier --write

updated CHANGELOG.md of the web3 package
  packages/web3/CHANGELOG.md
Due: prettier --write

Path conditions:
  prettier --write: ((any of: *.js) or (any of: *.ts)) or (any of: *.{json,md})
  eslint --rulesdir ./tools/eslint-config-web3-base/rules: any of: *.ts
