Repository web3/web3.js: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

win needs e2e
  .github/workflows/build.yml
Due: none

fix testcases
  packages/web3-eth-contract/test/integration/contract_methods.test.ts
  packages/web3-eth/src/utils/detect_transaction_type.ts
  packages/web3-eth/test/integration/rpc.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Replace ethereumjs-util with @ethereumjs/util (#6283)
  .github/workflows/build.yml
  CHANGELOG.md
  package-lock.json
  package.json
  packages/web3-eth-accounts/package-lock.json
  packages/web3-eth-accounts/package.json
  packages/web3-eth-accounts/src/index.js
  packages/web3-utils/package-lock.json
  packages/web3-utils/package.json
  packages/web3-utils/src/utils.js
  scripts/e2e.chrome.sh
  scripts/e2e.firefox.sh
  scripts/e2e.ganache.sh
  scripts/e2e.mosaic.sh
  scripts/e2e.windows.sh
  test/e2e.method.signing.js
  webpack.config.js
Due: prettier --write

update testcases
  packages/web3-eth/src/utils/transaction_builder.ts
  tools/web3-plugin-example/test/unit/contract_method_wrappers.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

ExtensionObject type
  packages/web3-core/src/types.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

extend method
  packages/web3-core/src/web3_context.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

unit tests
  packages/web3/test/unit/web3.extend.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

changelog
  packages/web3-core/CHANGELOG.md
  packages/web3/CHANGELOG.md
Due: prettier --write

update tests
  packages/web3-eth-contract/test/integration/contract_methods.test.ts
  packages/web3-eth/src/types.ts
  packages/web3-eth/src/utils/get_transaction_gas_pricing.ts
  packages/web3-eth/test/integration/block/rpc.getTransactionFromBlock.test.ts
  packages/web3-eth/test/integration/helper.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

updated types in test
  packages/web3/test/unit/web3.extend.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

e2e test extend
  packages/web3/test/e2e/web3_extend.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

extend test in context
  packages/web3-core/test/unit/web3_extend.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

doc comments and return
  packages/web3-core/src/web3_context.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

test fix
  packages/web3-core/test/unit/reexported_web3_context.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

doc updates
  docs/docs/guides/advanced/support_additional_rpc_methods/index.md
  docs/docs/guides/web3_upgrade_guide/1.x/index.md
Due: prettier --write

Add fillInputAndData option to formatTransaction. Make options.transactionSchema optional with transactoinInfoSchema the default value
  packages/web3-eth/src/rpc_method_wrappers.ts
  packages/web3-eth/src/utils/format_transaction.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update tests
  packages/web3-eth/test/integration/web3_eth/sign_transaction.test.ts
  packages/web3-eth/test/unit/format_transaction.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update CHANGELOGs
  CHANGELOG.md
  packages/web3-eth/CHANGELOG.md
Due: prettier --write

Convert formattedTransaction. input and data to hex string before comparing equality for TransactionDataAndInputError check
  packages/web3-eth/src/utils/format_transaction.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update test fixtures
  packages/web3-eth/test/unit/rpc_method_wrappers/fixtures/get_pending_transactions.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/fixtures/get_transaction.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/fixtures/get_transaction_from_block.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Add options.fillInputAndData to decodeSignedTransaction
  packages/web3-eth/src/rpc_method_wrappers.ts
  packages/web3-eth/src/utils/decode_signed_transaction.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update sign_transaction fixture data
  packages/web3-eth/test/unit/rpc_method_wrappers/fixtures/sign_transaction.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

move `"@types/ws"` back to `dependencies` and update the CHANGELOG.md
  packages/web3-providers-ws/CHANGELOG.md
  packages/web3-providers-ws/package.json
Due: prettier --write

Ensure a fixed version for `"@types/ws": "8.5.3"` (#6309)
  packages/web3-providers-ws/CHANGELOG.md
  packages/web3-providers-ws/package.json
  yarn.lock
Due: prettier --write

Update docs/docs/guides/web3_upgrade_guide/1.x/index.md
  docs/docs/guides/web3_upgrade_guide/1.x/index.md
Due: prettier --write

web3 extend feature (#6315)
  docs/docs/guides/advanced/support_additional_rpc_methods/index.md
  docs/docs/guides/web3_upgrade_guide/1.x/index.md
  packages/web3-core/CHANGELOG.md
  packages/web3-core/src/web3_context.ts
  packages/web3-core/test/unit/reexported_web3_context.ts
  packages/web3-core/test/unit/web3_extend.test.ts
  packages/web3/CHANGELOG.md
  packages/web3/test/e2e/web3_extend.test.ts
  packages/web3/test/unit/web3.extend.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

updated code owners file
  .github/CODEOWNERS
Due: none

codeowners update
  .github/CODEOWNERS
Due: none

link update
  README.md
Due: prettier --write

doc update
  docs/index.rst
Due: none

1x doc updates (#6325)
  README.md
  docs/index.rst
Due: prettier --write

codeowners update (#6324)
  .github/CODEOWNERS
Due: none

npm i
  package-lock.json
Due: prettier --write

lerna build
  dist/web3.min.js
  dist/web3.min.js.LICENSE.txt
  dist/web3.min.js.map
Due: prettier --write

changelog update
  CHANGELOG.md
Due: prettier --write

updated code owners file (#6323)
  .github/CODEOWNERS
Due: none

Transaction `input` and `data` refactors (#6294)
  CHANGELOG.md
  packages/web3-eth/CHANGELOG.md
  packages/web3-eth/src/rpc_method_wrappers.ts
  packages/web3-eth/src/utils/decode_signed_transaction.ts
  packages/web3-eth/src/utils/format_transaction.ts
  packages/web3-eth/src/utils/prepare_transaction_for_signing.ts
  packages/web3-eth/src/utils/transaction_builder.ts
  packages/web3-eth/test/integration/web3_eth/sign_transaction.test.ts
  packages/web3-eth/test/unit/default_transaction_builder.test.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/fixtures/get_pending_transactions.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/fixtures/get_transaction.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/fixtures/get_transaction_from_block.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/fixtures/sign_transaction.ts
  packages/web3-types/CHANGELOG.md
  packages/web3-types/src/eth_types.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

changelog sync
  CHANGELOG.md
  packages/web3-core/CHANGELOG.md
  packages/web3-eth-accounts/CHANGELOG.md
  packages/web3-eth-contract/CHANGELOG.md
  packages/web3-eth-ens/CHANGELOG.md
  packages/web3-eth-iban/CHANGELOG.md
  packages/web3-eth-personal/CHANGELOG.md
  packages/web3-eth/CHANGELOG.md
  packages/web3-net/CHANGELOG.md
  packages/web3-providers-http/CHANGELOG.md
  packages/web3-providers-ipc/CHANGELOG.md
  packages/web3-rpc-methods/CHANGELOG.md
  packages/web3-utils/CHANGELOG.md
  packages/web3/CHANGELOG.md
Due: prettier --write

Path conditions:
  prettier --write: ((any of: *.js) or (any of: *.ts)) or (any of: *.{json,md})
  eslint --rulesdir ./tools/eslint-config-web3-base/rules: any of: *.ts
