Repository web3/web3.js: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix built topology
  package.json
Due: prettier --write

fix setting up yarn
  .github/workflows/black_box_tests.yml
  .github/workflows/build.yml
Due: none

fix ci
  .github/workflows/black_box_tests.yml
  .github/workflows/build.yml
Due: none

fix build
  .github/workflows/build.yml
Due: none

Use Error ABI to parse errors when sending a transaction (#5662)
  CHANGELOG.md
  packages/web3-eth-contract/CHANGELOG.md
  packages/web3-eth-contract/src/contract.ts
  packages/web3-eth-contract/test/unit/contract.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

removing nx
  lerna.json
  nx.json
  package.json
Due: prettier --write

adding nx back to dev-deps
  package.json
Due: prettier --write

add use nx false flag
  lerna.json
  package.json
Due: prettier --write

add nx as dev-dep
  package.json
Due: prettier --write

5629/lerna (#5680)
  .github/workflows/build.yml
  CHANGELOG.md
  lerna.json
  package.json
  scripts/e2e.npm.publish.sh
Due: prettier --write

chore(deps): bump util from 0.12.0 to 0.12.4
  package-lock.json
  packages/web3-core-requestmanager/package.json
Due: prettier --write

run build script
  dist/web3.min.js
  dist/web3.min.js.LICENSE.txt
  dist/web3.min.js.map
Due: prettier --write

Remove merge conflict marker
  packages/web3-eth-contract/CHANGELOG.md
Due: prettier --write

Release/4.0.1 alpha.2 merge conflicts (#5692)
  .gitignore
  CHANGELOG.md
  docs/docs/guides/web3_migration_guide/web3_utils_migration_guide.md
  packages/web3-core/src/utils.ts
  packages/web3-core/src/web3_request_manager.ts
  packages/web3-eth-abi/CHANGELOG.md
  packages/web3-eth-abi/src/types.ts
  packages/web3-eth-abi/test/unit/types.test.ts
  packages/web3-eth-contract/CHANGELOG.md
  packages/web3-eth-contract/src/contract.ts
  packages/web3-eth-contract/src/types.ts
  packages/web3-eth-contract/test/unit/contract.test.ts
  packages/web3-eth-ens/test/integration/resolver.test.ts
  packages/web3-eth/src/utils/reject_if_block_timeout.ts
  packages/web3-eth/test/integration/eth.test.ts
  packages/web3-types/src/web3_base_provider.ts
  packages/web3-utils/CHANGELOG.md
  packages/web3-utils/src/json_rpc.ts
  packages/web3-utils/src/promise_helpers.ts
  packages/web3-validator/CHANGELOG.md
  packages/web3-validator/src/validation/string.ts
  packages/web3-validator/test/fixtures/validation.ts
  packages/web3-validator/test/unit/utils.test.ts
  packages/web3/.eslintignore
  packages/web3/hardhat.config.js
  packages/web3/package.json
  packages/web3/test/integration/external-providers/extremely_simple.test.ts
  packages/web3/test/integration/external-providers/ganache.test.ts
  packages/web3/test/integration/external-providers/hardhat.test.ts
  packages/web3/test/integration/external-providers/helper.ts
  packages/web3/test/integration/external-providers/in3.test.ts
  packages/web3/test/integration/external-providers/infura-rpc.test.ts
  packages/web3/test/integration/external-providers/truffle-hdwallet.test.ts
  packages/web3/test/integration/web3.test.ts
  yarn.lock
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Revert "run build script"
  dist/web3.min.js
  dist/web3.min.js.LICENSE.txt
  dist/web3.min.js.map
Due: prettier --write

bring back prev package-lock.json
  package-lock.json
Due: prettier --write

Empty string in smart contract (#5648)
  fixtures/build/MyContract.json
  fixtures/build/MyContract.ts
  fixtures/contracts/MyContract.sol
  packages/web3-eth-contract/test/fixtures/MyContract.json
  packages/web3-eth-contract/test/fixtures/MyContract.ts
  packages/web3-eth-contract/test/integration/contract_empty_string.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix integration tests
  tools/web3-plugin-example/package.json
Due: prettier --write

fix e2e and ipc tests
  .github/workflows/black_box_tests.yml
  .github/workflows/build.yml
Due: none

Unify test
  packages/web3-eth-contract/test/integration/contract_methods.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix cypress
  .github/workflows/build.yml
  packages/web3-eth-contract/package.json
  packages/web3-eth/package.json
  packages/web3-providers-http/package.json
Due: prettier --write

Remove merge conflict markers
  packages/web3-eth-contract/CHANGELOG.md
Due: prettier --write

Remove double CHANGELOG entry
  packages/web3-eth-abi/CHANGELOG.md
Due: prettier --write

Release patch/4.0.1 alpha.2/solve merge conflicts (#5697)
  CHANGELOG.md
  packages/web3-eth-abi/CHANGELOG.md
  packages/web3-eth-contract/CHANGELOG.md
  packages/web3-validator/CHANGELOG.md
Due: prettier --write

v4.0.1-alpha.2 (#5664)
  CHANGELOG.md
  packages/web3-core/CHANGELOG.md
  packages/web3-core/package.json
  packages/web3-errors/CHANGELOG.md
  packages/web3-errors/package.json
  packages/web3-eth-abi/CHANGELOG.md
  packages/web3-eth-abi/package.json
  packages/web3-eth-accounts/CHANGELOG.md
  packages/web3-eth-accounts/package.json
  packages/web3-eth-contract/CHANGELOG.md
  packages/web3-eth-contract/package.json
  packages/web3-eth-ens/CHANGELOG.md
  packages/web3-eth-ens/package.json
  packages/web3-eth-iban/CHANGELOG.md
  packages/web3-eth-iban/package.json
  packages/web3-eth-personal/CHANGELOG.md
  packages/web3-eth-personal/package.json
  packages/web3-eth/CHANGELOG.md
  packages/web3-eth/package.json
  packages/web3-net/CHANGELOG.md
  packages/web3-net/package.json
  packages/web3-providers-http/CHANGELOG.md
  packages/web3-providers-http/package.json
  packages/web3-providers-ipc/CHANGELOG.md
  packages/web3-providers-ipc/package.json
  packages/web3-providers-ws/CHANGELOG.md
  packages/web3-providers-ws/package.json
  packages/web3-rpc-methods/CHANGELOG.md
  packages/web3-rpc-methods/package.json
  packages/web3-types/CHANGELOG.md
  packages/web3-types/package.json
  packages/web3-utils/CHANGELOG.md
  packages/web3-utils/package.json
  packages/web3-validator/CHANGELOG.md
  packages/web3-validator/package.json
  packages/web3/package.json
  packages/web3/src/version.ts
  tools/web3-packagetemplate/CHANGELOG.md
  tools/web3-plugin-example/CHANGELOG.md
  tools/web3-plugin-example/package.json
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

adding bump utils
  CHANGELOG.md
Due: prettier --write

revert changes made to a commented test
  packages/web3-eth-contract/test/integration/contract_defaults_extra.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix issue related to setting `defaultCommon` as a static class property
  packages/web3-core/src/web3_config.ts
  packages/web3-eth-contract/test/integration/contract_defaults_extra.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update and correct some CHANGELOG.md files
  CHANGELOG.md
  packages/web3-core/CHANGELOG.md
  packages/web3-types/CHANGELOG.md
Due: prettier --write

enhance `defaultCommon`
  packages/web3-core/src/web3_config.ts
  packages/web3-eth-contract/src/contract.ts
  packages/web3-eth-contract/test/unit/contract.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

code cleaning
  packages/web3-core/src/web3_config.ts
  packages/web3-eth-contract/src/contract.ts
  packages/web3-eth-contract/test/integration/contract_defaults_extra.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix a test case and add TODO on another
  packages/web3-eth-contract/test/integration/contract_defaults_extra.test.ts
  packages/web3-eth/test/integration/defaults.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Look for more generic keyword
  packages/web3-core/src/web3_request_manager.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix ci
  .github/workflows/build.yml
  .yarn/plugins/@yarnpkg/plugin-version.cjs
  .yarnrc.yml
  docs/.yarn/install-state.gz
  docs/yarn.lock
  package.json
  scripts/test-runner.sh
  scripts/verdaccio.sh
  yarn.lock
Due: prettier --write

Bump utils (#5700)
  CHANGELOG.md
  packages/web3-core-requestmanager/package.json
Due: prettier --write

common Socket class
  packages/web3-providers-ipc/src/index.ts
  packages/web3-providers-ipc/test/fixtures/accounts.json
  packages/web3-providers-ipc/test/fixtures/helpers.ts
  packages/web3-providers-ipc/test/fixtures/system_test_utils.ts
  packages/web3-providers-ipc/test/fixtures/test_data.ts
  packages/web3-providers-ipc/test/integration/eip1193.test.ts
  packages/web3-providers-ws/src/index.ts
  packages/web3-providers-ws/test/integration/basic_auth.test.ts
  packages/web3-providers-ws/test/integration/web_socket_provider_integration.test.ts
  packages/web3-types/src/web3_base_provider.ts
  packages/web3-utils/src/socket_provider.ts
  packages/web3-utils/src/web3_eip1193_provider.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

make common abstract class
  packages/web3-utils/src/socket_provider.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix tests
  packages/web3-eth/test/integration/batch.test.ts
  packages/web3-eth/test/integration/rpc.block.test.ts
  packages/web3-eth/test/integration/rpc.test.ts
  packages/web3-providers-ipc/test/fixtures/helpers.ts
  packages/web3-providers-ipc/test/integration/eip1193.test.ts
  packages/web3-providers-ipc/test/unit/ipc_provider.test.ts
  packages/web3-providers-ws/test/integration/eip1193.test.ts
  packages/web3/test/integration/ipc.test.ts
  scripts/system_tests_utils.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix unit test
  packages/web3-providers-ipc/src/index.ts
  packages/web3-providers-ws/src/index.ts
  packages/web3-utils/src/index.ts
  packages/web3-utils/src/socket_provider.ts
  scripts/system_tests_utils.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix tests
  packages/web3-eth/test/integration/batch.test.ts
  packages/web3-providers-ipc/src/index.ts
  packages/web3-providers-ws/src/index.ts
  packages/web3/test/integration/ipc.test.ts
  scripts/system_tests_utils.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Path conditions:
  prettier --write: ((any of: *.js) or (any of: *.ts)) or (any of: *.{json,md})
  eslint --rulesdir ./tools/eslint-config-web3-base/rules: any of: *.ts
