Repository web3/web3.js: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

.lintstagedrc.json:

{
	"*.js": ["prettier --write"],
	"*.ts": ["prettier --write", "eslint --rulesdir ./tools/eslint-config-web3-base/rules"],
	"*.{json,md}": ["prettier --write"]
}

Remove e2e argument from blackbox NPM scripts
  packages/web3/package.json
Due: prettier --write

Add black-box-web Github workflow
  .github/workflows/black_box_tests.yml
Due: none

Update CHANGELOGs
  CHANGELOG.md
  packages/web3/CHANGELOG.md
Due: prettier --write

grammar
  packages/web3-core/test/unit/web3_request_manager.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Add Web3.js file headers to new files
  packages/web3/test/black_box/cypress.config.js
  packages/web3/test/black_box/cypress/plugins/index.js
  packages/web3/test/black_box/cypress/support/e2e.js
  packages/web3/test/black_box/jest.config.js
  packages/web3/test/black_box/test/config/setup.js
  packages/web3/test/black_box/tsconfig.json
Due: prettier --write

Add cypress dir and config file to eslintignore
  packages/web3/.eslintignore
Due: none

TEMP add branch to black box tests Github workflow'
  .github/workflows/black_box_tests.yml
Due: none

Remove browser entry from web3's package.json
  packages/web3/package.json
Due: prettier --write

Add dist/**/* to files entry of web3-validator's package.json
  packages/web3-validator/package.json
Due: prettier --write

TMP add black-box-web test workflow to Build workflow
  .github/workflows/build.yml
Due: none

Replace hardcoded node version 14 with matrix for black box test workflow
  .github/workflows/black_box_tests.yml
Due: none

Debugging workflows
  .github/workflows/build.yml
Due: none

DEBUGGING remove jest.setTimeout from black box tests
  packages/web3/test/black_box/test/web3-eth-accounts/create.test.ts
  packages/web3/test/black_box/test/web3-eth-accounts/hashMessage.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

DEBUGGING Limit workflow
  .github/workflows/build.yml
Due: none

DEBUGGING console log process.env
  packages/web3/test/black_box/test/web3-eth/getTransaction.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Remove browser entry from web3 and web3-validator package.jsons
  packages/web3-validator/package.json
  packages/web3/package.json
Due: prettier --write

Update CHANGELOGs
  CHANGELOG.md
  packages/web3-validator/CHANGELOG.md
  packages/web3/CHANGELOG.md
Due: prettier --write

Update packages/web3-eth/test/integration/web3_eth/send_transaction.test.ts
  packages/web3-eth/test/integration/web3_eth/send_transaction.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Init TransactionWithFromLocalWalletIndex, TransactionWithToLocalWalle… (#5748)
  packages/web3-eth/src/rpc_method_wrappers.ts
  packages/web3-eth/src/utils/transaction_builder.ts
  packages/web3-eth/src/web3_eth.ts
  packages/web3-eth/test/integration/web3_eth/send_transaction.test.ts
  packages/web3-types/src/eth_types.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Revert to use getTransactionFromOrToAttr
  packages/web3-eth/src/rpc_method_wrappers.ts
  packages/web3-eth/src/utils/transaction_builder.ts
  packages/web3-eth/test/integration/defaults.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update CHANGELOGs
  CHANGELOG.md
  packages/web3-types/CHANGELOG.md
Due: prettier --write

Create getters & setters for static defaults properties
  packages/web3-eth-contract/src/contract.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Add web3config static variable to initialize web3Context config
  packages/web3-eth-contract/src/contract.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

prioritize instance's value
  packages/web3-eth-contract/src/contract.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update tests
  packages/web3-eth-contract/test/integration/contract_defaults_extra.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Nikos/5711/transaction with local wallet index should support to as a wallet index (#5731)
  CHANGELOG.md
  packages/web3-errors/src/error_codes.ts
  packages/web3-errors/src/errors/transaction_errors.ts
  packages/web3-eth/CHANGELOG.md
  packages/web3-eth/src/rpc_method_wrappers.ts
  packages/web3-eth/src/utils/transaction_builder.ts
  packages/web3-eth/src/web3_eth.ts
  packages/web3-eth/test/integration/defaults.test.ts
  packages/web3-eth/test/integration/web3_eth/send_transaction.test.ts
  packages/web3-types/CHANGELOG.md
  packages/web3-types/src/eth_types.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Remove `browser` entry from `web3` and `web3-validator` `package.json`s (#5755)
  CHANGELOG.md
  packages/web3-validator/CHANGELOG.md
  packages/web3-validator/package.json
  packages/web3/CHANGELOG.md
  packages/web3/package.json
Due: prettier --write

Build for 4.0.1-alpha.5
  packages/web3-core/package.json
  packages/web3-errors/package.json
  packages/web3-eth-abi/package.json
  packages/web3-eth-accounts/package.json
  packages/web3-eth-contract/package.json
  packages/web3-eth-ens/package.json
  packages/web3-eth-iban/package.json
  packages/web3-eth-personal/package.json
  packages/web3-eth/package.json
  packages/web3-net/package.json
  packages/web3-providers-http/package.json
  packages/web3-providers-ipc/package.json
  packages/web3-providers-ws/package.json
  packages/web3-rpc-methods/package.json
  packages/web3-types/package.json
  packages/web3-utils/package.json
  packages/web3-validator/package.json
  packages/web3/package.json
  packages/web3/src/version.ts
  tools/web3-packagetemplate/package.json
  tools/web3-plugin-example/package.json
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update CHANGELOGs
  CHANGELOG.md
  packages/web3-core/CHANGELOG.md
  packages/web3-errors/CHANGELOG.md
  packages/web3-eth-abi/CHANGELOG.md
  packages/web3-eth-accounts/CHANGELOG.md
  packages/web3-eth-contract/CHANGELOG.md
  packages/web3-eth-ens/CHANGELOG.md
  packages/web3-eth-iban/CHANGELOG.md
  packages/web3-eth-personal/CHANGELOG.md
  packages/web3-eth/CHANGELOG.md
  packages/web3-net/CHANGELOG.md
  packages/web3-providers-http/CHANGELOG.md
  packages/web3-providers-ipc/CHANGELOG.md
  packages/web3-providers-ws/CHANGELOG.md
  packages/web3-rpc-methods/CHANGELOG.md
  packages/web3-types/CHANGELOG.md
  packages/web3-utils/CHANGELOG.md
  packages/web3-validator/CHANGELOG.md
  packages/web3/CHANGELOG.md
Due: prettier --write

v4.0.1-alpha.5 (#5757)
  CHANGELOG.md
  packages/web3-core/CHANGELOG.md
  packages/web3-core/package.json
  packages/web3-errors/CHANGELOG.md
  packages/web3-errors/package.json
  packages/web3-eth-abi/CHANGELOG.md
  packages/web3-eth-abi/package.json
  packages/web3-eth-accounts/CHANGELOG.md
  packages/web3-eth-accounts/package.json
  packages/web3-eth-contract/CHANGELOG.md
  packages/web3-eth-contract/package.json
  packages/web3-eth-ens/CHANGELOG.md
  packages/web3-eth-ens/package.json
  packages/web3-eth-iban/CHANGELOG.md
  packages/web3-eth-iban/package.json
  packages/web3-eth-personal/CHANGELOG.md
  packages/web3-eth-personal/package.json
  packages/web3-eth/CHANGELOG.md
  packages/web3-eth/package.json
  packages/web3-net/CHANGELOG.md
  packages/web3-net/package.json
  packages/web3-providers-http/CHANGELOG.md
  packages/web3-providers-http/package.json
  packages/web3-providers-ipc/CHANGELOG.md
  packages/web3-providers-ipc/package.json
  packages/web3-providers-ws/CHANGELOG.md
  packages/web3-providers-ws/package.json
  packages/web3-rpc-methods/CHANGELOG.md
  packages/web3-rpc-methods/package.json
  packages/web3-types/CHANGELOG.md
  packages/web3-types/package.json
  packages/web3-utils/CHANGELOG.md
  packages/web3-utils/package.json
  packages/web3-validator/CHANGELOG.md
  packages/web3-validator/package.json
  packages/web3/CHANGELOG.md
  packages/web3/package.json
  packages/web3/src/version.ts
  tools/web3-packagetemplate/package.json
  tools/web3-plugin-example/package.json
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

5035/exception code (#5735)
  CHANGELOG.md
  packages/web3-core/CHANGELOG.md
  packages/web3-core/src/web3_config.ts
  packages/web3-core/src/web3_context.ts
  packages/web3-core/src/web3_request_manager.ts
  packages/web3-core/test/unit/__snapshots__/web3_context.test.ts.snap
  packages/web3-core/test/unit/web3_config.test.ts
  packages/web3-core/test/unit/web3_request_manager.test.ts
  packages/web3-errors/src/error_codes.ts
  packages/web3-errors/src/errors/rpc_errors.ts
  packages/web3-errors/src/index.ts
  packages/web3-eth/test/integration/defaults.test.ts
  packages/web3-utils/src/json_rpc.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Enable optional static variables
  packages/web3-eth-contract/src/contract.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

ws and ipc reconnection
  packages/web3-providers-ipc/src/index.ts
  packages/web3-providers-ipc/test/fixtures/helpers.ts
  packages/web3-providers-ipc/test/integration/reconnection.test.ts
  packages/web3-providers-ws/src/index.ts
  packages/web3-providers-ws/test/fixtures/helpers.ts
  packages/web3-providers-ws/test/integration/reconnection.test.ts
  packages/web3-providers-ws/test/unit/jest.config.js
  packages/web3-utils/src/socket_provider.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix
  packages/web3-providers-ipc/test/fixtures/helpers.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

increase time for IPC
  packages/web3-providers-ipc/test/integration/setup.js
Due: prettier --write

fix ipc
  packages/web3-providers-ipc/package.json
Due: prettier --write

Add web3-core requestManager and subscriptionManager docs
  packages/web3-core/src/web3_context.ts
  packages/web3-core/src/web3_request_manager.ts
  packages/web3-core/src/web3_subscription_manager.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update tools/web3-plugin-example/package.json
  tools/web3-plugin-example/package.json
Due: prettier --write

update node minimum version to 14
  package.json
  packages/web3/package.json
  tools/eslint-config-web3-base/package.json
  tools/web3-plugin-example/package.json
Due: prettier --write
