Repository web3/web3.js: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

.lintstagedrc.json:

{
	"*.js": ["prettier --write"],
	"*.ts": ["prettier --write", "eslint --rulesdir ./tools/eslint-config-web3-base/rules"],
	"*.{json,md}": ["prettier --write"]
}

update stackblitz links with web3js org
  docs/docs/guides/getting_started/getting_started.md
  docs/docs/guides/wallet/index.md
  docs/docs/guides/web3_providers_guide/index.md
Due: prettier --write

update
  packages/web3-types/src/eth_abi_types.ts
  packages/web3-utils/src/index.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update contract
  packages/web3-eth-contract/test/unit/contract.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update const
  packages/web3-eth/test/integration/defaults.transactionBlockTimeout.test.ts
  packages/web3-eth/test/integration/get_revert_reason.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update changelog
  packages/web3-types/CHANGELOG.md
  packages/web3-utils/CHANGELOG.md
Due: prettier --write

test
  .github/workflows/build.yml
Due: none

test
  docs/docs/guides/advanced/custom_RPC.md
Due: prettier --write

fix
  .github/workflows/build.yml
Due: none

Interactive code editor 6693 (#6769)
  docs/docs/guides/getting_started/getting_started.md
  docs/docs/guides/wallet/index.md
  docs/docs/guides/web3_providers_guide/index.md
Due: prettier --write

done
  .github/workflows/build.yml
Due: none

revert test text
  docs/docs/guides/advanced/custom_RPC.md
Due: prettier --write

doc deploy fix (#6779)
  .github/workflows/build.yml
Due: none

update abi to fixture
  packages/web3-eth-contract/test/fixtures/Abi.json
  packages/web3-eth-contract/test/unit/contract.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update transactions.md
  docs/docs/guides/wallet/transactions.md
Due: prettier --write

Update docs/docs/guides/wallet/transactions.md
  docs/docs/guides/wallet/transactions.md
Due: prettier --write

remove unneccesary comments
  scripts/system_tests_utils.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

renamed and moved contributing.md + add contributing to docs section
  .github/CONTRIBUTING.md
Due: prettier --write

added prerequisites
  .github/CONTRIBUTING.md
Due: prettier --write

added code of conduct
  .github/CODE_OF_CONDUCT.md
Due: prettier --write

typo
  .github/CONTRIBUTING.md
Due: prettier --write

initialized web3 utils module
  docs/docs/guides/Web3_Utils_module/Mastering web3-utils/Mastering web3-utils/Mastering_web3-utils.md
Due: prettier --write

initialized guide to master web3-utils
  docs/docs/guides/Web3_Utils_module/Mastering web3-utils/Mastering web3-utils/Mastering_web3-utils.md
Due: prettier --write

added methods
  docs/docs/guides/Web3_Utils_module/Mastering web3-utils/Mastering web3-utils/Mastering_web3-utils.md
Due: prettier --write

added methods and best use cases
  docs/docs/guides/Web3_Utils_module/Mastering web3-utils/Mastering web3-utils/Mastering_web3-utils.md
Due: prettier --write

updated erros and spell mistakes
  docs/docs/guides/Web3_Utils_module/Mastering web3-utils/Mastering web3-utils/Mastering_web3-utils.md
Due: prettier --write

fixed lines and spacing
  docs/docs/guides/Web3_Utils_module/Mastering_web3-utils.md
  docs/docusaurus.config.js
  docs/package.json
  docs/yarn.lock
Due: prettier --write
