Repository web3/web3.js: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

.lintstagedrc.json:

{
	"*.js": ["prettier --write"],
	"*.ts": ["prettier --write", "eslint --rulesdir ./tools/eslint-config-web3-base/rules"],
	"*.{json,md}": ["prettier --write"]
}

skip in3
  packages/web3/test/integration/external-providers/in3.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Add example with DEFAULT_RETURN_FORMAT
  docs/docs/tutorials/eth.md
Due: prettier --write

Eth turorial (#6120)
  docs/docs/tutorials/eth.md
Due: prettier --write

fix
  packages/web3-validator/src/utils.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix validator import
  packages/web3-validator/src/validator.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Providers Tutorial (#6095)
  docs/docs/guides/web3_migration_guide/providers_migration_guide.md
  docs/docs/guides/web3_providers_guide/index.md
  docs/docs/tutorials/providers.md
  packages/web3-eth-ens/test/integration/ens.events.test.ts
  packages/web3-eth-ens/test/integration/ens.test.ts
  packages/web3-eth-ens/test/integration/resolver.test.ts
  packages/web3-eth/test/integration/eth.test.ts
  packages/web3-eth/test/integration/subscribe.test.ts
  packages/web3-eth/test/integration/subscription_logs.test.ts
  packages/web3-eth/test/integration/subscription_logs_block.test.ts
  packages/web3-eth/test/integration/unsubscribe.test.ts
  packages/web3-providers-ipc/test/integration/eip1193.test.ts
  packages/web3-providers-ipc/test/integration/reconnection.test.ts
  packages/web3-providers-ipc/test/unit/check_implementation.test.ts
  packages/web3-providers-ipc/test/unit/ipc_provider.test.ts
  packages/web3/test/integration/ipc.test.ts
  packages/web3/test/integration/web3.test.ts
  scripts/system_tests_utils.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

correction and elaboration on `clearSubscriptions` at migration guide
  docs/docs/guides/web3_migration_guide/subscribe_migration_guide.md
Due: prettier --write

corrections and elaboration on Web3Eth `subscribe` documentation
  packages/web3-eth/src/web3_eth.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

replace “, ”, and " with ' and/or `
  packages/web3-core/src/web3_config.ts
  packages/web3-eth-contract/src/types.ts
  packages/web3-eth/src/web3_subscriptions.ts
  packages/web3-types/src/eth_contract_types.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix!: remove non read-only ens methods (#6084)
  CHANGELOG.md
  packages/web3-eth-ens/CHANGELOG.md
  packages/web3-eth-ens/src/abi/ens/ENSRegistry.ts
  packages/web3-eth-ens/src/abi/reverse_registrar.ts
  packages/web3-eth-ens/src/abi/test_registrar.ts
  packages/web3-eth-ens/src/ens.ts
  packages/web3-eth-ens/src/index.ts
  packages/web3-eth-ens/src/registry.ts
  packages/web3-eth-ens/src/resolver.ts
  packages/web3-eth-ens/test/fixtures/ens/abi/ENSRegistry.ts
  packages/web3-eth-ens/test/fixtures/ens/abi/PublicResolver.ts
  packages/web3-eth-ens/test/integration/ens.events.test.ts
  packages/web3-eth-ens/test/integration/ens.test.ts
  packages/web3-eth-ens/test/integration/resolver.test.ts
  packages/web3-eth-ens/test/unit/abi.test.ts
  packages/web3-eth-ens/test/unit/constructor.test.ts
  packages/web3-eth-ens/test/unit/ens.test.ts
  packages/web3-eth-ens/test/unit/registry.test.ts
  packages/web3-eth-ens/test/unit/resolver.test.ts
  packages/web3/test/integration/external-providers/in3.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

add clarification and section for web3.eth.subscribe Migration Guide
  docs/docs/guides/web3_migration_guide/index.md
  docs/docs/guides/web3_migration_guide/subscribe_migration_guide.md
Due: prettier --write

small edit at `web3.eth.subscribe` migration guide
  docs/docs/guides/web3_migration_guide/subscribe_migration_guide.md
Due: prettier --write

migration guide update
  docs/docs/guides/web3_migration_guide/web3_eth_ens.md
Due: prettier --write

Fix validation of nested tuples (#6125)
  packages/web3-validator/src/utils.ts
  packages/web3-validator/src/validator.ts
  packages/web3-validator/test/unit/web3_validator_tuples.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update files to support es6 imports
  .eslintrc.js
  package.json
  packages/web3-core/package.json
  packages/web3-core/src/index.ts
  packages/web3-core/src/web3_batch_request.ts
  packages/web3-core/src/web3_config.ts
  packages/web3-core/src/web3_promi_event.ts
  packages/web3-core/src/web3_request_manager.ts
  packages/web3-core/src/web3_subscription_manager.ts
  packages/web3-core/src/web3_subscriptions.ts
  packages/web3-errors/src/errors/account_errors.ts
  packages/web3-errors/src/errors/connection_errors.ts
  packages/web3-errors/src/errors/contract_errors.ts
  packages/web3-errors/src/errors/core_errors.ts
  packages/web3-errors/src/errors/ens_errors.ts
  packages/web3-errors/src/errors/generic_errors.ts
  packages/web3-errors/src/errors/provider_errors.ts
  packages/web3-errors/src/errors/response_errors.ts
  packages/web3-errors/src/errors/rpc_errors.ts
  packages/web3-errors/src/errors/signature_errors.ts
  packages/web3-errors/src/errors/transaction_errors.ts
  packages/web3-errors/src/errors/utils_errors.ts
  packages/web3-errors/src/index.ts
  packages/web3-types/src/apis/eth_execution_api.ts
  packages/web3-types/src/apis/eth_personal_api.ts
  packages/web3-types/src/apis/web3_eth_execution_api.ts
  packages/web3-types/src/apis/web3_net_api.ts
  packages/web3-types/src/data_format_types.ts
  packages/web3-types/src/eth_abi_types.ts
  packages/web3-types/src/eth_contract_types.ts
  packages/web3-types/src/eth_types.ts
  packages/web3-types/src/index.ts
  packages/web3-types/src/utility_types.ts
  packages/web3-types/src/web3_api_types.ts
  packages/web3-types/src/web3_base_provider.ts
  packages/web3-types/src/web3_base_wallet.ts
  templates/jest.config.js.tmpl
  yarn.lock
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

add js to file extensions
  packages/web3-core/src/web3_context.ts
  packages/web3-core/src/web3_subscriptions.ts
  packages/web3-core/test/config/jest.config.js
  packages/web3-eth-iban/src/iban.ts
  packages/web3-eth-iban/src/index.ts
  packages/web3-utils/src/converters.ts
  packages/web3-utils/src/formatter.ts
  packages/web3-utils/src/hash.ts
  packages/web3-utils/src/index.ts
  packages/web3-utils/src/json_rpc.ts
  packages/web3-utils/src/random.ts
  packages/web3-utils/src/socket_provider.ts
  packages/web3-utils/src/string_manipulation.ts
  packages/web3-utils/src/uuid.ts
  packages/web3-utils/src/web3_eip1193_provider.ts
  packages/web3-utils/test/config/jest.config.js
  packages/web3-validator/src/default_validator.ts
  packages/web3-validator/src/errors.ts
  packages/web3-validator/src/formats.ts
  packages/web3-validator/src/index.ts
  packages/web3-validator/src/utils.ts
  packages/web3-validator/src/validation/address.ts
  packages/web3-validator/src/validation/block.ts
  packages/web3-validator/src/validation/bloom.ts
  packages/web3-validator/src/validation/boolean.ts
  packages/web3-validator/src/validation/bytes.ts
  packages/web3-validator/src/validation/eth.ts
  packages/web3-validator/src/validation/filter.ts
  packages/web3-validator/src/validation/index.ts
  packages/web3-validator/src/validation/numbers.ts
  packages/web3-validator/src/validation/string.ts
  packages/web3-validator/src/validation/topic.ts
  packages/web3-validator/src/validator.ts
  packages/web3-validator/src/web3_validator.ts
  packages/web3-validator/test/config/jest.config.js
  packages/web3/stats.json
  templates/jest.config.js.tmpl
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

remove stats
  packages/web3/stats.json
Due: prettier --write

adding js for relative paths
  packages/web3-eth-contract/src/contract.ts
  packages/web3-eth-contract/src/encoding.ts
  packages/web3-eth-contract/src/index.ts
  packages/web3-eth-contract/src/log_subscription.ts
  packages/web3-eth-contract/src/types.ts
  packages/web3-eth-contract/src/utils.ts
  packages/web3-eth-contract/test/config/jest.config.js
  packages/web3-eth-ens/src/ens.ts
  packages/web3-eth-ens/src/index.ts
  packages/web3-eth-ens/src/registry.ts
  packages/web3-eth-ens/src/resolver.ts
  packages/web3-eth-personal/src/index.ts
  packages/web3-eth-personal/src/personal.ts
  packages/web3-eth-personal/test/config/jest.config.js
  packages/web3-net/src/index.ts
  packages/web3-net/src/net.ts
  packages/web3-net/test/config/jest.config.js
  packages/web3-providers-http/src/index.ts
  packages/web3-providers-ipc/test/config/jest.config.js
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update configs
  packages/web3-core/package.json
  packages/web3/test/config/jest.config.js
Due: prettier --write

correct a sample snippet at docs
  docs/docs/guides/web3_migration_guide/subscribe_migration_guide.md
Due: prettier --write

tiny edit to a function docs
  packages/web3-eth/src/web3_eth.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update relative links to js
  packages/web3-eth-accounts/src/account.ts
  packages/web3-eth-accounts/src/common/common.ts
  packages/web3-eth-accounts/src/common/eips/index.ts
  packages/web3-eth-accounts/src/common/hardforks/index.ts
  packages/web3-eth-accounts/src/common/types.ts
  packages/web3-eth-accounts/src/index.ts
  packages/web3-eth-accounts/src/tx/address.ts
  packages/web3-eth-accounts/src/tx/baseTransaction.ts
  packages/web3-eth-accounts/src/tx/eip1559Transaction.ts
  packages/web3-eth-accounts/src/tx/eip2930Transaction.ts
  packages/web3-eth-accounts/src/tx/legacyTransaction.ts
  packages/web3-validator/src/index.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

min build whitelisting
  packages/web3-validator/package.json
  packages/web3/package.json
Due: prettier --write

migration guide update (#6130)
  docs/docs/guides/web3_migration_guide/web3_eth_ens.md
Due: prettier --write

update extensionalias to accept .js relative paths
  webpack.base.config.js
Due: prettier --write

allow relative js imports
  templates/cypress/webpack.config.js
Due: prettier --write

fix plugin example tests and tests titles
  tools/web3-plugin-example/test/unit/contract_method_wrappers.test.ts
  tools/web3-plugin-example/test/unit/custom_rpc_methods.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update
  .github/workflows/build.yml
  CHANGELOG.md
Due: prettier --write

test other tests
  .github/workflows/black_box_tests.yml
  .github/workflows/e2e_network_tests.yml
Due: none

remove running on prs
  .github/workflows/black_box_tests.yml
  .github/workflows/e2e_network_tests.yml
Due: none

min build whitelisting (#6132)
  packages/web3-validator/package.json
  packages/web3/package.json
Due: prettier --write

remove artifacts from esm build
  .github/workflows/build.yml
Due: none

update build
  .github/workflows/build.yml
Due: none

update flow
  .github/workflows/build.yml
Due: none

revert build -esm
  .github/workflows/build.yml
Due: none

autotype for contract methods
  packages/web3-eth-contract/src/contract.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

add method types tests
  packages/web3-eth-contract/test/unit/contract.test.ts
  packages/web3-eth-contract/test/unit/contract_typing.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

add changelog
  packages/web3-eth-contract/CHANGELOG.md
Due: prettier --write

modify unit test for the plugin example
  tools/web3-plugin-example/test/unit/contract_method_wrappers.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules
