Repository web3/web3.js: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

.lintstagedrc.json:

{
	"*.js": ["prettier --write"],
	"*.ts": ["prettier --write", "eslint --rulesdir ./tools/eslint-config-web3-base/rules"],
	"*.{json,md}": ["prettier --write"]
}

fix integration tests
  package.json
  packages/web3-eth-accounts/src/common/common.ts
  packages/web3-eth-accounts/src/tx/kzg/kzg.ts
  packages/web3-eth-accounts/src/tx/transactionFactory.ts
  packages/web3-eth-accounts/test/fixtures/account.ts
  packages/web3-eth-accounts/test/integration/account.test.ts
  packages/web3-eth-accounts/test/unit/account.test.ts
  packages/web3-providers-ipc/test/fixtures/helpers.ts
  packages/web3-providers-ipc/test/unit/check_implementation.test.ts
  scripts/system_tests_utils.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

+
  .husky/pre-commit
Due: none

revert ts config
  tsconfig.base.json
Due: prettier --write

revert lint-staged
  .husky/pre-commit
  packages/web3-eth-accounts/src/account.ts
  packages/web3-eth/src/rpc_method_wrappers.ts
  packages/web3-eth/src/utils/decode_signed_transaction.ts
  packages/web3-eth/src/utils/prepare_transaction_for_signing.ts
  packages/web3-eth/test/integration/rpc.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix tests
  packages/web3-eth-accounts/test/integration/account.test.ts
  packages/web3-eth-accounts/test/unit/account.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

revert
  packages/web3/webpack.analyze.js
Due: prettier --write

fix: remove unneccessary polyfills
  package.json
  packages/web3-eth/test/integration/rpc.test.ts
  packages/web3-utils/src/random.ts
  templates/cypress/webpack.config.js
  webpack.base.config.js
  yarn.lock
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Fix ProviderRpcError type
  packages/web3-types/src/web3_api_types.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Fix callbacks' types
  packages/web3-types/src/web3_base_provider.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update Eip1194Provider class
  packages/web3-utils/src/web3_eip1193_provider.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update socket provider
  packages/web3-utils/src/socket_provider.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

remove szz. refactor accountList
  packages/web3-eth-accounts/package.json
  packages/web3-eth-accounts/src/tx/constants.ts
  packages/web3-eth-accounts/src/tx/depInterfaces.ts
  packages/web3-eth-accounts/src/tx/eip1559Transaction.ts
  packages/web3-eth-accounts/src/tx/eip2930Transaction.ts
  packages/web3-eth-accounts/src/tx/types.ts
  packages/web3-eth-accounts/src/tx/util.ts
  packages/web3-eth-accounts/src/tx/utils/blobHelpers.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

refactor rlp
  packages/web3-eth-accounts/src/rlp.ts
  packages/web3-eth-accounts/src/tx/fromRpc.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

refactor converters
  packages/web3-eth-accounts/src/common/common.ts
  packages/web3-eth-accounts/src/common/types.ts
  packages/web3-eth-accounts/src/common/utils.ts
  packages/web3-eth-accounts/src/rlp.ts
  packages/web3-eth-accounts/src/tx/address.ts
  packages/web3-eth-accounts/src/tx/baseTransaction.ts
  packages/web3-eth-accounts/src/tx/eip1559Transaction.ts
  packages/web3-eth-accounts/src/tx/eip2930Transaction.ts
  packages/web3-eth-accounts/src/tx/legacyTransaction.ts
  packages/web3-eth-accounts/src/tx/transactionFactory.ts
  packages/web3-eth-accounts/src/tx/types.ts
  packages/web3-eth-accounts/src/tx/utils.ts
  packages/web3-utils/src/converters.ts
  packages/web3-utils/src/index.ts
  packages/web3-utils/src/types.ts
  packages/web3/webpack.analyze.js
  yarn.lock
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

revert analyze
  packages/web3/webpack.analyze.js
Due: prettier --write

fix: remove unneccessary polyfills (#5970)
  package.json
  packages/web3-eth/test/integration/rpc.test.ts
  packages/web3-utils/src/random.ts
  templates/cypress/webpack.config.js
  webpack.base.config.js
  yarn.lock
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix: BigNumber detection not working on minified builds (#5965)
  packages/web3-eth-abi/package.json
  packages/web3-eth-abi/src/ethers_abi_coder.ts
  yarn.lock
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix(4.x): doc link update
  docs/docs/guides/web3_plugin_guide/plugin_authors.md
Due: prettier --write

Trigger workflow
  packages/web3-core/src/web3_request_manager.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update system tests utils
  scripts/system_tests_utils.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Remove test console
  packages/web3-core/src/web3_request_manager.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update types
  packages/web3-types/src/web3_base_provider.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update import
  packages/web3-utils/src/socket_provider.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Fix tests
  packages/web3-providers-ws/test/integration/ganache_fault_tolerance.test.ts
  packages/web3-providers-ws/test/integration/reconnection.test.ts
  packages/web3-providers-ws/test/unit/web_socket_provider.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Fix websocket test
  packages/web3-providers-ws/test/integration/web_socket_provider_integration.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Updated CHANGELOG
  CHANGELOG.md
Due: prettier --write

Fix PR number in Changelog
  CHANGELOG.md
Due: prettier --write

fix(4.x): doc link update (#5972)
  docs/docs/guides/web3_plugin_guide/plugin_authors.md
Due: prettier --write

fix comments
  packages/web3-eth-accounts/src/tx/baseTransaction.ts
  packages/web3-eth-accounts/src/tx/constants.ts
  packages/web3-eth-accounts/src/tx/eip1559Transaction.ts
  packages/web3-eth-accounts/src/tx/eip2930Transaction.ts
  packages/web3-eth-accounts/src/tx/legacyTransaction.ts
  packages/web3-eth/test/integration/defaults.test.ts
  packages/web3-providers-ipc/test/fixtures/helpers.ts
  packages/web3-providers-ipc/test/unit/check_implementation.test.ts
  packages/web3-utils/src/constants.ts
  packages/web3-utils/src/hash.ts
  packages/web3-utils/src/json_rpc.ts
  packages/web3-utils/src/string_manipulation.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

skip test
  packages/web3-eth/test/integration/defaults.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

remove deprecated method error
  packages/web3-eth-accounts/src/account.ts
  packages/web3-eth-accounts/test/integration/account.test.ts
  packages/web3-eth-accounts/test/unit/account.test.ts
  packages/web3-eth-ens/package.json
  packages/web3-eth-ens/src/registry.ts
  packages/web3-eth-ens/src/resolver.ts
  packages/web3-eth-iban/package.json
  packages/web3-eth-iban/src/iban.ts
  packages/web3-eth-personal/src/rpc_method_wrappers.ts
  packages/web3-eth/src/utils/transaction_builder.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix defaultHardfork test. (bug)
  packages/web3-eth/src/utils/prepare_transaction_for_signing.ts
  packages/web3-eth/test/integration/defaults.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix personal tests
  packages/web3-eth-personal/test/unit/eth_personal.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

4.x Preserve comments when transpiling from ts to js (#5967)
  packages/web3-eth-accounts/src/account.ts
  packages/web3-eth-accounts/test/integration/account.test.ts
  packages/web3-eth-accounts/test/unit/account.test.ts
  packages/web3-eth-ens/package.json
  packages/web3-eth-ens/src/registry.ts
  packages/web3-eth-ens/src/resolver.ts
  packages/web3-eth-iban/package.json
  packages/web3-eth-iban/src/iban.ts
  packages/web3-eth-personal/src/rpc_method_wrappers.ts
  packages/web3-eth-personal/test/unit/eth_personal.test.ts
  packages/web3-eth/src/utils/transaction_builder.ts
  tsconfig.base.json
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

rlp tests
  packages/web3-eth-accounts/src/rlp/index.ts
  packages/web3-eth-accounts/src/rlp/utils.ts
  packages/web3-eth-accounts/test/fixtures/invalid.json
  packages/web3-eth-accounts/test/fixtures/rlptest.json
  packages/web3-eth-accounts/test/fixtures/utils.ts
  packages/web3-eth-accounts/test/unit/rlp/dataTypes.test.ts
  packages/web3-eth-accounts/test/unit/rlp/invalid.test.ts
  packages/web3-eth-accounts/test/unit/rlp/official.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Improve logging of connection errors (#5955)
  CHANGELOG.md
  packages/web3-providers-http/src/index.js
Due: prettier --write

Update eip1193 tests
  packages/web3-providers-ipc/test/integration/eip1193.test.ts
  packages/web3-providers-ws/test/integration/eip1193.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Fix eip1193 class' emits
  packages/web3-utils/src/web3_eip1193_provider.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix: legacy provider returns undefined for error instead of null
  packages/web3-core/test/unit/web3_request_manager.test.ts
  packages/web3-types/src/web3_base_provider.ts
  yarn.lock
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules
