Repository web3/web3.js: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Refactor getRevertReason and init tests
  packages/web3-eth-abi/src/decode_contract_error_data.ts
  packages/web3-eth-abi/src/index.ts
  packages/web3-eth-contract/src/encoding.ts
  packages/web3-eth/package.json
  packages/web3-eth/src/rpc_method_wrappers.ts
  packages/web3-eth/src/types.ts
  packages/web3-eth/src/utils/get_revert_reason.ts
  packages/web3-eth/test/fixtures/simple_revert.ts
  packages/web3-eth/test/integration/get_revert_reason.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Correct decodeContractErrorData import in web3-eth-contract
  packages/web3-eth-contract/src/contract.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Temporarily disable hande_revert tests
  packages/web3/test/integration/handle_revert.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Remove ResponseError from socker_provider onMessage
  packages/web3-utils/src/socket_provider.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Add validations
  packages/web3-utils/src/validation.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Add formatters
  packages/web3-utils/src/formatter.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

earliest comp with num
  docs/docs/guides/web3_migration_guide/web3_utils_migration_guide.md
  packages/web3-utils/src/validation.ts
  packages/web3-utils/test/fixtures/validation.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

node ver
  .github/workflows/build.yml
Due: none

Add hash
  packages/web3-utils/src/hash.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Add converters
  packages/web3-utils/src/converters.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Add docs for random functions
  packages/web3-utils/src/random.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

change log update
  packages/web3-utils/CHANGELOG.md
Due: prettier --write

changelog update
  packages/web3-utils/CHANGELOG.md
Due: prettier --write

5836compare blocks (#5842)
  docs/docs/guides/web3_migration_guide/web3_utils_migration_guide.md
  packages/web3-utils/CHANGELOG.md
  packages/web3-utils/src/validation.ts
  packages/web3-utils/test/fixtures/validation.ts
  packages/web3-validator/test/fixtures/validation.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

codecov paths config
  .github/workflows/build.yml
  codecov.yml
Due: none

update `hexToNumber` to return big numbers as strings
  dist/web3.min.js
  dist/web3.min.js.map
  packages/web3-utils/src/utils.js
  packages/web3-utils/types/index.d.ts
  packages/web3-utils/types/tests/hex-to-number-test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update a typo and whitespaces
  dist/web3.min.js.map
  packages/web3-utils/src/utils.js
Due: prettier --write

added layout
  codecov.yml
Due: none

common config
  codecov.yml
Due: none

More docs
  packages/web3-utils/src/objects.ts
  packages/web3-utils/src/promise_helpers.ts
  packages/web3-utils/src/string_manipulation.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

allow `hexToNumber` to handle numbers smaller than `MIN_SAFE_INTEGER` + add helpful exception for wrong inputs + fix some test case.
  dist/web3.min.js
  dist/web3.min.js.map
  packages/web3-utils/src/utils.js
  packages/web3-utils/types/tests/hex-to-number-test.ts
  test/utils.toNumber.js
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

flag names in ci
  .github/workflows/build.yml
Due: none

flags under proj
  codecov.yml
Due: none

remove some newlines
  packages/web3-utils/types/tests/hex-to-number-test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix `toNumber` test-cases and modify its signature
  dist/web3.min.js
  dist/web3.min.js.map
  packages/web3-utils/src/utils.js
  packages/web3-utils/types/index.d.ts
  packages/web3-utils/types/tests/to-number-test.ts
  test/utils.toNumber.js
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

clean some code at test/utils.toNumber.js
  test/utils.toNumber.js
Due: prettier --write

Update socker_provider to no reject if RPC error
  packages/web3-providers-ws/test/unit/web_socket_provider.test.ts
  packages/web3-utils/src/socket_provider.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Remove no longer used ResponseError from socket_provider
  packages/web3-utils/src/socket_provider.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Remove unused imports
  packages/web3-providers-ws/test/unit/web_socket_provider.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update CHANGELOGs
  CHANGELOG.md
  packages/web3-eth-abi/CHANGELOG.md
  packages/web3-eth-contract/CHANGELOG.md
  packages/web3-eth/CHANGELOG.md
  packages/web3-utils/CHANGELOG.md
Due: prettier --write

update CHANGELOG.md
  CHANGELOG.md
  packages/web3-utils/src/utils.js
  test/utils.toNumber.js
Due: prettier --write

Add more docs
  packages/web3-utils/src/socket_provider.ts
  packages/web3-utils/src/uuid.ts
  packages/web3-utils/src/web3_deferred_promise.ts
  packages/web3-utils/src/web3_eip1193_provider.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Remove wrong changes
  packages/web3-eth/test/integration/subscription_heads.test.ts
  packages/web3-eth/test/integration/watch_transaction.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

add err test
  packages/web3-eth/test/integration/_error.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

getRevertReason now throws an error if it's unknown
  packages/web3-eth/src/utils/get_revert_reason.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Refactor `getRevertReason` and add tests (#5844)
  CHANGELOG.md
  packages/web3-eth-abi/CHANGELOG.md
  packages/web3-eth-abi/src/decode_contract_error_data.ts
  packages/web3-eth-abi/src/index.ts
  packages/web3-eth-contract/CHANGELOG.md
  packages/web3-eth-contract/src/contract.ts
  packages/web3-eth-contract/src/encoding.ts
  packages/web3-eth/CHANGELOG.md
  packages/web3-eth/package.json
  packages/web3-eth/src/rpc_method_wrappers.ts
  packages/web3-eth/src/types.ts
  packages/web3-eth/src/utils/get_revert_reason.ts
  packages/web3-eth/test/fixtures/simple_revert.ts
  packages/web3-eth/test/integration/get_revert_reason.test.ts
  packages/web3-providers-ws/test/unit/web_socket_provider.test.ts
  packages/web3-utils/CHANGELOG.md
  packages/web3-utils/src/socket_provider.ts
  packages/web3/test/integration/handle_revert.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Address feedback
  packages/web3-utils/src/converters.ts
  packages/web3-utils/src/hash.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Add examples
  packages/web3-utils/src/hash.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

min CI for test
  .github/workflows/build.yml
Due: none

build and test for u14 and 16
  .github/workflows/build.yml
Due: none

Path conditions:
  prettier --write: ((any of: *.js) or (any of: *.ts)) or (any of: *.{json,md})
  eslint --rulesdir ./tools/eslint-config-web3-base/rules: any of: *.ts
