Repository web3/web3.js: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Fix types: returnTransactionObjects param value affects resolve type (#4911)
  CHANGELOG.md
  packages/web3-eth/types/index.d.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Fix types: returnTransactionObjects param value affects resolve type (#4911) (#5000)
  CHANGELOG.md
  packages/web3-eth/types/index.d.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Exposing web3.eth.Contract.setProvider() as per public documentation (#4822)
  packages/web3-eth-contract/types/index.d.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

changelog update
  CHANGELOG.md
Due: prettier --write

Exposing web3.eth.Contract.setProvider() as per public documentation (#5001)
  CHANGELOG.md
  packages/web3-eth-contract/types/index.d.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

:building_construction: Update cypress config to bundle with webpack for dependent packages
  package.json
  scripts/system_tests_utils.ts
  templates/cypress/plugins/index.js
  templates/cypress/webpack.config.js
  yarn.lock
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

:rewind: Revert changes for bigint refactoring
  packages/web3-common/test/unit/formatters.test.ts
  packages/web3-utils/test/fixtures/converters.ts
  packages/web3-utils/test/fixtures/string_manipulation.ts
  packages/web3-utils/test/fixtures/validation.ts
  packages/web3-validator/test/fixtures/validation.ts
  templates/test/tsconfig.json.tmpl
  tsconfig.json
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

adjusting integration test
  fixtures/sources/DeployRevert.ts
  package.json
  packages/web3-eth-personal/test/fixtures/system_test_utils.ts
  packages/web3-eth-personal/test/integration/personal.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

remove sync test
  .github/private/Dockerfile
  .github/private/docker-compose.yaml
  packages/web3-eth/test/integration/subscription_syncing.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix lgtm
  karma.setup.js
Due: prettier --write

fix
  packages/web3-providers-http/package.json
Due: prettier --write

fix
  karma.setup.js
  package.json
  yarn.lock
Due: prettier --write

init
  .github/private/Dockerfile
  .github/private/docker-compose.yaml
  packages/web3-eth/test/integration/helper.ts
  packages/web3-eth/test/integration/subscription_syncing.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix
  karma.config.js
Due: prettier --write

:building_construction: Improve system tests structure (#4949)
  .github/test.config.ts
  .github/workflows/build.yml
  karma.config.js
  karma.setup.js
  package.json
  packages/web3-core/src/web3_request_manager.ts
  packages/web3-eth-contract/.eslintignore
  packages/web3-eth-contract/cypress
  packages/web3-eth-contract/cypress.json
  packages/web3-eth-contract/test/fixtures/system_test_utils.ts
  packages/web3-eth-contract/test/integration/conract_deploy.test.ts
  packages/web3-eth-contract/test/integration/contract_clone.test.ts
  packages/web3-eth-contract/test/integration/contract_events.test.ts
  packages/web3-eth-contract/test/integration/contract_methods.test.ts
  packages/web3-eth-iban/src/index.ts
  packages/web3-eth/cypress
  packages/web3-eth/cypress.json
  packages/web3-eth/package.json
  packages/web3-eth/test/fixtures/system_test_utils.ts
  packages/web3-eth/test/integration/subscribe.test.ts
  packages/web3-eth/test/integration/unsubscribe.test.ts
  packages/web3-eth/test/integration/watch_transaction.test.ts
  packages/web3-providers-http/cypress
  packages/web3-providers-http/cypress.json
  packages/web3-providers-http/package.json
  packages/web3-providers-http/test/fixtures/system_test_utils.ts
  packages/web3-providers-http/test/integration/request.test.ts
  packages/web3-utils/src/string_manipulation.ts
  scripts/env.sh
  scripts/ganache.sh
  scripts/geth.sh
  scripts/system_tests_utils.ts
  scripts/test-runner.sh
  templates/.eslintignore.tmpl
  templates/cypress.json
  templates/cypress/plugins/index.js
  templates/cypress/support/commands.js
  templates/cypress/support/index.js
  templates/cypress/webpack.config.js
  yarn.lock
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

adding test
  packages/web3-eth-personal/test/integration/personal.test.ts
  packages/web3-providers-http/test/integration/request.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Initial conf
  .github/.htpasswd
  .github/nginx.conf
  packages/web3-providers-ws/test/integration/web_socket_provider_integration.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Undo changes in index.ts
  packages/web3-providers-ws/src/index.ts
  packages/web3-providers-ws/test/integration/web_socket_provider_integration.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

merge
  .husky/pre-commit
  packages/web3-eth-contract/test/integration/conract_deploy.test.ts
  packages/web3-eth/test/integration/subscription_heads.test.ts
  packages/web3-eth/test/integration/subscription_logs.test.ts
  packages/web3-eth/test/integration/subscription_new_pending_tx.test.ts
  packages/web3-eth/test/integration/unsubscribe.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix
  .husky/pre-commit
Due: none

fix
  packages/web3-eth/test/integration/unsubscribe.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix lint
  packages/web3-eth/test/integration/subscription_heads.test.ts
  packages/web3-eth/test/integration/subscription_logs.test.ts
  packages/web3-eth/test/integration/subscription_new_pending_tx.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

--runInBand to all tests
  packages/web3-common/package.json
  packages/web3-core/package.json
  packages/web3-errors/package.json
  packages/web3-eth-abi/package.json
  packages/web3-eth-accounts/package.json
  packages/web3-eth-ens/package.json
  packages/web3-eth-iban/package.json
  packages/web3-eth-personal/package.json
  packages/web3-net/package.json
  packages/web3-providers-ipc/package.json
  packages/web3-providers-ws/package.json
  packages/web3-utils/package.json
  packages/web3-validator/package.json
  packages/web3/package.json
Due: prettier --write

add it each
  templates/cypress/support/index.js
Due: prettier --write

fix browser tests
  packages/web3-eth/test/integration/subscribe.test.ts
  packages/web3-eth/test/integration/subscription_heads.test.ts
  packages/web3-eth/test/integration/subscription_logs.test.ts
  packages/web3-eth/test/integration/subscription_new_pending_tx.test.ts
  packages/web3-eth/test/integration/unsubscribe.test.ts
  packages/web3-eth/test/integration/watch_transaction.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

:art: Enable the skipped tests
  fixtures/sources/DeployRevert.sol
  fixtures/sources/DeployRevert.ts
  fixtures/utils.ts
  packages/web3-eth-contract/test/integration/conract_deploy.test.ts
  packages/web3-eth/src/rpc_method_wrappers.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

:bug: Fix a geth command line bug
  scripts/geth.sh
Due: none

:green_heart: Remove unused build config
  .github/workflows/build.yml
Due: none

fix
  packages/web3-eth/test/integration/subscription_logs.test.ts
  scripts/geth.sh
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

:art: Add e2e tests support for contracts package
  packages/web3-eth-contract/package.json
  templates/cypress/support/index.js
Due: prettier --write

tesitng stuff
  packages/web3-eth-personal/test/config/personal.test.config.ts
  packages/web3-eth-personal/test/integration/personal.test.ts
  packages/web3-providers-http/test/integration/request.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

nonce problem fix
  packages/web3-eth/test/integration/subscription_logs.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fixing geth tests
  packages/web3-eth-personal/test/integration/personal.test.ts
  packages/web3-providers-http/test/integration/request.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

updating
  packages/web3-eth-personal/test/integration/personal.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Use http proxy middleware for basic auth test
  packages/web3-providers-ws/package.json
  packages/web3-providers-ws/test/fixtures/system_test_utils.ts
  packages/web3-providers-ws/test/integration/web_socket_provider_integration.test.ts
  yarn.lock
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

:art: Update eth package to export the subscriptions
  packages/web3-eth/src/index.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

:white_check_mark: Fix tests for the contract deployment
  packages/web3-eth-contract/src/contract.ts
  packages/web3-eth-contract/test/integration/conract_deploy.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

:bug: Fix ws provider to handle batch requests
  packages/web3-providers-ws/src/index.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

:bug: Fix deferred promise to fix unhandled rejection
  packages/web3-common/src/deferred_promise.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Path conditions:
  prettier --write: ((any of: *.js) or (any of: *.ts)) or (any of: *.{json,md})
  eslint --rulesdir ./tools/eslint-config-web3-base/rules: any of: *.ts
