Repository web3/web3.js: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update issue templates (#6800)
  .github/ISSUE_TEMPLATE/issue-template.md
Due: prettier --write

Completed hardhat/web3v4 tutorial
  docs/docs/guides/hardhat_tutorial/asset/artifacts.png
  docs/docs/guides/hardhat_tutorial/asset/image_2.png
  docs/docs/guides/hardhat_tutorial/asset/image_3.png
  docs/docs/guides/hardhat_tutorial/index.md
Due: prettier --write

Create _category_.yml
  docs/docs/guides/hardhat_tutorial/_category_.yml
Due: none

few typos, added links, and command to run the test.
  docs/docs/guides/hardhat_tutorial/index.md
Due: prettier --write

typo 'incuding' for 'including'
  docs/docs/guides/hardhat_tutorial/index.md
Due: prettier --write

Release/4.5.0 (#6802)
  CHANGELOG.md
  packages/web3-types/CHANGELOG.md
  packages/web3-types/package.json
  packages/web3-utils/CHANGELOG.md
  packages/web3-utils/package.json
  packages/web3/CHANGELOG.md
  packages/web3/package.json
  packages/web3/scripts/black_box_test.sh
  packages/web3/src/version.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Resolve test snapshot issue between node 18 vs 20 & 21 (#6794)
  packages/web3-core/test/unit/__snapshots__/web3_context.test.ts.snap
  packages/web3-core/test/unit/web3_context.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Updated README.md (#6804)
  packages/web3/README.md
Due: prettier --write

typos fixed and added typescript import options
  docs/docs/guides/Web3_Utils_module/Mastering_web3-utils.md
Due: prettier --write

replaced @docusaurus/theme-live-codeblock: 3.0.1, to @docusaurus/theme-live-codeblock: ^3.0.1,
  docs/package.json
Due: prettier --write

bring back old yarn.lock
  docs/yarn.lock
Due: none

fix link
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

add integration test for `calculateFeeData`
  packages/web3-eth/test/integration/web3_eth/send_transaction.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update CHANGELOG.md file
  packages/web3-types/CHANGELOG.md
Due: prettier --write

add integration test
  packages/web3-eth/test/integration/web3_eth/send_transaction.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

add a unit test
  packages/web3-eth/test/unit/web3_eth_methods_no_parameters.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

limit a unit test to geth
  packages/web3-eth/test/integration/web3_eth/send_transaction.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

feat: Add getMaxPriorityFeePerGas method (#6748)
  packages/web3-eth/CHANGELOG.md
  packages/web3-eth/src/rpc_method_wrappers.ts
  packages/web3-eth/src/web3_eth.ts
  packages/web3-eth/test/integration/web3_eth/send_transaction.test.ts
  packages/web3-eth/test/unit/web3_eth_methods_no_parameters.test.ts
  packages/web3-rpc-methods/CHANGELOG.md
  packages/web3-rpc-methods/src/eth_rpc_methods.ts
  packages/web3-rpc-methods/test/unit/eth_rpc_methods/get_maxPriorityFeePerGas.ts
  packages/web3-types/src/apis/eth_execution_api.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

add wagmi documentation
  docs/docs/guides/wagmi_usage/_category_.yml
  docs/docs/guides/wagmi_usage/wagmi.md
Due: prettier --write

Create webpack.yml
  .github/workflows/webpack.yml
Due: none

fix link (#6810)
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

added feedback category to enable users to provide feedback
  docs/docs/guides/feedback/index.md
Due: prettier --write

changed title
  docs/docs/guides/feedback/index.md
Due: prettier --write

formated uppercases
  docs/docs/guides/feedback/index.md
Due: prettier --write

fixed broken link in README to point to correct address
  README.md
Due: prettier --write

feat: Implement eth.calculateFeeData (#6795)
  packages/web3-eth/src/web3_eth.ts
  packages/web3-eth/test/integration/web3_eth/send_transaction.test.ts
  packages/web3-eth/test/unit/web3_eth_calculate_fee_data.test.ts
  packages/web3-types/CHANGELOG.md
  packages/web3-types/src/eth_types.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Enable users to provide feedback page (#6815)
  docs/docs/guides/feedback/index.md
Due: prettier --write

Completed hardhat/web3v4 tutorial (#6806)
  docs/docs/guides/hardhat_tutorial/_category_.yml
  docs/docs/guides/hardhat_tutorial/asset/artifacts.png
  docs/docs/guides/hardhat_tutorial/asset/image_2.png
  docs/docs/guides/hardhat_tutorial/asset/image_3.png
  docs/docs/guides/hardhat_tutorial/index.md
Due: prettier --write

fixed broken link in README to point to correct address (#6818)
  README.md
Due: prettier --write

revert change @react-live from 4.1.6 back to 4.1.5
  docs/yarn.lock
Due: none

Create resources.md
  docs/docs/guides/resources/resources.md
Due: prettier --write

Create draft
  docs/docs/guides/resources/resources.md
Due: prettier --write

update utils
  packages/web3-utils/package.json
  packages/web3-utils/src/event_emitter.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

add link to repo
  docs/docs/guides/wagmi_usage/wagmi.md
Due: prettier --write

Update resources.md
  docs/docs/guides/resources/resources.md
Due: prettier --write

add signer example
  docs/docs/guides/wagmi_usage/wagmi.md
Due: prettier --write

Path conditions:
  prettier --write: ((any of: *.js) or (any of: *.ts)) or (any of: *.{json,md})
  eslint --rulesdir ./tools/eslint-config-web3-base/rules: any of: *.ts
