Repository web3/web3.js: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix get storage test
  packages/web3/test/e2e/sepolia/get_storage_at.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

add comments
  packages/web3/test/e2e/get_balance.test.ts
  packages/web3/test/e2e/get_block_transaction_count.test.ts
  packages/web3/test/e2e/get_transaction_count.test.ts
  packages/web3/test/e2e/mainnet/get_storage_at.test.ts
  packages/web3/test/e2e/sepolia/get_storage_at.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

done testing
  .github/workflows/e2e_network_tests.yml
Due: none

Export EIP-6963 Types
  packages/web3-types/src/eip6963_types.ts
  packages/web3-types/src/index.ts
  packages/web3/src/web3_eip6963.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

CHANGELOG
  CHANGELOG.md
Due: prettier --write

7136 decodeparams update (#7288)
  packages/web3-eth-abi/CHANGELOG.md
  packages/web3-eth-abi/src/api/logs_api.ts
  packages/web3-eth-abi/src/api/parameters_api.ts
  packages/web3-eth-abi/src/coders/decode.ts
  packages/web3-eth-abi/test/unit/api/logs_api.test.ts
  packages/web3-eth-abi/test/unit/encodeDecodeParams.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update custom_subscriptions.md
  docs/docs/guides/events_subscriptions/custom_subscriptions.md
Due: prettier --write

Update mastering_smart_contracts.md
  docs/docs/guides/smart_contracts/mastering_smart_contracts.md
Due: prettier --write

test with new keys
  .github/workflows/e2e_network_tests.yml
  packages/web3/test/e2e/get_block_transaction_count.test.ts
  packages/web3/test/e2e/get_block_uncle_count.test.ts
  packages/web3/test/e2e/get_fee_history.test.ts
  packages/web3/test/e2e/get_proof.test.ts
  packages/web3/test/e2e/get_protocol_version.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update get_block_transaction_count.test.ts
  packages/web3/test/e2e/get_block_transaction_count.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

done
  .github/workflows/e2e_network_tests.yml
Due: none

Update e2e_network_tests.yml
  .github/workflows/e2e_network_tests.yml
Due: none

Update FUNDING.json
  FUNDING.json
Due: prettier --write

Update FUNDING.json (#7304)
  FUNDING.json
Due: prettier --write

Fix e2e test error "project ID request rate exceeded" (#7290)
  .github/workflows/e2e_network_tests.yml
  packages/web3/test/e2e/fixtures/mainnet.ts
  packages/web3/test/e2e/fixtures/mainnet_block_hydrated.ts
  packages/web3/test/e2e/fixtures/sepolia.ts
  packages/web3/test/e2e/get_balance.test.ts
  packages/web3/test/e2e/get_block_transaction_count.test.ts
  packages/web3/test/e2e/get_block_uncle_count.test.ts
  packages/web3/test/e2e/get_fee_history.test.ts
  packages/web3/test/e2e/get_proof.test.ts
  packages/web3/test/e2e/get_transaction_count.test.ts
  packages/web3/test/e2e/mainnet/get_storage_at.test.ts
  packages/web3/test/e2e/mainnet/get_transaction.test.ts
  packages/web3/test/e2e/mainnet/get_transaction_receipt.test.ts
  packages/web3/test/e2e/sepolia/get_past_logs.test.ts
  packages/web3/test/e2e/sepolia/get_storage_at.test.ts
  packages/web3/test/e2e/sepolia/get_transaction.test.ts
  packages/web3/test/e2e/sepolia/get_transaction_receipt.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update packages/web3-types/CHANGELOG.md
  packages/web3-types/CHANGELOG.md
Due: prettier --write

Add Support for Nethermind and Besu 'syncing' Subscription Payload Formats
  packages/web3-eth/src/web3_subscriptions.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix: correct type and documentation for `baseFeePerGas` at `web3.eth.getFeeHistory` (#7291)
  docs/docs/guides/web3_upgrade_guide/1.x/web3_eth_migration_guide.md
  packages/web3-eth/test/unit/rpc_method_wrappers/fixtures/get_fee_history.ts
  packages/web3-types/CHANGELOG.md
  packages/web3-types/src/eth_types.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Add CHANGELOG note for PR7306
  CHANGELOG.md
Due: prettier --write

Set tab-size to 2 for Docs
  docs/src/css/custom.css
Due: none

Add Support for Nethermind and Besu 'syncing' Subscription Payload Format (#7306)
  CHANGELOG.md
  packages/web3-eth/src/web3_subscriptions.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Fix Typos
  docs/docs/guides/05_smart_contracts/mastering_smart_contracts.md
  docs/docs/guides/06_events_subscriptions/custom_subscriptions.md
Due: prettier --write

AA package structure
  packages/web3-account-abstraction/.eslintignore
  packages/web3-account-abstraction/.eslintrc.js
  packages/web3-account-abstraction/.gitignore
  packages/web3-account-abstraction/.npmignore
  packages/web3-account-abstraction/.npmrc
  packages/web3-account-abstraction/.prettierignore
  packages/web3-account-abstraction/.prettierrc.json
  packages/web3-account-abstraction/CHANGELOG.md
  packages/web3-account-abstraction/README.md
  packages/web3-account-abstraction/assets/logo/web3js.ai
  packages/web3-account-abstraction/assets/logo/web3js.jpg
  packages/web3-account-abstraction/assets/logo/web3js.svg
  packages/web3-account-abstraction/package.json
  packages/web3-account-abstraction/test/.eslintrc.js
  packages/web3-account-abstraction/test/config/jest.config.js
  packages/web3-account-abstraction/test/config/setup.js
  packages/web3-account-abstraction/test/integration/jest.config.js
  packages/web3-account-abstraction/test/integration/setup.js
  packages/web3-account-abstraction/test/tsconfig.json
  packages/web3-account-abstraction/test/unit/constructor.test.ts
  packages/web3-account-abstraction/test/unit/jest.config.js
  packages/web3-account-abstraction/tsconfig.cjs.json
  packages/web3-account-abstraction/tsconfig.esm.json
  packages/web3-account-abstraction/tsconfig.types.json
  packages/web3-account-abstraction/tsdoc.json
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

pkg config
  packages/web3-account-abstraction/package.json
Due: prettier --write

aa types
  packages/web3-account-abstraction/src/types.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

aa class
  packages/web3-account-abstraction/src/web3_aa.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

utils
  packages/web3-account-abstraction/src/utils.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

exports
  packages/web3-account-abstraction/src/index.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

readme chnglog and configs update
  packages/web3-account-abstraction/CHANGELOG.md
  packages/web3-account-abstraction/README.md
  packages/web3-account-abstraction/package.json
Due: prettier --write

Fix Typos (#7310)
  docs/docs/guides/05_smart_contracts/mastering_smart_contracts.md
  docs/docs/guides/06_events_subscriptions/custom_subscriptions.md
Due: prettier --write

Comments from Review
  CHANGELOG.md
  packages/web3-types/src/eip6963_types.ts
  packages/web3-types/src/index.ts
  packages/web3/src/index.ts
  packages/web3/src/providers.exports.ts
  packages/web3/src/web3_eip6963.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Export EIP-6963 Types (#7270)
  CHANGELOG.md
  packages/web3/src/index.ts
  packages/web3/src/providers.exports.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update docs
  docs/docs/guides/15_web3_upgrade_guide/providers_migration_guide.md
Due: prettier --write

Add Gas Estimation Guide
  docs/docs/guides/04_transactions/gas-and-fees.md
  packages/web3-eth/src/web3_eth.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update Docs for calculateFeeData
  packages/web3-eth/src/web3_eth.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Add Access List Docs
  docs/docs/guides/04_transactions/gas-and-fees.md
Due: prettier --write

add ignoregaspricing config
  packages/web3-core/src/web3_config.ts
  packages/web3-core/test/unit/__snapshots__/web3_context.test.ts.snap
  packages/web3-core/test/unit/web3_config.test.ts
  packages/web3-eth/src/utils/send_tx_helper.ts
  packages/web3-eth/src/validation.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/send_transaction.test.ts
  packages/web3-eth/test/unit/send_tx_helper.test.ts
  packages/web3-types/src/eth_contract_types.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Path conditions:
  prettier --write: ((any of: *.js) or (any of: *.ts)) or (any of: *.{json,md})
  eslint --rulesdir ./tools/eslint-config-web3-base/rules: any of: *.ts
