Repository web3/web3.js: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

add html comment
  packages/web3/test/manual/long_ws_tests/browser_test/connection.html
Due: none

fix: unnecessary array copy when pack encoding (#6553)
  packages/web3-utils/CHANGELOG.md
  packages/web3-utils/src/hash.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Stress Tests 3 - create long duration ws tests (#6588)
  README.md
  package.json
  packages/web3/test/manual/long_ws_tests/browser_test/connection.html
  packages/web3/test/manual/long_ws_tests/nodejs_test/long_connection_ws.js
Due: prettier --write

on Pologon PoS there is no error raison data for insufficient funds
  packages/web3-core-method/src/index.js
Due: prettier --write

move to jest
  package.json
  packages/web3/package.json
  packages/web3/test/manual/data.test.ts
  packages/web3/test/manual/jest.config.js
  packages/web3/test/manual/requests.test.ts
  packages/web3/test/manual/setup.js
  packages/web3/test/manual/validation.test.ts
  packages/web3/test/stress/large_request_data/start.sh
  packages/web3/test/stress/large_validator_data/index.ts
  packages/web3/test/stress/many_requests/index.html
  packages/web3/test/stress/many_requests/start.sh
  scripts/gen_accounts.js
  scripts/geth_binary.sh
  scripts/test-runner.sh
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

add browser tests
  README.md
  package.json
  packages/web3/cypress
  packages/web3/cypress.config.js
  packages/web3/package.json
  packages/web3/test/e2e_manual/data.test.ts
  packages/web3/test/e2e_manual/jest.config.js
  packages/web3/test/e2e_manual/requests.test.ts
  packages/web3/test/e2e_manual/setup.js
  packages/web3/test/e2e_manual/validation.test.ts
  scripts/test-runner.sh
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix
  packages/web3/.eslintignore
Due: none

update socket provider test
  packages/web3-utils/test/unit/socket_provider.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

doc comments and checked all code examples
  packages/web3-eth-accounts/src/account.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update docs and param type
  docs/docs/guides/basics/sign_and_send_tx/local_wallet.md
  docs/docs/guides/basics/sign_and_send_tx/wallet_of_eth_node.md
  docs/docs/guides/wallet/index.md
  packages/web3-eth/src/web3_eth.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

add web3-eth-accounts snippets
  docs/docs/guides/wallet/index.md
Due: prettier --write

update socket provider test (#6614)
  packages/web3-utils/test/unit/socket_provider.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update docs
  docs/docs/guides/basics/sign_and_send_tx/local_wallet.md
  docs/docs/guides/basics/sign_and_send_tx/wallet_of_eth_node.md
  docs/docs/guides/wallet/index.md
Due: prettier --write

Proposal: Expose plugin functionality to plugins so it's easier to discover what plugins could do (#6538)
  packages/web3-core/package.json
  packages/web3-core/src/web3_context.ts
  packages/web3/test/integration/web3-plugin-add-tx.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update text
  docs/docs/guides/basics/sign_and_send_tx/local_wallet.md
Due: prettier --write

fix linter
  packages/web3/test/integration/web3-plugin-add-tx.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

added privateKeyToAddress, parseAndValidatePrivateKey,and privateKeyToPublicKey
  packages/web3/src/accounts.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

catch TransactionPollingTimeoutError
  packages/web3-eth/src/types.ts
  packages/web3-eth/src/utils/send_tx_helper.ts
  packages/web3-eth/test/integration/web3_eth/send_signed_transaction.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

added methods to web3.eth.accounts
  packages/web3/CHANGELOG.md
Due: prettier --write

change default to data
  packages/web3-core/src/web3_config.ts
  packages/web3-core/test/unit/__snapshots__/web3_context.test.ts.snap
  packages/web3-core/test/unit/web3_config.test.ts
  packages/web3-eth-contract/test/unit/contract.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update CHANGELOG.md
  packages/web3/CHANGELOG.md
Due: prettier --write

add contract tests
  packages/web3-eth-contract/test/integration/contract_erc20.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

eslint fix
  packages/web3-eth-contract/test/integration/contract_erc20.test.ts
  packages/web3-eth/test/integration/web3_eth/send_signed_transaction.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

text fixes
  packages/web3-eth-contract/test/integration/contract_erc20.test.ts
  packages/web3-eth/test/integration/web3_eth/send_signed_transaction.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

implement setImmediate and remove its polyfill
  packages/web3-eth/package.json
  packages/web3-eth/src/index.ts
  packages/web3-eth/src/rpc_method_wrappers.ts
  packages/web3-eth/src/utils/watch_transaction_by_subscription.ts
  packages/web3-eth/src/web3_eth.ts
  packages/web3-utils/src/index.ts
  packages/web3-utils/src/setImmediate.ts
  packages/web3-utils/src/socket_provider.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix config tests
  packages/web3/test/unit/web3.config.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix test
  tools/web3-plugin-example/test/unit/contract_method_wrappers.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

added methods (privateKeyToAddress, parseAndValidatePrivateKey,and privateKeyToPublicKey) to web3.eth.accounts (#6621)
  packages/web3/CHANGELOG.md
  packages/web3/src/accounts.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

add unit test case 'Insufficient funds Errors on Polygon PoS through MetaMask' to cover new logic in sendTxCallback() previously modified
  test/eth.call.revert.js
Due: prettier --write

update 'Fixed' section of 'Unreleased' version of the changelog to add our bug fix
  CHANGELOG.md
Due: prettier --write

fixes
  package.json
  packages/web3/package.json
  packages/web3/test/manual/data.test.ts
  packages/web3/test/stress/data.test.ts
  packages/web3/test/stress/jest.config.js
  packages/web3/test/stress/long_ws_tests/browser_test/connection.html
  packages/web3/test/stress/long_ws_tests/nodejs_test/long_connection_ws.js
  packages/web3/test/stress/requests.test.ts
  packages/web3/test/stress/setup.js
  packages/web3/test/stress/start.sh
  packages/web3/test/stress/validation.test.ts
  packages/web3/test/stress/validator.ts
  scripts/test-runner.sh
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix
  packages/web3/test/stress/requests.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix tests count
  packages/web3/test/stress/data.test.ts
  packages/web3/test/stress/requests.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Stress Tests 1 - QA Tests (#6595)
  README.md
  package.json
  packages/web3/.eslintignore
  packages/web3/cypress
  packages/web3/cypress.config.js
  packages/web3/package.json
  packages/web3/test/e2e_manual/data.test.ts
  packages/web3/test/e2e_manual/jest.config.js
  packages/web3/test/e2e_manual/requests.test.ts
  packages/web3/test/e2e_manual/setup.js
  packages/web3/test/e2e_manual/validation.test.ts
  packages/web3/test/stress/data.test.ts
  packages/web3/test/stress/jest.config.js
  packages/web3/test/stress/long_ws_tests/browser_test/connection.html
  packages/web3/test/stress/long_ws_tests/nodejs_test/long_connection_ws.js
  packages/web3/test/stress/requests.test.ts
  packages/web3/test/stress/setup.js
  packages/web3/test/stress/start.sh
  packages/web3/test/stress/validation.test.ts
  packages/web3/test/stress/validator.ts
  scripts/gen_accounts.js
  scripts/geth_binary.sh
  scripts/test-runner.sh
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix
  packages/web3-eth-contract/test/integration/contract_erc20.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

address feedback and update changelog
  packages/web3-core/CHANGELOG.md
  packages/web3-core/src/web3_request_manager.ts
  packages/web3-eth-contract/CHANGELOG.md
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

change default to data (#6622)
  packages/web3-core/CHANGELOG.md
  packages/web3-core/src/web3_config.ts
  packages/web3-core/src/web3_request_manager.ts
  packages/web3-core/test/unit/__snapshots__/web3_context.test.ts.snap
  packages/web3-core/test/unit/web3_config.test.ts
  packages/web3-eth-contract/CHANGELOG.md
  packages/web3-eth-contract/test/unit/contract.test.ts
  packages/web3/test/unit/web3.config.test.ts
  tools/web3-plugin-example/test/unit/contract_method_wrappers.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

increase coverage
  packages/web3-eth-accounts/src/tx/baseTransaction.ts
  packages/web3-eth/test/unit/prepare_transaction_for_signing.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix
  packages/web3-eth/test/unit/prepare_transaction_for_signing.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

write smart contracts guide
  docs/docs/guides/smart_contracts/deploying_and_interacting_with_smart_contracts.md
  docs/docs/guides/smart_contracts/index.md
  packages/web3-core/src/web3_context.ts
  packages/web3-types/src/eth_contract_types.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Path conditions:
  prettier --write: ((any of: *.js) or (any of: *.ts)) or (any of: *.{json,md})
  eslint --rulesdir ./tools/eslint-config-web3-base/rules: any of: *.ts
