Repository web3/web3.js: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

.lintstagedrc.json:

{
	"*.js": ["prettier --write"],
	"*.ts": ["prettier --write", "eslint --rulesdir ./tools/eslint-config-web3-base/rules"],
	"*.{json,md}": ["prettier --write"]
}

Make a separate test loop for Alchemy networks and use a specific network list
  packages/web3/test/integration/web3RPCProviders.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Include more Alchemy networks
  packages/web3-rpc-providers/src/types.ts
  packages/web3-rpc-providers/src/web3_provider_alchemy.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Keep this for now, check what is using this property
  packages/web3-rpc-providers/src/types.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Add Polygon AMOY network (replaces MUMBAI)
  packages/web3-rpc-providers/src/types.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Testing
  packages/web3/test/integration/web3RPCProviders.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Remove request method
  packages/web3-rpc-providers/src/web3_provider_alchemy.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Updating imports and unused API extension / Use map instead of switch
  packages/web3-rpc-providers/src/web3_provider_alchemy.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Add alchemy rpc provider
  packages/web3-rpc-providers/src/index.ts
  packages/web3-rpc-providers/src/web3_provider_alchemy.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Fix import in rpc tests
  packages/web3/test/integration/web3RPCProviders.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix
  packages/web3-rpc-providers/src/web3_provider_publicnode.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update web3_provider_publicnode.ts
  packages/web3-rpc-providers/src/web3_provider_publicnode.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Add rpc provider public node (#7322)
  CHANGELOG.md
  packages/web3-rpc-providers/CHANGELOG.md
  packages/web3-rpc-providers/src/index.ts
  packages/web3-rpc-providers/src/types.ts
  packages/web3-rpc-providers/src/web3_provider_publicnode.ts
  packages/web3-rpc-providers/src/web3_provider_quicknode.ts
  packages/web3-rpc-providers/test/unit/request.test.ts
  packages/web3/test/integration/web3RPCProviders.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update Intermediate dApp Guide (EIP-6963 Types no Longer in Namespace) (#7349)
  docs/docs/guides/07_dapps/intermediate-dapp.md
Due: prettier --write

Update with API Key
  packages/web3-rpc-providers/src/web3_provider_drpc.ts
  packages/web3/test/integration/web3RPCProviders.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

add parallel test back
  package.json
Due: prettier --write

workable code and test
  docs/docs/guides/10_web3_eth/methods.md
  package.json
  packages/web3-eth-accounts/src/account.ts
  packages/web3-eth-accounts/test/fixtures/account.ts
  packages/web3-eth-accounts/test/integration/account.test.ts
  packages/web3-eth-accounts/test/unit/account.test.ts
  packages/web3-eth-accounts/test/unit/account_dom.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

refine comments and docs
  docs/docs/guides/03_wallet/index.md
  docs/docs/guides/10_web3_eth/methods.md
  packages/web3-eth-accounts/src/account.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

using default value instead of ?
  packages/web3-eth-accounts/src/account.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update changelog
  CHANGELOG.md
Due: prettier --write

remove wrong doc
  docs/docs/guides/10_web3_eth/methods.md
Due: prettier --write

update (#7350)
  .github/CODEOWNERS
Due: none

createNewPendingTransactionFilter rpc method
  packages/web3-eth/src/rpc_method_wrappers.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

createNewPendingTransactionFilter in eth class
  packages/web3-eth/src/web3_eth.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

unit tests
  packages/web3-eth/test/unit/rpc_method_wrappers/new_pending_transaction_filter.test.ts
  packages/web3-eth/test/unit/web3_eth_methods_no_parameters.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

integration test
  packages/web3-eth/test/integration/format.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

rpc method
  packages/web3-eth/src/rpc_method_wrappers.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

unit test
  packages/web3-eth/test/unit/rpc_method_wrappers/new_pending_transaction_filter.test.ts
  packages/web3-eth/test/unit/web3_eth_methods_no_parameters.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Fix Contract methods input param type any[] (#7340)
  packages/web3-eth-contract/src/contract.ts
  packages/web3-eth-contract/test/fixtures/erc20.ts
  packages/web3-eth-contract/test/integration/local_account/contract_overloaded_methods.test.ts
  packages/web3-eth-contract/test/unit/contract_typing.test.ts
  packages/web3-eth-contract/test/unit/type.test.ts
  packages/web3-types/src/eth_abi_types.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

updates
  docs/docs/guides/18_migration_viem/index.md
Due: prettier --write

readme update
  README.md
Due: prettier --write

docs update
  docs/docs/guides/01_getting_started/introduction.md
Due: prettier --write

Update index.md
  docs/docs/guides/17_migration_from_other_libs/index.md
Due: prettier --write

feat: add timeout option for web3 http provider
  packages/web3-providers-http/src/index.ts
  packages/web3-providers-http/src/types.ts
  packages/web3-providers-http/test/unit/implemented_methods.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix: upgrade @docusaurus/core from 3.5.2 to 3.6.3
  docs/package.json
  docs/yarn.lock
Due: prettier --write

fix: upgrade @docusaurus/preset-classic from 3.5.2 to 3.6.3
  docs/package.json
  docs/yarn.lock
Due: prettier --write

fix: upgrade @docusaurus/theme-live-codeblock from 3.5.2 to 3.6.3
  docs/package.json
  docs/yarn.lock
Due: prettier --write

fix: upgrade @cookbookdev/docsbot from 4.24.7 to 4.24.8
  docs/package.json
  docs/yarn.lock
Due: prettier --write
