Repository web3/web3.js: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

feat: make getEthereumjsTxDataFromTransaction not trim extra fields
  packages/web3-eth/src/utils/prepare_transaction_for_signing.ts
  packages/web3-eth/test/unit/prepare_transaction_for_signing.test.ts
  packages/web3/test/fixtures/tx-type-15/index.ts
  packages/web3/test/integration/web3-plugin-add-tx.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Fix Link to Contributing Guide
  README.md
  packages/web3/README.md
Due: prettier --write

fix(docs): wrong param name in walletconnect docs
  docs/docs/guides/wallet/web3_modal_guide/index.mdx
  docs/docs/guides/wallet/web3_modal_guide/react.md
Due: prettier --write

Fix Wrong Param Name in Web3Modal Docs
  docs/docs/guides/wallet/web3_modal_guide/index.mdx
  docs/docs/guides/wallet/web3_modal_guide/react.md
Due: prettier --write

Fix Typos in Docs (#7283)
  README.md
  docs/docs/guides/wallet/web3_modal_guide/index.mdx
  docs/docs/guides/wallet/web3_modal_guide/react.md
  packages/web3/README.md
Due: prettier --write

fix: lint issues
  packages/web3-eth/src/utils/prepare_transaction_for_signing.ts
  packages/web3-eth/test/unit/prepare_transaction_for_signing.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix: tests
  packages/web3/test/integration/web3-plugin-add-tx.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Revert CHANGELOG Changes from #7271 (#7274)
  CHANGELOG.md
  packages/web3/CHANGELOG.md
Due: prettier --write

Add Note About create-hardhat-web3 to Hardhat Guide (#7281)
  docs/docs/guides/hardhat_tutorial/index.md
Due: prettier --write

fix padRight validation failure on large uint (#7265)
  packages/web3-utils/CHANGELOG.md
  packages/web3-utils/src/string_manipulation.ts
  packages/web3-utils/test/fixtures/string_manipulation.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix get storage
  packages/web3/test/e2e/mainnet/get_storage_at.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update e2e_network_tests.yml
  .github/workflows/e2e_network_tests.yml
Due: none

fix GA file
  .github/workflows/e2e_network_tests.yml
Due: none

fix: revert the changes and just spread extra fields
  packages/web3-eth/src/utils/prepare_transaction_for_signing.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

chore: changelog
  CHANGELOG.md
  packages/web3-eth/CHANGELOG.md
Due: prettier --write

done
  .github/workflows/build.yml
Due: none

revert
  .github/workflows/build.yml
  .github/workflows/e2e_network_tests.yml
Due: none

Ok/6984 update e2e network tests (#7276)
  .github/workflows/e2e_network_tests.yml
  packages/web3/test/e2e/get_proof.test.ts
  packages/web3/test/e2e/mainnet/get_storage_at.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

decrease the minor version of typescript
  package.json
  packages/web3-core/package.json
  packages/web3-errors/package.json
  packages/web3-eth-abi/package.json
  packages/web3-eth-accounts/package.json
  packages/web3-eth-contract/package.json
  packages/web3-eth-ens/package.json
  packages/web3-eth-iban/package.json
  packages/web3-eth-personal/package.json
  packages/web3-eth/package.json
  packages/web3-net/package.json
  packages/web3-providers-http/package.json
  packages/web3-providers-ipc/package.json
  packages/web3-providers-ws/package.json
  packages/web3-rpc-methods/package.json
  packages/web3-rpc-providers/package.json
  packages/web3-types/package.json
  packages/web3-utils/package.json
  packages/web3-validator/package.json
  packages/web3/package.json
  tools/eslint-config-base-web3/package.json
  tools/web3-packagetemplate/package.json
  tools/web3-plugin-example/package.json
  yarn.lock
Due: prettier --write

Add infura provider
  packages/web3-rpc-providers/src/index.ts
  packages/web3-rpc-providers/src/types.ts
  packages/web3-rpc-providers/src/web3_provider_infura.ts
  packages/web3-rpc-providers/test/unit/request.test.ts
  packages/web3/test/integration/external-providers/infura-rpc.test.ts
  packages/web3/test/integration/web3RPCProviders.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix infura provider
  packages/web3-rpc-providers/src/types.ts
  packages/web3-rpc-providers/src/web3_provider_infura.ts
  packages/web3/test/integration/web3RPCProviders.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

feat: make getEthereumjsTxDataFromTransaction not trim extra fields (#7282)
  CHANGELOG.md
  packages/web3-eth/CHANGELOG.md
  packages/web3-eth/src/utils/prepare_transaction_for_signing.ts
  packages/web3-eth/test/unit/prepare_transaction_for_signing.test.ts
  packages/web3/test/fixtures/tx-type-15/index.ts
  packages/web3/test/integration/web3-plugin-add-tx.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

temp change the canary release to be published on feature branch
  .github/workflows/canary_release.yml
Due: none

revert a temp change
  .github/workflows/canary_release.yml
Due: none

decodeParametersWith update
  packages/web3-eth-abi/src/api/parameters_api.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

decodeParameters update
  packages/web3-eth-abi/src/coders/decode.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

unit test decodeParameters
  packages/web3-eth-abi/test/unit/encodeDecodeParams.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

decodeLog update
  packages/web3-eth-abi/src/api/logs_api.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

decodeLog unit test
  packages/web3-eth-abi/test/unit/api/logs_api.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

changelog update
  packages/web3-eth-abi/CHANGELOG.md
Due: prettier --write

fix infura test and skip it
  packages/web3-rpc-providers/src/web3_provider_infura.ts
  packages/web3/test/integration/web3RPCProviders.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

refactor
  packages/web3-rpc-providers/src/web3_provider_infura.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

remove unnecessary test
  packages/web3-rpc-providers/test/unit/constructor.test.ts
  packages/web3-rpc-providers/test/unit/request.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

e2e tests fixes
  packages/web3/test/e2e/fixtures/mainnet.ts
  packages/web3/test/e2e/fixtures/mainnet_block_hydrated.ts
  packages/web3/test/e2e/fixtures/sepolia.ts
  packages/web3/test/e2e/get_balance.test.ts
  packages/web3/test/e2e/get_proof.test.ts
  packages/web3/test/e2e/get_protocol_version.test.ts
  packages/web3/test/e2e/get_transaction_count.test.ts
  packages/web3/test/e2e/mainnet/get_storage_at.test.ts
  packages/web3/test/e2e/mainnet/get_transaction.test.ts
  packages/web3/test/e2e/mainnet/get_transaction_receipt.test.ts
  packages/web3/test/e2e/sepolia/get_past_logs.test.ts
  packages/web3/test/e2e/sepolia/get_transaction.test.ts
  packages/web3/test/e2e/sepolia/get_transaction_receipt.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update type and documentation for `baseFeePerGas` at `web3.eth.getFeeHistory`
  docs/docs/guides/web3_upgrade_guide/1.x/web3_eth_migration_guide.md
  packages/web3-types/src/eth_types.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update CHANGELOG.md
  docs/docs/guides/web3_upgrade_guide/1.x/web3_eth_migration_guide.md
  packages/web3-types/CHANGELOG.md
Due: prettier --write

update CHANGELOG.md
  packages/web3-types/CHANGELOG.md
Due: prettier --write

fix a type at a unit test
  packages/web3-eth/test/unit/rpc_method_wrappers/fixtures/get_fee_history.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

test e2e GA
  .github/workflows/e2e_network_tests.yml
Due: none

Path conditions:
  prettier --write: ((any of: *.js) or (any of: *.ts)) or (any of: *.{json,md})
  eslint --rulesdir ./tools/eslint-config-web3-base/rules: any of: *.ts
