Repository web3/web3.js: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

.lintstagedrc.json:

{
	"*.js": ["prettier --write"],
	"*.ts": ["prettier --write", "eslint --rulesdir ./tools/eslint-config-web3-base/rules"],
	"*.{json,md}": ["prettier --write"]
}

use isInt
  packages/web3-utils/src/converters.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update test cases
  packages/web3/test/e2e/fixtures/mainnet_block_hydrated.ts
  packages/web3/test/e2e/mainnet/get_past_logs.test.ts
  packages/web3/test/e2e/sepolia/get_past_logs.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Add test
  packages/web3-eth-contract/test/integration/contract_estimateGas_without_0x.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update past logs
  packages/web3/test/e2e/mainnet/get_past_logs.test.ts
  packages/web3/test/e2e/sepolia/get_past_logs.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix
  packages/web3-eth-accounts/src/tx/constants.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update past logs tests
  packages/web3/test/e2e/mainnet/get_past_logs.test.ts
  packages/web3/test/e2e/sepolia/get_past_logs.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix types
  packages/web3/test/e2e/mainnet/get_past_logs.test.ts
  packages/web3/test/e2e/sepolia/get_past_logs.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix and test
  packages/web3-eth-accounts/src/tx/constants.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix tests and validation
  packages/web3-utils/src/string_manipulation.ts
  packages/web3/test/e2e/mainnet/get_past_logs.test.ts
  packages/web3/test/e2e/sepolia/get_past_logs.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix
  packages/web3-eth-accounts/src/account.ts
  packages/web3-eth-accounts/src/common/utils.ts
  packages/web3-eth-accounts/src/tx/address.ts
  packages/web3-eth-accounts/src/tx/baseTransaction.ts
  packages/web3-eth-accounts/src/tx/constants.ts
  packages/web3-eth-accounts/test/unit/tx/base.test.ts
  packages/web3-eth-accounts/test/unit/tx/typedTxsAndEIP2930.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix data test
  packages/web3/test/esm_black_box/test/web3-eth/getTransaction.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

remove running on PRs
  .github/workflows/black_box_tests.yml
Due: none

Init InvalidPropertiesForTransactionTypeError
  packages/web3-errors/src/error_codes.ts
  packages/web3-errors/src/errors/transaction_errors.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Init InvalidPropertiesForTransactionTypeError tests
  packages/web3-errors/test/unit/__snapshots__/errors.test.ts.snap
  packages/web3-errors/test/unit/errors.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Refactor detectTransactionType to use InvalidPropertiesForTransactionTypeError
  packages/web3-eth-contract/src/contract.ts
  packages/web3-eth/src/utils/detect_transaction_type.ts
  packages/web3-eth/test/fixtures/prepare_transaction_for_signing.ts
  packages/web3-eth/test/unit/default_transaction_builder.test.ts
  packages/web3-eth/test/unit/detect_transction_type.test.ts
  packages/web3-types/src/error_types.ts
  packages/web3-validator/src/errors.ts
  packages/web3-validator/src/types.ts
  packages/web3-validator/src/validator.ts
  packages/web3-validator/src/web3_validator.ts
  packages/web3-validator/test/unit/error.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update CHANGELOGs
  CHANGELOG.md
  packages/web3-errors/CHANGELOG.md
  packages/web3-eth/CHANGELOG.md
  packages/web3-types/CHANGELOG.md
  packages/web3-validator/CHANGELOG.md
Due: prettier --write

Fix web-eth integration test
  packages/web3-eth/test/integration/defaults.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update sepolia and mainnet address
  packages/web3-utils/src/string_manipulation.ts
  packages/web3/test/e2e/e2e_utils.ts
  packages/web3/test/e2e/fixtures/mainnet.ts
  packages/web3/test/e2e/fixtures/sepolia.ts
  packages/web3/test/e2e/mainnet/call.test.ts
  packages/web3/test/e2e/mainnet/get_code.test.ts
  packages/web3/test/e2e/mainnet/get_past_logs.test.ts
  packages/web3/test/e2e/mainnet/get_storage_at.test.ts
  packages/web3/test/e2e/mainnet/get_transaction_receipt.test.ts
  packages/web3/test/e2e/sepolia/call.test.ts
  packages/web3/test/e2e/sepolia/get_code.test.ts
  packages/web3/test/e2e/sepolia/get_past_logs.test.ts
  packages/web3/test/e2e/sepolia/get_storage_at.test.ts
  packages/web3/test/e2e/sepolia/get_transaction_receipt.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update secrets tmpl
  templates/.secrets.json.tmpl
Due: none

remove script to run on prs
  .github/workflows/e2e_network_tests.yml
Due: none

Increase Contract package to >80% in Unit Testing coverage (#6070)
  packages/web3-eth-contract/src/contract.ts
  packages/web3-eth-contract/test/unit/contract.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

docusaurus search bar (#6097)
  docs/docusaurus.config.js
  docs/package.json
  docs/src/theme/SearchBar/DocSearch.js
  docs/src/theme/SearchBar/algolia.css
  docs/src/theme/SearchBar/index.js
  docs/src/theme/SearchBar/lunar-search.js
  docs/src/theme/SearchBar/styles.css
  docs/src/theme/SearchBar/templates.js
  docs/src/theme/SearchBar/utils.js
  docs/yarn.lock
Due: prettier --write

fix padding
  .github/workflows/e2e_network_tests.yml
  packages/web3-utils/src/string_manipulation.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

edit network scripts
  .github/workflows/e2e_network_tests.yml
Due: none

Update packages/web3/test/e2e/e2e_utils.ts
  packages/web3/test/e2e/e2e_utils.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

mode fix to constant only. fix actions config
  .github/workflows/build.yml
  .github/workflows/e2e_network_tests.yml
  packages/web3-eth-accounts/src/account.ts
  packages/web3-eth-accounts/src/common/utils.ts
  packages/web3-eth-accounts/src/tx/address.ts
  packages/web3-eth-accounts/src/tx/baseTransaction.ts
  packages/web3-eth-accounts/src/tx/constants.ts
  packages/web3-eth-accounts/test/unit/tx/base.test.ts
  packages/web3-eth-accounts/test/unit/tx/typedTxsAndEIP2930.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix esm-types build
  .github/workflows/build.yml
Due: none

test blackbox
  .github/workflows/black_box_tests.yml
  .github/workflows/build.yml
  .github/workflows/e2e_network_tests.yml
Due: none

Refactor Hardfork type to use HardforksOrdered enum
  packages/web3-types/src/eth_types.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

switch off bb tests
  .github/workflows/black_box_tests.yml
Due: none

Renamed transaction type schemas. Add validation for type 0x0 txs. Reorder validation logic for each tx type
  packages/web3-eth/src/utils/detect_transaction_type.ts
  packages/web3-eth/test/fixtures/detect_transaction_type.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update error code ERR_TX_INVALID_PROPERTIES_FOR_TYPE
  packages/web3-errors/src/error_codes.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update errors test snapshot after error code change
  packages/web3-errors/test/unit/__snapshots__/errors.test.ts.snap
Due: none

fix linter error
  packages/web3/test/e2e/e2e_utils.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

6027 Some properties not formatted for retrieved logs (#6101)
  packages/web3-utils/src/string_manipulation.ts
  packages/web3/test/e2e/e2e_utils.ts
  packages/web3/test/e2e/fixtures/mainnet.ts
  packages/web3/test/e2e/fixtures/mainnet_block_hydrated.ts
  packages/web3/test/e2e/fixtures/sepolia.ts
  packages/web3/test/e2e/mainnet/call.test.ts
  packages/web3/test/e2e/mainnet/get_code.test.ts
  packages/web3/test/e2e/mainnet/get_past_logs.test.ts
  packages/web3/test/e2e/mainnet/get_storage_at.test.ts
  packages/web3/test/e2e/mainnet/get_transaction_receipt.test.ts
  packages/web3/test/e2e/sepolia/call.test.ts
  packages/web3/test/e2e/sepolia/get_code.test.ts
  packages/web3/test/e2e/sepolia/get_past_logs.test.ts
  packages/web3/test/e2e/sepolia/get_storage_at.test.ts
  packages/web3/test/e2e/sepolia/get_transaction_receipt.test.ts
  templates/.secrets.json.tmpl
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Improve Github Actions (#6100)
  .github/workflows/black_box_tests.yml
  .github/workflows/build.yml
  .github/workflows/e2e_network_tests.yml
  package.json
  packages/web3-eth-accounts/src/account.ts
  packages/web3-eth-accounts/src/common/utils.ts
  packages/web3-eth-accounts/src/tx/address.ts
  packages/web3-eth-accounts/src/tx/baseTransaction.ts
  packages/web3-eth-accounts/src/tx/constants.ts
  packages/web3-eth-accounts/test/unit/tx/base.test.ts
  packages/web3-eth-accounts/test/unit/tx/typedTxsAndEIP2930.test.ts
  packages/web3/test/esm_black_box/test/web3-eth/getTransaction.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

`defaultTransactionTypeParser` Refactor (#6102)
  CHANGELOG.md
  packages/web3-errors/CHANGELOG.md
  packages/web3-errors/src/error_codes.ts
  packages/web3-errors/src/errors/transaction_errors.ts
  packages/web3-errors/test/unit/__snapshots__/errors.test.ts.snap
  packages/web3-errors/test/unit/errors.test.ts
  packages/web3-eth-contract/src/contract.ts
  packages/web3-eth/CHANGELOG.md
  packages/web3-eth/src/utils/detect_transaction_type.ts
  packages/web3-eth/test/fixtures/detect_transaction_type.ts
  packages/web3-eth/test/fixtures/prepare_transaction_for_signing.ts
  packages/web3-eth/test/integration/defaults.test.ts
  packages/web3-eth/test/unit/default_transaction_builder.test.ts
  packages/web3-eth/test/unit/detect_transction_type.test.ts
  packages/web3-types/CHANGELOG.md
  packages/web3-types/src/error_types.ts
  packages/web3-types/src/eth_types.ts
  packages/web3-validator/CHANGELOG.md
  packages/web3-validator/src/errors.ts
  packages/web3-validator/src/types.ts
  packages/web3-validator/src/validator.ts
  packages/web3-validator/src/web3_validator.ts
  packages/web3-validator/test/unit/error.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update test
  packages/web3-eth-contract/test/integration/contract_estimateGas_without_0x.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules
