Repository web3/web3.js: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix!: ipc provider no longer installed by default
  packages/web3-core/package.json
  packages/web3/package.json
  packages/web3/src/index.ts
  packages/web3/src/providers.exports.ts
  templates/cypress/webpack.config.js
  webpack.base.config.js
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix: cannot overwite bundlesize data
  .github/workflows/build.yml
Due: none

More changes
  packages/web3-core/src/web3_subscriptions.ts
  packages/web3-types/src/web3_base_provider.ts
  packages/web3-utils/src/socket_provider.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Replace waitForOpenConnection with waitSocketOpen
  packages/web3-providers-ipc/test/integration/reconnection.test.ts
  packages/web3-providers-ws/test/integration/basic_auth.test.ts
  packages/web3-providers-ws/test/integration/ganache_fault_tolerance.test.ts
  packages/web3-providers-ws/test/integration/reconnection.test.ts
  packages/web3-providers-ws/test/integration/web_socket_provider_integration.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

add tx tests
  packages/web3-eth-accounts/src/tx/baseTransaction.ts
  packages/web3-eth-accounts/src/tx/eip1559Transaction.ts
  packages/web3-eth-accounts/src/tx/eip2930Transaction.ts
  packages/web3-eth-accounts/src/tx/legacyTransaction.ts
  packages/web3-eth-accounts/src/tx/types.ts
  packages/web3-eth-accounts/test/fixtures/json/eip1559.json
  packages/web3-eth-accounts/test/fixtures/json/eip1559txs.json
  packages/web3-eth-accounts/test/fixtures/json/eip2930blockRLP.json
  packages/web3-eth-accounts/test/fixtures/json/eip2930txs.json
  packages/web3-eth-accounts/test/fixtures/json/rpcTx.json
  packages/web3-eth-accounts/test/fixtures/json/ttTransactionTestEip155VitaliksTests.json
  packages/web3-eth-accounts/test/fixtures/json/txs.json
  packages/web3-eth-accounts/test/unit/tx/base.test.ts
  packages/web3-eth-accounts/test/unit/tx/eip1559.test.ts
  packages/web3-eth-accounts/test/unit/tx/eip3860.test.ts
  packages/web3-eth-accounts/test/unit/tx/inputValue.test.ts
  packages/web3-eth-accounts/test/unit/tx/legacy.test.ts
  packages/web3-eth-accounts/test/unit/tx/transactionFactory.test.ts
  packages/web3-eth-accounts/test/unit/tx/typedTxsAndEIP2930.test.ts
  packages/web3-eth-accounts/test/unit/tx/types.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Add type to numberToHex formatting for _txInputFormatter
  packages/web3-core-helpers/src/formatters.js
Due: prettier --write

Add test for type formatting
  test/eth.sendTransaction.js
  test/formatters.inputTransactionFormatter.js
Due: prettier --write

Add logic to add empty accesslist if type === '0x1' when sending transaction. Add test for same
  packages/web3-core-method/src/index.js
  test/e2e.method.send.js
Due: prettier --write

Add input tx formatter test case
  test/eth.sendTransaction.js
Due: prettier --write

Add input tx formatter test case
  test/formatters.inputTransactionFormatter.js
Due: prettier --write

Update CHANGELOG
  CHANGELOG.md
Due: prettier --write

Fix failing test cases
  test/eth.sendTransaction.js
Due: prettier --write

Revert unit test
  packages/web3-providers-ws/test/unit/web_socket_provider.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update types in tests
  packages/web3-providers-ipc/test/integration/eip1193.test.ts
  packages/web3-providers-ws/test/integration/eip1193.test.ts
  packages/web3-providers-ws/test/integration/ganache_fault_tolerance.test.ts
  packages/web3-providers-ws/test/integration/reconnection.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

modify websocket test
  packages/web3-providers-ws/test/integration/web_socket_provider_integration.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Fix providerConnectInfo event
  packages/web3-providers-ipc/test/integration/eip1193.test.ts
  packages/web3-providers-ws/test/integration/eip1193.test.ts
  packages/web3-utils/src/web3_eip1193_provider.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Delete unused import
  packages/web3-providers-ipc/test/integration/eip1193.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix typo
  .github/workflows/build.yml
Due: none

conditional require
  packages/web3-core/package.json
  packages/web3-core/src/web3_request_manager.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update packages/web3-core-method/src/index.js
  packages/web3-core-method/src/index.js
Due: prettier --write

fix: legacy provider returns undefined for error instead of null (#5976)
  packages/web3-core/test/unit/web3_request_manager.test.ts
  packages/web3-types/src/web3_base_provider.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Fix bundle size cache (#5981)
  .github/workflows/build.yml
Due: none

Comitting for black box publish
  packages/web3-core/package.json
  packages/web3-errors/package.json
  packages/web3-eth-abi/package.json
  packages/web3-eth-accounts/package.json
  packages/web3-eth-contract/package.json
  packages/web3-eth-ens/package.json
  packages/web3-eth-iban/package.json
  packages/web3-eth-personal/package.json
  packages/web3-eth/package.json
  packages/web3-net/package.json
  packages/web3-providers-http/package.json
  packages/web3-providers-ipc/package.json
  packages/web3-providers-ws/package.json
  packages/web3-rpc-methods/package.json
  packages/web3-types/package.json
  packages/web3-utils/package.json
  packages/web3-validator/package.json
  packages/web3/package.json
  packages/web3/src/version.ts
  packages/web3/test/black_box/test/cjs.test.ts
  templates/.npmrc.tmpl
  tools/web3-packagetemplate/package.json
  tools/web3-plugin-example/package.json
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update CHANGELOG.md
  CHANGELOG.md
Due: prettier --write

add cjs test
  .github/workflows/black_box_tests.yml
Due: none

Revert "Comitting for black box publish"
  .github/workflows/black_box_tests.yml
  packages/web3-core/package.json
  packages/web3-errors/package.json
  packages/web3-eth-abi/package.json
  packages/web3-eth-accounts/package.json
  packages/web3-eth-contract/package.json
  packages/web3-eth-ens/package.json
  packages/web3-eth-iban/package.json
  packages/web3-eth-personal/package.json
  packages/web3-eth/package.json
  packages/web3-net/package.json
  packages/web3-providers-http/package.json
  packages/web3-providers-ipc/package.json
  packages/web3-providers-ws/package.json
  packages/web3-rpc-methods/package.json
  packages/web3-types/package.json
  packages/web3-utils/package.json
  packages/web3-validator/package.json
  packages/web3/package.json
  packages/web3/src/version.ts
  packages/web3/test/black_box/test/cjs.test.ts
  templates/.npmrc.tmpl
  tools/web3-packagetemplate/package.json
  tools/web3-plugin-example/package.json
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update cjs
  .github/workflows/black_box_tests.yml
  packages/web3/test/black_box/test/cjs.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Format `transaction.type` to hex. Add empty `accessList` is `tx.type === '0x1'` (#5979)
  CHANGELOG.md
  packages/web3-core-helpers/src/formatters.js
  packages/web3-core-method/src/index.js
  test/e2e.method.send.js
  test/eth.sendTransaction.js
  test/formatters.inputTransactionFormatter.js
Due: prettier --write

common tests
  packages/web3-eth-accounts/test/fixtures/common/geth-genesis-kiln.json
  packages/web3-eth-accounts/test/fixtures/common/invalid-spurious-dragon.json
  packages/web3-eth-accounts/test/fixtures/common/merge/testnetMerge.json
  packages/web3-eth-accounts/test/fixtures/common/merge/testnetPOS.json
  packages/web3-eth-accounts/test/fixtures/common/no-extra-data.json
  packages/web3-eth-accounts/test/fixtures/common/poa.json
  packages/web3-eth-accounts/test/fixtures/common/post-merge-hardfork.json
  packages/web3-eth-accounts/test/fixtures/common/post-merge.json
  packages/web3-eth-accounts/test/fixtures/common/shanghai-time.json
  packages/web3-eth-accounts/test/fixtures/common/testnet.json
  packages/web3-eth-accounts/test/fixtures/common/testnet2.json
  packages/web3-eth-accounts/test/fixtures/common/testnet3.json
  packages/web3-eth-accounts/test/fixtures/common/testnetValid.json
  packages/web3-eth-accounts/test/fixtures/common/withdrawals-devnet.json
  packages/web3-eth-accounts/test/unit/common/chains.test.ts
  packages/web3-eth-accounts/test/unit/common/customChains.test.ts
  packages/web3-eth-accounts/test/unit/common/eips.test.ts
  packages/web3-eth-accounts/test/unit/common/hardforks.test.ts
  packages/web3-eth-accounts/test/unit/common/mergePOS.test.ts
  packages/web3-eth-accounts/test/unit/common/params.test.ts
  packages/web3-eth-accounts/test/unit/common/timestamp.test.ts
  packages/web3-eth-accounts/test/unit/common/utils.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Revert types
  packages/web3-eth-contract/src/types.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

remove chainId, to, data & input from NonPayableCallOptions
  packages/web3-eth-contract/src/contract.ts
  packages/web3-eth-contract/src/types.ts
  packages/web3-eth-contract/src/utils.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

bug fix ens check nw
  packages/web3-eth-ens/src/config.ts
  packages/web3-eth-ens/src/ens.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

changelog
  CHANGELOG.md
  packages/web3-eth-ens/CHANGELOG.md
Due: prettier --write

Remove input from deployOptions
  packages/web3-eth-contract/src/contract.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

changelog updates
  CHANGELOG.md
  packages/web3-core/CHANGELOG.md
  packages/web3-errors/CHANGELOG.md
  packages/web3-eth-abi/CHANGELOG.md
  packages/web3-eth/CHANGELOG.md
  packages/web3-types/CHANGELOG.md
Due: prettier --write

Fix createAccessListType
  packages/web3-eth-contract/src/types.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Fix createAccessListType payable and estimateGas
  packages/web3-eth-contract/src/types.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Fix send and call
  packages/web3-eth-contract/src/types.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Modify test
  packages/web3-eth-contract/test/integration/local_account/contract_deploy.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Follow restrictions for once
  packages/web3-types/src/web3_base_provider.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Path conditions:
  prettier --write: ((any of: *.js) or (any of: *.ts)) or (any of: *.{json,md})
  eslint --rulesdir ./tools/eslint-config-web3-base/rules: any of: *.ts
