Repository web3/web3.js: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Revert unrelated change
  packages/web3-eth-accounts/src/account.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Replace substr with slice in ts files
  packages/web3-common/src/formatters.ts
  packages/web3-common/test/unit/formatters.test.ts
  packages/web3-validator/src/utils.ts
  packages/web3-validator/src/validation/address.ts
  packages/web3-validator/src/validation/bloom.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

nodejs ver for build and tests
  .github/workflows/build.yml
  CHANGELOG.md
Due: prettier --write

fixes maxPriorityFeePerGas in _handleTxPricing
  packages/web3-core-method/src/index.js
Due: prettier --write

updates changelog
  CHANGELOG.md
Due: prettier --write

adds missing async flag in _handleTxPricing
  packages/web3-core-method/src/index.js
Due: prettier --write

fixes test with new eth_feeHistory request
  test/contract.js
Due: prettier --write

using itif
  packages/web3-eth-personal/package.json
  packages/web3-eth-personal/test/integration/personal.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Add lint plugin/rule for deprecated packages
  package.json
  packages/web3-utils/test/unit/random.test.ts
  tools/eslint-config-web3-base/ts.js
  yarn.lock
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

improves maxPriorityFeePerGas in _handleTxPricing
  packages/web3-core-method/src/index.js
Due: prettier --write

fixes variable scope in _handleTxPricing
  packages/web3-core-method/src/index.js
Due: prettier --write

removing skipped tests
  packages/web3-providers-http/test/integration/request.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

:art: Update deferred promise to remove setTimeout usage
  packages/web3-common/src/deferred_promise.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

:art: Update websocket provider to avoid floating promise
  packages/web3-errors/src/error_codes.ts
  packages/web3-errors/src/errors/connection_errors.ts
  packages/web3-providers-ws/src/index.ts
  packages/web3-providers-ws/test/unit/__mocks__/isomorphic-ws.ts
  packages/web3-providers-ws/test/unit/web_socket_provider.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

:white_check_mark: Fix the failing tests
  packages/web3-eth-contract/test/integration/conract_deploy.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

:bug: Fix error tracing in base error class
  packages/web3-errors/src/web3_error_base.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

:art: Update error capturing logic
  packages/web3-errors/src/web3_error_base.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Enable the e2e tests for web3-eth-contract (#5010)
  .github/workflows/build.yml
  fixtures/sources/DeployRevert.sol
  fixtures/sources/DeployRevert.ts
  fixtures/utils.ts
  packages/web3-common/src/deferred_promise.ts
  packages/web3-errors/src/error_codes.ts
  packages/web3-errors/src/errors/connection_errors.ts
  packages/web3-errors/src/web3_error_base.ts
  packages/web3-eth-contract/package.json
  packages/web3-eth-contract/src/contract.ts
  packages/web3-eth-contract/test/integration/conract_deploy.test.ts
  packages/web3-eth/src/index.ts
  packages/web3-eth/src/rpc_method_wrappers.ts
  packages/web3-providers-ws/src/index.ts
  packages/web3-providers-ws/test/unit/__mocks__/isomorphic-ws.ts
  packages/web3-providers-ws/test/unit/web_socket_provider.test.ts
  templates/cypress/support/index.js
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Add prettier-plugin-solidity dev dependency
  package.json
  yarn.lock
Due: prettier --write

yarn format
  fixtures/sources/Basic.sol
  fixtures/sources/DeployRevert.sol
  fixtures/sources/Greeter.sol
  packages/web3-eth-contract/test/integration/conract_deploy.test.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/fixtures/send_transaction.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

add symlink
  packages/web3-providers-ws/test/shared_fixtures
Due: none

system_test_utils symlink
  packages/web3-providers-ws/test/fixtures/system_test_utils.ts
  packages/web3-providers-ws/test/shared_fixtures
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update for new changes
  packages/web3-providers-ws/test/integration/web_socket_provider_integration.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

:truck: Update the file structure for solidity contracts
  fixtures/build/Basic.json
  fixtures/build/Basic.ts
  fixtures/build/DeployRevert.json
  fixtures/build/DeployRevert.ts
  fixtures/build/Greeter.json
  fixtures/build/Greeter.ts
  fixtures/contracts/Basic.sol
  fixtures/contracts/DeployRevert.sol
  fixtures/contracts/Greeter.sol
  fixtures/sources/Basic.ts
  fixtures/sources/Greeter.ts
  package.json
  packages/web3-eth-contract/test/integration/conract_deploy.test.ts
  packages/web3-eth-contract/test/integration/contract_clone.test.ts
  packages/web3-eth-contract/test/integration/contract_events.test.ts
  packages/web3-eth-contract/test/integration/contract_methods.test.ts
  packages/web3-eth/test/integration/subscription_logs.test.ts
  scripts/compile_contracts.js
  yarn.lock
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

adding use strict
  packages/web3-eth/test/integration/jest.config.js
Due: prettier --write

symlinking system config
  packages/web3-eth-personal/test/fixtures/system_test_utils.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update package.json
  package.json
Due: prettier --write

web3-eth rpc tests
  packages/web3-eth/src/rpc_methods.ts
  packages/web3-eth/src/web3_eth.ts
  packages/web3-eth/test/integration/rpc.test.ts
  scripts/system_tests_utils.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

:bug: Fix log decoding bug
  packages/web3-eth-abi/src/api/logs_api.ts
  packages/web3-eth-abi/test/fixtures/data.ts
  packages/web3-eth-abi/test/unit/api/logs_api.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

:white_check_mark: Add integration tests for erc20 and erc721
  fixtures/build/Basic.ts
  fixtures/build/DeployRevert.ts
  fixtures/build/ERC20Token.json
  fixtures/build/ERC20Token.ts
  fixtures/build/ERC721Token.json
  fixtures/build/ERC721Token.ts
  fixtures/build/Greeter.ts
  fixtures/contracts/ERC20Token.sol
  fixtures/contracts/ERC721Token.sol
  fixtures/utils.ts
  packages/web3-eth-contract/test/integration/contract_erc20.test.ts
  packages/web3-eth-contract/test/integration/contract_erc721.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

addressinf feedback
  packages/web3-eth-personal/test/config/personal.config.ts
  packages/web3-eth-personal/test/fixtures/system_test_utils.ts
  packages/web3-eth-personal/test/integration/personal.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update comments to match data structures for fixtures
  packages/web3-eth/test/unit/rpc_methods/fixtures/call.ts
  packages/web3-eth/test/unit/rpc_methods/fixtures/estimate_gas.ts
  packages/web3-eth/test/unit/rpc_methods/fixtures/get_block_by_hash.ts
  packages/web3-eth/test/unit/rpc_methods/fixtures/get_block_by_number.ts
  packages/web3-eth/test/unit/rpc_methods/fixtures/get_block_transaction_count_by_hash.ts
  packages/web3-eth/test/unit/rpc_methods/fixtures/get_code.ts
  packages/web3-eth/test/unit/rpc_methods/fixtures/get_logs.ts
  packages/web3-eth/test/unit/rpc_methods/fixtures/get_transaction_by_block_hash_and_index.ts
  packages/web3-eth/test/unit/rpc_methods/fixtures/get_transaction_by_block_number_and_index.ts
  packages/web3-eth/test/unit/rpc_methods/fixtures/get_transaction_receipt.ts
  packages/web3-eth/test/unit/rpc_methods/fixtures/get_uncle_by_block_hash_and_index.ts
  packages/web3-eth/test/unit/rpc_methods/fixtures/get_uncle_count_by_block_hash.ts
  packages/web3-eth/test/unit/rpc_methods/fixtures/new_filter.ts
  packages/web3-eth/test/unit/rpc_methods/fixtures/send_transaction.ts
  packages/web3-eth/test/unit/rpc_methods/fixtures/sign.ts
  packages/web3-eth/test/unit/rpc_methods/fixtures/sign_transaction.ts
  packages/web3-eth/test/unit/rpc_methods/fixtures/submit_hashrate.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Remove eslint specific plugin from workspace root and add them to package and minor test change
  package.json
  packages/web3-validator/src/validation/bloom.ts
  tools/eslint-config-web3-base/package.json
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Apply changes from feedback
  .github/.htpasswd
  packages/web3-providers-ws/package.json
  packages/web3-providers-ws/src/index.ts
  packages/web3-providers-ws/test/integration/web_socket_provider_integration.test.ts
  yarn.lock
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

add all other tests
  CHANGELOG.md
  packages/web3-core/src/web3_context.ts
  packages/web3-eth/src/rpc_methods.ts
  packages/web3-eth/src/web3_eth.ts
  packages/web3-eth/test/integration/eth.test.ts
  packages/web3-eth/test/integration/rpc.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

adding signature
  packages/web3-eth-personal/test/integration/personal.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix: docs/requirements.txt to reduce vulnerabilities
  docs/requirements.txt
Due: none

updating account list and get accounts test
  packages/web3-eth-personal/test/integration/personal.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Path conditions:
  prettier --write: ((any of: *.js) or (any of: *.ts)) or (any of: *.{json,md})
  eslint --rulesdir ./tools/eslint-config-web3-base/rules: any of: *.ts
