Repository web3/web3.js: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

.lintstagedrc.json:

{
	"*.js": ["prettier --write"],
	"*.ts": ["prettier --write", "eslint --rulesdir ./tools/eslint-config-web3-base/rules"],
	"*.{json,md}": ["prettier --write"]
}

rename and format some files
  packages/web3-core/src/web3_context.ts
  packages/web3-eth/src/utils/watch_transaction_by_polling.ts
  packages/web3-eth/src/utils/watch_transaction_by_subscription.ts
  packages/web3-eth/src/utils/watch_transaction_for_confirmations.ts
  packages/web3-eth/test/integration/defaults.test.ts
  packages/web3-eth/test/unit/utils/watch_transaction_by_polling.test.ts
  packages/web3-eth/test/unit/utils/watch_transaction_for_confirmations.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

add unit test for BaseWeb3Error
  packages/web3-errors/test/unit/base-web3-error.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

corrected import statement for require
  docs/docs/guides/smart_contracts/deploying_and_interacting_with_smart_contracts.md
Due: prettier --write

Increase Web3-core e2e tests above 90% (#6629)
  codecov.yml
  packages/web3-core/src/web3_config.ts
  packages/web3-core/src/web3_request_manager.ts
  packages/web3-core/test/unit/formatters.test.ts
  packages/web3-core/test/unit/web3_batch_request.test.ts
  packages/web3-core/test/unit/web3_config.test.ts
  packages/web3-core/test/unit/web3_promi_event.test.ts
  packages/web3-core/test/unit/web3_request_manager.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

allow deploy to accept parameters even when no ABI
  packages/web3-eth-abi/src/api/parameters_api.ts
  packages/web3-eth-abi/src/coders/encode.ts
  packages/web3-eth-contract/src/contract.ts
  packages/web3-eth-contract/src/encoding.ts
  packages/web3-eth-contract/test/integration/contract_estimateGas_without_0x.test.ts
  packages/web3-eth-contract/test/unit/contract.test.ts
  packages/web3-types/src/eth_abi_types.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

allow smart contract methods to accept parameters even when no ABI was provided
  packages/web3-eth-contract/src/contract.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

add a test case
  packages/web3-eth-contract/test/unit/contract.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Errors not caught in 4.x (#6623)
  CHANGELOG.md
  packages/web3-eth-accounts/src/tx/baseTransaction.ts
  packages/web3-eth-contract/test/integration/contract_erc20.test.ts
  packages/web3-eth/CHANGELOG.md
  packages/web3-eth/src/types.ts
  packages/web3-eth/src/utils/send_tx_helper.ts
  packages/web3-eth/test/integration/web3_eth/send_signed_transaction.test.ts
  packages/web3-eth/test/unit/prepare_transaction_for_signing.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update CHANGELOG.md
  packages/web3-eth-contract/CHANGELOG.md
Due: prettier --write

added tip: discord support
  docs/docs/guides/smart_contracts/deploying_and_interacting_with_smart_contracts.md
Due: prettier --write

cover chunker and converters
  packages/web3-utils/src/chunk_response_parser.ts
  packages/web3-utils/test/fixtures/converters.ts
  packages/web3-utils/test/fixtures/hugeData.ts
  packages/web3-utils/test/unit/chunk_response_parser.test.ts
  packages/web3-utils/test/unit/converters.test.ts
  packages/web3/test/e2e_manual/data.test.ts
  packages/web3/test/e2e_manual/jest.config.js
  packages/web3/test/e2e_manual/requests.test.ts
  packages/web3/test/e2e_manual/setup.js
  packages/web3/test/e2e_manual/validation.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

add missing package
  packages/web3-core/package.json
Due: prettier --write

fix getproof error
  packages/web3/test/e2e/get_proof.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update test
  packages/web3/test/e2e/get_proof.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Release/4.3.0 (#6630)
  CHANGELOG.md
  packages/web3-core/CHANGELOG.md
  packages/web3-core/package.json
  packages/web3-eth-contract/CHANGELOG.md
  packages/web3-eth-contract/package.json
  packages/web3-eth-ens/CHANGELOG.md
  packages/web3-rpc-methods/CHANGELOG.md
  packages/web3-rpc-methods/package.json
  packages/web3-utils/CHANGELOG.md
  packages/web3-utils/package.json
  packages/web3/CHANGELOG.md
  packages/web3/package.json
  packages/web3/src/version.ts
  packages/web3/test/e2e/get_proof.test.ts
  tools/web3-plugin-example/package.json
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

use AbiError instead of Error for errors at web3-eth-abi
  packages/web3-eth-abi/src/coders/base/index.ts
  packages/web3-eth-abi/src/eip_712.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update CHANGELOG.md
  packages/web3-eth-abi/CHANGELOG.md
Due: prettier --write

add unit test
  packages/web3-eth-abi/test/unit/coders/base/invalid.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

cover chunker and converters (#6638)
  packages/web3-utils/src/chunk_response_parser.ts
  packages/web3-utils/test/fixtures/converters.ts
  packages/web3-utils/test/fixtures/hugeData.ts
  packages/web3-utils/test/unit/chunk_response_parser.test.ts
  packages/web3-utils/test/unit/converters.test.ts
  packages/web3/test/e2e_manual/data.test.ts
  packages/web3/test/e2e_manual/jest.config.js
  packages/web3/test/e2e_manual/requests.test.ts
  packages/web3/test/e2e_manual/setup.js
  packages/web3/test/e2e_manual/validation.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Use cause instead of innerError (#6631)
  docs/docs/guides/basics/sign_and_send_tx/promi_event.md
  packages/web3-core/src/web3_context.ts
  packages/web3-core/test/unit/web3_request_manager.test.ts
  packages/web3-errors/src/error_codes.ts
  packages/web3-errors/src/errors/contract_errors.ts
  packages/web3-errors/src/errors/response_errors.ts
  packages/web3-errors/src/errors/transaction_errors.ts
  packages/web3-errors/src/web3_error_base.ts
  packages/web3-errors/test/unit/__snapshots__/errors.test.ts.snap
  packages/web3-errors/test/unit/__snapshots__/rpc-errors.test.ts.snap
  packages/web3-errors/test/unit/base-web3-error.test.ts
  packages/web3-eth-abi/test/fixtures/data.ts
  packages/web3-eth-abi/test/unit/decodeContractErrorData.test.ts
  packages/web3-eth-contract/src/contract.ts
  packages/web3-eth-contract/test/integration/contract_methods.test.ts
  packages/web3-eth-contract/test/integration/contract_methods_errors.test.ts
  packages/web3-eth-contract/test/unit/contract.test.ts
  packages/web3-eth/src/utils/get_revert_reason.ts
  packages/web3-eth/src/utils/watch_transaction_by_polling.ts
  packages/web3-eth/src/utils/watch_transaction_by_subscription.ts
  packages/web3-eth/src/utils/watch_transaction_for_confirmations.ts
  packages/web3-eth/test/integration/defaults.test.ts
  packages/web3-eth/test/integration/web3_eth/send_signed_transaction.test.ts
  packages/web3-eth/test/unit/utils/watch_transaction_by_polling.test.ts
  packages/web3-eth/test/unit/utils/watch_transaction_for_confirmations.test.ts
  packages/web3-providers-ws/test/integration/ganache_fault_tolerance.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

remove html tag <br/> from comments
  packages/web3-eth-abi/src/eip_712.ts
  packages/web3-eth-accounts/src/account.ts
  packages/web3-eth-accounts/src/wallet.ts
  packages/web3-eth-contract/src/contract.ts
  packages/web3-eth-ens/src/ens.ts
  packages/web3-eth-iban/src/iban.ts
  packages/web3-eth-personal/src/personal.ts
  packages/web3-eth/src/web3_eth.ts
  packages/web3-net/src/net.ts
  packages/web3-utils/src/hash.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

doc improvement (#6615)
  packages/web3-eth-abi/src/api/errors_api.ts
  packages/web3-eth-abi/src/api/events_api.ts
  packages/web3-eth-abi/src/api/functions_api.ts
  packages/web3-eth-abi/src/api/logs_api.ts
  packages/web3-eth-abi/src/api/parameters_api.ts
  packages/web3-eth-abi/src/eip_712.ts
  packages/web3-eth-abi/src/index.ts
  packages/web3-eth-accounts/src/account.ts
  packages/web3-eth-accounts/src/wallet.ts
  packages/web3-eth-contract/src/contract.ts
  packages/web3-eth-ens/src/ens.ts
  packages/web3-eth-iban/src/iban.ts
  packages/web3-eth-personal/src/personal.ts
  packages/web3-eth/src/web3_eth.ts
  packages/web3-net/src/net.ts
  packages/web3-utils/src/converters.ts
  packages/web3-utils/src/hash.ts
  scripts/docshelper/functionsdoc.config.js
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Use AbiError instead of Error for errors at web3-eth-abi (#6641)
  packages/web3-eth-abi/CHANGELOG.md
  packages/web3-eth-abi/src/coders/base/index.ts
  packages/web3-eth-abi/src/eip_712.ts
  packages/web3-eth-abi/test/unit/coders/base/invalid.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

use static value `'infer-types'` instead of null to keep the backward compatibility
  packages/web3-eth-abi/src/api/parameters_api.ts
  packages/web3-eth-abi/src/coders/encode.ts
  packages/web3-eth-contract/src/encoding.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix updated logic in encodeParameters
  packages/web3-eth-abi/src/coders/encode.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

add a unt test for smart contract overloading
  fixtures/build/GreeterWithOverloading.json
  fixtures/build/GreeterWithOverloading.ts
  fixtures/contracts/GreeterWithOverloading.sol
  packages/web3-eth-contract/test/unit/contract.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

add a unt test for smart contract wrong method parameters
  packages/web3-eth-contract/test/unit/contract.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix linting in a test file
  packages/web3-eth-contract/test/unit/contract.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

add a test to contract
  packages/web3-eth-contract/test/unit/contract.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

address feedback
  docs/docs/guides/basics/sign_and_send_tx/local_wallet.md
  docs/docs/guides/wallet/index.md
Due: prettier --write

update pr template link
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

chore: add attribution for faster bytesToHex implementation
  packages/web3-validator/src/utils.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

handle the case when getPastEvents does not have any event to return
  packages/web3-eth-contract/src/contract.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

add unit test for contract log subscription
  packages/web3-eth-contract/package.json
  packages/web3-eth-contract/test/unit/log_subscription.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update according to review points
  packages/web3-eth-contract/CHANGELOG.md
  packages/web3-eth-contract/src/contract.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

try
  .github/workflows/build.yml
  package.json
  packages/web3-eth/package.json
  packages/web3-eth/test/benchmark/benchmark.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

again
  .github/workflows/build.yml
Due: none

again
  .github/workflows/build.yml
  packages/web3-eth/package.json
Due: prettier --write
