Repository web3/web3.js: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Remove Eth Transaction package
  packages/web3-eth-tx/package.json
Due: prettier --write

Add autofix licent eslint
  packages/web3-providers-http/test/fixtures/config.ts
  tools/eslint-config-web3-base/rules/check-header.js
  tools/eslint-config-web3-base/ts.js
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Add rule in lint:fix
  packages/web3-common/package.json
  packages/web3-core/package.json
  packages/web3-eth-abi/package.json
  packages/web3-eth-accounts/package.json
  packages/web3-eth-contract/package.json
  packages/web3-eth-ens/package.json
  packages/web3-eth-iban/package.json
  packages/web3-eth-personal/package.json
  packages/web3-eth/package.json
  packages/web3-net/package.json
  packages/web3-providers-http/package.json
  packages/web3-providers-ipc/package.json
  packages/web3-providers-ws/package.json
  packages/web3-utils/package.json
  packages/web3-validator/package.json
  packages/web3/package.json
  tools/eslint-config-web3-base/package.json
  tools/web3-packagetemplate/package.json
Due: prettier --write

Refactor rule
  tools/eslint-config-web3-base/rules/check-header.js
Due: prettier --write

Add more comments
  packages/web3-eth-personal/test/config/setup.js
  packages/web3-eth-personal/test/integration/setup.js
  packages/web3-providers-http/test/integration/request.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Fix errors lint
  packages/web3-eth-personal/test/config/setup.js
  packages/web3-eth-personal/test/integration/setup.js
Due: prettier --write

Update .eslintignore
  packages/web3-eth-personal/.eslintignore
Due: none

Update .eslintignore
  packages/web3-core/.eslintignore
  packages/web3-eth-contract/.eslintignore
  packages/web3-utils/.eslintignore
Due: none

Fix order of comments
  packages/web3-core/test/config/setup.js
  packages/web3-core/test/integration/setup.js
  packages/web3-eth-accounts/test/config/setup.js
  packages/web3-eth-accounts/test/integration/setup.js
  packages/web3-eth-contract/test/config/setup.js
  packages/web3-eth-contract/test/integration/setup.js
  packages/web3-eth-ens/test/config/setup.js
  packages/web3-eth-ens/test/integration/setup.js
  packages/web3-eth/test/config/setup.js
  packages/web3-eth/test/integration/setup.js
Due: prettier --write

Add missing license in files
  packages/web3-eth/test/fixtures/errors.ts
  packages/web3-eth/test/unit/errors.test.ts
  packages/web3-utils/test/fixtures/errors.ts
  packages/web3-utils/test/unit/errors.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

4556 - improve formatparameter (#4882)
  packages/web3-eth-abi/src/api/parameters_api.ts
  packages/web3-eth-abi/src/utils.ts
  packages/web3-eth-abi/test/fixtures/data.ts
  packages/web3-eth-abi/test/unit/api/parameters_api.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

move subscriptions to web3_eth
  packages/web3-core/src/web3_subscriptions.ts
  packages/web3-eth/src/index.ts
  packages/web3-eth/src/web3_subscriptions.ts
  packages/web3-eth/test/fixtures/example_subscription.ts
  packages/web3-eth/test/unit/web3_eth_subscription.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

test signed commit
  packages/web3-eth/test/fixtures/example_subscription.ts
  packages/web3-eth/test/unit/web3_eth_subscription.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Test commig signing
  LICENSE
Due: none

Undo previous commit
  LICENSE
Due: none

docs(other-languages): sync link for web3.php
  README.md
Due: prettier --write

Fixes calling toHexString on undefined gasPrice
  packages/web3-core-method/src/index.js
Due: prettier --write

Updates CHANELOG with fix detail
  CHANGELOG.md
Due: prettier --write

address review comments
  packages/web3-ccip-read/package.json
  packages/web3-ccip-read/src/index.js
  packages/web3-core-method/package.json
  packages/web3-core-method/src/index.js
  packages/web3-eth-contract/src/index.js
  packages/web3-eth/src/index.js
  packages/web3-http/README.md
Due: prettier --write

:sparkles: Add account provider and wallet support to web3 context
  packages/web3-core/src/web3_context.ts
  packages/web3-core/test/unit/__snapshots__/web3_context.test.ts.snap
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Ignore .npmrc
  .gitignore
Due: none

:art: Update accounts and common package to have consistent interface
  packages/web3-common/src/web3_base_wallet.ts
  packages/web3-eth-accounts/src/account.ts
  packages/web3-eth-accounts/src/types.ts
  packages/web3-eth-accounts/src/wallet.ts
  packages/web3-eth-accounts/test/unit/account.test.ts
  packages/web3-eth-accounts/test/unit/wallet.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

:sparkles: Add wallet support to web3 object
  packages/web3/src/index.ts
  packages/web3/src/web3.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

:art: Update web3-eth to use wallet support to sign transaction
  packages/web3-core/src/web3_context.ts
  packages/web3-eth/src/rpc_method_wrappers.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Documentation - Updated the ABI link
  docs/glossary.rst
Due: none

Move bug fix note to 1.7.3 in CHANGELOG
  CHANGELOG.md
Due: prettier --write

Update CHANGELOG.md
  CHANGELOG.md
Due: prettier --write

Add linkpool provider for e2e tests
  CHANGELOG.md
  scripts/js/basic_usage.js
Due: prettier --write

:test_tube: Fix the failing tests
  packages/web3-eth-accounts/src/wallet.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

:art: Update sign function to accept index or address
  packages/web3-eth/src/errors.ts
  packages/web3-eth/src/rpc_method_wrappers.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update import for ReceiptInfo
  packages/web3-eth-ens/src/ens.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Add effectiveGasPrice to transactionSchema
  packages/web3-eth/src/schemas.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update SendTransactionEvents and SendSignedTransactionEvents types
  packages/web3-eth/src/types.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

implement eth subscribe methods in api
  packages/web3-common/src/eth_execution_api.ts
  packages/web3-core/src/web3_context.ts
  packages/web3-core/src/web3_subscription_manager.ts
  packages/web3-core/src/web3_subscriptions.ts
  packages/web3-core/test/unit/web3_subscription.test.ts
  packages/web3-eth/src/index.ts
  packages/web3-eth/src/web3_eth.ts
  packages/web3-eth/src/web3_subscriptions.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Add transaction receipt formatting
  packages/web3-eth/src/errors.ts
  packages/web3-eth/src/rpc_method_wrappers.ts
  packages/web3-eth/src/utils/wait_for_transaction_receipt.ts
  packages/web3-eth/src/utils/watch_transaction_for_confirmations.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/send_signed_transaction.test.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/send_transaction.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

`web3-eth` `sendTransaction` and `sendSignedTransaction` `PromiEvent` tests #4810 (#4875)
  packages/web3-common/src/eth_execution_api.ts
  packages/web3-eth-contract/src/contract.ts
  packages/web3-eth-ens/src/ens.ts
  packages/web3-eth/src/errors.ts
  packages/web3-eth/src/rpc_method_wrappers.ts
  packages/web3-eth/src/schemas.ts
  packages/web3-eth/src/types.ts
  packages/web3-eth/src/utils/wait_for_transaction_receipt.ts
  packages/web3-eth/src/utils/watch_transaction_for_confirmations.ts
  packages/web3-eth/src/web3_eth.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/fixtures/send_signed_transaction.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/fixtures/send_transaction.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/send_signed_transaction.test.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/send_transaction.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Path conditions:
  prettier --write: ((any of: *.js) or (any of: *.ts)) or (any of: *.{json,md})
  eslint --rulesdir ./tools/eslint-config-web3-base/rules: any of: *.ts
