Repository web3/web3.js: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

.lintstagedrc.json:

{
	"*.js": ["prettier --write"],
	"*.ts": ["prettier --write", "eslint --rulesdir ./tools/eslint-config-web3-base/rules"],
	"*.{json,md}": ["prettier --write"]
}

:arrow_up: Update package dependencies (#5276)
  package.json
  packages/web3-core/package.json
  packages/web3-core/src/web3_promi_event.ts
  packages/web3-core/test/unit/formatters.test.ts
  packages/web3-core/test/unit/web3_config.test.ts
  packages/web3-errors/package.json
  packages/web3-eth-abi/package.json
  packages/web3-eth-accounts/package.json
  packages/web3-eth-contract/package.json
  packages/web3-eth-contract/src/contract.ts
  packages/web3-eth-ens/package.json
  packages/web3-eth-iban/package.json
  packages/web3-eth-personal/package.json
  packages/web3-eth/package.json
  packages/web3-eth/test/integration/defaults.test.ts
  packages/web3-net/package.json
  packages/web3-net/src/net.ts
  packages/web3-providers-http/package.json
  packages/web3-providers-ipc/package.json
  packages/web3-providers-ws/package.json
  packages/web3-types/package.json
  packages/web3-utils/package.json
  packages/web3-utils/src/hash.ts
  packages/web3-utils/src/web3_deferred_promise.ts
  packages/web3-validator/package.json
  packages/web3/package.json
  packages/web3/src/web3.ts
  tools/eslint-config-web3-base/package.json
  tools/web3-packagetemplate/package.json
  yarn.lock
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

pass returnFormat as param
  packages/web3-eth-contract/src/contract.ts
  packages/web3-eth-contract/src/encoding.ts
  packages/web3-eth-contract/src/log_subscription.ts
  packages/web3-eth-ens/src/ens.ts
  packages/web3-eth-ens/src/registry.ts
  packages/web3-eth-ens/src/resolver.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix
  packages/web3-eth-contract/src/contract.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Added missing return statement for web3-providers-http
  CHANGELOG.md
  packages/web3-providers-http/src/index.js
Due: prettier --write

make format in subscription the same
  packages/web3-core/src/web3_subscription_manager.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

make format in subscription the same
  packages/web3-core/src/web3_subscriptions.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Change subscription's response format to web3.common format function (#5266)
  packages/web3-core/src/formatters.ts
  packages/web3-core/src/web3_subscription_manager.ts
  packages/web3-core/src/web3_subscriptions.ts
  packages/web3-core/test/unit/formatters.test.ts
  packages/web3-core/test/unit/web3_subscription_manager.test.ts
  packages/web3-eth-contract/src/contract.ts
  packages/web3-eth-contract/src/encoding.ts
  packages/web3-eth-contract/src/log_subscription.ts
  packages/web3-eth-contract/src/types.ts
  packages/web3-eth-ens/src/ens.ts
  packages/web3-eth-ens/src/registry.ts
  packages/web3-eth-ens/src/resolver.ts
  packages/web3-eth/src/schemas.ts
  packages/web3-eth/src/web3_eth.ts
  packages/web3-eth/src/web3_subscriptions.ts
  packages/web3-types/src/eth_types.ts
  scripts/system_tests_utils.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

revert package.lock
  package-lock.json
Due: prettier --write

Fix test import
  packages/web3-eth/test/integration/web3_eth/getFeeHistory.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update feeHistory interface
  packages/web3-types/src/eth_types.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Add blackbox to workflow
  .github/workflows/build.yml
  .prettierignore
  package.json
  scripts/blackbox_test.sh
  scripts/js/basic_usage.js
  scripts/npm.publish.sh
  verdaccio.yml
Due: prettier --write

Fix identation in build.yml
  .github/workflows/build.yml
Due: none

Correct feeHistorySchema
  packages/web3-eth/src/schemas.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

WIP Web3Eth docs
  packages/web3-eth/src/web3_eth.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update TypeDoc links
  packages/web3-eth/src/web3_eth.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Add docs for rpc_method_wrappers
  packages/web3-eth/src/rpc_method_wrappers.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update feeHistory Schema (#5219)
  packages/web3-eth/src/schemas.ts
  packages/web3-eth/test/integration/web3_eth/getFeeHistory.test.ts
  packages/web3-types/src/eth_types.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Fix type in build.yml
  .github/workflows/build.yml
Due: none

Echo node version & run blackbox in workflows
  .github/workflows/build.yml
  scripts/blackbox_test.sh
Due: none

Change web3 version to install
  scripts/blackbox_test.sh
  scripts/npm.publish.sh
Due: none

polling for new blocks after blockHeaderTimeout + also polling in case of error. + test case has been added
  packages/web3-eth/src/utils/watch_transaction_for_confirmations.ts
  packages/web3-eth/test/integration/defaults.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

variable renaming and tiny logic enhancement * related to blockHeaderTimeout
  packages/web3-eth/src/utils/watch_transaction_for_confirmations.ts
  packages/web3-eth/test/integration/defaults.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

ignore a lint error
  packages/web3-eth/test/integration/defaults.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Reenable git config
  scripts/npm.publish.sh
Due: none

Test build.yml
  .github/workflows/build.yml
Due: none

Init repo
  .github/workflows/build.yml
  scripts/npm.publish.sh
Due: none

Test
  scripts/npm.publish.sh
Due: none

Remove build dependency tempraly to run faster
  .github/workflows/build.yml
Due: none

Update packages/web3-eth/src/rpc_method_wrappers.ts
  packages/web3-eth/src/rpc_method_wrappers.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update packages/web3-eth/src/web3_eth.ts
  packages/web3-eth/src/web3_eth.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules
