Repository web3/web3.js: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Comitting for black box publish
  packages/web3-core/package.json
  packages/web3-errors/package.json
  packages/web3-eth-abi/package.json
  packages/web3-eth-accounts/package.json
  packages/web3-eth-contract/package.json
  packages/web3-eth-ens/package.json
  packages/web3-eth-iban/package.json
  packages/web3-eth-personal/package.json
  packages/web3-eth/package.json
  packages/web3-net/package.json
  packages/web3-providers-http/package.json
  packages/web3-providers-ipc/package.json
  packages/web3-providers-ws/package.json
  packages/web3-types/package.json
  packages/web3-utils/package.json
  packages/web3-validator/package.json
  packages/web3/package.json
  packages/web3/test/black_box/.yarnrc
  packages/web3/test/black_box/jest.config.js
  packages/web3/test/black_box/package.json
  packages/web3/test/black_box/test/unit/getBlock.test.ts
  scripts/publish_verdaccio_local.sh
  templates/.npmrc.tmpl
  tools/web3-packagetemplate/package.json
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Comitting for black box publish
  scripts/publish_verdaccio_local.sh
Due: none

Add web3-eth dev dependency to black_box repo
  packages/web3/test/black_box/package.json
  packages/web3/test/black_box/yarn.lock
Due: prettier --write

WIP
  packages/web3/test/black_box/test/unit/getBlock.test.ts
  scripts/publish_verdaccio_local.sh
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Export schemas from web3-eth
  packages/web3-eth/src/index.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Comitting for black box publish
  scripts/publish_verdaccio_local.sh
  templates/.npmrc.tmpl
Due: none

Comitting for black box publish
  packages/web3/test/black_box/test/unit/getBlock.test.ts
  packages/web3/test/black_box/yarn.lock
  templates/.npmrc.tmpl
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Add web3-validator devDep
  packages/web3/test/black_box/package.json
Due: prettier --write

Add web3-validator devDep
  packages/web3/test/black_box/yarn.lock
Due: none

Rename verdaccio script
  scripts/verdaccio.sh
Due: none

Verdaccio auth token
  templates/.npmrc.tmpl
Due: none

WIP black box test
  packages/web3/test/black_box/test/unit/getBlock.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Add ERC fixtures to black box tests
  packages/web3/test/black_box/test/fixtures/contracts/ERC20Token.ts
  packages/web3/test/black_box/test/fixtures/contracts/ERC721Token.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

WIP getBlock test
  packages/web3/test/black_box/test/unit/getBlock.test.ts
  packages/web3/test/black_box/test/web3-eth/getBlock.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Init create and hashMessage tests
  packages/web3/test/black_box/test/web3-eth-accounts/create.test.ts
  packages/web3/test/black_box/test/web3-eth-accounts/hashMessage.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update test scripts for black box package
  packages/web3/test/black_box/package.json
Due: prettier --write

WIP verdaccio script
  scripts/verdaccio.sh
Due: none

WIP getBlock, erc20, and batchRequest tests
  packages/web3/test/black_box/test/batchRequest.test.ts
  packages/web3/test/black_box/test/web3-eth-contract/erc20.test.ts
  packages/web3/test/black_box/test/web3-eth/getBlock.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Add oneOf to blockSchema.transactions
  packages/web3-eth/src/schemas.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Comitting for black box publish
  templates/.npmrc.tmpl
Due: none

Add closeOpenConnection to black box tests
  packages/web3/test/black_box/test/batchRequest.test.ts
  packages/web3/test/black_box/test/web3-eth-accounts/create.test.ts
  packages/web3/test/black_box/test/web3-eth-accounts/hashMessage.test.ts
  packages/web3/test/black_box/test/web3-eth/getBlock.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

WIP erc20 test
  packages/web3/test/black_box/test/web3-eth-contract/erc20.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Init getTransaction test
  packages/web3/test/black_box/test/web3-eth/getTransaction.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Add web3-eth-contract dev dep and update scripts
  packages/web3/test/black_box/package.json
  packages/web3/test/black_box/yarn.lock
Due: prettier --write

Remove TODO from web3-eth schemas.ts
  packages/web3-eth/src/schemas.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

updating eth2 ver
  .github/workflows/build.yml
Due: none

update for e2e and unit tetss
  .github/workflows/build.yml
Due: none

Update to use getSystemTestProvider
  packages/web3/test/black_box/test/batchRequest.test.ts
  packages/web3/test/black_box/test/web3-eth-accounts/create.test.ts
  packages/web3/test/black_box/test/web3-eth-accounts/hashMessage.test.ts
  packages/web3/test/black_box/test/web3-eth-contract/erc20.test.ts
  packages/web3/test/black_box/test/web3-eth/getBlock.test.ts
  packages/web3/test/black_box/test/web3-eth/getTransaction.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

revert mosaic ver change
  .github/workflows/build.yml
Due: none

revert
  .github/workflows/build.yml
Due: none

changing set up node ver
  .github/workflows/build.yml
Due: none

updating pull request template (#5310)
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

update node set up ver
  .github/workflows/build.yml
Due: none

updating actions cache for node14
  .github/workflows/build.yml
Due: none

updating setup node ver
  .github/workflows/build.yml
Due: none

switching versions to stable
  .github/workflows/build.yml
Due: none

updating node version
  .github/workflows/build.yml
Due: none

updating e2e windows
  .github/workflows/build.yml
Due: none

WIP Github build.yml
  .github/workflows/build.yml
Due: none

Path conditions:
  prettier --write: ((any of: *.js) or (any of: *.ts)) or (any of: *.{json,md})
  eslint --rulesdir ./tools/eslint-config-web3-base/rules: any of: *.ts
