Repository web3/web3.js: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

moving cross-fetch
  packages/web3-providers-http/src/index.js
Due: prettier --write

removeing const
  packages/web3-providers-http/src/index.js
Due: prettier --write

Add module augmentation to CustomRpcMethodsPlugin
  tools/web3-plugin-example/src/custom_rpc_methods.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Remove module augmentation from CustomRpcMethodsPlugin tests
  tools/web3-plugin-example/test/unit/custom_rpc_methods.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

adding typeof
  packages/web3-providers-http/src/index.js
Due: prettier --write

Init reexport_web3_context.ts
  tools/web3-plugin-example/src/reexported_web3_context.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Refactor module augmentation for CustomRpcMethodsPlugin
  tools/web3-plugin-example/src/custom_rpc_methods.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

handled "provider started to reconnect error"
  packages/web3-providers-ws/src/index.js
Due: prettier --write

Remove no longer needed assets
  docs/docs/guides/web3_plugin_guide/assets/custom_rpc_method.png
  docs/docs/guides/web3_plugin_guide/assets/custom_rpc_method_with_parameters.png
Due: none

Finish plugin doc refactors
  docs/docs/guides/web3_plugin_guide/plugin_authors.md
  docs/docs/guides/web3_plugin_guide/plugin_users.md
Due: prettier --write

Update ContractMethodWrappersPlugin and tests
  tools/web3-plugin-example/src/contract_method_wrappers.ts
  tools/web3-plugin-example/test/unit/contract_method_wrappers.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Use dedicated InvalidNumberError in numberToHex
  packages/web3-validator/src/utils.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update toNumber to not call numberToHex
  packages/web3-utils/src/converters.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Fix unit test
  packages/web3-validator/test/unit/utils.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update test data
  packages/web3-utils/test/fixtures/converters.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

CHANGELOG.md
  CHANGELOG.md
Due: prettier --write

updating httpprovider test
  packages/web3-providers-http/src/index.js
  test/httpprovider.js
Due: prettier --write

Fix: _jsonInterfaceMethodToString export in types (#5550)
  CHANGELOG.md
  packages/web3-utils/types/index.d.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

truncate leading zeros
  packages/web3-validator/src/utils.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update docs/docs/guides/web3_migration_guide/web3_eth_ens.md
  docs/docs/guides/web3_migration_guide/web3_eth_ens.md
Due: prettier --write

Remove quotes from version tags
  docs/docs/guides/web3_migration_guide/web3_eth_ens.md
Due: prettier --write

Add missing quotes
  docs/docs/guides/web3_migration_guide/web3_eth_ens.md
Due: prettier --write

fix: enable outputs to have param names
  packages/web3-eth-abi/src/types.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix spacing and remove extra method names
  docs/docs/guides/web3_migration_guide/web3_eth_ens.md
Due: prettier --write

Manually export web3-core exports
  packages/web3-core/src/index.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update CHANGELOGs
  CHANGELOG.md
  packages/web3-core/CHANGELOG.md
Due: prettier --write

correct CHANGELOG.md files for 5201 (#5618)
  CHANGELOG.md
  packages/web3-eth-contract/CHANGELOG.md
Due: prettier --write

Nikos/5103/migration guide/breaking changes ens (#5608)
  docs/docs/guides/web3_migration_guide/web3_eth_ens.md
Due: prettier --write

use uuid for response id
  packages/web3-eth-accounts/src/account.ts
  packages/web3-utils/src/index.ts
  packages/web3-utils/src/json_rpc.ts
  packages/web3-utils/src/uuid.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix unit test that verifies response id
  packages/web3-utils/test/fixtures/json_rpc.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Fix: _jsonInterfaceMethodToString export in types (#5550) (#5623)
  CHANGELOG.md
  packages/web3-utils/types/index.d.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix: enable outputs to have param names (#5624)
  packages/web3-eth-abi/src/types.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

dont polyfill request if exists
  packages/web3-providers-http/src/index.js
Due: prettier --write

increase jest timeout for ipc at web3-eth
  packages/web3-eth-contract/test/integration/setup.js
Due: prettier --write

removing cross-fetch import
  test/httpprovider.js
Due: prettier --write

update CHANGELOG.md files for #5373
  CHANGELOG.md
  packages/web3-utils/CHANGELOG.md
Due: prettier --write

revert back jest timeout at web3-eth-contract to its old value
  packages/web3-eth-contract/test/integration/setup.js
Due: prettier --write

only create abortcontroller if it doesnt exist
  packages/web3-providers-http/src/index.js
Due: prettier --write

updating test and conditional
  packages/web3-providers-http/src/index.js
  test/httpprovider.js
Due: prettier --write

Path conditions:
  prettier --write: ((any of: *.js) or (any of: *.ts)) or (any of: *.{json,md})
  eslint --rulesdir ./tools/eslint-config-web3-base/rules: any of: *.ts
