Repository web3/web3.js: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

.lintstagedrc.json:

{
	"*.js": ["prettier --write"],
	"*.ts": ["prettier --write", "eslint --rulesdir ./tools/eslint-config-web3-base/rules"],
	"*.{json,md}": ["prettier --write"]
}

fix some typos (#6863)
  docs/docs/guides/hardhat_tutorial/index.md
  fixtures/contracts/GreeterWithOverloading.sol
  packages/web3-eth/test/integration/web3_eth/sign_transaction.test.ts
  packages/web3-utils/src/converters.ts
  packages/web3/test/integration/web3.config.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix bigint problem
  packages/web3-utils/test/fixtures/system_test_utils.ts
  packages/web3-utils/test/unit/objects.test.ts
  scripts/system_tests_utils.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

ix
  packages/web3-utils/test/unit/objects.test.ts
  scripts/system_tests_utils.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

+
  packages/web3-eth/test/unit/format_transaction.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

hot fix
  packages/web3-utils/src/objects.ts
  packages/web3-utils/test/unit/objects.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update geth-binary version
  scripts/geth_binary.sh
Due: none

increase timout for accounts test
  packages/web3-eth-accounts/test/unit/account.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix
  packages/web3-eth-accounts/test/unit/account.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

revert
  packages/web3-utils/test/fixtures/system_test_utils.ts
  packages/web3-utils/test/unit/objects.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix
  packages/web3-eth-ens/test/integration/resolver.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Fix issue 6860
  docs/docs/guides/getting_started/getting_started.md
  docs/docs/guides/wallet/index.md
  docs/docs/guides/web3_providers_guide/index.md
Due: prettier --write

interactive code moved to the top
  docs/docs/guides/getting_started/getting_started.md
  docs/docs/guides/wallet/index.md
  docs/docs/guides/web3_providers_guide/index.md
Due: prettier --write

add eventemitter3 (#6823)
  packages/web3-core/test/unit/__snapshots__/web3_context.test.ts.snap
  packages/web3-eth-contract/package.json
  packages/web3-eth-contract/test/unit/contract.test.ts
  packages/web3-providers-ipc/test/unit/check_implementation.test.ts
  packages/web3-providers-ws/test/integration/web_socket_provider_integration.test.ts
  packages/web3-providers-ws/test/unit/__mocks__/isomorphic-ws.ts
  packages/web3-providers-ws/test/unit/check_implementation.test.ts
  packages/web3-utils/CHANGELOG.md
  packages/web3-utils/package.json
  packages/web3-utils/src/chunk_response_parser.ts
  packages/web3-utils/src/event_emitter.ts
  packages/web3-utils/src/socket_provider.ts
  packages/web3-utils/src/web3_eip1193_provider.ts
  packages/web3-utils/test/unit/chunk_response_parser.test.ts
  yarn.lock
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

added packge size in minified gzipped
  docs/docs/guides/getting_started/PackageSizeComparison.jpg
  docs/docs/guides/getting_started/PackageSizeComparison.png
  docs/docs/guides/getting_started/introduction.md
Due: prettier --write

Fix unstable tests [DRAFT] (#6857)
  .github/workflows/build.yml
  packages/web3-core/test/config/jest.config.js
  packages/web3-eth-abi/test/config/jest.config.js
  packages/web3-eth-accounts/test/unit/account.test.ts
  packages/web3-eth-contract/test/config/jest.config.js
  packages/web3-eth-ens/test/integration/resolver.test.ts
  packages/web3-eth-personal/test/config/jest.config.js
  packages/web3-eth/test/unit/format_transaction.test.ts
  packages/web3-net/test/config/jest.config.js
  packages/web3-providers-ipc/test/config/jest.config.js
  packages/web3-types/test/config/jest.config.js
  packages/web3-utils/src/objects.ts
  packages/web3-utils/test/config/jest.config.js
  packages/web3-utils/test/unit/objects.test.ts
  packages/web3-validator/test/config/jest.config.js
  packages/web3-validator/test/integration/void.test.ts
  packages/web3/test/cjs_black_box/jest.config.js
  packages/web3/test/config/jest.config.js
  packages/web3/test/esm_black_box/jest.config.js
  scripts/geth.sh
  scripts/geth_binary.sh
  scripts/system_tests_utils.ts
  templates/jest.config.js.tmpl
  tools/web3-plugin-example/test/config/jest.config.js
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

lerna version bumps
  packages/web3-eth-ens/package.json
  packages/web3-eth/package.json
  packages/web3-rpc-methods/package.json
  packages/web3-types/package.json
  packages/web3-utils/package.json
  packages/web3/package.json
  packages/web3/src/version.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

changelog updates
  CHANGELOG.md
  packages/web3-eth-ens/CHANGELOG.md
  packages/web3-eth/CHANGELOG.md
  packages/web3-rpc-methods/CHANGELOG.md
  packages/web3-types/CHANGELOG.md
  packages/web3-utils/CHANGELOG.md
  packages/web3/CHANGELOG.md
Due: prettier --write

Fix blackbox test
  .github/workflows/black_box_tests.yml
  packages/web3/test/cjs_black_box/jest.config.js
  packages/web3/test/esm_black_box/jest.config.js
Due: prettier --write

revert
  .github/workflows/black_box_tests.yml
Due: none

added erc-20 EIP-1559 docs
  docs/docs/guides/smart_contracts/Erc-20_transfer_with_EIP_1559.md
Due: prettier --write

minor changes
  docs/docs/guides/smart_contracts/Erc-20_transfer_with_EIP_1559.md
Due: prettier --write

Fix blackbox test (#6873)
  packages/web3/test/cjs_black_box/jest.config.js
  packages/web3/test/esm_black_box/jest.config.js
Due: prettier --write

Release/4.6.0 (#6869)
  CHANGELOG.md
  packages/web3-eth-ens/CHANGELOG.md
  packages/web3-eth-ens/package.json
  packages/web3-eth/CHANGELOG.md
  packages/web3-eth/package.json
  packages/web3-rpc-methods/CHANGELOG.md
  packages/web3-rpc-methods/package.json
  packages/web3-types/CHANGELOG.md
  packages/web3-types/package.json
  packages/web3-utils/CHANGELOG.md
  packages/web3-utils/package.json
  packages/web3/CHANGELOG.md
  packages/web3/package.json
  packages/web3/src/version.ts
  packages/web3/test/cjs_black_box/jest.config.js
  packages/web3/test/esm_black_box/jest.config.js
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

this fix adds a youtube embeded into the docs for a better user experience
  docs/docs/guides/web3_plugin_guide/plugin_authors.md
  docs/docs/guides/web3_plugin_guide/plugin_users.md
Due: prettier --write

minor changes
  docs/docs/guides/web3_plugin_guide/plugin_authors.md
  docs/docs/guides/web3_plugin_guide/plugin_users.md
Due: prettier --write

Fix some comments
  docs/docs/guides/web3_upgrade_guide/1.x/contracts_migration_guide.md
  packages/web3-eth/test/e2e/e2e_utils.ts
  packages/web3-types/src/eth_types.ts
  packages/web3/test/e2e/e2e_utils.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Fix some comments (#6878)
  docs/docs/guides/web3_upgrade_guide/1.x/contracts_migration_guide.md
  packages/web3-eth/test/e2e/e2e_utils.ts
  packages/web3-types/src/eth_types.ts
  packages/web3/test/e2e/e2e_utils.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Fix scientific notation parsing for large numbers with BigInt
  packages/web3-utils/src/converters.ts
  packages/web3-utils/test/fixtures/converters.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix: Add videos to Plugin Section
  packages/web3-eth-contract/src/contract.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

add deploy and send types
  packages/web3-eth-contract/src/contract.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

lint fix
  packages/web3-eth-contract/src/contract.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

chore: fix typos
  CHANGELOG.md
  RELEASE.md
  docs/docs/guides/hardhat_tutorial/index.md
  docs/docs/guides/smart_contracts/infer_contract_types.md
  packages/web3-eth-accounts/src/common/common.ts
  packages/web3-eth-contract/README.md
  packages/web3-eth-contract/src/contract.ts
  packages/web3-validator/CHANGELOG.md
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

chore: fix typos
  CHANGELOG.md
Due: prettier --write

fix(docs): json syntax error
  docs/docs/guides/glossary/index.md
Due: prettier --write

fix: timout => timeout
  packages/web3-eth-contract/test/integration/contract_defaults_extra.test.ts
  packages/web3-utils/src/chunk_response_parser.ts
  packages/web3-utils/test/unit/chunk_response_parser.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update Tests for scientific notation number parsing.
  packages/web3-utils/test/fixtures/converters.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix: typo
  packages/web3/test/stress/long_ws_tests/nodejs_test/long_connection_ws.js
Due: prettier --write

fix: typo (#6889)
  packages/web3/test/stress/long_ws_tests/nodejs_test/long_connection_ws.js
Due: prettier --write

fix: timout => timeout (#6888)
  packages/web3-eth-contract/test/integration/contract_defaults_extra.test.ts
  packages/web3-utils/src/chunk_response_parser.ts
  packages/web3-utils/test/unit/chunk_response_parser.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules
