Repository web3/web3.js: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

.lintstagedrc.json:

{
	"*.js": ["prettier --write"],
	"*.ts": ["prettier --write", "eslint --rulesdir ./tools/eslint-config-web3-base/rules"],
	"*.{json,md}": ["prettier --write"]
}

Remove comment
  packages/web3/test/integration/web3.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Fix global defaults on deployed smart contracts
  packages/web3-eth-contract/src/contract.ts
  packages/web3/src/web3.ts
  packages/web3/test/integration/web3.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

createAccessList eth doc
  packages/web3-eth/src/web3_eth.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

wrapper unit test data
  packages/web3-eth/test/unit/rpc_method_wrappers/fixtures/createAccessList.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

wrapper unit test
  packages/web3-eth/test/unit/rpc_method_wrappers/createAccessList.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

prep CreateAccessList Params
  packages/web3-eth-contract/src/utils.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

createAccessList for contracts
  packages/web3-eth-contract/src/contract.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Spelling correction API Reference -> Web3 -> utils #5758
  docs/web3.rst
Due: none

Spelling Mistake Corrected
  docs/web3.rst
Due: none

at web3-eth-accounts, rename `sign` and `signTransaction` to `signWithPrivateKey` and `signTransactionWithPrivateKey`
  packages/web3-eth-accounts/src/account.ts
  packages/web3-eth-accounts/test/fixtures/account.ts
  packages/web3-eth-accounts/test/integration/account.test.ts
  packages/web3-eth-accounts/test/unit/account.test.ts
  packages/web3/src/accounts.ts
  packages/web3/src/types.ts
  scripts/system_tests_utils.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

rename `Web3Error` interface to `Web3ErrorInterface` (to avoid ambiguity with the `Web3Error` class)
  packages/web3-errors/src/web3_error_base.ts
  packages/web3-types/src/error_types.ts
  packages/web3-types/src/web3_base_provider.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix: replace ens normalize dep
  packages/web3-eth-ens/package.json
  packages/web3-eth-ens/src/utils.ts
  yarn.lock
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

chore: add ci check for bundle size
  .github/workflows/build.yml
  package.json
  packages/web3/package.json
  packages/web3/webpack.analyze.js
  yarn.lock
Due: prettier --write

fix ci errors
  .github/workflows/build.yml
Due: none

fix lint
  packages/web3-validator/.eslintignore
Due: none

Fix clone function
  packages/web3-eth-contract/src/contract.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Fix defaultAccount inheritance from class level during contract deployment
  packages/web3-eth-contract/src/contract.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update tests
  packages/web3-eth-contract/test/integration/contract_defaults.test.ts
  packages/web3-eth-contract/test/integration/contract_defaults_extra.test.ts
  packages/web3/test/integration/web3.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update test
  packages/web3-eth-contract/test/integration/contract_defaults_extra.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

remove invalid test cases
  packages/web3-eth-ens/src/utils.ts
  packages/web3-eth-ens/test/fixtures/utils.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix lint
  packages/web3-validator/.eslintignore
  packages/web3/.eslintignore
Due: none

Delete unused test
  packages/web3/test/integration/web3.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update ethereumjs libraries
  packages/web3-eth-accounts/package.json
  packages/web3-eth-accounts/src/account.ts
  packages/web3-eth/package.json
  packages/web3-eth/src/utils/prepare_transaction_for_signing.ts
  yarn.lock
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

use cache action to preserve stats across workflows
  .github/workflows/build.yml
  packages/web3/webpack.analyze.js
Due: prettier --write

adding back resolve per feedback
  test/websocket.ganache.js
Due: prettier --write

Build for 1.8.2
  dist/web3.min.js
  dist/web3.min.js.map
Due: prettier --write

add resolve into promise as per feedback
  test/websocket.ganache.js
Due: prettier --write

add server close to promise
  test/websocket.ganache.js
Due: prettier --write

update with logs
  test/websocket.ganache.js
Due: prettier --write

add to try block
  test/websocket.ganache.js
Due: prettier --write

update resolve true
  test/websocket.ganache.js
Due: prettier --write

fix syntax
  test/websocket.ganache.js
Due: prettier --write

update test
  test/websocket.ganache.js
Due: prettier --write

fix a problem
  packages/web3-eth/src/web3_eth.ts
  packages/web3/src/web3.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

revert
  packages/web3/src/types.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

move all types from `/packages/web3-eth-abi/src/types.ts` to `web3-types` package
  packages/web3-eth-abi/src/api/errors_api.ts
  packages/web3-eth-abi/src/api/events_api.ts
  packages/web3-eth-abi/src/api/functions_api.ts
  packages/web3-eth-abi/src/api/logs_api.ts
  packages/web3-eth-abi/src/api/parameters_api.ts
  packages/web3-eth-abi/src/index.ts
  packages/web3-eth-abi/src/number_map_type.ts
  packages/web3-eth-abi/src/utils.ts
  packages/web3-eth-abi/test/unit/api/parameters_api.test.ts
  packages/web3-eth-abi/test/unit/types.test.ts
  packages/web3-eth-contract/src/constants.ts
  packages/web3-eth-contract/src/contract.ts
  packages/web3-eth-contract/src/encoding.ts
  packages/web3-eth-contract/src/log_subscription.ts
  packages/web3-eth-contract/src/types.ts
  packages/web3-eth-contract/src/utils.ts
  packages/web3-types/src/eth_abi_types.ts
  packages/web3-types/src/eth_types.ts
  packages/web3-types/src/index.ts
  packages/web3/src/types.ts
  packages/web3/src/web3.ts
  tools/web3-plugin-example/src/contract_method_wrappers.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules
