Repository web3/web3.js: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

revert a suggestion to be done in another PR
  packages/web3-providers-ipc/src/index.ts
  packages/web3-providers-ws/src/index.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

test
  packages/web3-eth/test/integration/nonce.test.ts
  packages/web3-eth/test/integration/subscription_new_pending_tx.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

modify tests for reverted changes
  packages/web3-providers-ipc/test/unit/ipc_provider.test.ts
  packages/web3-providers-ws/test/unit/web_socket_provider.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

tiny edits at providers guides
  docs/docs/guides/web3_migration_guide/providers_migration_guide.md
  docs/docs/guides/web3_providers_guide/index.md
Due: prettier --write

test
  packages/web3-eth/test/integration/subscription_new_pending_tx.test.ts
  packages/web3-eth/test/integration/watch_transaction.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

try 45s
  packages/web3-eth/test/integration/setup.js
Due: prettier --write

test
  packages/web3-eth/test/integration/subscription_heads.test.ts
  packages/web3-eth/test/integration/subscription_new_pending_tx.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

debuggin
  packages/web3/test/integration/external-providers/ganache.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

dependencies updates (#5885)
  CHANGELOG.md
  package-lock.json
  package.json
  packages/web3-core/package.json
  packages/web3-eth-contract/package.json
Due: prettier --write

Add documentation for catching provider events (#5886)
  docs/docs/guides/web3_migration_guide/providers_migration_guide.md
  docs/docs/guides/web3_plugin_guide/index.md
  docs/docs/guides/web3_providers_guide/events_listening.md
  docs/docs/guides/web3_providers_guide/index.md
  docs/docs/guides/web3_tree_shaking_support_guide/index.md
  packages/web3-providers-ipc/src/index.ts
  packages/web3-providers-ws/src/index.ts
  packages/web3-utils/src/socket_provider.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

pass `_socketOptions` from IpcProvider constructor to the underlying connection + rename `_providerOptions` to `_socketOptions`
  packages/web3-providers-ipc/src/index.ts
  packages/web3-providers-ws/src/index.ts
  packages/web3-utils/src/socket_provider.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

move a comment to its correct position at `SocketProvider`
  packages/web3-providers-ipc/src/index.ts
  packages/web3-utils/src/socket_provider.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

expose the getter of `SocketConnection` from `SocketProvider`.
  packages/web3-providers-ipc/test/unit/ipc_provider.test.ts
  packages/web3-providers-ws/test/unit/web_socket_provider.test.ts
  packages/web3-utils/src/socket_provider.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update CHANGELOG.md files
  packages/web3-providers-ipc/CHANGELOG.md
  packages/web3-providers-ws/CHANGELOG.md
  packages/web3-utils/CHANGELOG.md
Due: prettier --write

fix: update ethereumjs deps
  packages/web3-eth-accounts/package.json
  packages/web3-eth/package.json
  yarn.lock
Due: prettier --write

github conf for stale issues and PRs
  .github/ISSUE_TEMPLATE/something_else.yml
  .github/workflows/stale.yml
Due: none

add extremely simple unit test for SocketProvider
  packages/web3-utils/test/unit/socket_provider.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

removed unused import at a test
  packages/web3-utils/test/unit/socket_provider.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Nikos/5835/websocket provider keeps important error message back (#5884)
  CHANGELOG.md
  packages/web3-core-helpers/src/errors.js
  packages/web3-providers-ws/src/index.js
  test/websocket.ganache.js
Due: prettier --write

Init docs
  packages/web3-eth-ens/src/config.ts
  packages/web3-eth-ens/src/ens.ts
  packages/web3-eth-ens/src/index.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

use `MaxAttemptsReachedOnReconnectingError` similar to v1.x
  docs/docs/guides/web3_migration_guide/providers_migration_guide.md
  docs/docs/guides/web3_providers_guide/index.md
  packages/web3-errors/src/errors/connection_errors.ts
  packages/web3-errors/test/unit/__snapshots__/errors.test.ts.snap
  packages/web3-errors/test/unit/errors.test.ts
  packages/web3-providers-ipc/test/integration/reconnection.test.ts
  packages/web3-providers-ws/test/integration/reconnection.test.ts
  packages/web3-utils/src/socket_provider.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

modify CHANGELOG.md
  packages/web3-errors/CHANGELOG.md
Due: prettier --write

fix
  packages/web3-eth/test/integration/subscription_new_pending_tx.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

test
  packages/web3-eth/test/integration/defaults.transactionBlockTimeout.test.ts
  packages/web3-eth/test/integration/helper.ts
  packages/web3-eth/test/integration/setup.js
  packages/web3-eth/test/integration/subscription_new_pending_tx.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

add guide for `IpcProvider`
  docs/docs/guides/web3_migration_guide/providers_migration_guide.md
  docs/docs/guides/web3_providers_guide/index.md
Due: prettier --write

npm i and changelog update
  CHANGELOG.md
Due: prettier --write

Build commit for 1.9.0-rc.0
  dist/web3.min.js
  dist/web3.min.js.map
Due: prettier --write

fix
  packages/web3-eth/test/integration/watch_transaction.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

increase gas
  packages/web3-eth/test/integration/defaults.transactionBlockTimeout.test.ts
  packages/web3-eth/test/integration/watch_transaction.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

More docs
  packages/web3-eth-ens/src/ens.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Fixes
  packages/web3-eth-ens/src/ens.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix
  packages/web3-eth/test/integration/subscription_heads.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

add migration guid for Iban
  docs/docs/guides/web3_migration_guide/net_migration_guide.md
  docs/docs/guides/web3_migration_guide/web3_eth_iban.md
  docs/docs/guides/web3_migration_guide/web3_utils_migration_guide.md
  packages/web3-eth-iban/src/iban.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

rearrange sidebar_position for iban guide
  docs/docs/guides/web3_migration_guide/personal_migration_guide.md
  docs/docs/guides/web3_migration_guide/subscribe_migration_guide.md
  docs/docs/guides/web3_migration_guide/web3_eth_iban.md
Due: prettier --write

increase gas
  packages/web3-eth/test/integration/defaults.transactionBlockTimeout.test.ts
  packages/web3-eth/test/integration/subscription_heads.test.ts
  packages/web3-eth/test/integration/watch_transaction.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix
  packages/web3-eth/test/integration/defaults.transactionBlockTimeout.test.ts
  packages/web3-eth/test/integration/setup.js
  packages/web3-eth/test/integration/subscription_heads.test.ts
  packages/web3-eth/test/integration/watch_transaction.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix
  packages/web3-eth-contract/test/integration/contract_deploy.test.ts
  packages/web3-eth/test/integration/setup.js
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

A fix at `IpcProvider` and few changes at `SocketProvider` and its descendants (#5891)
  packages/web3-providers-ipc/CHANGELOG.md
  packages/web3-providers-ipc/src/index.ts
  packages/web3-providers-ipc/test/unit/ipc_provider.test.ts
  packages/web3-providers-ws/CHANGELOG.md
  packages/web3-providers-ws/src/index.ts
  packages/web3-providers-ws/test/unit/web_socket_provider.test.ts
  packages/web3-utils/CHANGELOG.md
  packages/web3-utils/src/socket_provider.ts
  packages/web3-utils/test/unit/socket_provider.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fixes
  packages/web3-eth/test/integration/defaults.transactionBlockTimeout.test.ts
  packages/web3-eth/test/integration/subscription_heads.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Path conditions:
  prettier --write: ((any of: *.js) or (any of: *.ts)) or (any of: *.{json,md})
  eslint --rulesdir ./tools/eslint-config-web3-base/rules: any of: *.ts
