Repository web3/web3.js: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

.lintstagedrc.json:

{
	"*.js": ["prettier --write"],
	"*.ts": ["prettier --write", "eslint --rulesdir ./tools/eslint-config-web3-base/rules"],
	"*.{json,md}": ["prettier --write"]
}

Finish writing syncChangelogs method
  scripts/changelog/changelog.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Replace rootChangelogPath with TestChangelogConfig.rootChangelogPath
  scripts/changelog/test/unit/changelog.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Ran yarn changelog sync
  CHANGELOG.md
Due: prettier --write

Revert non-related changes to package.json and yarn.lock
  package.json
  yarn.lock
Due: prettier --write

Remove Unused '@ts-expect-error' directive
  packages/web3-eth/src/web3_eth.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Break out syncChangelogs into getSyncedGroupedUnreleasedEntries and flattenSyncedUnreleasedEntries
  scripts/changelog/changelog.ts
  scripts/changelog/test/fixtures/mock_root_parsed_changelog.ts
  scripts/changelog/test/unit/changelog.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

constant mining period to 1 sec for ipc tests
  scripts/geth_binary.sh
Due: none

Remove setTimeouts from helper functions
  packages/web3-eth/test/integration/helper.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

move helpers
  packages/web3-providers-ipc/test/fixtures/helpers.ts
  packages/web3-providers-ipc/test/integration/reconnection.test.ts
  packages/web3-providers-ws/test/fixtures/helpers.ts
  packages/web3-providers-ws/test/integration/basic_auth.test.ts
  packages/web3-providers-ws/test/integration/reconnection.test.ts
  packages/web3-providers-ws/test/integration/web_socket_provider_integration.test.ts
  scripts/system_tests_utils.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update disconnection test
  test/websocket.ganache.js
Due: prettier --write

update disconnect
  test/websocket.ganache.js
Due: prettier --write

add console
  test/websocket.ganache.js
Due: prettier --write

add end event
  test/websocket.ganache.js
Due: prettier --write

Make providers WS and IPC reliable (#5763)
  packages/web3-providers-ipc/package.json
  packages/web3-providers-ipc/src/index.ts
  packages/web3-providers-ipc/test/fixtures/helpers.ts
  packages/web3-providers-ipc/test/integration/reconnection.test.ts
  packages/web3-providers-ipc/test/unit/ipc_provider.test.ts
  packages/web3-providers-ws/src/index.ts
  packages/web3-providers-ws/src/types.ts
  packages/web3-providers-ws/test/fixtures/helpers.ts
  packages/web3-providers-ws/test/fixtures/proxy.ts
  packages/web3-providers-ws/test/integration/basic_auth.test.ts
  packages/web3-providers-ws/test/integration/reconnection.test.ts
  packages/web3-providers-ws/test/integration/web_socket_provider_integration.test.ts
  packages/web3-providers-ws/test/unit/jest.config.js
  packages/web3-utils/src/socket_provider.ts
  scripts/geth.sh
  scripts/system_tests_utils.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

testing
  test/websocket.ganache.js
Due: prettier --write

updating tests
  test/websocket.ganache.js
Due: prettier --write

update
  test/websocket.ganache.js
Due: prettier --write

Break changelog.ts into seperate files and init tests for newly exported functions
  package.json
  scripts/changelog/src/helpers.ts
  scripts/changelog/src/index.ts
  scripts/changelog/src/sync.ts
  scripts/changelog/src/types.ts
  scripts/changelog/test/unit/helpers.test.ts
  scripts/changelog/test/unit/sync.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

test
  test/websocket.ganache.js
Due: prettier --write

updating ganache failing test
  test/websocket.ganache.js
Due: prettier --write

update pedning test
  test/websocket.ganache.js
Due: prettier --write

add reject
  test/websocket.ganache.js
Due: prettier --write

update time
  test/websocket.ganache.js
Due: prettier --write

Init addChangelogEntry and tests
  scripts/changelog/src/add_changelog_entry.ts
  scripts/changelog/test/fixtures/mock_packages_directory/mock-package-1/expected_modified_CHANGELOG.json
  scripts/changelog/test/fixtures/mock_packages_directory/mock-package-1/expected_modified_CHANGELOG_2.json
  scripts/changelog/test/unit/add_changelog_entry.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Name refactoring
  package.json
  scripts/changelog/src/helpers.ts
  scripts/changelog/src/sync.ts
  scripts/changelog/src/types.ts
  scripts/changelog/test/fixtures/mock_packages_directory/mock-package-1/CHANGELOG.md
  scripts/changelog/test/fixtures/mock_packages_directory/mock-package-2/CHANGELOG.md
  scripts/changelog/test/fixtures/mock_packages_directory/mock-package-3/CHANGELOG.md
  scripts/changelog/test/fixtures/package_parsed_changelog.ts
  scripts/changelog/test/fixtures/root_parsed_changelog.ts
  scripts/changelog/test/fixtures/root_unsynced_CHANGELOG.tmpl
  scripts/changelog/test/unit/helpers.test.ts
  scripts/changelog/test/unit/sync.test.ts
  scripts/changelog/test/unit/test_changelog_config_for_add_changelog_entry_tests.json
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update node minimum version to 14 (#5765)
  package.json
  packages/web3-core/package.json
  packages/web3-errors/package.json
  packages/web3-eth-abi/package.json
  packages/web3-eth-accounts/package.json
  packages/web3-eth-contract/package.json
  packages/web3-eth-ens/package.json
  packages/web3-eth-iban/package.json
  packages/web3-eth-personal/package.json
  packages/web3-eth/package.json
  packages/web3-net/package.json
  packages/web3-providers-http/package.json
  packages/web3-providers-ipc/package.json
  packages/web3-providers-ws/package.json
  packages/web3-rpc-methods/package.json
  packages/web3-types/package.json
  packages/web3-utils/package.json
  packages/web3-validator/package.json
  packages/web3/package.json
  tools/web3-packagetemplate/package.json
  tools/web3-plugin-example/package.json
Due: prettier --write

move resolve
  test/websocket.ganache.js
Due: prettier --write

Fix bug when CHANGELOG_CONFIG path not provided
  scripts/changelog/src/add_changelog_entry.ts
  scripts/changelog/src/sync.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

closing server
  test/websocket.ganache.js
Due: prettier --write

accessList correct schema
  packages/web3-eth/src/schemas.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

eth_createAccessList json rpc request
  packages/web3-rpc-methods/src/eth_rpc_methods.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

eth_createAccessList unit test
  packages/web3-rpc-methods/test/unit/eth_rpc_methods/createAccessList.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

unit test data
  packages/web3-rpc-methods/test/unit/eth_rpc_methods/fixtures/createAccessList.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

accesslist wrapper
  packages/web3-eth/src/rpc_method_wrappers.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

TransactionForAccessList
  packages/web3-types/src/eth_types.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

createAccessList in eth package
  packages/web3-eth/src/web3_eth.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

file not used yet
  packages/web3-rpc-methods/src/types.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

export eth and providers sub-packages inside `eth` and `providers` namespaces
  packages/web3/src/eth.exports.ts
  packages/web3/src/index.ts
  packages/web3/src/providers.exports.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Enable contract instances to listen on global config event changes
  packages/web3-eth-contract/src/contract.ts
  packages/web3/src/web3.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Add tests
  packages/web3/test/integration/web3.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules
