Repository web3/web3.js: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

.lintstagedrc.json:

{
	"*.js": ["prettier --write"],
	"*.ts": ["prettier --write", "eslint --rulesdir ./tools/eslint-config-web3-base/rules"],
	"*.{json,md}": ["prettier --write"]
}

increase integration test timeout at web3 package and configure `in3` to be faster
  packages/web3/test/integration/external-providers.test.ts
  packages/web3/test/integration/setup.js
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

updating webpack config
  webpack.config.js
Due: prettier --write

add a test for using `hardhat` provider
  packages/web3-core/src/utils.ts
  packages/web3/hardhat.config.js
  packages/web3/package.json
  packages/web3/test/integration/external-providers.test.ts
  yarn.lock
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

updating to webpack 5
  package.json
Due: prettier --write

fixing scripts
  package.json
Due: prettier --write

removing unused deps
  package.json
Due: prettier --write

add `hardhat.config.js` to `.eslintignore`
  packages/web3/.eslintignore
Due: none

skip `in3` test if it takes too long
  packages/web3/test/integration/external-providers.test.ts
  packages/web3/test/integration/setup.js
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

add type tests
  packages/web3-eth-abi/src/types.ts
  packages/web3-eth-abi/test/unit/types.test.ts
  packages/web3-eth-ens/test/unit/registry.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

simplify types
  packages/web3-eth-abi/src/types.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

improve how legacy providers, such as hardhat, is used
  packages/web3-core/src/utils.ts
  packages/web3-core/src/web3_request_manager.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

revert registry unit test
  packages/web3-eth-ens/test/unit/registry.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

implement `isPromise` that works in the browsers
  CHANGELOG.md
  packages/web3-core/src/web3_request_manager.ts
  packages/web3-utils/CHANGELOG.md
  packages/web3-utils/src/promise_helpers.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

test firefox
  .github/workflows/build.yml
Due: none

comment update at Web3RequestManager
  packages/web3-core/src/web3_request_manager.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

comment firefox tests for investigation l8ter
  .github/workflows/build.yml
Due: none

contract erros
  packages/web3-eth-contract/src/contract.ts
  packages/web3-eth-contract/test/integration/contract_methods_errors.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix- isHex and isHexStrict and modify test cases
  packages/web3-validator/src/validation/string.ts
  packages/web3-validator/test/fixtures/validation.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

accept `0x` for bytes
  packages/web3-validator/src/validation/bytes.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

revert firefox test
  .github/workflows/build.yml
Due: none

updating packages
  packages/web3-eth-accounts/package.json
  packages/web3-eth-accounts/src/index.js
Due: prettier --write

updating libraries
  package.json
  packages/web3-eth-accounts/package.json
  webpack.config.js
Due: prettier --write

updating to add webpack 5 info
  CHANGELOG.md
  README.md
  packages/web3-eth-accounts/src/index.js
Due: prettier --write

adding webpack 5 changes
  CHANGELOG.md
Due: prettier --write

firefox test
  .github/workflows/build.yml
Due: none

condition for firefox
  .github/workflows/build.yml
Due: none

Update use of "side effect" for Web3Context augmentation
  docs/docs/guides/web3_plugin_guide/assets/web3_context_augmentation.png
  docs/docs/guides/web3_plugin_guide/plugin_authors.md
Due: prettier --write

Replace usage of SimplePlugin with CustomRpcMethods
  docs/docs/guides/web3_plugin_guide/plugin_authors.md
Due: prettier --write

update .gitignore to include .in3 local folder
  .gitignore
Due: none

Update docs/docs/guides/web3_plugin_guide/plugin_authors.md
  docs/docs/guides/web3_plugin_guide/plugin_authors.md
Due: prettier --write

Fix errorsAbis in contract
  packages/web3-eth-contract/src/contract.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Check if request is reverted
  packages/web3-core/src/web3_request_manager.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Check if request is reverted
  packages/web3-eth-contract/test/integration/contract_methods_errors.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Pass config defaultAccount to contract options (#5642)
  packages/web3-eth-contract/src/contract.ts
  packages/web3-eth/test/integration/defaults.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Rename contract
  fixtures/build/ErrorsContract.json
  fixtures/build/ErrorsContract.ts
  fixtures/build/VendingMachine.json
  fixtures/build/VendingMachine.ts
  fixtures/contracts/ErrorsContract.sol
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

modify isHexStrict and isHex to accept '' and '0x'
  packages/web3-validator/src/validation/bytes.ts
  packages/web3-validator/src/validation/string.ts
  packages/web3-validator/test/fixtures/validation.ts
  packages/web3-validator/test/unit/utils.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

allow '' to pass hex check
  packages/web3-validator/src/validation/string.ts
  packages/web3-validator/test/fixtures/validation.ts
  packages/web3-validator/test/unit/utils.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Fix unit test
  packages/web3-eth-contract/test/unit/contract.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update variable names in test
  packages/web3-eth-contract/test/integration/contract_methods_errors.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Fix expect in integraton test
  packages/web3-eth-contract/test/integration/contract_methods.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules
