Repository web3/web3.js: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fixed broken links
  docs/docs/guides/getting_started/introduction.md
  docs/docs/guides/glossary/_category_.yml
  docs/docs/guides/glossary/index.md
  docs/docs/guides/migration_from_other_libs/ethers.md
  docs/docs/guides/smart_contracts/index.md
  docs/docs/guides/web3_eth/methods.md
Due: prettier --write

fixed broken links x2
  docs/docs/guides/smart_contracts/index.md
Due: prettier --write

fix small bugs. increase coverage
  packages/web3-eth-abi/src/utils.ts
  packages/web3-eth-abi/test/fixtures/data.ts
  packages/web3-eth-abi/test/unit/utils.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix typo
  packages/web3-validator/README.md
Due: prettier --write

fix typo
  packages/web3/test/integration/contract.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix typo
  packages/web3-eth-accounts/test/unit/tx/legacy.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix typos
  RELEASE.md
Due: prettier --write

fix typo
  docs/docs/guides/basics/eth.md
Due: prettier --write

fix typos
  docs/docs/guides/wallet/index.md
Due: prettier --write

fix typo
  docs/docs/guides/web3_plugin_guide/plugin_authors.md
Due: prettier --write

update CHAGELOG.md and add code comments
  packages/web3-eth-accounts/CHANGELOG.md
  packages/web3-eth-accounts/src/tx/baseTransaction.ts
  packages/web3-eth/test/unit/prepare_transaction_for_signing.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Increase Unit test coverage for web3-eth above 90% (#6663)
  packages/web3-eth-accounts/CHANGELOG.md
  packages/web3-eth-accounts/src/tx/baseTransaction.ts
  packages/web3-eth/src/utils/prepare_transaction_for_signing.ts
  packages/web3-eth/test/unit/prepare_transaction_for_signing.test.ts
  packages/web3-eth/test/unit/utils/wait_for_transaction_receipt.test.ts
  packages/web3-eth/test/unit/utils/watch_transaction_by_subscription.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

remove a comment that was left be mistake
  packages/web3-utils/test/integration/event_emitter.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

shorten name to have it only in 1 line
  docs/docs/guides/migration_from_other_libs/_category_.yml
Due: none

add info about personal api is deprecated
  docs/docs/guides/wallet/index.md
  docs/docs/guides/wallet/node_wallet.md
Due: prettier --write

renamed web3eth without dash to be consistent
  docs/docs/guides/web3_eth/_category_.yml
Due: none

added parenthesis
  docs/docs/guides/wallet/index.md
Due: prettier --write

added link to web3js/plugins
  docs/docs/guides/web3_plugin_guide/index.md
Due: prettier --write

add tests for Uint8Array in jsdom
  packages/web3-eth-accounts/test/unit/account_dom.test.ts
  packages/web3-utils/src/uint8array.ts
  packages/web3-utils/test/unit/converters_dom.test.ts
  packages/web3-utils/test/unit/hash_dom.test.ts
  yarn.lock
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update CHANGELOG.md files
  CHANGELOG.md
  packages/web3-eth-abi/CHANGELOG.md
  packages/web3-eth-accounts/CHANGELOG.md
  packages/web3-utils/CHANGELOG.md
  packages/web3-validator/CHANGELOG.md
Due: prettier --write

remove defined in config
  package.json
  scripts/docshelper/base.config.js
  yarn.lock
Due: prettier --write

move `ensureIfUint8Array` to `web3-validator`
  packages/web3-utils/src/converters.ts
  packages/web3-utils/src/hash.ts
  packages/web3-utils/src/uint8array.ts
  packages/web3-validator/src/utils.ts
  packages/web3-validator/src/validation/address.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

add section at migration guide for toHex
  docs/docs/guides/web3_upgrade_guide/1.x/web3_utils_migration_guide.md
Due: prettier --write

fix: upgrade docusaurus-lunr-search from 3.3.0 to 3.3.1 (#6677)
  docs/package.json
  docs/yarn.lock
Due: prettier --write

regenerate yarn.lock
  docs/yarn.lock
Due: none

update docusaurus packages versions to be the same for all
  docs/package.json
  docs/yarn.lock
Due: prettier --write

ens package tutorial
  docs/docs/guides/ens/index.md
Due: prettier --write

Fix default contractor and method input parameter
  packages/web3-types/src/eth_abi_types.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

remove defined in config (#6681)
  package.json
  scripts/docshelper/base.config.js
  yarn.lock
Due: prettier --write

deleted glossary tab since it was added to the guides section
  docs/docs/glossary/json_interface.md
  docs/docusaurus.config.js
  docs/sidebars.js
Due: prettier --write

use the ethereum-blackhole (the 0x address) for the from address for tests on mainnet and testnet
  .github/workflows/e2e_network_tests.yml
Due: none

Revert "deleted glossary tab since it was added to the guides section"
  docs/docs/glossary/json_interface.md
  docs/docusaurus.config.js
  docs/sidebars.js
Due: prettier --write

changed all double-quotes to single-quotes
  docs/docs/guides/events_subscriptions/custom_subscriptions.md
  docs/docs/guides/getting_started/getting_started.md
  docs/docs/guides/getting_started/metamask.md
  docs/docs/guides/migration_from_other_libs/ethers.md
  docs/docs/guides/smart_contracts/index.md
  docs/docs/guides/smart_contracts/infer_contract_types.md
  docs/docs/guides/wallet/index.md
  docs/docs/guides/wallet/local_wallet.md
  docs/docs/guides/wallet/promi_event.md
  docs/docs/guides/wallet/signing.md
  docs/docs/guides/wallet/transactions.md
  docs/docs/guides/web3_config/index.md
  docs/docs/guides/web3_eth/eth.md
  docs/docs/guides/web3_plugin_guide/plugin_authors.md
  docs/docs/guides/web3_plugin_guide/plugin_users.md
  docs/docs/guides/web3_providers_guide/events_listening.md
  docs/docs/guides/web3_providers_guide/http.md
  docs/docs/guides/web3_providers_guide/index.md
  docs/docs/guides/web3_providers_guide/ipc.md
  docs/docs/guides/web3_providers_guide/truffle.md
  docs/docs/guides/web3_providers_guide/websocket.md
Due: prettier --write

Decode ABI method added
  packages/web3-eth-contract/src/contract.ts
  packages/web3-eth-contract/src/types.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

temp allow black box tests to always run
  .github/workflows/black_box_tests.yml
Due: none

restore running condition for `Black Box Tests`
  .github/workflows/black_box_tests.yml
Due: none

fix a typo inside `Black Box Tests` workflow
  .github/workflows/black_box_tests.yml
Due: none

add section at migration guide for toHex (#6683)
  docs/docs/guides/web3_upgrade_guide/1.x/web3_utils_migration_guide.md
Due: prettier --write

[Snyk] Upgrade @docusaurus packages from 3.0.0 to 3.0.1 (#6670)
  docs/package.json
  docs/yarn.lock
Due: prettier --write

Path conditions:
  prettier --write: ((any of: *.js) or (any of: *.ts)) or (any of: *.{json,md})
  eslint --rulesdir ./tools/eslint-config-web3-base/rules: any of: *.ts
