Repository web3/web3.js: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Init CODEOWNERS File (#5386)
  .github/CODEOWNERS
Due: none

Update packages/web3-eth-ens/CHANGELOG.md
  packages/web3-eth-ens/CHANGELOG.md
Due: prettier --write

Update geth script
  scripts/geth.sh
Due: none

Fix geth script
  scripts/geth.sh
Due: none

Reset to initial chainId
  packages/web3-net/test/integration/web3_net.test.ts
  scripts/ganache.sh
  scripts/geth.sh
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Remove uneeded space
  scripts/geth.sh
Due: none

Ganace chainId
  scripts/ganache.sh
Due: none

Decoding EIP-838 error codes (#5434)
  CHANGELOG.md
  packages/web3-core/CHANGELOG.md
  packages/web3-core/src/web3_request_manager.ts
  packages/web3-errors/CHANGELOG.md
  packages/web3-errors/src/error_codes.ts
  packages/web3-errors/src/errors/contract_errors.ts
  packages/web3-errors/src/errors/response_errors.ts
  packages/web3-errors/src/web3_error_base.ts
  packages/web3-errors/test/unit/__snapshots__/errors.test.ts.snap
  packages/web3-eth-abi/CHANGELOG.md
  packages/web3-eth-abi/src/api/errors_api.ts
  packages/web3-eth-abi/src/index.ts
  packages/web3-eth-abi/src/types.ts
  packages/web3-eth-abi/src/utils.ts
  packages/web3-eth-contract/CHANGELOG.md
  packages/web3-eth-contract/src/contract.ts
  packages/web3-eth-contract/src/encoding.ts
  packages/web3-eth-contract/src/errors.ts
  packages/web3-eth-contract/src/utils.ts
  packages/web3-eth-contract/test/integration/contract_methods_errors.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix CHANGELOG
  CHANGELOG.md
Due: prettier --write

fix an issue in the usage of 2 error codes + and switch the location and change the names of 2 error classes
  packages/web3-errors/src/error_codes.ts
  packages/web3-errors/src/errors/signature_errors.ts
  packages/web3-errors/src/errors/transaction_errors.ts
  packages/web3-eth-accounts/src/account.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Update index.d.ts (#5260)
  CHANGELOG.md
  packages/web3-eth-contract/types/index.d.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

log for an error in the pipeline
  packages/web3-providers-ipc/src/index.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

try for an issue in the pipe line
  packages/web3-providers-ipc/src/index.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Create sample application & review web3 treeshaking support (#5425)
  README.md
  docs/docs/guides/web3_tree_shaking_support_guide/index.md
  packages/web3-errors/package.json
  packages/web3-eth-abi/package.json
  packages/web3-eth-accounts/package.json
  packages/web3-eth-ens/package.json
  packages/web3-eth-iban/package.json
  packages/web3-eth/package.json
  packages/web3-providers-http/package.json
  packages/web3-types/package.json
  packages/web3-utils/package.json
  packages/web3-validator/package.json
  packages/web3/package.json
Due: prettier --write

improve `rejectIfConditionAtInterval`
  packages/web3-eth/src/utils/reject_if_block_timeout.ts
  packages/web3-providers-ipc/src/index.ts
  packages/web3-utils/src/promise_helpers.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

cause pollTillDefined to stop once found
  packages/web3-utils/src/promise_helpers.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix an issue in the usage of 2 error codes + switch the location and change the names of 2 error classes + move errors from web3-eth to web3-errors an update the imports referring them
  packages/web3-errors/src/error_codes.ts
  packages/web3-errors/src/errors/signature_errors.ts
  packages/web3-errors/src/errors/transaction_errors.ts
  packages/web3-eth-accounts/src/account.ts
  packages/web3-eth/src/errors.ts
  packages/web3-eth/src/rpc_method_wrappers.ts
  packages/web3-eth/src/utils/format_transaction.ts
  packages/web3-eth/src/utils/get_transaction_gas_pricing.ts
  packages/web3-eth/src/utils/transaction_builder.ts
  packages/web3-eth/src/utils/wait_for_transaction_receipt.ts
  packages/web3-eth/src/utils/watch_transaction_for_confirmations.ts
  packages/web3-eth/src/validation.ts
  packages/web3-eth/test/fixtures/validate_transaction_for_signing.ts
  packages/web3-eth/test/fixtures/validation.ts
  packages/web3-eth/test/integration/defaults.test.ts
  packages/web3-eth/test/unit/default_transaction_builder.test.ts
  packages/web3-eth/test/unit/errors.test.ts
  packages/web3-eth/test/unit/validate_transaction_for_signing.test.ts
  packages/web3-eth/test/unit/validation.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update CHANGELOG.md
  CHANGELOG.md
  packages/web3-errors/CHANGELOG.md
  packages/web3-eth/CHANGELOG.md
Due: prettier --write

adding more testcases
  packages/web3-utils/src/converters.ts
  packages/web3-utils/test/fixtures/converters.ts
  packages/web3-utils/test/fixtures/formatter.ts
  packages/web3-utils/test/fixtures/hash.ts
  packages/web3-utils/test/unit/converters.test.ts
  packages/web3-utils/test/unit/formatter.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

catch and log errors when pooling for new blocks or transaction receipts
  packages/web3-eth/src/utils/reject_if_block_timeout.ts
  packages/web3-eth/src/utils/wait_for_transaction_receipt.ts
  packages/web3-providers-ipc/src/index.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Add unit tests for normalize
  packages/web3-eth-ens/test/unit/utils.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Init resolver unit tests
  packages/web3-eth-ens/test/unit/resolver.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Add setContenthash unit test
  packages/web3-eth-ens/test/unit/resolver.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Add supports Interface unit tests
  packages/web3-eth-ens/test/unit/resolver.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Nikos/5240/ens resolver 4.x system tests (#5437)
  packages/web3-eth-ens/src/ens.ts
  packages/web3-eth-ens/src/resolver.ts
  packages/web3-eth-ens/test/fixtures/ens/bytecode/NameWrapperBytecode.ts
  packages/web3-eth-ens/test/integration/resolver.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Add more tests for resolver
  packages/web3-eth-ens/test/unit/resolver.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Add `ERR_TX_SIGNING` and `ERR_TX_GAS_MISMATCH` and refactor and relocate some errors' classes (#5462)
  CHANGELOG.md
  packages/web3-errors/CHANGELOG.md
  packages/web3-errors/src/error_codes.ts
  packages/web3-errors/src/errors/signature_errors.ts
  packages/web3-errors/src/errors/transaction_errors.ts
  packages/web3-eth-accounts/src/account.ts
  packages/web3-eth/CHANGELOG.md
  packages/web3-eth/src/errors.ts
  packages/web3-eth/src/rpc_method_wrappers.ts
  packages/web3-eth/src/utils/format_transaction.ts
  packages/web3-eth/src/utils/get_transaction_gas_pricing.ts
  packages/web3-eth/src/utils/transaction_builder.ts
  packages/web3-eth/src/utils/wait_for_transaction_receipt.ts
  packages/web3-eth/src/utils/watch_transaction_for_confirmations.ts
  packages/web3-eth/src/validation.ts
  packages/web3-eth/test/fixtures/validate_transaction_for_signing.ts
  packages/web3-eth/test/fixtures/validation.ts
  packages/web3-eth/test/integration/defaults.test.ts
  packages/web3-eth/test/unit/default_transaction_builder.test.ts
  packages/web3-eth/test/unit/errors.test.ts
  packages/web3-eth/test/unit/validate_transaction_for_signing.test.ts
  packages/web3-eth/test/unit/validation.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

sample abi of a contract
  packages/web3-eth-contract/test/fixtures/storage.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

unit tests contract
  packages/web3-eth-contract/test/unit/contract.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update CHANGELOG.md files + code cleaning and adding comments
  CHANGELOG.md
  packages/web3-errors/CHANGELOG.md
  packages/web3-eth/CHANGELOG.md
  packages/web3-eth/src/utils/reject_if_block_timeout.ts
  packages/web3-eth/test/integration/jest.config.js
  packages/web3-providers-ipc/src/index.ts
  packages/web3-utils/src/promise_helpers.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update CHANGELOG.md
  CHANGELOG.md
  packages/web3-utils/CHANGELOG.md
Due: prettier --write

Stop waiting after `transactionBlockTimeout` (#5294)
  CHANGELOG.md
  packages/web3-errors/CHANGELOG.md
  packages/web3-errors/src/error_codes.ts
  packages/web3-errors/src/errors/transaction_errors.ts
  packages/web3-eth-personal/test/integration/personal.test.ts
  packages/web3-eth/CHANGELOG.md
  packages/web3-eth/src/rpc_method_wrappers.ts
  packages/web3-eth/src/utils/reject_if_block_timeout.ts
  packages/web3-eth/src/utils/try_send_transaction.ts
  packages/web3-eth/test/integration/defaults.test.ts
  packages/web3-eth/test/integration/helper.ts
  packages/web3-eth/test/integration/rpc.test.ts
  packages/web3-eth/test/integration/watch_transaction_polling.test.ts
  packages/web3-eth/test/integration/web3_eth/send_signed_transaction.test.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/send_signed_transaction.test.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/send_transaction.test.ts
  packages/web3-providers-ipc/src/index.ts
  packages/web3-utils/CHANGELOG.md
  packages/web3-utils/src/promise_helpers.ts
  packages/web3/package.json
  scripts/system_tests_utils.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Path conditions:
  prettier --write: ((any of: *.js) or (any of: *.ts)) or (any of: *.{json,md})
  eslint --rulesdir ./tools/eslint-config-web3-base/rules: any of: *.ts
