Repository web3/web3.js: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Tests fix due to geth release changes (#6354)
  .github/workflows/build.yml
  package.json
  packages/web3-eth/test/integration/block/rpc.getBlock.test.ts
  packages/web3-eth/test/integration/rpc.test.ts
  packages/web3-eth/test/integration/web3_eth/createAccessList.test.ts
  packages/web3-eth/test/integration/web3_eth/estimate_gas.test.ts
  scripts/geth_binary.sh
  scripts/test-runner.sh
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fixed types
  packages/web3-eth-accounts/src/tx/types.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

changelog update
  packages/web3-eth-accounts/CHANGELOG.md
Due: prettier --write

import fixes
  packages/web3-validator/src/validation/abi.ts
  packages/web3-validator/src/validator.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

using eslint rule to enforce esm js exts
  package.json
  packages/web3-eth-accounts/src/tx/types.ts
  packages/web3-types/src/web3_base_provider.ts
  packages/web3-validator/src/validation/abi.ts
  tools/eslint-config-web3-base/ts-jest.js
  tools/eslint-config-web3-base/ts.js
  tools/web3-plugin-example/src/contract_method_wrappers.ts
  tools/web3-plugin-example/src/custom_rpc_methods.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

removed script
  package.json
  scripts/fix_esm_import_paths.js
Due: prettier --write

added the functionality to introduce different timeout value for Web3… (#6336)
  packages/web3-core/CHANGELOG.md
  packages/web3-core/src/web3_batch_request.ts
  packages/web3/CHANGELOG.md
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fixed plugin example imports
  tools/web3-plugin-example/src/contract_method_wrappers.ts
  tools/web3-plugin-example/src/custom_rpc_methods.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

yarn lock update
  yarn.lock
Due: none

ESM import fix (#6362)
  package.json
  packages/.prettierignore
  packages/web3-errors/CHANGELOG.md
  packages/web3-errors/src/errors/rpc_error_messages.ts
  packages/web3-eth-accounts/src/tx/types.ts
  packages/web3-types/src/web3_base_provider.ts
  packages/web3-validator/CHANGELOG.md
  packages/web3-validator/src/validation/abi.ts
  packages/web3-validator/src/validator.ts
  tools/eslint-config-web3-base/ts-jest.js
  tools/eslint-config-web3-base/ts.js
  tools/web3-plugin-example/src/contract_method_wrappers.ts
  tools/web3-plugin-example/src/custom_rpc_methods.ts
  yarn.lock
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

changelog updates
  CHANGELOG.md
  packages/web3-core/CHANGELOG.md
  packages/web3-errors/CHANGELOG.md
  packages/web3-eth-abi/CHANGELOG.md
  packages/web3-eth-accounts/CHANGELOG.md
  packages/web3-eth-contract/CHANGELOG.md
  packages/web3-eth-ens/CHANGELOG.md
  packages/web3-eth-iban/CHANGELOG.md
  packages/web3-eth-personal/CHANGELOG.md
  packages/web3-eth/CHANGELOG.md
  packages/web3-net/CHANGELOG.md
  packages/web3-providers-http/CHANGELOG.md
  packages/web3-providers-ipc/CHANGELOG.md
  packages/web3-providers-ws/CHANGELOG.md
  packages/web3-rpc-methods/CHANGELOG.md
  packages/web3-types/CHANGELOG.md
  packages/web3-utils/CHANGELOG.md
  packages/web3-validator/CHANGELOG.md
  packages/web3/CHANGELOG.md
  tools/web3-plugin-example/CHANGELOG.md
Due: prettier --write

version bumps
  packages/web3-core/package.json
  packages/web3-errors/package.json
  packages/web3-eth-abi/package.json
  packages/web3-eth-accounts/package.json
  packages/web3-eth-contract/package.json
  packages/web3-eth-ens/package.json
  packages/web3-eth-iban/package.json
  packages/web3-eth-personal/package.json
  packages/web3-eth/package.json
  packages/web3-net/package.json
  packages/web3-providers-http/package.json
  packages/web3-providers-ipc/package.json
  packages/web3-providers-ws/package.json
  packages/web3-rpc-methods/package.json
  packages/web3-types/package.json
  packages/web3-utils/package.json
  packages/web3-validator/package.json
  packages/web3/package.json
  packages/web3/src/version.ts
  tools/web3-plugin-example/package.json
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update formatsubscriptionResult
  packages/web3-eth/src/web3_subscriptions.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update changelog
  packages/web3-eth/CHANGELOG.md
Due: prettier --write

update formatsubscriptionResult type (#6369)
  packages/web3-eth/CHANGELOG.md
  packages/web3-eth/src/web3_subscriptions.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Fixed Typo in web3.js Providers Guide
  docs/docs/guides/web3_providers_guide/index.md
Due: prettier --write

data and input typings updated
  packages/web3-eth-contract/src/types.ts
  packages/web3-eth-contract/src/utils.ts
  packages/web3-types/src/eth_contract_types.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

changelog update
  CHANGELOG.md
  packages/web3-eth/CHANGELOG.md
Due: prettier --write

Release/4.1.1 (#6367)
  CHANGELOG.md
  packages/web3-core/CHANGELOG.md
  packages/web3-core/package.json
  packages/web3-errors/CHANGELOG.md
  packages/web3-errors/package.json
  packages/web3-eth-abi/CHANGELOG.md
  packages/web3-eth-abi/package.json
  packages/web3-eth-accounts/CHANGELOG.md
  packages/web3-eth-accounts/package.json
  packages/web3-eth-contract/CHANGELOG.md
  packages/web3-eth-contract/package.json
  packages/web3-eth-ens/CHANGELOG.md
  packages/web3-eth-ens/package.json
  packages/web3-eth-iban/CHANGELOG.md
  packages/web3-eth-iban/package.json
  packages/web3-eth-personal/CHANGELOG.md
  packages/web3-eth-personal/package.json
  packages/web3-eth/CHANGELOG.md
  packages/web3-eth/package.json
  packages/web3-net/CHANGELOG.md
  packages/web3-net/package.json
  packages/web3-providers-http/CHANGELOG.md
  packages/web3-providers-http/package.json
  packages/web3-providers-ipc/CHANGELOG.md
  packages/web3-providers-ipc/package.json
  packages/web3-providers-ws/CHANGELOG.md
  packages/web3-providers-ws/package.json
  packages/web3-rpc-methods/CHANGELOG.md
  packages/web3-rpc-methods/package.json
  packages/web3-types/CHANGELOG.md
  packages/web3-types/package.json
  packages/web3-utils/CHANGELOG.md
  packages/web3-utils/package.json
  packages/web3-validator/CHANGELOG.md
  packages/web3-validator/package.json
  packages/web3/CHANGELOG.md
  packages/web3/package.json
  packages/web3/src/version.ts
  tools/web3-plugin-example/CHANGELOG.md
  tools/web3-plugin-example/package.json
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

debug contract
  packages/web3-core/CHANGELOG.md
  packages/web3-eth-contract/src/contract.ts
  packages/web3-eth-contract/src/utils.ts
  packages/web3-eth-contract/test/integration/local_account/contract_erc20.test.ts
  packages/web3-eth-contract/test/unit/contract.test.ts
  packages/web3-eth/src/rpc_method_wrappers.ts
  packages/web3-eth/test/unit/prepare_transaction_for_signing.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Fixed Typo in web3.js Providers Guide (#6370)
  docs/docs/guides/web3_providers_guide/index.md
Due: prettier --write

debug
  packages/web3-eth-contract/src/contract.ts
  packages/web3-eth-contract/src/encoding.ts
  packages/web3-eth-contract/src/utils.ts
  packages/web3-eth-contract/test/integration/local_account/contract_erc20.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update debug
  packages/web3-eth-contract/src/contract.ts
  packages/web3-eth-contract/src/utils.ts
  packages/web3-eth-contract/test/integration/contract_deploy.test.ts
  packages/web3-eth-contract/test/integration/local_account/contract_erc20.test.ts
  packages/web3-eth/src/rpc_method_wrappers.ts
  packages/web3-eth/src/utils/format_transaction.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

add `{fillInputAndData: true,}` to `eth_call` on method_wrappers
  packages/web3-eth/src/rpc_method_wrappers.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fixing tests
  packages/web3-eth-contract/src/contract.ts
  packages/web3-eth-contract/test/integration/local_account/contract_erc20.test.ts
  packages/web3-eth-contract/test/unit/contract.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix unit tests
  packages/web3-eth-contract/test/unit/contract.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

web3-providers-http: Fixed broken fetch for Node.js > 18.x and fixed double callback
  CHANGELOG.md
  packages/web3-providers-http/src/index.js
  packages/web3-providers-http/types/index.d.ts
  test/httpprovider.js
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

web3-providers-http: Append globalThis.fetch for tests
  package.json
  packages/web3-providers-http/package.json
  test/httpprovider.js
Due: prettier --write

web3-providers-http: Bump deps version
  packages/web3-providers-http/package.json
Due: prettier --write

Fixed broken fetch for Node.js > 18.x and fixed double callback (#6381)
  CHANGELOG.md
  package.json
  packages/web3-providers-http/package.json
  packages/web3-providers-http/src/index.js
  packages/web3-providers-http/types/index.d.ts
  test/httpprovider.js
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

change log update
  CHANGELOG.md
Due: prettier --write

npm audit fix and build
  dist/web3.min.js
  dist/web3.min.js.map
  package-lock.json
  packages/web3-bzz/package-lock.json
  packages/web3-core-helpers/package-lock.json
  packages/web3-core/package-lock.json
  packages/web3-eth-personal/package-lock.json
  packages/web3-eth2-beaconchain/package-lock.json
  packages/web3-eth2-core/package-lock.json
  packages/web3-providers-ipc/package-lock.json
  packages/web3-shh/package-lock.json
  packages/web3/package-lock.json
Due: prettier --write

build for 1.10.2
  dist/web3.min.js
  dist/web3.min.js.map
Due: prettier --write

feat: web3js abi encoder replacing ethers
  packages/web3-errors/src/errors/generic_errors.ts
  packages/web3-eth-abi/package.json
  packages/web3-eth-abi/src/api/parameters_api.ts
  packages/web3-eth-abi/src/coders/base/address.ts
  packages/web3-eth-abi/src/coders/base/array.ts
  packages/web3-eth-abi/src/coders/base/bool.ts
  packages/web3-eth-abi/src/coders/base/bytes.ts
  packages/web3-eth-abi/src/coders/base/index.ts
  packages/web3-eth-abi/src/coders/base/number.ts
  packages/web3-eth-abi/src/coders/base/string.ts
  packages/web3-eth-abi/src/coders/base/tuple.ts
  packages/web3-eth-abi/src/coders/base/utils.ts
  packages/web3-eth-abi/src/coders/decode.ts
  packages/web3-eth-abi/src/coders/encode.ts
  packages/web3-eth-abi/src/coders/types.ts
  packages/web3-eth-abi/src/coders/utils.ts
  packages/web3-eth-abi/src/eip_712.ts
  packages/web3-eth-abi/src/utils.ts
  packages/web3-eth-abi/test/fixtures/coders/base/address.ts
  packages/web3-eth-abi/test/fixtures/coders/base/array.ts
  packages/web3-eth-abi/test/fixtures/coders/base/bool.ts
  packages/web3-eth-abi/test/fixtures/coders/base/bytes.ts
  packages/web3-eth-abi/test/fixtures/coders/base/number.ts
  packages/web3-eth-abi/test/fixtures/coders/base/string.ts
  packages/web3-eth-abi/test/fixtures/coders/base/tuple.ts
  packages/web3-eth-abi/test/fixtures/coders/encode.ts
  packages/web3-eth-abi/test/unit/api/parameters_api.test.ts
  packages/web3-eth-abi/test/unit/coders/base/address.test.ts
  packages/web3-eth-abi/test/unit/coders/base/array.test.ts
  packages/web3-eth-abi/test/unit/coders/base/bool.test.ts
  packages/web3-eth-abi/test/unit/coders/base/bytes.test.ts
  packages/web3-eth-abi/test/unit/coders/base/number.test.ts
  packages/web3-eth-abi/test/unit/coders/base/string.test.ts
  packages/web3-eth-abi/test/unit/coders/base/tuple.test.ts
  packages/web3-types/src/eth_abi_types.ts
  packages/web3-utils/src/converters.ts
  yarn.lock
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update tests
  packages/web3-eth-contract/src/contract.ts
  packages/web3-eth-contract/src/utils.ts
  packages/web3-eth-contract/test/integration/local_account/contract_erc20.test.ts
  packages/web3-eth-contract/test/unit/contract.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

remove console log
  packages/web3-eth-contract/test/integration/contract_deploy.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

clean up
  packages/web3-eth-contract/src/contract.ts
  packages/web3-eth-contract/src/utils.ts
  packages/web3-eth/test/unit/prepare_transaction_for_signing.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update test case and reformat
  packages/web3-eth-contract/src/utils.ts
  packages/web3-eth/test/unit/rpc_method_wrappers/fixtures/call.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Path conditions:
  prettier --write: ((any of: *.js) or (any of: *.ts)) or (any of: *.{json,md})
  eslint --rulesdir ./tools/eslint-config-web3-base/rules: any of: *.ts
