Repository web3/web3.js: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

.lintstagedrc.json:

{
	"*.js": ["prettier --write"],
	"*.ts": ["prettier --write", "eslint --rulesdir ./tools/eslint-config-web3-base/rules"],
	"*.{json,md}": ["prettier --write"]
}

Update test to handle mainnet vs sepolia
  packages/web3/test/e2e/e2e_utils.ts
  packages/web3/test/e2e/estimate_gas.test.ts
  packages/web3/test/e2e/get_balance.test.ts
  packages/web3/test/e2e/get_block.test.ts
  packages/web3/test/e2e/get_block_transaction_count.test.ts
  packages/web3/test/e2e/get_block_uncle_count.test.ts
  packages/web3/test/e2e/get_fee_history.test.ts
  packages/web3/test/e2e/get_proof.test.ts
  packages/web3/test/e2e/get_transaction_count.test.ts
  packages/web3/test/e2e/get_transaction_from_block.test.ts
  packages/web3/test/e2e/get_uncle.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Remove getDeployedStorageContractAddress util func
  packages/web3/test/e2e/e2e_utils.ts
  packages/web3/test/e2e/sepolia/call.test.ts
  packages/web3/test/e2e/sepolia/get_code.test.ts
  packages/web3/test/e2e/sepolia/get_past_logs.test.ts
  packages/web3/test/e2e/sepolia/get_storage_at.test.ts
  templates/.secrets.json.tmpl
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Init mainnet specific tests
  packages/web3/test/e2e/estimate_gas.test.ts
  packages/web3/test/e2e/mainnet/call.test.ts
  packages/web3/test/e2e/mainnet/get_code.test.ts
  packages/web3/test/e2e/mainnet/get_past_logs.test.ts
  packages/web3/test/e2e/mainnet/get_storage_at.test.ts
  packages/web3/test/e2e/mainnet/get_transaction.test.ts
  packages/web3/test/e2e/mainnet/get_transaction_receipt.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix add missing types to changelog script
  scripts/changelog/tsconfig.json
Due: prettier --write

fix few imports at tests after merging code
  packages/web3-eth-contract/test/fixtures/erc20.ts
  packages/web3-eth-contract/test/fixtures/erc721.ts
  packages/web3-eth-contract/test/integration/contract_events.test.ts
  packages/web3-eth-contract/test/integration/local_account/contract_erc721.test.ts
  packages/web3-eth-contract/test/integration/local_account/contract_overloaded_methods.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update tsconfig
  config/test/tsconfig.json
  config/tsconfig.base.json
  config/tsconfig.cjs.json
  config/tsconfig.esm.json
  config/tsconfig.types.json
  packages/web3/test/config/tsconfig.cjs.json
  packages/web3/test/config/tsconfig.esm.json
  packages/web3/test/tsconfig.json
  tools/web3-packagetemplate/tsconfig.cjs.json
  tools/web3-packagetemplate/tsconfig.esm.json
  tools/web3-packagetemplate/tsconfig.types.json
Due: prettier --write

Nicos99/revert call (#6009)
  CHANGELOG.md
  packages/web3-core-method/src/index.js
  test/eth.call.revert.js
  test/helpers/FakeIpcProvider.js
Due: prettier --write

filter past events
  packages/web3-eth-contract/src/contract.ts
  packages/web3-eth-contract/test/integration/contract_filter_events.test.ts
  packages/web3-types/src/eth_types.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update symlink
  tools/web3-packagetemplate/tsconfig.cjs.json
  tools/web3-packagetemplate/tsconfig.esm.json
  tools/web3-packagetemplate/tsconfig.types.json
Due: prettier --write

update tsconfig
  tools/web3-plugin-example/tsconfig.json
Due: prettier --write

add filter and tests
  packages/web3-eth-contract/src/index.js
  test/e2e.contract.events.js
Due: prettier --write

refactor
  packages/web3-eth-contract/src/contract.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

version bumps
  packages/web3-core/package.json
  packages/web3-errors/package.json
  packages/web3-eth-abi/package.json
  packages/web3-eth-accounts/package.json
  packages/web3-eth-contract/package.json
  packages/web3-eth-ens/package.json
  packages/web3-eth-iban/package.json
  packages/web3-eth-personal/package.json
  packages/web3-eth/package.json
  packages/web3-net/package.json
  packages/web3-providers-http/package.json
  packages/web3-providers-ipc/package.json
  packages/web3-providers-ws/package.json
  packages/web3-rpc-methods/package.json
  packages/web3-types/package.json
  packages/web3-utils/package.json
  packages/web3-validator/package.json
  packages/web3/package.json
  tools/web3-packagetemplate/package.json
  tools/web3-plugin-example/package.json
Due: prettier --write

changelog updates
  CHANGELOG.md
  packages/web3-core/CHANGELOG.md
  packages/web3-errors/CHANGELOG.md
  packages/web3-eth-abi/CHANGELOG.md
  packages/web3-eth-accounts/CHANGELOG.md
  packages/web3-eth-contract/CHANGELOG.md
  packages/web3-eth-ens/CHANGELOG.md
  packages/web3-eth-iban/CHANGELOG.md
  packages/web3-eth-personal/CHANGELOG.md
  packages/web3-eth/CHANGELOG.md
  packages/web3-net/CHANGELOG.md
  packages/web3-providers-http/CHANGELOG.md
  packages/web3-providers-ipc/CHANGELOG.md
  packages/web3-providers-ws/CHANGELOG.md
  packages/web3-rpc-methods/CHANGELOG.md
  packages/web3-types/CHANGELOG.md
  packages/web3-utils/CHANGELOG.md
  packages/web3-validator/CHANGELOG.md
  packages/web3/CHANGELOG.md
  packages/web3/src/version.ts
  tools/web3-packagetemplate/CHANGELOG.md
  tools/web3-plugin-example/CHANGELOG.md
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

changelog update
  CHANGELOG.md
Due: prettier --write

testing
  tsconfig.base.json
Due: prettier --write

fix
  packages/web3-eth-contract/src/contract.ts
  packages/web3-eth-contract/src/encoding.ts
  packages/web3-eth-contract/src/log_subscription.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

remove filter for ALL EVNETS. add tests for Basic contract
  packages/web3-eth-contract/src/contract.ts
  packages/web3-eth-contract/src/encoding.ts
  packages/web3-eth-contract/test/integration/contract_filter_events.test.ts
  packages/web3-types/src/eth_types.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

add topic filter and tests
  packages/web3-eth-contract/src/index.js
  test/e2e.contract.events.js
Due: prettier --write

update symlink path
  packages/web3/test/tsconfig.json
Due: prettier --write

tests fix
  packages/web3-eth/test/integration/web3_eth/call.test.ts
  packages/web3-eth/test/integration/web3_eth/estimate_gas.test.ts
  packages/web3-eth/test/integration/web3_eth/send_signed_transaction.test.ts
  packages/web3-eth/test/integration/web3_eth/send_transaction.test.ts
  packages/web3/test/integration/external-providers/helper.ts
  packages/web3/test/integration/external-providers/truffle-hdwallet.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

geth version update to latest
  scripts/geth.sh
  scripts/geth_binary.sh
Due: none

updated tests for POS block tags
  packages/web3-eth/test/integration/block/rpc.getBlock.test.ts
  packages/web3-eth/test/integration/block/rpc.getBlockTransactionCount.test.ts
  packages/web3-eth/test/integration/block/rpc.getBlockUncleCount.test.ts
  packages/web3-eth/test/integration/block/rpc.getTransactionFromBlock.test.ts
  packages/web3-eth/test/integration/block/rpc.getUncle.test.ts
  packages/web3-eth/test/integration/rpc.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

change version
  scripts/ganache.sh
Due: none

tests update
  packages/web3-eth/test/integration/web3_eth/estimate_gas.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update path
  config/tsconfig.base.json
  config/tsconfig.cjs.json
  config/tsconfig.esm.json
  config/tsconfig.types.json
  packages/web3/test/config/tsconfig.cjs.json
  packages/web3/test/config/tsconfig.esm.json
  templates/test/tsconfig.json.tmpl
  tools/web3-plugin-example/tsconfig.json
Due: prettier --write

Init remaining typed sendSignedTransaction tests
  packages/web3/test/e2e/sepolia/send_signed_transaction.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Init contract sepolia tests
  packages/web3/test/e2e/sepolia/contract.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update tsconfig`
  packages/web3-core/test/tsconfig.json
  packages/web3-errors/test/tsconfig.json
  packages/web3-eth-abi/test/tsconfig.json
  packages/web3-eth-accounts/test/tsconfig.json
  packages/web3-eth-contract/test/tsconfig.json
  packages/web3-eth-ens/test/tsconfig.json
  packages/web3-eth-personal/test/tsconfig.json
  packages/web3-eth/test/tsconfig.json
  packages/web3-net/test/tsconfig.json
  packages/web3-rpc-methods/test/tsconfig.json
  packages/web3-types/test/tsconfig.json
  packages/web3-utils/test/tsconfig.json
  packages/web3-validator/test/tsconfig.json
Due: prettier --write

update sym link
  packages/web3-providers-ipc/test/tsconfig.json
Due: prettier --write

Update imports
  packages/web3/test/e2e/estimate_gas.test.ts
  packages/web3/test/e2e/get_balance.test.ts
  packages/web3/test/e2e/get_block.test.ts
  packages/web3/test/e2e/get_block_number.test.ts
  packages/web3/test/e2e/get_block_transaction_count.test.ts
  packages/web3/test/e2e/get_chain_id.test.ts
  packages/web3/test/e2e/get_fee_history.test.ts
  packages/web3/test/e2e/get_gas_price.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Ganache tests fix (#6019)
  packages/web3-eth/test/integration/web3_eth/call.test.ts
  packages/web3-eth/test/integration/web3_eth/estimate_gas.test.ts
  packages/web3-eth/test/integration/web3_eth/send_signed_transaction.test.ts
  packages/web3-eth/test/integration/web3_eth/send_transaction.test.ts
  packages/web3/test/integration/external-providers/helper.ts
  packages/web3/test/integration/external-providers/truffle-hdwallet.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Using latest Geth (#6020)
  packages/web3-eth/test/integration/block/rpc.getBlock.test.ts
  packages/web3-eth/test/integration/block/rpc.getBlockTransactionCount.test.ts
  packages/web3-eth/test/integration/block/rpc.getBlockUncleCount.test.ts
  packages/web3-eth/test/integration/block/rpc.getTransactionFromBlock.test.ts
  packages/web3-eth/test/integration/block/rpc.getUncle.test.ts
  packages/web3-eth/test/integration/rpc.test.ts
  scripts/geth.sh
  scripts/geth_binary.sh
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

filter all events in a lib
  packages/web3-eth-contract/src/contract.ts
  packages/web3-eth-contract/test/integration/contract_filter_events.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

add unit tests
  packages/web3-eth-contract/test/unit/contract.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

add topics unit tests
  packages/web3-eth-contract/test/unit/contract.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

add change logs
  CHANGELOG.md
  packages/web3-eth-contract/CHANGELOG.md
Due: prettier --write
