Repository web3/web3.js: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

again
  packages/web3-eth/package.json
  yarn.lock
Due: prettier --write

fix issues for infer-types and add tests
  packages/web3-eth-abi/src/coders/encode.ts
  packages/web3-eth-abi/test/unit/encodeDecodeParams.test.ts
  packages/web3-utils/src/converters.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

tiny edit
  packages/web3-eth-abi/src/coders/encode.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

add web3-eth-account guide (#6617)
  docs/docs/guides/basics/sign_and_send_tx/local_wallet.md
  docs/docs/guides/basics/sign_and_send_tx/wallet_of_eth_node.md
  docs/docs/guides/wallet/index.md
  packages/web3-eth/src/web3_eth.ts
  packages/web3/test/integration/web3-plugin-add-tx.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

relocate a block back
  packages/web3-eth-contract/src/contract.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update jest at web3-eth-ens
  packages/web3-eth-ens/package.json
Due: prettier --write

added js code samples, reviewed/edited code samples and changed ABI explanation
  docs/docs/guides/smart_contracts/index.md
Due: prettier --write

edited category structure for user clarity
  docs/docs/guides/smart_contracts/_category_.yml
  docs/docs/guides/smart_contracts/index.md
Due: prettier --write

add tests. run few tests
  .github/workflows/build.yml
  packages/web3-eth/package.json
  packages/web3/package.json
  packages/web3/test/benchmark/abiDecode.ts
  packages/web3/test/benchmark/abiEncode.ts
  packages/web3/test/benchmark/benchmark.ts
  packages/web3/test/benchmark/helpers.ts
  packages/web3/test/benchmark/processingContractTx.ts
  packages/web3/test/benchmark/processingTx.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

sign and verify
  .gitignore
  packages/web3/test/benchmark/benchmark.ts
  packages/web3/test/benchmark/sign.ts
  packages/web3/test/benchmark/verify.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix: search not working
  docs/src/theme/SearchBar/DocSearch.js
  docs/src/theme/SearchBar/algolia.css
  docs/src/theme/SearchBar/index.js
  docs/src/theme/SearchBar/lunar-search.js
  docs/src/theme/SearchBar/styles.css
  docs/src/theme/SearchBar/templates.js
  docs/src/theme/SearchBar/utils.js
Due: prettier --write

update pr template link (#6648)
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

Update packages/web3-validator/src/utils.ts
  packages/web3-validator/src/utils.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

utils docs export
  packages/web3-utils/src/random.ts
  packages/web3-utils/src/validation.ts
  scripts/docshelper/functionsdoc.config.js
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Fix and error when trying to get past events by calling `contract.getPastEvents` or `contract.events.allEvents()` if there is no matching events. (#6647)
  packages/web3-eth-contract/CHANGELOG.md
  packages/web3-eth-contract/package.json
  packages/web3-eth-contract/src/contract.ts
  packages/web3-eth-contract/test/unit/log_subscription.test.ts
  packages/web3-eth-ens/package.json
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix: search not working (#6655)
  docs/src/theme/SearchBar/DocSearch.js
  docs/src/theme/SearchBar/algolia.css
  docs/src/theme/SearchBar/index.js
  docs/src/theme/SearchBar/lunar-search.js
  docs/src/theme/SearchBar/styles.css
  docs/src/theme/SearchBar/templates.js
  docs/src/theme/SearchBar/utils.js
Due: prettier --write

default to abi page
  docs/docusaurus.config.js
Due: prettier --write

Increase Web3-contract Unit tests to above 90% (#6643)
  fixtures/build/GreeterWithOverloading.json
  fixtures/build/GreeterWithOverloading.ts
  fixtures/contracts/GreeterWithOverloading.sol
  packages/web3-eth-contract/test/unit/contract.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

updated doc exports
  packages/web3-utils/src/string_manipulation.ts
  packages/web3-utils/src/uuid.ts
  scripts/docshelper/functionsdoc.config.js
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

corrected ESM import statement
  docs/docs/guides/web3_upgrade_guide/1.x/index.md
Due: prettier --write

subs doc
  packages/web3-eth/src/web3_eth.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

add a separate function `inferTypesAndEncodeParameters`
  docs/docs/guides/web3_upgrade_guide/1.x/index.md
  packages/web3-eth-abi/src/api/parameters_api.ts
  packages/web3-eth-abi/src/coders/encode.ts
  packages/web3-eth-abi/test/unit/encodeDecodeParams.test.ts
  packages/web3-eth-contract/src/encoding.ts
  yarn.lock
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

undo docs edit
  docs/docs/guides/web3_upgrade_guide/1.x/index.md
Due: prettier --write

fix Contract not using context wallet passed at constructor
  packages/web3-eth-contract/src/contract.ts
  packages/web3/test/integration/contract.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

update CHANGELOG.md
  packages/web3-eth-contract/CHANGELOG.md
Due: prettier --write

add contract methods
  packages/web3-eth-contract/src/utils.ts
  packages/web3/test/benchmark/abi.ts
  packages/web3/test/benchmark/abiDecode.ts
  packages/web3/test/benchmark/abiEncode.ts
  packages/web3/test/benchmark/benchmark.ts
  packages/web3/test/benchmark/processingContract.ts
  packages/web3/test/benchmark/sign.ts
  packages/web3/test/benchmark/wallet.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

tiny fix
  packages/web3-eth-contract/src/contract.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix: The Contract is not using the context wallet passed if context was passed at constructor (#6661)
  packages/web3-eth-contract/CHANGELOG.md
  packages/web3-eth-contract/src/contract.ts
  packages/web3/test/integration/contract.test.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix: upgrade prism-react-renderer from 2.2.0 to 2.3.0
  docs/package.json
  docs/yarn.lock
Due: prettier --write

fix lint
  .github/workflows/build.yml
  packages/web3-eth-contract/src/utils.ts
  packages/web3/package.json
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

comment on alert
  .github/workflows/build.yml
Due: none

fix test
  packages/web3-eth-contract/src/utils.ts
  packages/web3/test/benchmark/processingContract.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

disable contract tests
  packages/web3-eth-contract/src/utils.ts
  packages/web3/test/benchmark/benchmark.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix
  packages/web3/package.json
Due: prettier --write

slow the test
  .github/workflows/build.yml
  packages/web3/test/benchmark/abi.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

4.x docs - improvements (#6656)
  docs/docusaurus.config.js
  packages/web3-eth/src/web3_eth.ts
  packages/web3-utils/src/random.ts
  packages/web3-utils/src/string_manipulation.ts
  packages/web3-utils/src/uuid.ts
  packages/web3-utils/src/validation.ts
  scripts/docshelper/functionsdoc.config.js
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

fix cache
  .github/workflows/build.yml
  .gitignore
  packages/web3/test/benchmark/abi.ts
  packages/web3/test/benchmark/benchmark.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

try
  packages/web3/test/benchmark/abi.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

save cache
  packages/web3/test/benchmark/abi.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

save cache
  .github/workflows/build.yml
  packages/web3/test/benchmark/abi.ts
Due: prettier --write, eslint --rulesdir ./tools/eslint-config-web3-base/rules

Path conditions:
  prettier --write: ((any of: *.js) or (any of: *.ts)) or (any of: *.{json,md})
  eslint --rulesdir ./tools/eslint-config-web3-base/rules: any of: *.ts
